Repository microsoft/react-native-windows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/react-native-windows-write, @aeulitz, @microsoft/react-native-windows-api-review

[0.68] Normalize package reference for WinUI between C# and C++ templates (#9511)
  change/@react-native-windows-telemetry-df29036f-2f1d-46bf-a917-85a8765ca3fc.json
  change/react-native-windows-a961f49b-f6c1-4f59-8ef2-09a5ebd975c8.json
  packages/@react-native-windows/telemetry/src/test/projects/UsesPackageReference/UsesPackageReference.csproj
  packages/e2e-test-app/windows/RNTesterApp/RNTesterApp.csproj
  packages/integration-test-app/windows/integrationtest/integrationtest.vcxproj
  packages/playground/react-native.config.js
  packages/playground/windows/ExperimentalFeatures.props
  packages/playground/windows/Playground-win32 (Package)/Playground-win32-packaging.proj
  packages/playground/windows/playground-win32/Playground-win32.vcxproj
  packages/playground/windows/playground/Playground.vcxproj
  packages/sample-apps/windows/SampleAppCPP/SampleAppCpp.vcxproj
  packages/sample-apps/windows/SampleAppCS/SampleAppCS.csproj
  packages/sample-apps/windows/SampleLibraryCPP/pch.h
  vnext/Microsoft.ReactNative.Managed.UnitTests/packages.lock.json
  vnext/PropertySheets/External/Microsoft.ReactNative.Uwp.CSharpApp.targets
  vnext/PropertySheets/External/Microsoft.ReactNative.Uwp.CSharpLib.targets
  vnext/PropertySheets/External/Microsoft.ReactNative.Uwp.CppApp.SourceReferences.targets
  vnext/PropertySheets/External/Microsoft.ReactNative.Uwp.CppApp.targets
  vnext/PropertySheets/External/Microsoft.ReactNative.Uwp.CppLib.targets
  vnext/template/cpp-app/proj/MyApp.vcxproj
  vnext/template/cpp-lib/proj/MyLib.vcxproj
  vnext/template/cs-app/proj/MyApp.csproj
Owners: @microsoft/react-native-windows-write

Built in turbomodules should not override app provided versions
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactPackageBuilder.cpp
  vnext/Microsoft.ReactNative/TurboModulesProvider.cpp
  vnext/Microsoft.ReactNative/TurboModulesProvider.h
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-12b8ebce-b24a-4945-aabb-3021ecb46003.json
Owners: @microsoft/react-native-windows-write

Built in turbomodules should not override app provided versions (#9519)
  change/react-native-windows-12b8ebce-b24a-4945-aabb-3021ecb46003.json
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactPackageBuilder.cpp
  vnext/Microsoft.ReactNative/TurboModulesProvider.cpp
  vnext/Microsoft.ReactNative/TurboModulesProvider.h
Owners: @microsoft/react-native-windows-write

backgroundExecutor now required for fabric
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
Owners: @microsoft/react-native-windows-write

Fabric: Fix Cannot find single active touch error
  vnext/Microsoft.ReactNative/Views/TouchEventHandler.cpp
  vnext/Microsoft.ReactNative/Views/TouchEventHandler.h
Owners: @microsoft/react-native-windows-write

format
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/Microsoft.ReactNative/Views/TouchEventHandler.cpp
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-29044745-85ed-49fc-9fb2-1056b5f77d22.json
Owners: @microsoft/react-native-windows-write

Rename ReactContext.h to MsoReactContext.h because there is another file of the same name which leads to issues on other build systems (e.g. Buck/Clang)
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Microsoft.ReactNative/ReactHost/MsoReactContext.cpp
  vnext/Microsoft.ReactNative/ReactHost/MsoReactContext.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.h
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-e7b68907-f883-4238-82ca-e102e423c989.json
Owners: @microsoft/react-native-windows-write

build fix when not building fabric
  vnext/Microsoft.ReactNative/Views/TouchEventHandler.cpp
Owners: @microsoft/react-native-windows-write

Initial compliance yml
  .ado/compliance.yml
Owners: @microsoft/react-native-windows-write

Couple of fixes to get fabric running again (#9520)
  change/react-native-windows-29044745-85ed-49fc-9fb2-1056b5f77d22.json
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/Microsoft.ReactNative/Views/TouchEventHandler.cpp
  vnext/Microsoft.ReactNative/Views/TouchEventHandler.h
Owners: @microsoft/react-native-windows-write

Remove SetOnRequest
  vnext/Desktop.IntegrationTests/HttpResourceIntegrationTests.cpp
  vnext/Test/HttpServer.cpp
  vnext/Test/HttpServer.h
Owners: @microsoft/react-native-windows-write

Delete Beast HTTP resource
  vnext/Desktop/HttpResource.cpp
  vnext/Desktop/HttpResource.h
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj.filters
Owners: @microsoft/react-native-windows-write

Catch specific exceptions where applicable
  vnext/Shared/WinRTHttpResource.cpp
Owners: @microsoft/react-native-windows-write

fix(cli): fix cache not being used when there are no dependencies
  change/@react-native-windows-cli-401a1aee-fc62-4128-b881-42b970e6102e.json
  packages/@react-native-windows/cli/src/runWindows/utils/autolink.ts
Owners: @microsoft/react-native-windows-write

Fix package.json merge inconsistency
  packages/@office-iss/react-native-win32-tester/package.json
  packages/@office-iss/react-native-win32/package.json
  packages/@react-native-windows/tester/package.json
  packages/@react-native-windows/virtualized-list/package.json
  vnext/package.json
Owners: @microsoft/react-native-windows-write

Share monorepo-friendly metro config between dev packages (#9491)
  change/@office-iss-react-native-win32-d26ccde7-9380-4dd5-9fda-b6eaea59efc4.json
  change/react-native-windows-2c5aeae9-a499-4edc-b091-81e574e6fcee.json
  packages/@office-iss/react-native-win32/metro.config.js
  packages/@office-iss/react-native-win32/package.json
  packages/@rnw-scripts/metro-dev-config/.eslintrc.js
  packages/@rnw-scripts/metro-dev-config/README.md
  packages/@rnw-scripts/metro-dev-config/metro.dev.config.js
  packages/@rnw-scripts/metro-dev-config/package.json
  packages/e2e-test-app/metro.config.js
  packages/e2e-test-app/package.json
  packages/integration-test-app/metro.config.js
  packages/integration-test-app/package.json
  packages/playground/metro.config.js
  packages/playground/package.json
  packages/sample-apps/metro.config.js
  packages/sample-apps/package.json
  vnext/metro.config.js
  vnext/package.json
  vnext/template/metro.devMode.config.js
  yarn.lock
Owners: @microsoft/react-native-windows-write

target 18362
  vnext/ExperimentalFeatures.props
  vnext/Microsoft.ReactNative.WindowsAppSDK/Microsoft.ReactNative.WindowsAppSDK.csproj
Owners: @microsoft/react-native-windows-write

Fixes
  .ado/compliance.yml
Owners: @microsoft/react-native-windows-write

Bump Hermes version to 0.11
  packages/e2e-test-app/windows/RNTesterApp/RNTesterApp.csproj
  packages/e2e-test-app/windows/RNTesterApp/packages.lock.json
  packages/playground/windows/playground-win32/Playground-win32.vcxproj
  packages/playground/windows/playground-win32/packages.config
  packages/playground/windows/playground/packages.config
  packages/sample-apps/windows/SampleAppCS/SampleAppCS.csproj
  packages/sample-apps/windows/SampleAppCS/packages.lock.json
  vnext/PropertySheets/JSEngine.props
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-aa5ba522-5922-4c4c-8d70-dfdb18b69cca.json
Owners: @microsoft/react-native-windows-write

Deploy website
  blog/2019/07/21/updates.html
  blog/2019/07/21/updates/index.html
  blog/2019/07/22/roadmap.html
  blog/2019/07/22/roadmap/index.html
  blog/2019/12/3/m3updates.html
  blog/2019/12/3/m3updates/index.html
  blog/2020/02/010/m4updates.html
  blog/2020/02/010/m4updates/index.html
  blog/2020/05/19/rn4mupdadates.html
  blog/2020/05/19/rn4mupdadates/index.html
  blog/2020/06/01/build2020recap.html
  blog/2020/06/01/build2020recap/index.html
  blog/2020/07/22/62updates.html
  blog/2020/07/22/62updates/index.html
  blog/2020/09/02/63updates.html
  blog/2020/09/02/63updates/index.html
  blog/2021/03/16/64updates.html
  blog/2021/03/16/64updates/index.html
  blog/2021/05/17/codepush.html
  blog/2021/05/17/codepush/index.html
  blog/2021/05/25/inking.html
  blog/2021/05/25/inking/index.html
  blog/2021/06/30/notifications.html
  blog/2021/06/30/notifications/index.html
  blog/2021/08/05/win32component.html
  blog/2021/08/05/win32component/index.html
  blog/2022/02/11/rnwinrt.html
  blog/2022/02/11/rnwinrt/index.html
  blog/2022/02/11/settings.html
  blog/2022/02/11/settings/index.html
  blog/assets/settings.png
  blog/assets/toast-rnwinrt.png
  blog/atom.xml
  blog/feed.xml
  blog/index.html
  blog/page2/index.html
  sitemap.xml
Owners: @microsoft/react-native-windows-write

use optimized implementations
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Folly/TEMP_UntilFollyUpdate/lang/ToAscii.cpp
  vnext/Folly/TEMP_UntilFollyUpdate/lang/ToAscii.h
Owners: @microsoft/react-native-windows-api-review, @microsoft/react-native-windows-write

format
  vnext/Folly/TEMP_UntilFollyUpdate/lang/ToAscii.cpp
Owners: @microsoft/react-native-windows-write

[0.66] [NetUI] Stop exporting data blocks from react-native-win32.dll (#9504)
  change/react-native-windows-a2ac0b37-db86-4647-8a15-ca57d4b9e08a.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Folly/TEMP_UntilFollyUpdate/dynamic-inl.h
  vnext/Folly/TEMP_UntilFollyUpdate/lang/ToAscii.cpp
  vnext/Folly/TEMP_UntilFollyUpdate/lang/ToAscii.h
Owners: @microsoft/react-native-windows-write, @microsoft/react-native-windows-api-review

fix(cli): fix cache not being used when there are no dependencies (#9522)
  change/@react-native-windows-cli-401a1aee-fc62-4128-b881-42b970e6102e.json
  packages/@react-native-windows/cli/src/runWindows/utils/autolink.ts
Owners: @microsoft/react-native-windows-write

Initial Compliance Pipeline Stub (#9523)
  .ado/compliance.yml
Owners: @microsoft/react-native-windows-write

Update compliance.yml for Azure Pipelines
  .ado/compliance.yml
Owners: @microsoft/react-native-windows-write

Update compliance.yml for Azure Pipelines (#9525)
  .ado/compliance.yml
Owners: @microsoft/react-native-windows-write

Fix compliance pool selection
  .ado/compliance.yml
Owners: @microsoft/react-native-windows-write

Rename Add/Remove Request to Track/Untrack Response
  vnext/Shared/WinRTHttpResource.cpp
  vnext/Shared/WinRTHttpResource.h
Owners: @microsoft/react-native-windows-write

Use r-value references where applicable
  vnext/Shared/IHttpResource.h
  vnext/Shared/WinRTHttpResource.cpp
  vnext/Shared/WinRTHttpResource.h
Owners: @microsoft/react-native-windows-write

cleanup
  vnext/ExperimentalFeatures.props
  vnext/Microsoft.ReactNative.WindowsAppSDK/Microsoft.ReactNative.WindowsAppSDK.csproj
Owners: @microsoft/react-native-windows-write

Bump Hermes version to 0.11
  packages/e2e-test-app/windows/RNTesterApp/RNTesterApp.csproj
  packages/e2e-test-app/windows/RNTesterApp/packages.lock.json
  packages/playground/windows/playground-win32/Playground-win32.vcxproj
  packages/playground/windows/playground-win32/packages.config
  packages/playground/windows/playground/packages.config
  packages/sample-apps/windows/SampleAppCS/SampleAppCS.csproj
  packages/sample-apps/windows/SampleAppCS/packages.lock.json
  vnext/PropertySheets/JSEngine.props
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-ed74409e-c94a-4998-8f2e-7b0ff6441ca8.json
Owners: @microsoft/react-native-windows-write

Update Hermes version to 0.11
  packages/e2e-test-app/windows/RNTesterApp/RNTesterApp.csproj
  packages/integration-test-app/windows/integrationtest/packages.config
  packages/playground/windows/playground-win32/packages.config
  packages/playground/windows/playground/packages.config
  vnext/Desktop/packages.config
  vnext/Microsoft.ReactNative/packages.config
  vnext/PropertySheets/JSEngine.props
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-d03790bb-aad1-47e2-89d8-7320bfd1b70e.json
Owners: @microsoft/react-native-windows-write

Set runtime option Http.UseMonolithicModule
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Microsoft.ReactNative/Base/CoreNativeModules.cpp
  vnext/Shared/Modules/HttpModule.cpp
  vnext/Shared/OInstance.cpp
  vnext/Shared/WinRTHttpResource.cpp
  vnext/Shared/WinRTHttpResource.h
Owners: @microsoft/react-native-windows-write

.github/CODEOWNERS:

# Global Catch-All
* @microsoft/react-native-windows-write
/vnext/Desktop.DLL/*.def @microsoft/react-native-windows-write @aeulitz

# API Review for DEF/IDL file changes
/vnext/**/*.def @microsoft/react-native-windows-api-review @microsoft/react-native-windows-write
/vnext/**/*.idl @microsoft/react-native-windows-api-review @microsoft/react-native-windows-write
