Repository microsoft/react-native-windows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/react-native-windows-write, @microsoft/react-native-windows-devops, @microsoft/react-native-windows-admin, @microsoft/officecxe, @microsoft/react-native-windows-cli, @microsoft/react-native-windows-xaml, @microsoft/react-native-windows-api-review, @microsoft/jshost

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# All entries should end in '@microsoft/react-native-windows-write' as it
# encourages everyone with write access be notified of PRs. However when
# snapping this file into a stable branch, replace
# '@microsoft/react-native-windows-write' with
# '@microsoft/react-native-windows-backport-triage'

# Global Catch-All
*  @microsoft/react-native-windows-write

# DevOps for ADO Pipelines
/.ado/**  @microsoft/react-native-windows-devops @microsoft/react-native-windows-write

# Admins for GitHub Repo Features
/.github/**  @microsoft/react-native-windows-admin @microsoft/react-native-windows-write

# OfficeCXE for office packages
/packages/@office-iss/**  @microsoft/officecxe @microsoft/react-native-windows-write

# CLI for the CLI packages
/packages/@react-native-windows/cli/**  @microsoft/react-native-windows-cli @microsoft/react-native-windows-write
/packages/@react-native-windows/telemetry/**  @microsoft/react-native-windows-cli @microsoft/react-native-windows-write
/packages/react-native-windows-init/**  @microsoft/react-native-windows-cli @microsoft/react-native-windows-write

# OfficeCXE for Desktop
/vnext/Desktop*/**  @microsoft/officecxe @microsoft/react-native-windows-write

# XAML for Views
/vnext/Microsoft.ReactNative/Views/**  @microsoft/react-native-windows-xaml @microsoft/react-native-windows-write

# OfficeCXE for Mso
/vnext/Mso*/**  @microsoft/officecxe @microsoft/react-native-windows-write

# CLI for the External PropertySheets
/vnext/PropertySheets/External/**  @microsoft/react-native-windows-cli @microsoft/react-native-windows-write

# DevOps for Scripts used by ADO Pipelines
/vnext/Scripts/**  @microsoft/react-native-windows-devops @microsoft/react-native-windows-write

# CLI for the new project templates
/vnext/template/**  @microsoft/react-native-windows-cli @microsoft/react-native-windows-write
/vnext/templates/**  @microsoft/react-native-windows-cli @microsoft/react-native-windows-write

# Ownership by specific files or file types
# This section MUST stay at the bottom of the CODEOWNERS file.

# CLI for CLI-specific files
/vnext/generate.js  @microsoft/react-native-windows-cli @microsoft/react-native-windows-write
/vnext/react-native.config.js  @microsoft/react-native-windows-cli @microsoft/react-native-windows-write

# OfficeCXE for Desktop-specific files
/vnext/ReactWindows-Desktop.sln  @microsoft/officecxe @microsoft/react-native-windows-write

# API Review for DEF/IDL file changes
/vnext/**/*.def  @microsoft/react-native-windows-api-review @microsoft/react-native-windows-write
/vnext/**/*.idl  @microsoft/react-native-windows-api-review @microsoft/react-native-windows-write

# XAML for files with XAML in the name
/vnext/Microsoft.ReactNative*/**/*Xaml*.*  @microsoft/react-native-windows-xaml @microsoft/react-native-windows-write

# API Review and OfficeCXE for DEF/IDL file changes in Desktop
/vnext/Desktop*/**/*.def  @microsoft/react-native-windows-api-review @microsoft/officecxe @microsoft/react-native-windows-write
/vnext/Desktop*/**/*.idl  @microsoft/react-native-windows-api-review @microsoft/officecxe @microsoft/react-native-windows-write

# DevOps and OfficeCXE for Desktop-specific files in Scripts
/vnext/Scripts/OfficeReact.Win32.nuspec  @microsoft/react-native-windows-devops @microsoft/react-native-windows-write
/vnext/Scripts/run-desktop-integration-tests.js  @microsoft/react-native-windows-devops @microsoft/react-native-windows-write

# API Review and CLI for the new project templates
/vnext/template/**/*.def  @microsoft/react-native-windows-api-review @microsoft/react-native-windows-cli @microsoft/react-native-windows-write
/vnext/template/**/*.idl  @microsoft/react-native-windows-api-review @microsoft/react-native-windows-cli @microsoft/react-native-windows-write

# Networking implementation
/vnext/Shared/Modules/BlobModule.*      @microsoft/jshost
/vnext/Shared/Modules/HttpModule.*      @microsoft/jshost
/vnext/Shared/Modules/WebSocketModule.* @microsoft/jshost
/vnext/Shared/Networking/**/*           @microsoft/jshost

fix
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
Owners: @microsoft/react-native-windows-write

Fix Script
  packages/@react-native/monorepo/package.json
Owners: @microsoft/react-native-windows-write

fix rate throttling
  packages/@rnw-scripts/just-task/flow-tasks.js
Owners: @microsoft/react-native-windows-write

Change files
  change/@rnw-scripts-just-task-44b12d8e-d690-4fde-9648-fd8bb3a92b32.json
Owners: @microsoft/react-native-windows-write

Make flow typed download recursively
  packages/@rnw-scripts/just-task/flow-tasks.js
Owners: @microsoft/react-native-windows-write

renamed variable
  packages/@rnw-scripts/just-task/flow-tasks.js
Owners: @microsoft/react-native-windows-write

fix generateWrapper
  vnext/templates/old/generateWrapper.js
Owners: @microsoft/react-native-windows-cli, @microsoft/react-native-windows-write

remove sample apps package.json
  packages/sample-apps/package.json
Owners: @microsoft/react-native-windows-write

applying package updates ***NO_CI***
  change/react-native-windows-1a194256-b950-463f-acfa-3fc056fb0276.json
  change/react-native-windows-3f4b160f-4cfd-46cf-9d96-fe93592551af.json
  packages/@react-native-windows/automation-channel/CHANGELOG.json
  packages/@react-native-windows/automation-channel/CHANGELOG.md
  packages/@react-native-windows/automation-channel/package.json
  packages/@react-native-windows/automation-commands/CHANGELOG.json
  packages/@react-native-windows/automation-commands/CHANGELOG.md
  packages/@react-native-windows/automation-commands/package.json
  packages/@react-native-windows/automation/CHANGELOG.json
  packages/@react-native-windows/automation/CHANGELOG.md
  packages/@react-native-windows/automation/package.json
  packages/@react-native-windows/tester/package.json
  packages/debug-test/package.json
  packages/e2e-test-app-fabric/package.json
  packages/e2e-test-app/package.json
  packages/integration-test-app/package.json
  packages/playground/package.json
  packages/sample-apps/package.json
  vnext/CHANGELOG.json
  vnext/CHANGELOG.md
  vnext/PropertySheets/Generated/PackageVersion.g.props
  vnext/package.json
Owners: @microsoft/react-native-windows-write

Add support for 3rd party components to hook into key events
  vnext/Microsoft.ReactNative/Composition.Input.idl
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.h
  vnext/Microsoft.ReactNative/IReactCompositionViewComponentBuilder.idl
  vnext/Shared/Shared.vcxitems
  vnext/overrides.json
  vnext/src/Libraries/Components/Switch/Switch.windows.js
Owners: @microsoft/react-native-windows-api-review, @microsoft/react-native-windows-write

fix
  packages/playground/windows/playground-composition/packages.lock.json
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
  vnext/Microsoft.ReactNative/packages.lock.json
Owners: @microsoft/react-native-windows-write

Move CompositionEventHandler key handing into a function that can be shared with core input in future
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Owners: @microsoft/react-native-windows-write

update yarn.lock
  yarn.lock
Owners: @microsoft/react-native-windows-write

fix
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
Owners: @microsoft/react-native-windows-write

fix
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
Owners: @microsoft/react-native-windows-write

fix
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
Owners: @microsoft/react-native-windows-write

update snapshots
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
Owners: @microsoft/react-native-windows-write

fix fabric textinput's caret on focus lost
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-bc016154-a9c1-4dcd-8367-781644093aaa.json
Owners: @microsoft/react-native-windows-write

Fix Lint
  packages/@office-iss/react-native-win32/.flowconfig
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/src/Libraries/StyleSheet/PlatformColorValueTypes.win32.js
  packages/@office-iss/react-native-win32/src/Libraries/Utilities/Platform.flow.win32.js
  vnext/.flowconfig
  vnext/overrides.json
  vnext/src/Libraries/StyleSheet/PlatformColorValueTypes.windows.js
  vnext/src/Libraries/Utilities/Platform.flow.windows.js
Owners: @microsoft/officecxe, @microsoft/react-native-windows-write

add fabric textinput's cursorColor
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Owners: @microsoft/react-native-windows-api-review, @microsoft/react-native-windows-write

Change files
  change/react-native-windows-59c4c93d-b696-4ed2-ad29-ce2c7aa0c3ca.json
Owners: @microsoft/react-native-windows-write

[Fabric] Replace overrides in BaseViewEventEmitter
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/KeyEvent.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/BaseViewEventEmitter.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/BaseViewEventEmitter.h
  vnext/Shared/Shared.vcxitems
  vnext/overrides.json
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-37193986-8ce0-4f13-9b5b-bc680ca0f9ba.json
Owners: @microsoft/react-native-windows-write

[Fabric] Cleans up overrides for HostPlatformViewProps
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/windows/WindowsViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/windows/WindowsViewProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/windows/primitives.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewTraitsInitializer.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/WindowsViewEvents.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/BaseViewProps.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/ViewShadowNode.cpp
  vnext/Shared/Shared.vcxitems
  vnext/overrides.json
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-84f3f09b-d0cd-40c9-be62-e1cd6073996a.json
Owners: @microsoft/react-native-windows-write

[Fabric] Cleans up overrides for HostPlatformViewProps (#12160)
  change/react-native-windows-84f3f09b-d0cd-40c9-be62-e1cd6073996a.json
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/windows/WindowsViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/windows/WindowsViewProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/windows/primitives.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewTraitsInitializer.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/WindowsViewEvents.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/BaseViewProps.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/ViewShadowNode.cpp
  vnext/Shared/Shared.vcxitems
  vnext/overrides.json
Owners: @microsoft/react-native-windows-write

[Fabric] Replace overrides in BaseViewEventEmitter (#12159)
  change/react-native-windows-37193986-8ce0-4f13-9b5b-bc680ca0f9ba.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/KeyEvent.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/BaseViewEventEmitter.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/BaseViewEventEmitter.h
  vnext/Shared/Shared.vcxitems
  vnext/overrides.json
Owners: @microsoft/react-native-windows-write

[Fabric] Eliminate forks needed for onMouseEnter/Leave
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/BaseViewProps.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/TouchEventEmitter.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/TouchEventEmitter.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/primitives.h
  vnext/overrides.json
Owners: @microsoft/react-native-windows-write

Change files
  change/react-native-windows-6e035188-e45d-4d9b-95c6-1e1b4dae2187.json
Owners: @microsoft/react-native-windows-write

Rename old templates
  vnext/templates/old/generateWrapper.js
  vnext/templates/old/uwp-cpp-app/template.config.js
  vnext/templates/old/uwp-cpp-lib/template.config.js
  vnext/templates/old/uwp-cs-app/template.config.js
  vnext/templates/old/uwp-cs-lib/template.config.js
Owners: @microsoft/react-native-windows-cli, @microsoft/react-native-windows-write

format
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/KeyEvent.h
Owners: @microsoft/react-native-windows-write

[Fabric] Eliminate forks needed for onMouseEnter/Leave (#12161)
  change/react-native-windows-6e035188-e45d-4d9b-95c6-1e1b4dae2187.json
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/BaseViewProps.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/TouchEventEmitter.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/TouchEventEmitter.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/primitives.h
  vnext/overrides.json
Owners: @microsoft/react-native-windows-write

switch to setter for color
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/ActivityIndicatorComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Owners: @microsoft/react-native-windows-api-review, @microsoft/react-native-windows-write

Test disabling HTTP caching (#12103)
  change/react-native-windows-37ea0799-26d6-4a2f-bcfa-d33fbc856013.json
  vnext/Desktop.IntegrationTests/HttpResourceIntegrationTests.cpp
Owners: @microsoft/react-native-windows-write, @microsoft/officecxe

Change files
  change/@office-iss-react-native-win32-6f488b7f-179a-4d6e-a8b3-4e5cc617ffb2.json
  change/@react-native-windows-automation-channel-b5095795-808a-41ee-90a6-f08fba5a01ba.json
  change/react-native-windows-c7e91a35-b58a-4126-94fd-7d549edd8643.json
Owners: @microsoft/react-native-windows-write

Update Overrides
  packages/@office-iss/react-native-win32/overrides.json
Owners: @microsoft/officecxe, @microsoft/react-native-windows-write

Update Metro
  packages/@office-iss/react-native-win32/package.json
  vnext/package.json
  yarn.lock
Owners: @microsoft/officecxe, @microsoft/react-native-windows-write

applying package updates ***NO_CI***
  change/react-native-windows-37193986-8ce0-4f13-9b5b-bc680ca0f9ba.json
  change/react-native-windows-37ea0799-26d6-4a2f-bcfa-d33fbc856013.json
  change/react-native-windows-6e035188-e45d-4d9b-95c6-1e1b4dae2187.json
  change/react-native-windows-84f3f09b-d0cd-40c9-be62-e1cd6073996a.json
  packages/@react-native-windows/automation-channel/CHANGELOG.json
  packages/@react-native-windows/automation-channel/CHANGELOG.md
  packages/@react-native-windows/automation-channel/package.json
  packages/@react-native-windows/automation-commands/CHANGELOG.json
  packages/@react-native-windows/automation-commands/CHANGELOG.md
  packages/@react-native-windows/automation-commands/package.json
  packages/@react-native-windows/automation/CHANGELOG.json
  packages/@react-native-windows/automation/CHANGELOG.md
  packages/@react-native-windows/automation/package.json
  packages/@react-native-windows/tester/package.json
  packages/debug-test/package.json
  packages/e2e-test-app-fabric/package.json
  packages/e2e-test-app/package.json
  packages/integration-test-app/package.json
  packages/playground/package.json
  packages/sample-apps/package.json
  vnext/CHANGELOG.json
  vnext/CHANGELOG.md
  vnext/PropertySheets/Generated/PackageVersion.g.props
  vnext/package.json
Owners: @microsoft/react-native-windows-write

[Fabric] Add Textinput's cursorColor (#12158)
  change/react-native-windows-59c4c93d-b696-4ed2-ad29-ce2c7aa0c3ca.json
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/ActivityIndicatorComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Owners: @microsoft/react-native-windows-write, @microsoft/react-native-windows-api-review
