Repository microsoft/react-native-windows, pull requests merged in 2019-06, with the labels that each got.

#2553 enable inline source maps
  vnext/ReactWindowsCore/DevServerHelper.h
Labels: vnext

#2551 require AttachRoot to be called from UI thread
  vnext/ReactUWP/Views/ReactControl.cpp
Labels: vnext

#2554 Update to react-native@0.58.6-microsoft.59
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2558 Update typescript version to 3.5.1
  .ado/evergreen.yml
  .ado/publish.yml
  .ado/windows-vs-pr.yml
  vnext/package.json
  vnext/tslint.json
  vnext/yarn.lock
Labels: vnext

#2488 ScrollView.scrollEnabled property
  vnext/ReactUWP/Views/ScrollViewManager.cpp
Labels: vnext

#2561 Folly::Dynamic.asInt() throws when the type is not Int
  vnext/ReactUWP/Modules/NetworkingModule.cpp
  vnext/ReactUWP/Utils/PropertyUtils.h
  vnext/ReactUWP/Views/ControlViewManager.cpp
  vnext/ReactUWP/Views/DatePickerViewManager.cpp
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/PickerViewManager.cpp
  vnext/ReactUWP/Views/PopupViewManager.cpp
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactUWP/Views/TextViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
  vnext/ReactWindowsCore/Modules/UIManagerModule.cpp
Labels: vnext

#2559 fix(CLI): Ensure CLI downloads current version
  current/local-cli/rnpm/windows/index.js
  current/local-cli/rnpm/windows/package.json
  current/local-cli/rnpm/windows/src/common.js
  current/local-cli/rnpm/windows/src/windows.js
  vnext/local-cli/generate-windows.js
  vnext/local-cli/generator-windows/index.js
Labels: rnwcs

#2567 Removing default padding on FlyoutPresenter
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2572 Update to react-native@0.58.6-microsoft.60
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2570 fixes to FormData network support
  vnext/ReactUWP/Base/UwpReactInstance.cpp
Labels: vnext

#2564 Cleaning up XAML Flyout when shadow node view is dropped.
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2571 Adding proposal process files
  vnext/proposals/active/readme.md
  vnext/proposals/archive/readme.md
  vnext/proposals/readme.md
Labels: vnext

#2583 [Current] Update msbuildtools.js with VS 2019 path
  current/local-cli/runWindows/utils/msbuildtools.js
Labels: AutoMerge, rnwcs

#2582 Fix nuget packages path
  vnext/Folly/Folly.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
Labels: AutoMerge, vnext

#2584 Picker layout fix (WI:3391028)
  vnext/ReactUWP/Views/PickerViewManager.cpp
Labels: AutoMerge, vnext

#2585 Add enableJit and debug host to ReactInstanceSettings
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/include/ReactUWP/IReactInstance.h
Labels: vnext

#2590 Do not let functions under facebook::react::unicode throw upon invalid Unicode characters.
  vnext/Desktop.UnitTests/UnicodeConversionTest.cpp
  vnext/ReactWindowsCore/unicode.cpp
Labels: vnext

#2594 Ensure dll gets updated version before build
  .ado/bumpFileVersions.js
  .ado/publish.yml
  .ado/updateVersion.js
  .ado/versionUtils.js
Labels: vnext

#2595 Remove nmake build files
  vnext/Chakra/dirs
  vnext/Chakra/jsicore/sources
  vnext/Chakra/sources.inc
  vnext/Chakra/win32/sources
  vnext/Desktop/CxxReactWin32/dirs
  vnext/Desktop/CxxReactWin32/sources.inc
  vnext/Desktop/CxxReactWin32/win32/sources
  vnext/Desktop/Sandbox/dirs
  vnext/Desktop/Sandbox/sources.inc
  vnext/Desktop/Sandbox/win32/sources
  vnext/Desktop/dirs
  vnext/Desktop/sources.inc
  vnext/Desktop/win32/sources
  vnext/ReactCommon/dirs
  vnext/ReactCommon/sources.inc
  vnext/ReactCommon/win32/sources
  vnext/ReactUWP/make.inc
  vnext/ReactWindowsCore/Modules/dirs
  vnext/ReactWindowsCore/Modules/sources.inc
  vnext/ReactWindowsCore/Modules/win32/sources
  vnext/ReactWindowsCore/dirs
  vnext/ReactWindowsCore/sources.inc
  vnext/ReactWindowsCore/uniconv/sources
  vnext/ReactWindowsCore/win32/sources
  vnext/Shared/AsyncStorage/dirs
  vnext/Shared/AsyncStorage/sources.inc
  vnext/Shared/AsyncStorage/win32/sources
  vnext/Shared/dirs
  vnext/Shared/sources.inc
  vnext/Shared/win32/sources
  vnext/dirs
  vnext/make.inc
  vnext/sources.inc
  vnext/win32/sources
Labels: vnext

#2596 Fix new include, restoring expected paths for nuget consumption
  vnext/include/ReactUWP/IReactInstance.h
Labels: vnext

#2456 Update target version to 19h1 and set XamlRoot for Flyout
  .ado/templates/install-SDK.yml
  .ado/windows-vs-pr.yml
  vnext/Playground/Playground/Playground.csproj
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Modules/NativeUIManager.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/Scripts/Install-WindowsSDKISO.ps1
  vnext/V8Inspector/V8Inspector.vcxproj
  vnext/docs/GettingStarted.md
  vnext/local-cli/generator-windows/templates/proj/MyApp.csproj
Labels: AutoMerge

#2600 Update to react-native@0.58.6-microsoft.63
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2591 Implemented accessibilityLiveRegion
  vnext/ReactUWP/CMakeLists.txt
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Utils/AccessibilityUtils.cpp
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/include/ReactUWP/Utils/AccessibilityUtils.h
  vnext/include/ReactUWP/Views/FrameworkElementViewManager.h
  vnext/src/RNTester/AccessibilityExample.tsx
Labels: vnext

#2602 Bump the version of just we are using
  vnext/Scripts/just-task.js
  vnext/just-task.js
  vnext/package.json
  vnext/yarn.lock
Labels: vnext

#2601 Delete repositoryPath from nuget.config go back to solutiondir
  vnext/Folly/Folly.vcxproj
  vnext/NuGet.Config
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
Labels: vnext

#2603 Add support for Flyout Horizontal and Vertical Offset
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/src/Libraries/Components/Flyout/FlyoutProps.ts
Labels: vnext

#2608 center Transform property
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/ExpressionAnimationStore.cpp
  vnext/ReactUWP/Views/ExpressionAnimationStore.h
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/ShadowNodeBase.cpp
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/include/ReactUWP/IReactInstance.h
  vnext/include/ReactUWP/Views/FrameworkElementViewManager.h
  vnext/include/ReactUWP/Views/ShadowNodeBase.h
  vnext/package.json
Labels: vnext

#2612 accessibility fixes for <View>
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
Labels: vnext

#2613 Edit UnicodeConversionTests to better test for overconsumption attacks.
  vnext/Desktop.UnitTests/UnicodeConversionTest.cpp
Labels: AutoMerge, vnext

#2615 port to 58: accessibility fixes for <View> to not have duplicate accessibility
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
Labels: vnext

#2609 LocalBundleReader.cpp perf improvement.
  vnext/ReactUWP/Utils/LocalBundleReader.cpp
Labels: AutoMerge, vnext

#2619 Update to react-native@0.59.0-microsoft.2
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2621 Add LayoutAnimation.h to nuget package spec
  vnext/ReactUwp.nuspec
  vnext/ReactWin32.nuspec
Labels: vnext

#2587 [CLI] Update to compatible version of semver
  current/local-cli/rnpm/windows/package.json
Labels: AutoMerge, rnwcs

#2622 Add LayoutAnimation.h to nuget package spec
  vnext/ReactUwp.nuspec
  vnext/ReactWin32.nuspec
Labels: vnext

#2628 Update to react-native@0.59.0-microsoft.4
  .ado/evergreen.js
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2581 [Image] Implement 'center' and 'repeat' resizeModes
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Modules/ImageViewManagerModule.cpp
  vnext/ReactUWP/Modules/ImageViewManagerModule.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/Image/BorderEffect.h
  vnext/ReactUWP/Views/Image/ImageViewManager.cpp
  vnext/ReactUWP/Views/Image/ImageViewManager.h
  vnext/ReactUWP/Views/Image/Microsoft.UI.Composition.Effects_Impl.h
  vnext/ReactUWP/Views/Image/ReactImage.cpp
  vnext/ReactUWP/Views/Image/ReactImage.h
  vnext/ReactUWP/Views/Image/ReactImageBrush.cpp
  vnext/ReactUWP/Views/Image/ReactImageBrush.h
  vnext/ReactUWP/Views/ImageViewManager.cpp
  vnext/ReactUWP/Views/ImageViewManager.h
  vnext/ReactUWP/Views/cppwinrt/Microsoft.UI.Composition.Effects.BorderEffect.g.h
  vnext/ReactUWP/Views/cppwinrt/Microsoft.UI.Composition.Effects.idl
  vnext/ReactUWP/Views/cppwinrt/winrt/Microsoft.UI.Composition.Effects.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/Microsoft.UI.Composition.Effects.0.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/Microsoft.UI.Composition.Effects.1.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/Microsoft.UI.Composition.Effects.2.h
Labels: vnext

#2625 add <Glyph> component and example
  vnext/ReactUWP/Polyester/IconViewManager.cpp
  vnext/ReactUWP/Polyester/IconViewManager.h
  vnext/Universal.SampleApp/Assets/seguiemj.ttf
  vnext/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj
  vnext/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj.filters
  vnext/src/Libraries/Components/Glyph/Glyph.tsx
  vnext/src/Libraries/Components/Glyph/Glyph.uwp.tsx
  vnext/src/Libraries/Components/Glyph/GlyphProps.ts
  vnext/src/RNTester/GlyphExample.tsx
  vnext/src/RNTester/RNTesterList.uwp.ts
  vnext/src/index.ts
  vnext/src/index.uwp.ts
Labels: vnext

#2629 Conditioning support for Flyout offsets on RS5+
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2630 Add flag to enable building with chakra core on uwp
  vnext/Chakra/ChakraHelpers.cpp
  vnext/Chakra/ChakraJsiRuntime_core.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/package.json
Labels: AutoMerge, vnext

#2624 Wrong argument type bug fix
  vnext/Chakra/ChakraExecutor.cpp
Labels: vnext

#2640 Update to react-native@0.59.0-microsoft.5
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2644 rename preprocessor
  vnext/Chakra/ChakraHelpers.cpp
  vnext/Chakra/ChakraJsiRuntime_core.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
Labels: vnext

#2614 Update OpenSSL NuGet dependency.
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/Directory.Build.targets
  vnext/Scripts/OpenSSL.nuspec
  vnext/Scripts/OpenSSL.targets
Labels: vnext

#2648 Reduce onLayoutCalls (native to JS). Move Image download setup to worker
  vnext/ReactUWP/Views/Image/ReactImage.cpp
  vnext/ReactUWP/Views/ViewManagerBase.cpp
Labels: AutoMerge, vnext

#2649 Added image sample and fixed a couple bugs
  vnext/ReactUWP/Views/Image/ReactImageBrush.cpp
  vnext/ReactUWP/Views/Image/ReactImageBrush.h
  vnext/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj
  vnext/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj.filters
  vnext/Universal.SampleApp/image.uwp.js
Labels: AutoMerge, vnext

#2650 Use C++ 2017 for Desktop projects.
  vnext/PropertySheets/React.Cpp.props
Labels: vnext

#2651 Update ChakraCore Debugger to 0.0.0.36.
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
Labels: vnext

#2638 Implementing accessibilityStates ('disabled' and 'selected') view props, #2573
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/Image/BorderEffect.h
  vnext/ReactUWP/Views/ViewControl.cpp
  vnext/ReactUWP/Views/ViewControl.h
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/ReactUWP/Views/cppwinrt/BorderEffect.g.h
  vnext/ReactUWP/Views/cppwinrt/BorderEffect.idl
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.g.h
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.idl
  vnext/ReactUWP/Views/cppwinrt/buildcppwinrt.cmd
  vnext/ReactUWP/Views/cppwinrt/winrt/Microsoft.UI.Composition.Effects.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/Microsoft.UI.Composition.Effects.0.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/Microsoft.UI.Composition.Effects.1.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/Microsoft.UI.Composition.Effects.2.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.0.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.1.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.2.h
  vnext/ReactUWP/Views/cppwinrt/winrt/react.uwp.h
  vnext/src/RNTester/AccessibilityExample.tsx
Labels: vnext

#2653 Implemented Uwp ScriptStore and PreparedScriptStore to allow caching scripts as bytecdoes
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/UwpPreparedScriptStore.cpp
  vnext/ReactUWP/UwpPreparedScriptStore.h
  vnext/ReactUWP/UwpScriptStore.cpp
  vnext/ReactUWP/UwpScriptStore.h
  vnext/include/ReactUWP/IReactInstance.h
  vnext/package.json
Labels: AutoMerge, vnext

#2654 Delay setting ReactImageBrush source until image has actually loaded
  vnext/ReactUWP/Views/Image/ReactImage.cpp
Labels: vnext

#2552 Implement test WebSocket server.
  vnext/.editorconfig
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj.filters
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/WebSocketServer.cpp
  vnext/Desktop.IntegrationTests/WebSocketServer.h
Labels: vnext

#2658 Fix Memory Leak in ViewViewManager
  vnext/ReactUWP/Views/ViewViewManager.cpp
Labels: AutoMerge, vnext

#2661 Change watch script to use tsc directly
  vnext/package.json
Labels: AutoMerge, vnext

#2665 Fix directory for script store
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.cpp
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.h
  vnext/ReactUWP/Utils/UwpScriptStore.cpp
  vnext/ReactUWP/Utils/UwpScriptStore.h
Labels: vnext

#2667 Fix memory leaks in ReactImage
  vnext/ReactUWP/Views/Image/ImageViewManager.cpp
  vnext/ReactUWP/Views/Image/ImageViewManager.h
  vnext/ReactUWP/Views/Image/ReactImage.cpp
  vnext/ReactUWP/Views/Image/ReactImage.h
Labels: vnext

#2623 Support Keyboard
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Modules/NativeUIManager.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Utils/Helpers.cpp
  vnext/ReactUWP/Utils/Helpers.h
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/KeyboardEventHandler.cpp
  vnext/ReactUWP/Views/PopupViewManager.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
  vnext/ReactUWP/Views/ShadowNodeBase.cpp
  vnext/ReactUWP/Views/ViewManagerBase.cpp
  vnext/include/ReactUWP/Views/KeyboardEventHandler.h
  vnext/include/ReactUWP/Views/ShadowNodeBase.h
  vnext/include/ReactUWP/Views/ViewManagerBase.h
  vnext/include/ReactUWP/XamlView.h
  vnext/src/Libraries/Components/Keyboard/KeyboardExt.tsx
  vnext/src/Libraries/Components/Keyboard/KeyboardExt.uwp.tsx
  vnext/src/Libraries/Components/Keyboard/KeyboardExtProps.ts
  vnext/src/RNTester/KeyboardExtensionExample.uwp.tsx
  vnext/src/RNTester/RNTesterList.uwp.ts
  vnext/src/index.ts
  vnext/src/index.uwp.ts
Labels: AutoMerge, vnext

#2664 Clean up MSBuild files
  vnext/.editorconfig
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Directory.Build.props
  vnext/Directory.Build.targets
  vnext/Folly/Folly.vcxproj
  vnext/FollyWin32/FollyWin32.vcxproj
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindows.sln
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/Universal.IntegrationTests/React.Windows.Universal.IntegrationTests.vcxproj
  vnext/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj
  vnext/Universal.UnitTests/React.Windows.Universal.UnitTests.vcxproj
Labels: vnext

#2675 Update to react-native@0.59.0-microsoft.6
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2670 Minimize use of NOJSC macro
  vnext/.editorconfig
  vnext/Chakra/Chakra.vcxitems
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/Sandbox/SandboxBridge.h
  vnext/FollyWin32/FollyWin32.vcxproj
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/packages.config
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/Shared/Logging.cpp
  vnext/Shared/Shared.vcxitems
  vnext/Universal.IntegrationTests/React.Windows.Universal.IntegrationTests.vcxproj
  vnext/Universal.IntegrationTests/packages.config
  vnext/Universal.UnitTests/React.Windows.Universal.UnitTests.vcxproj
  vnext/Universal.UnitTests/packages.config
  vnext/makewinrt.inc
Labels: vnext

#2685 Update to react-native@0.59.0-microsoft.7
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2687 TextInput: Don't blur if not focused (WI: 3249010)
  vnext/ReactUWP/Views/TextInputViewManager.cpp
Labels: vnext

#2676 Fix Flyout placement for versions <RS5
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2684 Add AppTheme module
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Modules/AppThemeModuleUwp.cpp
  vnext/ReactUWP/Modules/AppThemeModuleUwp.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactWindowsCore/Modules/AppThemeModule.cpp
  vnext/ReactWindowsCore/Modules/AppThemeModule.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/Universal.SampleApp/App.xaml
  vnext/src/Libraries/Modules/AppTheme/AppTheme.tsx
  vnext/src/Libraries/Modules/AppTheme/AppTheme.uwp.ts
  vnext/src/index.ts
  vnext/src/index.uwp.ts
Labels: AutoMerge, vnext

#2688 Linking module fixes
  vnext/ReactUWP/Modules/LinkingManagerModule.cpp
Labels: vnext

#2689 AppTheme jest fix
  vnext/src/Libraries/Modules/AppTheme/AppTheme.ts
  vnext/src/Libraries/Modules/AppTheme/AppTheme.uwp.ts
  vnext/src/Libraries/Modules/AppTheme/__mocks__/AppTheme.uwp.ts
Labels: vnext

#2678 DynamicAutomationPeer Refactor
  vnext/ReactUWP/EndPoints/dll/dllmain.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Utils/AccessibilityUtils.cpp
  vnext/ReactUWP/Utils/PropertyUtils.h
  vnext/ReactUWP/Views/DynamicAutomationPeer.cpp
  vnext/ReactUWP/Views/DynamicAutomationPeer.h
  vnext/ReactUWP/Views/DynamicAutomationProperties.cpp
  vnext/ReactUWP/Views/DynamicAutomationProperties.h
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/ViewControl.cpp
  vnext/ReactUWP/Views/ViewControl.h
  vnext/ReactUWP/Views/ViewPanel.cpp
  vnext/ReactUWP/Views/ViewPanel.h
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.h
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.g.h
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.idl
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationProperties.g.h
  vnext/ReactUWP/Views/cppwinrt/ViewControl.g.h
  vnext/ReactUWP/Views/cppwinrt/ViewPanel.g.h
  vnext/ReactUWP/Views/cppwinrt/ViewPanel.idl
  vnext/ReactUWP/Views/cppwinrt/buildcppwinrt.cmd
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.0.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.1.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.2.h
  vnext/ReactUWP/Views/cppwinrt/winrt/react.uwp.h
  vnext/ReactUWP/Views/module.g.cpp
  vnext/include/ReactUWP/Utils/AccessibilityUtils.h
  vnext/include/ReactUWP/Views/ShadowNodeBase.h
  vnext/src/RNTester/AccessibilityExample.tsx
Labels: vnext

#2691 Add MissingNativeAppThemeShim
  vnext/src/Libraries/Modules/AppTheme/AppTheme.uwp.ts
Labels: vnext

#2682 Support keyboard focus and blur for View and TextInput
  vnext/ReactUWP/Views/CheckboxViewManager.cpp
  vnext/ReactUWP/Views/CheckboxViewManager.h
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/PickerViewManager.cpp
  vnext/ReactUWP/Views/PickerViewManager.h
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactUWP/Views/TextInputViewManager.h
  vnext/include/ReactUWP/Views/FrameworkElementViewManager.h
  vnext/src/Libraries/Components/Keyboard/KeyboardExt.uwp.tsx
  vnext/src/Libraries/Components/View/ViewWindows.tsx
  vnext/src/Libraries/Components/View/ViewWindows.uwp.tsx
  vnext/src/Libraries/Components/View/ViewWindowsProps.ts
  vnext/src/RNTester/KeyboardFocusExample.uwp.tsx
  vnext/src/RNTester/RNTesterList.uwp.ts
  vnext/src/index.ts
  vnext/src/index.uwp.ts
Labels: AutoMerge, vnext

#2662 Add documentation for WebSocket types.
  vnext/Desktop.IntegrationTests/DesktopTestInstance.cpp
  vnext/Desktop.IntegrationTests/DesktopTestInstance.h
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.IntegrationTests/TestMessageQueueThread.cpp
  vnext/Desktop.IntegrationTests/TestMessageQueueThread.h
  vnext/Desktop.IntegrationTests/WebSocketServer.cpp
  vnext/Desktop.IntegrationTests/WebSocketServer.h
  vnext/Desktop/HttpResource.cpp
  vnext/Desktop/LazyDevSupportManager.cpp
  vnext/Desktop/LazyDevSupportManager.h
  vnext/Desktop/LegacyWebSocket.cpp
  vnext/Desktop/Modules/NetworkingModule.cpp
  vnext/Desktop/Modules/NetworkingModule.h
  vnext/Desktop/WebSocket.cpp
  vnext/Desktop/WebSocket.h
  vnext/Desktop/WebSocketJSExecutor.cpp
  vnext/Desktop/WebSocketJSExecutorFactory.cpp
  vnext/Desktop/WebSocketModule.cpp
  vnext/IntegrationTests/TestInstance.cpp
  vnext/IntegrationTests/TestInstance.h
  vnext/IntegrationTests/TestModule.cpp
  vnext/IntegrationTests/TestModule.h
  vnext/NuGet.Config
  vnext/ReactWindowsCore/IWebSocket.h
  vnext/ReactWindowsCore/Utils.cpp
  vnext/ReactWindowsCore/Utils.h
  vnext/ReactWindowsCore/WebSocketModule.h
  vnext/Scripts/Scripts.pssproj
  vnext/Universal.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Universal.IntegrationTests/UniversalTestInstance.h
  vnext/docs/GettingStarted.md
  vnext/docs/ProjectStructure.md
Labels: vnext

#2694 back out onlayout noise reduction
  vnext/ReactUWP/Views/ViewManagerBase.cpp
Labels: AutoMerge, vnext

#2556 NativeAnimatedModule
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Modules/Animated/AdditionAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/AdditionAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/AnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/AnimatedNode.h
  vnext/ReactUWP/Modules/Animated/AnimatedNodeType.h
  vnext/ReactUWP/Modules/Animated/AnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/AnimationDriver.h
  vnext/ReactUWP/Modules/Animated/AnimationType.h
  vnext/ReactUWP/Modules/Animated/DecayAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/DecayAnimationDriver.h
  vnext/ReactUWP/Modules/Animated/DiffClampAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/DiffClampAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/DivisionAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/DivisionAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/EventAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/EventAnimationDriver.h
  vnext/ReactUWP/Modules/Animated/ExtrapolationType.h
  vnext/ReactUWP/Modules/Animated/FacadeType.h
  vnext/ReactUWP/Modules/Animated/FrameAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/FrameAnimationDriver.h
  vnext/ReactUWP/Modules/Animated/InterpolationAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/InterpolationAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/ModulusAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/ModulusAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/MultiplicationAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/MultiplicationAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/NativeAnimatedModule.cpp
  vnext/ReactUWP/Modules/Animated/NativeAnimatedModule.h
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.cpp
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.h
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/StyleAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/StyleAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/SubtractionAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/SubtractionAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/TransformAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/TransformAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/ValueAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/ValueAnimatedNode.h
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Modules/NativeUIManager.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/include/CppWinRTIncludes.h
  vnext/package.json
Labels: vnext

#2690 Adding support for setting a custom root path for bundle loading
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/Views/Image/ImageViewManager.cpp
  vnext/ReactUWP/Views/Image/ReactImage.cpp
  vnext/ReactUWP/Views/Image/ReactImage.h
  vnext/ReactWindowsCore/DevSettings.h
  vnext/Shared/OInstance.cpp
  vnext/include/ReactUWP/IReactInstance.h
Labels: vnext

#2695 Added NuGet.config for Playground.
  vnext/Playground/NuGet.Config
Labels: vnext

#2701 Fix occasional text clipping
  vnext/ReactUWP/Views/ViewManagerBase.cpp
Labels: vnext

#2697 [AppTheme] Add high contrast properties and events
  vnext/ReactUWP/Modules/AppThemeModuleUwp.cpp
  vnext/ReactUWP/Modules/AppThemeModuleUwp.h
  vnext/ReactWindowsCore/Modules/AppThemeModule.cpp
  vnext/ReactWindowsCore/Modules/AppThemeModule.h
  vnext/src/Libraries/AppTheme/AppTheme.ts
  vnext/src/Libraries/AppTheme/AppTheme.uwp.ts
  vnext/src/Libraries/AppTheme/AppThemeTypes.ts
  vnext/src/Libraries/Modules/AppTheme/__mocks__/AppTheme.uwp.ts
  vnext/src/RNTester/AccessibilityExample.tsx
  vnext/src/RNTester/RNTesterList.uwp.ts
  vnext/src/RNTester/ThemingExample.uwp.tsx
  vnext/src/index.ts
  vnext/src/index.uwp.ts
Labels: vnext

#2700 add base64 image support
  vnext/ReactUWP/Views/Image/ReactImage.cpp
  vnext/ReactUWP/Views/Image/ReactImage.h
  vnext/Universal.SampleApp/index.uwp.js
Labels: AutoMerge, vnext
