Repository microsoft/react-native-windows, pull requests merged in 2019-11, with the labels that each got.

#3572 Fix some nit suggestions from PR #3568.
  change/react-native-windows-2019-10-31-14-49-39-nitFixes.json
  vnext/JSI/Shared/ChakraRuntime.cpp
  vnext/JSI/Shared/ChakraRuntime.h
Labels: vnext

#3577 Move ScriptStore and RuntimeHolder from RN to RNW.
  change/react-native-windows-2019-11-01-13-56-29-moveScriptStore.json
  vnext/Desktop.IntegrationTests/ChakraRuntimeHolder.h
  vnext/JSI/Shared/ChakraRuntime.cpp
  vnext/JSI/Shared/ChakraRuntimeArgs.h
  vnext/JSI/Shared/JSI.Shared.vcxitems
  vnext/JSI/Shared/JSI.Shared.vcxitems.filters
  vnext/JSI/Shared/RuntimeHolder.h
  vnext/JSI/Shared/ScriptStore.h
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj.filters
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.h
  vnext/ReactUWP/Utils/UwpScriptStore.h
  vnext/ReactWindowsCore/BaseScriptStoreImpl.h
  vnext/ReactWindowsCore/ChakraRuntimeHolder.h
  vnext/Shared/OInstance.cpp
Labels: vnext

#3598 VM: Split up IViewManager into optional interfaces #3565
  change/react-native-windows-2019-11-05-13-01-59-viewmanager3565.json
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.h
  vnext/Microsoft.ReactNative.SharedManaged/AttributedViewManager.cs
  vnext/Microsoft.ReactNative/ABIViewManager.cpp
  vnext/Microsoft.ReactNative/ABIViewManager.h
  vnext/Microsoft.ReactNative/IViewManager.idl
Labels: vnext

#3561 Native Modules: Updated samples and docs to show how to use events
  change/react-native-windows-2019-10-30-11-50-12-nmevents.json
  packages/microsoft-reactnative-sampleapps/index.windows.js
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/App.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/App.xaml.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/Calculator.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/MyModule.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleLibraryCPP.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleLibraryCPP.vcxproj.filters
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleModuleCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/pch.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/SampleModuleCS.cs
  vnext/Microsoft.ReactNative.Cxx/JSValueReader.h
  vnext/Microsoft.ReactNative.Cxx/ModuleRegistration.h
  vnext/Microsoft.ReactNative.Cxx/NativeModules.h
  vnext/Microsoft.ReactNative.SharedManaged/JSValueReader.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactModuleInfo.cs
  vnext/Microsoft.ReactNative/ABICxxModule.cpp
  vnext/Microsoft.ReactNative/DynamicReader.cpp
  vnext/Microsoft.ReactNative/DynamicReader.h
  vnext/Microsoft.ReactNative/IJSValueReader.idl
  vnext/docs/NativeModules.md
  vnext/docs/NativeModulesAdvanced.md
  vnext/local-cli/generator-windows/templates/cpp/src/App.cpp
Labels: vnext

#3591 Move bytecodeFilename and scriptVersion Determination to the Executor
  change/react-native-windows-2019-11-06-04-25-44-auto-update-versions060.0microsoft.16.json
  change/react-native-windows-extended-2019-11-06-04-25-46-auto-update-versions060.0microsoft.16.json
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/Chakra/ChakraExecutor.cpp
  vnext/Chakra/ChakraExecutor.h
  vnext/Chakra/ChakraHelpers.cpp
  vnext/Chakra/ChakraInstanceArgs.h
  vnext/Desktop.IntegrationTests/WebSocketJSExecutorIntegrationTest.cpp
  vnext/Desktop/Executors/WebSocketJSExecutor.cpp
  vnext/Desktop/Executors/WebSocketJSExecutor.h
  vnext/Desktop/Sandbox/SandboxJSExecutor.cpp
  vnext/Desktop/Sandbox/SandboxJSExecutor.h
  vnext/ReactUWP/Executors/WebSocketJSExecutorUwp.cpp
  vnext/ReactUWP/Executors/WebSocketJSExecutorUwp.h
  vnext/ReactWindowsCore/DevSettings.h
  vnext/Shared/OInstance.cpp
  vnext/package.json
  yarn.lock
Labels: vnext

#3590 Allowing RNW to refer to alternate JSI truths
  change/react-native-windows-2019-11-05-08-53-09-JSI_REF.json
  change/react-native-windows-extended-2019-11-05-17-48-17-JSI_REF.json
  change/rnpm-plugin-windows-2019-11-05-17-48-17-JSI_REF.json
  change/rnpm-plugin-wpf-2019-11-05-17-48-17-JSI_REF.json
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Universal/JSI.Universal.vcxproj
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj.filters
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/packages.config
  vnext/ReactWindowsCore/HermesRuntimeHolder.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.h
  vnext/ReactWindowsCore/packages.config
  vnext/V8Inspector/V8Inspector.vcxproj
Labels: vnext

#3596 Use Microsoft.Windows.CppWinRT 2.0
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-11-05-11-50-13-cppwinrt4.json
  vnext/ReactUWP/ABI/ABIModuleLoader.h
  vnext/ReactUWP/ABI/Instance_rt.h
  vnext/ReactUWP/ABI/ReactControl_rt.h
  vnext/ReactUWP/ABI/idl/AccessibilityAction.idl
  vnext/ReactUWP/ABI/idl/Instance.idl
  vnext/ReactUWP/ABI/idl/Module.idl
  vnext/ReactUWP/ABI/idl/ReactControl.idl
  vnext/ReactUWP/ABI/idl/ReactUWPABI.idl
  vnext/ReactUWP/EndPoints/dll/dllmain.cpp
  vnext/ReactUWP/Pch/pch.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/DynamicAutomationPeer.h
  vnext/ReactUWP/Views/DynamicAutomationProperties.h
  vnext/ReactUWP/Views/Image/BorderEffect.h
  vnext/ReactUWP/Views/Image/ReactImage.h
  vnext/ReactUWP/Views/Image/ReactImageBrush.h
  vnext/ReactUWP/Views/Impl/SnapPointManagingContentControl.h
  vnext/ReactUWP/Views/TouchEventHandler.cpp
  vnext/ReactUWP/Views/ViewControl.h
  vnext/ReactUWP/Views/ViewPanel.h
  vnext/ReactUWP/Views/cppwinrt/BorderEffect.g.h
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.g.h
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationProperties.g.h
  vnext/ReactUWP/Views/cppwinrt/ViewControl.g.h
  vnext/ReactUWP/Views/cppwinrt/ViewPanel.g.h
  vnext/ReactUWP/Views/cppwinrt/buildcppwinrt.cmd
  vnext/ReactUWP/Views/cppwinrt/winrt/Microsoft.UI.Composition.Effects.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/Microsoft.UI.Composition.Effects.0.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/Microsoft.UI.Composition.Effects.1.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/Microsoft.UI.Composition.Effects.2.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.0.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.1.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.2.h
  vnext/ReactUWP/Views/cppwinrt/winrt/react.uwp.h
  vnext/ReactUWP/packages.config
  vnext/Universal.UnitTests/React.Windows.Universal.UnitTests.vcxproj
  vnext/Universal.UnitTests/React.Windows.Universal.UnitTests.vcxproj.filters
Labels: AutoMerge, vnext

#3614 ViewManager Command Updates
  change/react-native-windows-2019-11-06-16-45-50-vmcommands.json
  packages/microsoft-reactnative-sampleapps/index.windows.js
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/DebugConsole.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/DebugHelpers.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/DebugHelpers.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleLibraryCPP.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleLibraryCPP.vcxproj.filters
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleModuleCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/CustomUserControlViewManagerCS.cs
  vnext/Microsoft.ReactNative.SharedManaged/AttributedViewManager.cs
  vnext/Microsoft.ReactNative/ABIViewManager.cpp
  vnext/Microsoft.ReactNative/IViewManager.idl
  vnext/Microsoft.ReactNative/ReactSupport.cpp
  vnext/docs/NativeModules.md
  vnext/docs/ViewManagers.md
Labels: vnext

#3627 Use node10
  .ado/templates/e2e-test-job.yml
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#3628 Native Module Setup Guide
  change/react-native-windows-2019-11-08-15-42-24-nmsetupdocs.json
  packages/microsoft-reactnative-sampleapps/windows/SampleApps.sln
  vnext/docs/GettingStarted.md
  vnext/docs/NativeModules.md
  vnext/docs/NativeModulesAdvanced.md
  vnext/docs/NativeModulesSetup.md
  vnext/docs/ProjectStructure.md
  vnext/docs/ViewManagers.md
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.sln
Labels: AutoMerge, vnext

#3640 Workaround for flyout centering problem
  change/react-native-windows-2019-11-11-12-58-16-flyout-centering-workaround.2.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#3641 Native Module doc fixes.
  change/react-native-windows-2019-11-11-13-36-35-nmdocfixes.json
  vnext/docs/NativeModules.md
  vnext/docs/NativeModulesAdvanced.md
  vnext/docs/NativeModulesSetup.md
  vnext/docs/ViewManagers.md
Labels: AutoMerge, vnext

#3616 Do not eat exceptions in DevSupportManager::GetJavaScriptFromServer
  change/react-native-windows-2019-11-07-15-51-09-master.json
  vnext/Desktop/DevSupportManager.cpp
Labels: vnext

#3652 TextInput should respect backgroundColor, borderColor, color props for all interaction states
  change/react-native-windows-2019-11-13-15-49-28-lightweightstyling.json
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Utils/PropertyUtils.h
  vnext/ReactUWP/Utils/ResourceBrushUtils.cpp
  vnext/ReactUWP/Utils/ResourceBrushUtils.h
  vnext/ReactUWP/Utils/StandardControlResourceKeyNames.h
  vnext/ReactUWP/Views/SwitchViewManager.cpp
Labels: vnext

#3615 remove -force flag from E2E test
  .ado/windows-vs-pr.yml
  packages/E2ETest/package.json
Labels: AutoMerge

#3655 Use "lint-staged" to run clang-format as pre-commit hook
  .lintstagedrc.json
  package.json
  packages/scripts/formatFiles.js
  yarn.lock
Labels: AutoMerge

#3675 Stop requiring Platform.cpp from MS/RN [deforking]
  .ado/publish.yml
  change/react-native-windows-2019-11-18-11-58-37-noplat.json
  package.json
  vnext/Chakra/ChakraExecutor.cpp
  vnext/Chakra/ChakraHelpers.cpp
  vnext/Chakra/ChakraPlatform.cpp
  vnext/Chakra/ChakraPlatform.h
  vnext/IntegrationTests/TestInstance.h
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/Shared/Logging.cpp
  vnext/Shared/OInstance.cpp
  vnext/Universal.IntegrationTests/UniversalTestRunner.cpp
Labels: AutoMerge

#3660 Fix ViewPanel layout issue when outer border exists
  change/react-native-windows-2019-11-14-09-55-26-sticky.json
  packages/playground/Samples/view.tsx
  vnext/ReactUWP/Views/ViewPanel.cpp
Labels: AutoMerge, vnext

#3686 Don't add asyncStorage module to nativeModules if ReactUWP is running without package identity
  change/react-native-windows-2019-11-20-15-34-16-master.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
Labels: vnext

#3690 Directly run "yarn format" as pre-commit hook instead of using lint-staged
  .lintstagedrc.json
  package.json
  packages/scripts/formatFiles.js
  yarn.lock
Labels: AutoMerge

#3665 Support ScrollView keyboardDismissMode
  change/react-native-windows-2019-11-15-16-31-57-keyboardDismissMode.json
  vnext/ReactUWP/Utils/Helpers.cpp
  vnext/ReactUWP/Utils/Helpers.h
  vnext/ReactUWP/Views/KeyboardEventHandler.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/SIPEventHandler.cpp
  vnext/ReactUWP/Views/SIPEventHandler.h
  vnext/ReactUWP/Views/ScrollViewManager.cpp
Labels: vnext

#3654 Remove DebugBundle and ReleaseBundle configuration
  .ado/templates/e2e-test-job.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-11-12-20-02-27-removeBundle.json
  packages/E2ETest/metro.config.js
  packages/E2ETest/windows/ReactUWPTestApp.sln
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp.csproj
  packages/microsoft-reactnative-sampleapps/.gitignore
  packages/microsoft-reactnative-sampleapps/metro.config.js
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/App.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleApp.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/App.xaml.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/SampleAppCS.csproj
  vnext/PropertySheets/Bundle.Common.targets
  vnext/PropertySheets/Bundle.Cpp.targets
  vnext/PropertySheets/Bundle.props
  vnext/PropertySheets/Bundle.targets
  vnext/local-cli/generator-windows/index.js
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.vcxproj
  vnext/local-cli/generator-windows/templates/cs/proj/BundleBuilder.vcxproj
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.csproj
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.sln
  vnext/local-cli/runWindows/utils/deploy.js
Labels: vnext

#3692 Revert "Support ScrollView keyboardDismissMode"
  change/react-native-windows-2019-11-22-11-19-51-revert-3665-keyboardDismissMode.json
  vnext/ReactUWP/Utils/Helpers.cpp
  vnext/ReactUWP/Utils/Helpers.h
  vnext/ReactUWP/Views/KeyboardEventHandler.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/SIPEventHandler.cpp
  vnext/ReactUWP/Views/SIPEventHandler.h
  vnext/ReactUWP/Views/ScrollViewManager.cpp
Labels: AutoMerge, vnext

#3694 `HasPackageIdentity` checked for a Win32 error code, not an HRESULT
  change/react-native-windows-2019-11-22-11-29-36-master.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
Labels: AutoMerge, vnext

#3687 Provide CLI to collect enviroment information.
  .github/ISSUE_TEMPLATE/react-native-windows--vnext--bug-report.md
  change/react-native-windows-2019-11-20-15-36-50-cliinfo.json
  vnext/local-cli/runWindows/runWindows.js
  vnext/local-cli/runWindows/utils/info.js
  vnext/package.json
  yarn.lock
Labels: AutoMerge

#3685 Support ScrollView pagingEnabled
  change/react-native-windows-2019-11-20-15-19-34-paging.json
  packages/playground/Samples/scrollViewSnapSample.tsx
  vnext/ReactUWP/Views/Impl/ScrollViewUWPImplementation.cpp
  vnext/ReactUWP/Views/Impl/ScrollViewUWPImplementation.h
  vnext/ReactUWP/Views/Impl/SnapPointManagingContentControl.cpp
  vnext/ReactUWP/Views/Impl/SnapPointManagingContentControl.h
  vnext/ReactUWP/Views/ScrollViewManager.cpp
  vnext/src/Libraries/Components/ScrollView/ScrollView.windows.js
Labels: AutoMerge

#3622 Add Winui 2.2 framework package
  .ado/templates/e2e-test-job.yml
  change/react-native-windows-2019-11-07-13-05-09-winui.json
  packages/E2ETest/windows/ReactUWPTestApp/App.xaml
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp.csproj
  vnext/ReactUWP/Pch/pch.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/DynamicAutomationPeer.h
  vnext/ReactUWP/Views/DynamicAutomationProperties.h
  vnext/ReactUWP/Views/ViewControl.h
  vnext/ReactUWP/Views/ViewPanel.h
  vnext/ReactUWP/Views/module.g.cpp
  vnext/ReactUWP/packages.config
Labels: AutoMerge, vnext

#3697 Manually bump to vnext.80
  change/react-native-windows-2019-11-22-23-54-04-bump_to_80.json
  vnext/package.json
Labels: vnext

#3703 Revert "Add Winui 2.2 framework package"
  .ado/templates/e2e-test-job.yml
  change/react-native-windows-2019-11-25-12-26-47-revert-3622-winui.json
  packages/E2ETest/windows/ReactUWPTestApp/App.xaml
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp.csproj
  vnext/ReactUWP/Pch/pch.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/DynamicAutomationPeer.h
  vnext/ReactUWP/Views/DynamicAutomationProperties.h
  vnext/ReactUWP/Views/ViewControl.h
  vnext/ReactUWP/Views/ViewPanel.h
  vnext/ReactUWP/Views/module.g.cpp
  vnext/ReactUWP/packages.config
Labels: AutoMerge

#3696 Support ScrollView keyboardDismissMode - with crash fixed
  change/react-native-windows-2019-11-22-14-27-58-treeDump.json
  packages/playground/Samples/scrollViewSnapSample.tsx
  vnext/ReactUWP/Utils/Helpers.cpp
  vnext/ReactUWP/Utils/Helpers.h
  vnext/ReactUWP/Views/KeyboardEventHandler.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/SIPEventHandler.cpp
  vnext/ReactUWP/Views/SIPEventHandler.h
  vnext/ReactUWP/Views/ScrollViewManager.cpp
Labels: AutoMerge, vnext

#3684 ViewManager Events
  change/react-native-windows-2019-11-25-12-09-28-vmevents.json
  packages/microsoft-reactnative-sampleapps/index.windows.js
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/ReactPackageProvider.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/CustomUserControlViewManagerCS.cs
  vnext/Microsoft.ReactNative.SharedManaged/AttributedViewManager.cs
  vnext/Microsoft.ReactNative.SharedManaged/Microsoft.ReactNative.SharedManaged.projitems
  vnext/Microsoft.ReactNative.SharedManaged/ReactPackageBuilderExtensions.cs
  vnext/Microsoft.ReactNative.SharedManaged/ViewManagerAttributes.cs
  vnext/Microsoft.ReactNative.SharedManaged/ViewManagerEvent.cs
  vnext/Microsoft.ReactNative/ABIViewManager.cpp
  vnext/Microsoft.ReactNative/ABIViewManager.h
  vnext/Microsoft.ReactNative/IReactContext.cpp
  vnext/Microsoft.ReactNative/IReactContext.h
  vnext/Microsoft.ReactNative/IReactContext.idl
  vnext/Microsoft.ReactNative/IReactPackageBuilder.idl
  vnext/Microsoft.ReactNative/IViewManager.idl
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/ReactContext.cpp
  vnext/Microsoft.ReactNative/ReactContext.h
  vnext/Microsoft.ReactNative/ReactContext.idl
  vnext/Microsoft.ReactNative/ReactInstanceManager.cpp
  vnext/Microsoft.ReactNative/ReactInstanceManager.h
  vnext/Microsoft.ReactNative/ReactInstanceManager.idl
  vnext/Microsoft.ReactNative/ReactSupport.cpp
  vnext/Microsoft.ReactNative/ViewManagersProvider.cpp
Labels: vnext
