Repository microsoft/react-native-windows, pull requests merged in 2019-09, with the labels that each got.

#3053 Changed deploy output to use StdOut
  change/react-native-windows-2019-08-30-22-07-10-user-savatia-vscode-debugging.json
  vnext/local-cli/runWindows/utils/commandWithProgress.js
Labels: vnext

#3056 Change `_this` to `that` to match ESList consistent-this rules.
  change/react-native-windows-2019-09-03-10-08-01-htpiv-fix-consistent-this.json
  vnext/src/RNTester/AlertExample.windows.tsx
Labels: vnext

#3054 Update GettingStarted.md (current) to update react-native init command
  current/docs/GettingStarted.md
Labels: rnwcs

#3090 Update CreateStringResponseBody symbol in test DLL.
  change/react-native-windows-2019-09-05-02-38-17-HEAD.json
  change/react-native-windows-extended-2019-09-04-17-03-52-testdll-def-CreateStringResponseBody.json
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x64.def
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x86.def
Labels: AutoMerge, vnext

#3057 ReactUWP def cleanup and unit test fixes
  .github/CODEOWNERS
  change/react-native-windows-2019-09-03-10-27-06-unittestfix.json
  vnext/Microsoft.ReactNative.sln
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86sdx.def
  vnext/ReactWindows-UWP.sln
  vnext/ReactWindows.sln
  vnext/ReactWindowsCore/CreateModules.h
  vnext/Universal.UnitTests/Tests/CreateModulesTests.cpp
  vnext/Universal.UnitTests/Tests/CreateViewManagersTests.cpp
Labels: vnext

#3089 Fix certificate problem for ReactUWPTestApp and update CLI to support BUNDLE
  .gitignore
  change/react-native-windows-2019-09-04-17-17-34-tests.json
  packages/E2ETest/.gitignore
  packages/E2ETest/just-task.js
  packages/E2ETest/package.json
  packages/E2ETest/tsconfig.json
  packages/E2ETest/wdio.conf.js
  packages/E2ETest/windows/ReactUWPTestApp.sln
  packages/E2ETest/windows/ReactUWPTestApp/Package.appxmanifest
  packages/E2ETest/windows/ReactUWPTestApp/ReactTestPage.xaml.cs
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp.csproj
  vnext/local-cli/runWindows/runWindows.js
  vnext/local-cli/runWindows/utils/deploy.js
Labels: vnext

#3094 Fix issue with using getInt instead of asDouble for JSI
  change/react-native-windows-2019-09-05-14-52-58-a11yAsDouble.json
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  yarn.lock
Labels: AutoMerge

#3097 Remove appium.txt and update gitignore for reports
  .gitignore
  packages/E2ETest/.gitignore
  packages/E2ETest/reports/appium.txt
Labels: AutoMerge

#3059 Add MemoryMappedBuffer.
  change/react-native-windows-2019-09-03-18-28-41-MemoryMappedScriptStore.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.UnitTests/MemoryMappedBufferTests.cpp
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj.filters
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  vnext/ReactUwp.nuspec
  vnext/ReactWin32.nuspec
  vnext/ReactWindowsCore/MemoryMappedBuffer.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/Shared/MemoryMappedBuffer.cpp
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
Labels: vnext

#3098 Put desktop unit tests into namespaces.
  change/react-native-windows-2019-09-06-16-42-33-AddNamespaceToUts.json
  vnext/Desktop.ABITests/MemoryTrackerTests.cpp
  vnext/Desktop.UnitTests/AsyncStorageManagerTest.cpp
  vnext/Desktop.UnitTests/AsyncStorageTest.cpp
  vnext/Desktop.UnitTests/BaseWebSocketTests.cpp
  vnext/Desktop.UnitTests/BytecodeUnitTests.cpp
  vnext/Desktop.UnitTests/LayoutAnimationTests.cpp
  vnext/Desktop.UnitTests/MemoryMappedBufferTests.cpp
  vnext/Desktop.UnitTests/StringConversionTest_Desktop.cpp
  vnext/Desktop.UnitTests/UIManagerModuleTest.cpp
  vnext/Desktop.UnitTests/UnicodeConversionTest.cpp
  vnext/Desktop.UnitTests/UnicodeTestStrings.cpp
  vnext/Desktop.UnitTests/UnicodeTestStrings.h
  vnext/Desktop.UnitTests/UtilsTest.cpp
  vnext/Desktop.UnitTests/WebSocketJSExecutorTest.cpp
  vnext/Desktop.UnitTests/WebSocketModuleTest.cpp
  vnext/Desktop.UnitTests/WebSocketTest.cpp
Labels: vnext

#3100 Alphabetize def files
  change/react-native-windows-2019-09-06-16-42-00-AlphabetizeDefFiles.json
  vnext/Desktop.DLL/react-native-win32.oss.x64.def
  vnext/Desktop.DLL/react-native-win32.oss.x86.def
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.DLL/react-native-win32.x86sdx.def
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x64.def
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
Labels: AutoMerge, vnext

#3108 Fix Login E2E test failure
  change/react-native-windows-2019-09-10-10-21-46-SecureEntryTestFix.json
  packages/E2ETest/wdio/pages/LoginPage.ts
  packages/E2ETest/wdio/test/login.spec.ts
  vnext/ReactUWP/Views/ControlViewManager.cpp
Labels: vnext

#3114 Fix onPress not firing for Touchable* keyboard events
  change/react-native-windows-2019-09-10-14-48-28-fix-touchable-onkeyup-press.json
  vnext/src/Libraries/Components/Touchable/TouchableHighlight.windows.js
  vnext/src/Libraries/Components/Touchable/TouchableOpacity.windows.js
  vnext/src/Libraries/Components/Touchable/TouchableWithoutFeedback.windows.js
Labels: AutoMerge, vnext

#3132 Move publish build to Azure Dev Ops
  .ado/publish.yml
  .ado/setVersionEnvVars.js
  .github/workflows/publish.yml
Labels: AutoMerge

#3124 Tidy up PR build tasks
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#3134 Enable most desktop integration tests.
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-09-12-19-04-27-itfilter-enableall.json
  vnext/Scripts/IntegrationTests.ps1
  vnext/Scripts/UnitTest.ps1
Labels: AutoMerge

#3129 add more scripts to package.json in e2e
  change/react-native-windows-2019-09-11-10-32-12-addcommand.json
  packages/E2ETest/package.json
  vnext/local-cli/runWindows/runWindows.js
Labels: vnext

#3142 Remove LegacyWebSocket
  change/react-native-windows-2019-09-13-02-48-31-remove-legacyws.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop/CMakeLists.txt
  vnext/Desktop/LegacyWebSocket.cpp
  vnext/Desktop/LegacyWebSocket.h
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj.filters
  vnext/ReactWindowsCore/IWebSocket.h
Labels: AutoMerge, vnext

#3107 Switch the test runner from Mocha to Jasmine
  packages/E2ETest/package.json
  packages/E2ETest/tsconfig.json
  packages/E2ETest/wdio.conf.js
  packages/E2ETest/wdio/test/login.spec.ts
  packages/E2ETest/wdio/test/testInput.spec.ts
  yarn.lock
Labels: AutoMerge

#3139 Provide E2E test document
  change/react-native-windows-2019-09-12-13-52-54-md.json
  vnext/docs/E2ETest.md
  vnext/docs/GettingStarted.md
  vnext/docs/MoreAboutE2ETest.md
  vnext/docs/Testing.md
  vnext/docs/img/BadReadability.png
  vnext/docs/img/SetupOptions1.png
  vnext/docs/img/SetupOptions2.png
  vnext/docs/img/technicalDecision.png
  vnext/docs/img/wdioInternalDependencies.png
Labels: vnext

#3148 Lock version of react-native-windows-extended
  change/react-native-windows-extended-2019-09-14-06-53-29-lockrnwever.json
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
Labels: AutoMerge

#3131 Flyout shadow fix
  change/react-native-windows-2019-09-11-12-49-37-flyout-shadow-fix-4.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#3041 NativeAnimatedModule TrackingAnimatedNode
  change/react-native-windows-2019-08-02-14-47-40-SpringAnimation.json
  change/react-native-windows-extended-2019-08-02-14-47-40-SpringAnimation.json
  vnext/ReactUWP/Modules/Animated/AnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/AnimationDriver.h
  vnext/ReactUWP/Modules/Animated/DecayAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/DecayAnimationDriver.h
  vnext/ReactUWP/Modules/Animated/FrameAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/FrameAnimationDriver.h
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.cpp
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.h
  vnext/ReactUWP/Modules/Animated/SpringAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/SpringAnimationDriver.h
  vnext/ReactUWP/Modules/Animated/TrackingAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/TrackingAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/ValueAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/ValueAnimatedNode.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
Labels: vnext

#3167 Refreshing V8 bits and a few fixes
  change/react-native-windows-2019-09-18-10-27-56-HEAD.json
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/packages.config
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/packages.config
Labels: vnext

#3168 Consume ChakraCore.Debugger as a DLL
  change/react-native-windows-2019-09-18-00-38-16-ISS-3558107-chakradb-dll.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
Labels: AutoMerge, vnext

#3164 Support keyboardType for TextInput
  change/react-native-windows-2019-09-17-09-54-48-didarnw2.json
  packages/playground/Samples/textinput.tsx
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactUWP/Views/TextInputViewManager.h
Labels: vnext

#3153 merge E2E job to windows-vs-pr.yml
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#3169 Remove Universal projects from Desktop-only solution
  .ado/publish.yml
  .ado/templates/publish-build-artifacts-for-nuget.yml
  .ado/templates/vs-build.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-09-18-02-12-38-simplify-desktop-sln.json
  vnext/.npmignore
  vnext/Microsoft.ReactNative.sln
  vnext/ReactWindows-Desktop.sln
  vnext/ReactWindows-TestNuspec.bat
  vnext/ReactWindows-Universal.sln
  vnext/Scripts/ReactUwp.nuspec
  vnext/Scripts/ReactWin32.nuspec
  vnext/Scripts/Tfs/Layout-Headers.ps1
  vnext/Scripts/Tfs/Start-TestServers.ps1
  vnext/layoutFilesForNuget.bat
Labels: AutoMerge

#3174 CLI enhancement to avoid 'yarn run e2e' continue even if one of steps fail
  change/react-native-windows-2019-09-19-15-41-52-cli.json
  packages/E2ETest/package.json
  vnext/local-cli/runWindows/runWindows.js
  vnext/local-cli/runWindows/utils/deploy.js
Labels: vnext

#3238 Create stub StatusBarManager to avoid crash in NewAppScreen
  change/react-native-windows-2019-09-24-14-05-30-statusbarmgr.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Modules/StatusBarModule.cpp
  vnext/ReactUWP/Modules/StatusBarModule.h
  vnext/ReactUWP/ReactUWP.vcxproj
Labels: AutoMerge, vnext

#3176 Upgrade pipelines to Visual Studio 2019
  .ado/publish.yml
  .ado/templates/e2e-test-job.yml
  .ado/templates/publish-build-artifacts-for-nuget.yml
  .ado/templates/vs-build.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-09-19-20-53-01-azure-pipes-win2019.json
  current/ReactWindows/ChakraBridge/ChakraBridge.vcxproj
  current/ReactWindows/Playground/Playground.csproj
  current/ReactWindows/ReactNative.Tests/ReactNative.Tests.csproj
  current/ReactWindows/ReactNative/ReactNative.csproj
  current/ReactWindows/ReactNativeWebViewBridge/ReactNativeWebViewBridge.csproj
  current/local-cli/generator-windows/templates/proj/MyApp.csproj
  vnext/Folly/Folly.vcxproj
  vnext/ReactWindows-Desktop.sln
  vnext/ReactWindows-Universal.sln
  vnext/Scripts/Tfs/Install-VSFeatures.ps1
  vnext/docs/GettingStarted.md
Labels: AutoMerge

#3189 Fixing ETW tracing on Win32
  change/react-native-windows-2019-09-24-12-03-17-ETWFix.json
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/tracing/fbsystrace.h
  vnext/ReactWindowsCore/tracing/tracing.cpp
  vnext/Shared/OInstance.cpp
Labels: vnext

#3175 update E2E test document
  change/react-native-windows-2019-09-19-17-00-18-updatetestdoc.json
  vnext/docs/E2ETest.md
Labels: AutoMerge, vnext

#3251 Remove v8 related files from ReactCommon.vcxproj.
  change/react-native-windows-2019-09-25-14-28-07-remove-v8-from-rncommon.json
  vnext/ReactCommon/ReactCommon.vcxproj
Labels: AutoMerge, vnext

#3252 [DRAFT] Fix Publish definition
  .ado/publish.yml
Labels: AutoMerge

#3253 Only publish react-native-windows using vnext tag
  .ado/publish.yml
  .github/workflows/publish.yml
  change/react-native-windows-2019-09-25-14-58-40-npmtagging.json
  package.json
  vnext/package.json
  yarn.lock
Labels: AutoMerge

#3264 Update ConsumingRNW.md
  vnext/docs/ConsumingRNW.md
Labels: vnext

#3261 (0.59-vnext-stable): Pointer events don't transfer focus to the Flyout on Open (Issue #3154)
  change/react-native-windows-2019-09-24-14-50-43-flyout-focus-fix.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#3192 Pointer events don't transfer focus to the Flyout on Open (Issue #3154)
  change/react-native-windows-2019-09-24-14-50-43-flyout-focus-fix.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#3255 Use templates for main RNW build tasks.
  .ado/publish.yml
  .ado/templates/build-rnw.yml
  .ado/templates/prep-and-pack-nuget.yml
  .ado/templates/publish-build-artifacts-for-nuget.yml
  .ado/templates/vs-build.yml
  .ado/windows-vs-pr.yml
  .editorconfig
  .gitattributes
Labels: AutoMerge

#3265 Fix borderRadius property updates.
  change/react-native-windows-2019-08-29-11-57-53-master.json
  change/react-native-windows-extended-2019-08-26-16-25-48-ViewParenting.json
  vnext/ReactUWP/Utils/PropertyUtils.h
  vnext/ReactUWP/Views/ViewViewManager.cpp
Labels: AutoMerge, vnext

#3177 yarn add
  current/docs/GettingStarted.md
Labels: rnwcs

#3275 Bump up to latest published version.
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#3277 Add missing change files
  change/react-native-windows-2019-09-27-16-38-47-backport-0.59-publishfix5.json
  change/react-native-windows-extended-2019-09-27-16-38-47-backport-0.59-publishfix5.json
Labels: AutoMerge

#3276 Workaround folly break until folly PR lands
  change/react-native-windows-2019-09-27-16-18-29-follypatch.json
  vnext/Folly/Folly.vcxproj
  vnext/Folly/TEMP_UntilFollyUpdate/portability/Builtins.h
Labels: AutoMerge, vnext

#3279 Update to folly 2019.09.30.00
  change/react-native-windows-2019-09-30-09-25-10-updatefolly.json
  vnext/Folly/Folly.vcxproj
  vnext/Folly/TEMP_UntilFollyUpdate/portability/Builtins.h
  vnext/PropertySheets/ReactPackageDirectories.props
  vnext/Scripts/Tfs/Layout-Headers.ps1
  vnext/layoutFilesForNuget.bat
  yarn.lock
Labels: AutoMerge

#3281 Fix issues with animated module failing in certain scenarios
  change/react-native-windows-2019-09-30-11-48-25-CustomerIssues2.json
  change/react-native-windows-extended-2019-09-30-11-48-25-CustomerIssues2.json
  change/rnpm-plugin-windows-2019-09-30-11-48-25-CustomerIssues2.json
  change/rnpm-plugin-wpf-2019-09-30-11-48-25-CustomerIssues2.json
  packages/playground/Samples/animation.tsx
  vnext/ReactUWP/Modules/Animated/AnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/FrameAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.cpp
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.h
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/ValueAnimatedNode.cpp
Labels: vnext
