Repository microsoft/react-native-windows, pull requests merged in 2019-08, with the labels that each got.

#2868 Fix Image OnLoad never firing
  change/react-native-windows-2019-08-02-07-32-57-users-stecrain-fixImageOnLoad.json
  vnext/ReactUWP/Views/Image/ImageViewManager.cpp
  vnext/ReactUWP/Views/Image/ImageViewManager.h
Labels: vnext

#2862 Developer menu
  change/react-native-windows-2019-08-01-17-51-54-developer_menu.json
  packages/playground/windows/playground/HostingPane.xaml.cpp
  packages/playground/windows/playground/HostingPane.xaml.h
  vnext/ReactUWP/ABI/Instance_rt.cpp
  vnext/ReactUWP/ABI/Instance_rt.h
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/Views/KeyboardEventHandler.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
  vnext/Universal.IntegrationTests/UniversalTestInstance.cpp
  vnext/Universal.SampleApp/HostingPane.xaml.cpp
  vnext/Universal.SampleApp/HostingPane.xaml.h
  vnext/include/ReactUWP/IReactInstance.h
  vnext/include/ReactUWP/InstanceFactory.h
  vnext/include/ReactUWP/Views/KeyboardEventHandler.h
Labels: vnext

#2864 New switch props (thumbColor and trackColor), and fix bugs found in TextInputViewManager
  change/react-native-windows-2019-08-01-15-19-17-switchprops.json
  vnext/ReactUWP/Views/SwitchViewManager.cpp
  vnext/ReactUWP/Views/TextInputViewManager.cpp
Labels: vnext

#2858 Touchable focus event fixes
  change/react-native-windows-2019-07-31-12-56-17-touchableFocusFixes.json
  vnext/src/Libraries/Components/Touchable/TouchableHighlight.uwp.js
  vnext/src/Libraries/Components/Touchable/TouchableOpacity.uwp.js
  vnext/src/Libraries/Components/Touchable/TouchableWithoutFeedback.uwp.js
  vnext/src/RNTester/KeyboardFocusExample.uwp.tsx
Labels: vnext

#2867 Delay-load dependencies absent on Win7
  change/react-native-windows-2019-08-02-14-43-08-missing_win7_deps.json
  change/react-native-windows-extended-2019-08-02-14-43-08-missing_win7_deps.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
Labels: AutoMerge, vnext

#2847 Spring animation
  change/react-native-windows-2019-08-02-14-47-40-SpringAnimation.json
  change/react-native-windows-extended-2019-08-02-14-47-40-SpringAnimation.json
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.cpp
  vnext/ReactUWP/Modules/Animated/SpringAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/SpringAnimationDriver.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
Labels: vnext

#2869 Refreshing JSI interfaces to latest (UPDATED PR FROM FORK)
  change/react-native-windows-2019-08-02-17-19-52-JSIREFRESH2.json
  vnext/Chakra/ChakraJsiRuntime.cpp
  vnext/Chakra/ChakraJsiRuntime.h
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj.filters
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/package.json
Labels: vnext

#2880 Developer Menu shortcut key
  change/react-native-windows-2019-08-02-17-12-03-dev_menu_fix.json
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/local-cli/generator-windows/templates/App.windows.js
Labels: vnext

#2883 Update to react-native@0.59.0-microsoft.33
  change/playground-2019-08-04-21-58-38-auto-update-versions059.0microsoft.33.json
  change/react-native-windows-2019-08-04-21-58-36-auto-update-versions059.0microsoft.33.json
  change/react-native-windows-extended-2019-08-04-21-58-37-auto-update-versions059.0microsoft.33.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2884 Include additional jsi headers in nuget
  change/react-native-windows-2019-08-04-21-55-43-morejsi.json
  vnext/ReactUwp.nuspec
  vnext/ReactWin32.nuspec
  vnext/layoutFilesForNuget.bat
Labels: vnext

#2878 Fix text trmming issue for single line text
  change/react-native-windows-2019-08-02-15-28-12-TextTrim.json
  change/react-native-windows-extended-2019-08-02-15-28-12-TextTrim.json
  vnext/ReactUWP/Views/TextViewManager.cpp
Labels: vnext

#2886 Put back a couple of win32 dll exports
  change/react-native-windows-2019-08-05-09-33-28-moreexport.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
Labels: AutoMerge, vnext

#2885 Update to react-native@0.59.0-microsoft.34
  change/react-native-windows-2019-08-05-11-48-15-auto-update-versions059.0microsoft.34.json
  change/react-native-windows-extended-2019-08-05-11-48-16-auto-update-versions059.0microsoft.34.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2890 Update to react-native@0.59.0-microsoft.35
  change/react-native-windows-2019-08-06-00-52-28-auto-update-versions059.0microsoft.35.json
  change/react-native-windows-extended-2019-08-06-00-52-29-auto-update-versions059.0microsoft.35.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2891 Update to react-native@0.59.0-microsoft.36
  change/react-native-windows-2019-08-06-15-54-50-auto-update-versions059.0microsoft.36.json
  change/react-native-windows-extended-2019-08-06-15-54-51-auto-update-versions059.0microsoft.36.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2893 Update to react-native@0.59.0-microsoft.37
  change/react-native-windows-2019-08-06-20-37-26-auto-update-versions059.0microsoft.37.json
  change/react-native-windows-extended-2019-08-06-20-37-27-auto-update-versions059.0microsoft.37.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2898 Update to react-native@0.59.0-microsoft.38
  change/react-native-windows-2019-08-07-15-50-50-auto-update-versions059.0microsoft.38.json
  change/react-native-windows-extended-2019-08-07-15-50-51-auto-update-versions059.0microsoft.38.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2895 Adding RNW accessibility extensions to RNW ViewProps
  change/react-native-windows-2019-08-06-15-37-15-issue2894.json
  vnext/src/Libraries/Components/Touchable/TouchableHighlight.uwp.js
  vnext/src/Libraries/Components/Touchable/TouchableOpacity.uwp.js
  vnext/src/Libraries/Components/Touchable/TouchableWithoutFeedback.uwp.js
  vnext/src/Libraries/Components/View/ViewWindowsProps.ts
  vnext/src/RNTester/AccessibilityExample.tsx
Labels: vnext

#2896 Barebone hermes integration
  change/react-native-windows-2019-08-06-15-44-44-JSIREFRESH2.json
  vnext/Chakra/Chakra.vcxitems
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactUWP/Base/HermesRuntimeHolder.cpp
  vnext/ReactUWP/Base/HermesRuntimeHolder.h
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/packages.config
Labels: vnext

#2889 Initial commit of Microsoft.ReactNative
  change/react-native-windows-2019-08-06-09-17-31-microsoftreactnative.json
  vnext/Microsoft.ReactNative/ABIModule.cpp
  vnext/Microsoft.ReactNative/ABIModule.h
  vnext/Microsoft.ReactNative/HResult.h
  vnext/Microsoft.ReactNative/IBackgroundEventListener.idl
  vnext/Microsoft.ReactNative/ILifecycleEventListener.idl
  vnext/Microsoft.ReactNative/IReactPackage.idl
  vnext/Microsoft.ReactNative/LifecycleState.h
  vnext/Microsoft.ReactNative/MethodInfo.cpp
  vnext/Microsoft.ReactNative/MethodInfo.h
  vnext/Microsoft.ReactNative/MethodInfo.idl
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/NativeModuleBase.cpp
  vnext/Microsoft.ReactNative/NativeModuleBase.h
  vnext/Microsoft.ReactNative/NativeModuleBase.idl
  vnext/Microsoft.ReactNative/NativeModuleRegistry.cpp
  vnext/Microsoft.ReactNative/NativeModuleRegistry.h
  vnext/Microsoft.ReactNative/NativeModuleRegistry.idl
  vnext/Microsoft.ReactNative/NativeModulesProvider.cpp
  vnext/Microsoft.ReactNative/NativeModulesProvider.h
  vnext/Microsoft.ReactNative/PropertySheet.props
  vnext/Microsoft.ReactNative/ReactApplication.cpp
  vnext/Microsoft.ReactNative/ReactApplication.h
  vnext/Microsoft.ReactNative/ReactApplication.idl
  vnext/Microsoft.ReactNative/ReactApplicationDelegate.cpp
  vnext/Microsoft.ReactNative/ReactApplicationDelegate.h
  vnext/Microsoft.ReactNative/ReactApplicationDelegate.idl
  vnext/Microsoft.ReactNative/ReactContext.cpp
  vnext/Microsoft.ReactNative/ReactContext.h
  vnext/Microsoft.ReactNative/ReactContext.idl
  vnext/Microsoft.ReactNative/ReactInstance.cpp
  vnext/Microsoft.ReactNative/ReactInstance.h
  vnext/Microsoft.ReactNative/ReactInstance.idl
  vnext/Microsoft.ReactNative/ReactInstanceCreator.cpp
  vnext/Microsoft.ReactNative/ReactInstanceCreator.h
  vnext/Microsoft.ReactNative/ReactInstanceManager.cpp
  vnext/Microsoft.ReactNative/ReactInstanceManager.h
  vnext/Microsoft.ReactNative/ReactInstanceManager.idl
  vnext/Microsoft.ReactNative/ReactInstanceManagerBuilder.cpp
  vnext/Microsoft.ReactNative/ReactInstanceManagerBuilder.h
  vnext/Microsoft.ReactNative/ReactInstanceSettings.cpp
  vnext/Microsoft.ReactNative/ReactInstanceSettings.h
  vnext/Microsoft.ReactNative/ReactInstanceSettings.idl
  vnext/Microsoft.ReactNative/ReactNativeHost.cpp
  vnext/Microsoft.ReactNative/ReactNativeHost.h
  vnext/Microsoft.ReactNative/ReactNativeHost.idl
  vnext/Microsoft.ReactNative/ReactRootView.cpp
  vnext/Microsoft.ReactNative/ReactRootView.h
  vnext/Microsoft.ReactNative/ReactRootView.idl
  vnext/Microsoft.ReactNative/ReactSupport.cpp
  vnext/Microsoft.ReactNative/ReactSupport.h
  vnext/Microsoft.ReactNative/ViewManagersProvider.cpp
  vnext/Microsoft.ReactNative/ViewManagersProvider.h
  vnext/Microsoft.ReactNative/microsoft.reactnative.def
  vnext/Microsoft.ReactNative/packages.config
  vnext/Microsoft.ReactNative/pch.cpp
  vnext/Microsoft.ReactNative/pch.h
  vnext/Microsoft.ReactNative/readme.txt
Labels: vnext

#2904 Use junctions instead of symlinks on windows
  change/react-native-windows-2019-08-08-09-42-24-usejunc.json
  packages/playground/postinstall.js
  vnext/docs/BuildingRNW.md
Labels: vnext

#2859 Scroll viewer layoutbug
  change/react-native-windows-2019-07-31-16-18-01-ScrollViewerLayoutbug.json
  change/react-native-windows-extended-2019-08-02-13-57-41-ScrollViewerLayoutbug.json
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Modules/NativeUIManager.h
  vnext/ReactUWP/Views/PickerViewManager.cpp
  vnext/ReactUWP/Views/ShadowNodeBase.cpp
  vnext/include/ReactUWP/Views/ShadowNodeBase.h
Labels: vnext

#2905 Add textDecorationLine support to Nested Text
  change/react-native-windows-2019-08-08-12-58-13-TextProps.json
  vnext/ReactUWP/Views/VirtualTextViewManager.cpp
Labels: vnext

#2902 Fix Sample/Index layout, set Tag to Name in debug
  change/react-native-windows-2019-08-07-12-42-49-andrewh-DebuggingFixes.json
  packages/playground/Samples/index.tsx
  vnext/ReactUWP/Views/ViewManagerBase.cpp
Labels: AutoMerge, vnext

#2909 Added list, listitem roles to ViewAccessibility.uwp.js
  change/react-native-windows-2019-08-08-16-46-21-viewacc.json
  vnext/src/Libraries/Components/View/ViewAccessibility.uwp.js
  vnext/src/Libraries/DeprecatedPropTypes/DeprecatedViewAccessibility.uwp.js
Labels: vnext

#2911 Update to react-native@0.59.0-microsoft.40
  change/react-native-windows-2019-08-09-05-59-55-auto-update-versions059.0microsoft.40.json
  change/react-native-windows-extended-2019-08-09-05-59-56-auto-update-versions059.0microsoft.40.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2917 Update UwpPreparedScriptStore to use shared_ptrs
  change/react-native-windows-2019-08-09-12-02-28-scriptstorefixes.json
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.cpp
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.h
  yarn.lock
Labels: AutoMerge

#2910 update typing, examples for AppTheme
  change/react-native-windows-2019-08-08-19-39-16-appThemeTypingFixes.json
  vnext/src/Libraries/AppTheme/AppTheme.ts
  vnext/src/Libraries/AppTheme/AppTheme.uwp.ts
  vnext/src/Libraries/AppTheme/AppThemeTypes.ts
  vnext/src/RNTester/AccessibilityExample.tsx
  vnext/src/RNTester/ThemingExample.uwp.tsx
Labels: vnext

#2900 Fix excessive toggles on the Switch component
  change/react-native-windows-2019-08-07-11-10-11-switch_shimmy_fix.json
  vnext/src/Libraries/Components/Switch/Switch.uwp.tsx
  vnext/src/Libraries/Components/Switch/SwitchProps.ts
  vnext/src/index.uwp.ts
Labels: vnext

#2919 Update to react-native@0.59.0-microsoft.41
  change/react-native-windows-2019-08-10-19-34-13-auto-update-versions059.0microsoft.41.json
  change/react-native-windows-extended-2019-08-10-19-34-14-auto-update-versions059.0microsoft.41.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2923 Update to react-native@0.59.0-microsoft.42
  change/react-native-windows-2019-08-12-18-55-52-auto-update-versions059.0microsoft.42.json
  change/react-native-windows-extended-2019-08-12-18-55-54-auto-update-versions059.0microsoft.42.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2920 Improve UI of run-windows command
  change/react-native-windows-2019-08-10-21-53-58-runWindowsFormat.json
  vnext/local-cli/runWindows/runWindows.js
  vnext/local-cli/runWindows/utils/build.js
  vnext/local-cli/runWindows/utils/commandWithProgress.js
  vnext/local-cli/runWindows/utils/deploy.js
  vnext/local-cli/runWindows/utils/msbuildtools.js
  vnext/local-cli/runWindows/utils/winappdeploytool.js
  vnext/package.json
  yarn.lock
Labels: AutoMerge, vnext

#2924 Update to react-native@0.59.0-microsoft.43
  change/react-native-windows-2019-08-13-00-47-14-auto-update-versions059.0microsoft.43.json
  change/react-native-windows-extended-2019-08-13-00-47-16-auto-update-versions059.0microsoft.43.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2926 Change windows template to not use cli wrapper
  change/react-native-windows-2019-08-13-12-04-16-nocustomcli.json
  vnext/local-cli/generator-windows/index.js
Labels: vnext

#2935 WIP Add Alert Module
  change/react-native-windows-2019-08-15-11-26-57-alert.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Modules/AlertModuleUwp.cpp
  vnext/ReactUWP/Modules/AlertModuleUwp.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/src/Libraries/Modules/Alert/Alert.windows.ts
  vnext/src/RNTester/AlertExample.windows.tsx
  vnext/src/RNTester/RNTesterList.windows.ts
  vnext/src/index.ts
  vnext/src/index.windows.ts
Labels: vnext

#2942 restore accidental delete
  change/react-native-windows-2019-08-15-18-57-52-master.json
  vnext/ReactUWP/Modules/NativeUIManager.cpp
Labels: vnext

#2937 Adding batching messagequeue
  change/react-native-windows-2019-08-15-16-07-14-batchingqueue.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/Threading/UIMessageQueueThread.cpp
  vnext/ReactUWP/Threading/UIMessageQueueThread.h
  vnext/ReactWindowsCore/BatchingMessageQueueThread.h
  vnext/ReactWindowsCore/Modules/BatchingUIManagerModule.cpp
  vnext/ReactWindowsCore/Modules/BatchingUIManagerModule.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/Shared/OInstance.cpp
  vnext/dist/react-native-windows.d.ts
  vnext/docs/api/react-native-windows.alert.alert.md
  vnext/docs/api/react-native-windows.alert.md
  vnext/docs/api/react-native-windows.buttons.md
  vnext/docs/api/react-native-windows.md
  vnext/etc/react-native-windows.api.md
Labels: vnext

#2933 Flyout shadow fix2
  change/react-native-windows-2019-08-15-13-06-30-flyout-shadow-fix2.json
  change/react-native-windows-extended-2019-08-15-13-06-30-flyout-shadow-fix2.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2925 Update Flyout Placement Mapping For Pre-RS5
  change/react-native-windows-2019-08-13-12-59-23-cknestri-UpdatePlacementMapping.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2945 Fixed versions of rn, rnw in package.json
  packages/microsoft-reactnative-sampleapps/package.json
  yarn.lock
Labels: AutoMerge

#2944 Enable JSI engine selection in devsettings
  change/react-native-windows-2019-08-16-14-49-31-jsi-engine_override.json
  vnext/Chakra/Chakra.vcxitems
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/packages.config
  vnext/ReactWindowsCore/ChakraJSIRuntimeHolder.cpp
  vnext/ReactWindowsCore/ChakraJSIRuntimeHolder.h
  vnext/ReactWindowsCore/DevSettings.h
  vnext/ReactWindowsCore/HermesRuntimeHolder.cpp
  vnext/ReactWindowsCore/HermesRuntimeHolder.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/ReactWindowsCore/packages.config
  vnext/Shared/OInstance.cpp
  vnext/Shared/Shared.vcxitems
Labels: AutoMerge, vnext

#2947 Ignore dist folder in vnext
  change/react-native-windows-2019-08-16-21-52-46-ignoredist.json
  vnext/.gitignore
  vnext/dist/react-native-windows.d.ts
Labels: AutoMerge

#2951 Fix Flyout full placement mode
  change/react-native-windows-2019-08-19-12-50-39-flyout_fix.json
  change/react-native-windows-extended-2019-08-19-11-44-03-flyout_fix.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2955 Add ChakraCore to JSIEngineOverride.
  change/react-native-windows-2019-08-19-14-08-46-EditJSIEngineOverride.json
  vnext/ReactWindowsCore/DevSettings.h
  vnext/Shared/OInstance.cpp
Labels: AutoMerge, vnext

#2953 Fixed the Picker Component Export
  change/react-native-windows-2019-08-19-13-13-56-fix_picker_export.json
  vnext/src/Libraries/Components/Picker/Picker.windows.tsx
  vnext/src/index.windows.ts
Labels: AutoMerge, vnext

#2949 Add new warning to MsoFolly.h
  change/react-native-windows-2019-08-19-11-07-16-andrewh-msofollyupdate.json
  vnext/Desktop/msoFolly.h
Labels: vnext

#2958 Live reload fix
  change/react-native-windows-2019-08-19-22-43-52-liveReloadQueueFix.json
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
Labels: vnext

#2962 Minor fixes made in RN60 update that can be brought right to master
  change/react-native-windows-2019-08-20-11-01-47-minor.json
  change/react-native-windows-extended-2019-08-20-11-01-47-minor.json
  packages/playground/.eslintignore
  packages/react-native-windows-extended/.eslintignore
  vnext/.eslintignore
  vnext/Chakra/ChakraHelpers.cpp
  vnext/PropertySheets/ReactCommunity.cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj.filters
  vnext/ReactCommon/nov8.cpp
  vnext/ReactUWP/Modules/Animated/DecayAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/EventAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/FrameAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/SpringAnimationDriver.cpp
  vnext/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
  vnext/src/Libraries/AppTheme/AppTheme.windows.ts
Labels: AutoMerge, vnext

#2948 Light up the Inspector debugging tool
  change/react-native-windows-2019-08-19-15-09-05-inspector.json
  vnext/IntegrationTests/TestInstance.cpp
  vnext/IntegrationTests/TestInstance.h
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Modules/NativeUIManager.h
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
  vnext/ReactWindowsCore/INativeUIManager.h
  vnext/ReactWindowsCore/IUIManager.h
  vnext/ReactWindowsCore/Modules/UIManagerModule.cpp
  vnext/ReactWindowsCore/Modules/UIManagerModule.h
  vnext/ReactWindowsCore/ShadowNode.h
  vnext/src/Libraries/Inspector/Inspector.windesktop.js
  vnext/src/Libraries/Inspector/InspectorOverlay.windesktop.js
Labels: vnext

#2965 Fix playground solution build and Remove old playground app
  Directory.Build.props
  change/react-native-windows-2019-08-20-14-21-31-fixbuild.json
  packages/playground/windows/playground.sln
  vnext/.npmignore
  vnext/Directory.Build.props
  vnext/Playground/NuGet.Config
  vnext/Playground/Playground.sln
  vnext/Playground/Playground/App.xaml
  vnext/Playground/Playground/App.xaml.cs
  vnext/Playground/Playground/Assets/LockScreenLogo.scale-200.png
  vnext/Playground/Playground/Assets/SplashScreen.scale-200.png
  vnext/Playground/Playground/Assets/Square150x150Logo.scale-200.png
  vnext/Playground/Playground/Assets/Square44x44Logo.scale-200.png
  vnext/Playground/Playground/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  vnext/Playground/Playground/Assets/StoreLogo.png
  vnext/Playground/Playground/Assets/Wide310x150Logo.scale-200.png
  vnext/Playground/Playground/MainPage.xaml
  vnext/Playground/Playground/MainPage.xaml.cs
  vnext/Playground/Playground/Package.appxmanifest
  vnext/Playground/Playground/Playground.csproj
  vnext/Playground/Playground/Playground_TemporaryKey.pfx
  vnext/Playground/Playground/Properties/AssemblyInfo.cs
  vnext/Playground/Playground/Properties/Default.rd.xml
  vnext/Playground/Playground/index.windows.js
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
Labels: AutoMerge, vnext

#2966 Remove CliInit test from azuredevops
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#2967 Revert Flyout fix
  change/react-native-windows-2019-08-20-16-32-29-flyout_v2.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2963 Add safe default message queue
  change/react-native-windows-2019-08-20-11-20-04-messagequeuefix.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Threading/BatchingUIMessageQueueThread.cpp
  vnext/ReactUWP/Threading/BatchingUIMessageQueueThread.h
  vnext/ReactUWP/Threading/UIMessageQueueThread.cpp
  vnext/ReactUWP/Threading/UIMessageQueueThread.h
Labels: AutoMerge, vnext

#2970 Minor Fix For VS2019 Build
  change/react-native-windows-2019-08-20-18-51-35-abitest-vs2019-build-fix.json
  vnext/Desktop.ABITests/NativeTraceEventTests.cpp
Labels: vnext

#2968 View focus fixes, remove click fallback
  change/react-native-windows-2019-08-20-14-12-15-ViewFocusClickFixes.json
  vnext/ReactUWP/Views/ViewViewManager.cpp
Labels: vnext

#2960 V8
  change/react-native-windows-2019-08-20-14-50-17-V8.json
  change/react-native-windows-extended-2019-08-20-14-50-17-V8.json
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Utils/BaseScriptStoreImpl.cpp
  vnext/ReactUWP/Utils/BaseScriptStoreImpl.h
  vnext/ReactUWP/packages.config
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.cpp
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.h
  vnext/ReactWindowsCore/packages.config
Labels: vnext

#2973 Disable dynmaic_casting to BatchingMessageQueueThread on Win32
  change/react-native-windows-2019-08-21-15-13-45-DisableBatchingMessageQueueThread.json
  vnext/Shared/OInstance.cpp
Labels: AutoMerge, vnext

#2972 report more Networking errors to js
  change/react-native-windows-2019-08-21-13-38-20-NetworkErrorReporting.json
  vnext/ReactUWP/Modules/NetworkingModule.cpp
Labels: vnext

#2982 Update to react-native@0.59.0-microsoft.49
  change/react-native-windows-2019-08-22-19-38-20-auto-update-versions059.0microsoft.49.json
  change/react-native-windows-extended-2019-08-22-19-38-22-auto-update-versions059.0microsoft.49.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: AutoMerge, vnext

#2988 Turn off RTTI
  change/react-native-windows-2019-08-22-16-51-24-rtti.json
  change/react-native-windows-extended-2019-08-22-16-51-24-rtti.json
  packages/playground/windows/playground/Playground.vcxproj
  packages/react-native-windows-extended/windows/react-native-windows-extended.vcxproj
  vnext/Folly/Folly.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/Shared/OInstance.cpp
Labels: vnext

#2992 reduce Haul polling exceptions
  change/react-native-windows-2019-08-23-13-55-55-HaulPollingExceptions.json
  vnext/ReactUWP/Modules/DevSupportManagerUwp.cpp
  vnext/ReactUWP/Modules/WebSocketModuleUwp.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Utils/CppWinrtLessExceptions.h
Labels: vnext

#3001 Add optional V8 JSI executor support (disabled by default)
  change/react-native-windows-2019-08-26-12-54-50-jsi-v8win32.json
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/Shared/OInstance.cpp
  vnext/Shared/Shared.vcxitems
Labels: AutoMerge, vnext

#3009 Let View process color objects
  change/react-native-windows-2019-08-26-23-48-29-windowsbrush-view.json
  vnext/ReactUWP/Views/ViewViewManager.cpp
  yarn.lock
Labels: AutoMerge, vnext

#2990 Produce exportable test DLL
  change/react-native-windows-2019-08-23-14-41-24-ISS-3573550-testdll.json
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj.filters
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj.filters
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x64.def
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x86.def
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.Test.DLL/pch.cpp
  vnext/Desktop/React.Windows.Desktop.vcxproj.filters
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactWin32.nuspec
  vnext/ReactWindows.sln
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/Shared/Shared.vcxitems.filters
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/React.Windows.Test.vcxproj.filters
  vnext/Test/WebSocketServer.cpp
  vnext/Test/WebSocketServer.h
  vnext/Test/packages.config
  vnext/include/Include.vcxitems
  vnext/include/Include.vcxitems.filters
  vnext/layoutFilesForNuget.bat
Labels: AutoMerge

#3033 Set up CI with Azure Pipelines
  .ado/windows-vs-pr.yml
  .github/workflows/pr.yml
Labels: AutoMerge

#3017 Use package Microsoft Google Test package
  .ado/windows-vs-pr.yml
  .github/workflows/pr.yml
  change/react-native-windows-2019-08-27-16-33-11-vsgoogleut.json
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Scripts/IntegrationTests.ps1
Labels: AutoMerge, vnext

#3023 Enable V8 ScriptStore for win32
  change/react-native-windows-2019-08-27-16-51-16-jsi-v8scriptstore.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactWindowsCore/BaseScriptStoreImpl.cpp
  vnext/ReactWindowsCore/BaseScriptStoreImpl.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/Shared/OInstance.cpp
Labels: AutoMerge, vnext

#3013 Allow windowsbrush: color syntax to use non-SolidColor brushes
  change/react-native-windows-2019-08-27-12-05-40-enable-windowsbrush-nonsolidcolor.json
  vnext/ReactUWP/Utils/ValueUtils.cpp
  vnext/include/ReactUWP/Utils/ValueUtils.h
Labels: vnext

#3040 Fix view crash & layout issues
  change/react-native-windows-2019-08-29-11-57-53-master.json
  change/react-native-windows-extended-2019-08-26-16-25-48-ViewParenting.json
  packages/playground/Samples/view.tsx
  vnext/ReactUWP/Utils/PropertyUtils.h
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/ViewControl.cpp
  vnext/ReactUWP/Views/ViewPanel.cpp
  vnext/ReactUWP/Views/ViewViewManager.cpp
Labels: AutoMerge, vnext

#3005 Changed Alert Export
  change/react-native-windows-2019-08-27-10-00-31-master.json
  vnext/src/Libraries/Modules/Alert/Alert.windows.ts
  vnext/src/RNTester/AlertExample.windows.tsx
Labels: vnext

#3035 Updated Alert status
  change/react-native-windows-2019-08-29-16-05-57-w-yulikl-status.json
  vnext/docs/ParityStatus.md
Labels: AutoMerge, vnext

#3002 Systrace
  change/react-native-windows-2019-08-29-13-35-09-systrace.json
  vnext/Chakra/ChakraExecutor.cpp
  vnext/Chakra/ChakraTracing.cpp
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/ReactWindowsCore/etw/react_native_windows.h
  vnext/ReactWindowsCore/etw/react_native_windows.man
  vnext/ReactWindowsCore/tracing/fbsystrace.h
  vnext/ReactWindowsCore/tracing/tracing.cpp
  vnext/Shared/OInstance.cpp
Labels: AutoMerge, vnext

#3042 Fix double onPress issue in touchableOpacity
  change/react-native-windows-2019-08-29-17-25-49-users-ngbu-fix_touchableOpacity_doubleclick.json
  vnext/src/Libraries/Components/Touchable/TouchableOpacity.windows.js
Labels: vnext

#3049 Fix calling onPress twice in touchableHighlight and touchableWithoutFeedback
  change/react-native-windows-2019-08-30-11-04-44-users-ngbu-fix_touchable_doubleClick.json
  vnext/src/Libraries/Components/Touchable/TouchableHighlight.windows.js
  vnext/src/Libraries/Components/Touchable/TouchableWithoutFeedback.windows.js
Labels: AutoMerge, vnext

#3048 Added reload to developer menu
  change/react-native-windows-2019-08-27-10-00-31-master.json
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
Labels: vnext

#3043 Transform property does not properly transfer
  change/react-native-windows-2019-08-29-17-56-55-transformfix.json
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
Labels: vnext

#3051 Fix typo in .github/workflows/pr.yml
  .github/workflows/pr.yml
Labels: AutoMerge

#3047 Mark SnapPointManagingContentControl IsTabStop = False
  change/react-native-windows-2019-08-30-08-13-54-users-stecrain-scrollViewFocus.json
  vnext/ReactUWP/Views/Impl/SnapPointManagingContentControl.cpp
Labels: AutoMerge, vnext

#3038 Implement test HTTP server
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-08-28-18-13-03-ISS-2753508-httpserver.json
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x64.def
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x86.def
  vnext/ReactWin32.nuspec
  vnext/Test/HttpServer.cpp
  vnext/Test/HttpServer.h
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/React.Windows.Test.vcxproj.filters
Labels: AutoMerge, vnext
