Repository microsoft/react-native-windows, pull requests merged in 2019-12, with the labels that each got.

#3714 Update GettingStarted.md - fixed yarn command
  current/docs/GettingStarted.md
Labels: rnwcs

#3719 Port Important Changes in master to 0.59
  .ado/templates/e2e-test-job.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-12-03-13-48-52-enable-cfg-0.59.json
  vnext/PropertySheets/React.Cpp.props
Labels: vnext

#3720 Add support for custom ViewManagers with children
  change/react-native-windows-2019-12-04-14-34-40-vmparents.json
  packages/microsoft-reactnative-sampleapps/index.windows.js
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CircleViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CircleViewManagerCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/ReactPackageProvider.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleLibraryCPP.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleLibraryCPP.vcxproj.filters
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/CircleViewManagerCS.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/CustomUserControlViewManagerCS.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/SampleLibraryCS.csproj
  vnext/Microsoft.ReactNative.SharedManaged/AttributedViewManager.cs
  vnext/Microsoft.ReactNative/ABIViewManager.cpp
  vnext/Microsoft.ReactNative/ABIViewManager.h
  vnext/Microsoft.ReactNative/IViewManager.idl
Labels: vnext

#3731 Minor grammatical corrections.
  vnext/docs/CONTRIBUTING.md
Labels: vnext

#3651 Marking text component parity as complete
  vnext/docs/ParityStatus.md
Labels: vnext

#3555 Update ParityStatus.md
  vnext/docs/ParityStatus.md
Labels: vnext

#3729 Use ReactNative.V8JSI.Windows.0.1.6 and ReactNative.Hermes.Windows.0.1.6
  change/react-native-windows-2019-12-05-16-02-42-savespace.json
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/packages.config
Labels: vnext

#3745 Miscellaneous fixes in ETW tracing and Systrace
  change/react-native-windows-2019-12-09-21-30-05-TRACING_CURRENT.json
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/etw/build.bat
  vnext/ReactWindowsCore/etw/react_native_windows.h
  vnext/ReactWindowsCore/etw/react_native_windows.man
  vnext/ReactWindowsCore/etw/react_native_windows_etw_res.dll
  vnext/ReactWindowsCore/etw/register.bat
  vnext/ReactWindowsCore/tracing/fbsystrace.h
  vnext/ReactWindowsCore/tracing/tracing.cpp
  vnext/Shared/OInstance.cpp
Labels: vnext

#3767 Fix toggle debugger setting issue with ReactApplication
  change/react-native-windows-2019-12-12-16-22-29-instanceSettings.json
  vnext/Microsoft.ReactNative/ReactInstanceCreator.h
Labels: vnext

#3771 Delete .pch after build on pipeline
  change/react-native-windows-2019-12-13-11-33-23-PCHDelete.json
  vnext/Directory.Build.targets
Labels: vnext

#3768 Redirect build directory to C: on vs2017-win2016 build machine
  .ado/e2e-test.yml
  .ado/templates/build-rnw.yml
  .ado/templates/e2e-test-job.yml
  .ado/templates/prepare-env.yml
  .ado/templates/react-native-init.yml
  .ado/variables/msbuild.yml
  .ado/variables/vs2017.yml
  .ado/variables/vs2019.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-12-11-13-44-04-OneFolder.json
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleApp.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/SampleAppCS.csproj
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/SampleLibraryCS.csproj
  vnext/Directory.Build.props
  vnext/Microsoft.ReactNative.SharedManaged/AttributedViewManager.cs
Labels: AutoMerge

#3775 Added new unit test projects to ReactWindows-Universal solution.
  change/react-native-windows-2019-12-13-19-51-32-AddTestProjects.json
  vnext/Microsoft.ReactNative.Cxx.UnitTests/Microsoft.ReactNative.Cxx.UnitTests.vcxproj
  vnext/Microsoft.ReactNative.Cxx.UnitTests/main.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValue.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValue.h
  vnext/Microsoft.ReactNative.Cxx/JSValueReader.h
  vnext/Microsoft.ReactNative.Cxx/JSValueWriter.h
  vnext/Microsoft.ReactNative.Cxx/NativeModules.h
  vnext/Microsoft.ReactNative.Managed.UnitTests/JSValueReaderTest.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValue.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueGenerator.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueReader.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueReaderGenerator.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueWriter.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueWriterGenerator.cs
  vnext/Microsoft.ReactNative.SharedManaged/OneOf.cs
  vnext/Microsoft.ReactNative/pch.h
  vnext/ReactWindows-Universal.sln
  yarn.lock
Labels: AutoMerge

#3702 Update document for removing ReleaseBundle and DebugBundle
  change/react-native-windows-2019-11-25-11-54-34-updatedoc.json
  vnext/docs/ConsumingRNW.md
Labels: vnext

#3781 CLI reads name from app.json if it doesn't exist in package.json
  change/rnpm-plugin-windows-2019-12-16-13-38-43-nugetver.json
  current/local-cli/rnpm/windows/src/common.js
Labels: AutoMerge, rnwcs

#3784 Change CLI to add prompt if no --template parameter is supplied
  change/rnpm-plugin-windows-2019-12-16-15-28-08-cli_chooser.json
  current/local-cli/rnpm/windows/src/windows.js
Labels: Area: CLI, vnext

#3789 Port windowsbrush code into react-native-windows
  change/react-native-windows-2019-12-16-18-55-30-windowsBrush.json
  vnext/src/Libraries/Color/normalizeColor.windows.js
  vnext/src/Libraries/Components/ActivityIndicator/ActivityIndicator.windows.js
  vnext/src/Libraries/Components/ActivityIndicator/RCTActivityIndicatorViewNativeComponent.windows.js
  vnext/src/Libraries/Components/Picker/RCTPickerNativeComponent.windows.js
  vnext/src/Libraries/Components/Switch/SwitchNativeComponent.windows.js
  vnext/src/Libraries/ReactNative/getNativeComponentAttributes.windows.js
  vnext/src/Libraries/StyleSheet/StyleSheetTypes.windows.js
  vnext/src/Libraries/StyleSheet/processColor.windows.js
  vnext/src/RNTester/RNTesterList.windows.ts
  vnext/src/RNTester/WindowsBrushExample.windows.tsx
Labels: vnext

#3802 Renamed C# and C++ SampleApp projects identifiers
  packages/microsoft-reactnative-sampleapps/index.windows.js
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/App.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/App.h
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/App.idl
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/App.xaml
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/DebugConsole.h
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/Package.appxmanifest
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/ReactPackageProvider.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/ReactPackageProvider.h
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/pch.h
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/App.xaml
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/App.xaml.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/DebugConsole.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/Package.appxmanifest
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/Properties/AssemblyInfo.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/SampleAppCS.csproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCpp/SampleAppCpp.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCpp/SampleAppCpp.vcxproj.filters
  packages/microsoft-reactnative-sampleapps/windows/SampleApps.sln
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CircleViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CircleViewManagerCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlCPP.idl
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/DebugHelpers.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/DebugHelpers.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/ReactPackageProvider.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/ReactPackageProvider.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/ReactPackageProvider.idl
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleLibraryCPP.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleLibraryCPP.vcxproj.filters
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleModuleCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/Themes/Generic.xaml
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/readme.txt
Labels: AutoMerge

#3773 reduce build flavors for RNWUniversalPR
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#3730 Get flow clean, and turn on flow-check during build
  change/react-native-windows-2019-12-05-17-31-34-flowcheck.json
  package.json
  vnext/.eslintignore
  vnext/.flowconfig
  vnext/.gitignore
  vnext/CHANGELOG.json
  vnext/IntegrationTests/XHRTest.js
  vnext/Scripts/copyRNLibraries.js
  vnext/just-task.js
  vnext/package.json
  vnext/src/IntegrationTests/XHRTest.js
  vnext/src/Libraries/Alert/Alert.windows.js
  vnext/src/Libraries/Components/RefreshControl/RefreshControl.windows.js
  vnext/src/Libraries/Components/SafeAreaView/SafeAreaView.windows.js
  vnext/src/Libraries/Components/ScrollView/ScrollView.windows.js
  vnext/src/Libraries/Components/Touchable/TouchableHighlight.windows.js
  vnext/src/Libraries/Components/Touchable/TouchableOpacity.windows.js
  vnext/src/Libraries/Components/Touchable/TouchableWithoutFeedback.windows.js
  vnext/src/Libraries/Components/View/ViewAccessibility.windows.js
  vnext/src/Libraries/Components/View/ViewPropTypes.windows.js
  vnext/src/Libraries/Components/WebView/WebView.windows.js
  vnext/src/Libraries/Image/Image.windows.js
  vnext/src/Libraries/Linking/NativeLinking.windows.js
  vnext/src/Libraries/Network/RCTNetworking.windows.js
  vnext/src/Libraries/StyleSheet/processColorObject.windows.js
  vnext/src/Libraries/Types/CoreEventTypes.js
  vnext/src/Libraries/Utilities/Platform.windows.js
  vnext/src/RNTester.ts
  vnext/src/RNTester/RNTesterActions.windows.ts
  vnext/src/RNTester/RNTesterNavigationReducer.windows.ts
  vnext/src/RNTester/js/AccessibilityExampleWindows.tsx
  vnext/src/RNTester/js/CustomViewExample.windows.tsx
  vnext/src/RNTester/js/DatePickerExample.windows.tsx
  vnext/src/RNTester/js/FastTextExample.windows.tsx
  vnext/src/RNTester/js/FlyoutExample.windows.tsx
  vnext/src/RNTester/js/GlyphExample.tsx
  vnext/src/RNTester/js/KeyboardExample.tsx
  vnext/src/RNTester/js/KeyboardExtensionExample.windows.tsx
  vnext/src/RNTester/js/KeyboardFocusExample.windows.tsx
  vnext/src/RNTester/js/PickerWindowsExample.tsx
  vnext/src/RNTester/js/PopupExample.windows.tsx
  vnext/src/RNTester/js/RNTesterApp.windows.tsx
  vnext/src/RNTester/js/RNTesterList.windows.ts
  vnext/src/RNTester/js/TextExample.windows.tsx
  vnext/src/RNTester/js/TextInputExample.windows.tsx
  vnext/src/RNTester/js/ThemingExample.windows.tsx
  vnext/src/RNTester/js/TransferProperties.tsx
  yarn.lock
Labels: AutoMerge

#3812 Export ability to query names of loaded native modules
  change/react-native-windows-2019-12-20-12-01-31-0.59-vnext-stable.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
Labels: AutoMerge, vnext

#3811 Remove remaining need for fork of RN for win32 JS
  change/@office-iss-react-native-win32-2019-12-20-11-19-05-win32defork.json
  change/react-native-windows-2019-12-20-15-20-03-win32defork.json
  packages/react-native-win32/package.json
  packages/react-native-win32/src/Libraries/Components/TextInput/TextInputState.win32.js
  packages/react-native-win32/src/Libraries/StyleSheet/StyleSheet.win32.js
  packages/react-native-win32/src/Libraries/YellowBox/UI/YellowBoxList.win32.js
  vnext/src/RNTester/js/WindowsBrushExample.windows.tsx
Labels: AutoMerge

#3813 Export ability to query names of loaded native modules (master branch)
  change/react-native-windows-2019-12-20-12-33-14-master.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
Labels: AutoMerge, vnext

#3809 Changed Microsoft.ReactNative to be independent from ReactUWP
  change/react-native-windows-2019-12-20-09-13-44-NoReactUWP.json
  packages/E2ETest/windows/ReactUWPTestApp.sln
  packages/E2ETest/windows/ReactUWPTestApp/Assets/TreeDump/ControlStyleRegularBorder.txt
  packages/E2ETest/windows/ReactUWPTestApp/Assets/TreeDump/ControlStyleRoundBorder.txt
  packages/E2ETest/windows/ReactUWPTestApp/Assets/TreeDump/ImageWithBorder.txt
  packages/E2ETest/windows/ReactUWPTestApp/Assets/TreeDump/ImageWithoutBorder-Subsequent.txt
  packages/E2ETest/windows/ReactUWPTestApp/Assets/TreeDump/ImageWithoutBorder.txt
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleAppCpp.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleApps.sln
  vnext/JSI/Shared/JSI.Shared.vcxitems
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Microsoft.ReactNative/ReactNativeHost.cpp
  vnext/Microsoft.ReactNative/ReactNativeHost.h
  vnext/Microsoft.ReactNative/ReactNativeHost.idl
  vnext/Microsoft.ReactNative/ReactRootView2.cpp
  vnext/Microsoft.ReactNative/ReactRootView2.h
  vnext/Microsoft.ReactNative/ReactRootView2.idl
  vnext/Microsoft.ReactNative/packages.config
  vnext/Microsoft.ReactNative/pch.h
  vnext/ReactUWP/Views/DynamicAutomationPeer.cpp
  vnext/ReactUWP/Views/DynamicAutomationPeer.h
  vnext/ReactUWP/Views/DynamicAutomationProperties.cpp
  vnext/ReactUWP/Views/DynamicAutomationProperties.h
  vnext/ReactUWP/Views/ViewControl.cpp
  vnext/ReactUWP/Views/ViewControl.h
  vnext/ReactUWP/Views/ViewPanel.cpp
  vnext/ReactUWP/Views/ViewPanel.h
  vnext/ReactUWP/Views/cppwinrt/AccessibilityAction.idl
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.idl
  vnext/ReactUWP/Views/cppwinrt/ViewPanel.idl
  vnext/ReactWindows-Universal.sln
Labels: AutoMerge, vnext
