Repository microsoft/react-native-windows, pull requests merged in 2019-07, with the labels that each got.

#2707 fix Animated shutdown crash
  vnext/ReactUWP/Modules/Animated/AnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/AnimationDriver.h
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.cpp
Labels: vnext

#2711 Update to react-native@0.59.0-microsoft.8
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2709 Enforce correct platform toolset
  vnext/.editorconfig
  vnext/Folly/Folly.vcxproj
  vnext/IntegrationTestScripts/IntegrationTests.njsproj
  vnext/Playground/Playground/Playground.csproj
  vnext/PropertySheets/React.Cpp.props
  vnext/docs/GettingStarted.md
  vnext/local-cli/generator-windows/templates/proj/MyApp.csproj
Labels: vnext

#2713 Implementing accessibility states and roles to support a custom Checkbox/Switch
  vnext/ReactUWP/Utils/AccessibilityUtils.cpp
  vnext/ReactUWP/Views/DynamicAutomationPeer.cpp
  vnext/ReactUWP/Views/DynamicAutomationPeer.h
  vnext/ReactUWP/Views/DynamicAutomationProperties.cpp
  vnext/ReactUWP/Views/DynamicAutomationProperties.h
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/ViewPanel.cpp
  vnext/ReactUWP/Views/ViewPanel.h
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.g.h
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.idl
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationProperties.g.h
  vnext/ReactUWP/Views/cppwinrt/ViewControl.g.h
  vnext/ReactUWP/Views/cppwinrt/ViewPanel.g.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.0.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.1.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.2.h
  vnext/ReactUWP/Views/cppwinrt/winrt/react.uwp.h
  vnext/include/ReactUWP/Utils/AccessibilityUtils.h
  vnext/include/ReactUWP/Views/FrameworkElementViewManager.h
  vnext/src/RNTester/AccessibilityExample.tsx
Labels: vnext

#2715 more getInt fixes for JSI mode
  vnext/Desktop.UnitTests/EmptyUIManagerModule.cpp
  vnext/Desktop/Executors/WebSocketJSExecutor.cpp
  vnext/Desktop/Sandbox/NamedPipeEndpoint.cpp
  vnext/Desktop/Sandbox/SandboxBridge.cpp
  vnext/ReactUWP/Executors/WebSocketJSExecutorUwp.cpp
  vnext/ReactUWP/Modules/Animated/AnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/StyleAnimatedNode.cpp
Labels: AutoMerge, vnext

#2719 add version resource to react.uwp.dll
  .ado/publish.yml
  .ado/updateVersion.js
  .ado/versionUtils.js
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Version.rc
Labels: vnext

#2717 Use full pdbs in debug
  vnext/PropertySheets/DynamicLibrary/Debug.props
Labels: vnext

#2714 add error handling in NetworkingModule
  vnext/ReactUWP/Modules/NetworkingModule.cpp
Labels: vnext

#2720 Update to latest just-scripts
  vnext/.eslintignore
  vnext/IntegrationTests/XHRTest.js
  vnext/Libraries/Image/Image.uwp.js
  vnext/Universal.SampleApp/view.uwp.js
  vnext/package.json
  vnext/src/Libraries/AppTheme/AppTheme.ts
  vnext/src/Libraries/AppTheme/AppTheme.uwp.ts
  vnext/src/Libraries/AppTheme/AppThemeTypes.ts
  vnext/src/Libraries/Components/AccessibilityInfo/AccessibilityInfo.uwp.ts
  vnext/src/Libraries/Components/CheckBox/CheckBoxProps.ts
  vnext/src/Libraries/Components/DatePicker/DatePicker.uwp.tsx
  vnext/src/Libraries/Components/DatePicker/DatePickerProps.ts
  vnext/src/Libraries/Components/Flyout/Flyout.uwp.tsx
  vnext/src/Libraries/Components/Flyout/FlyoutProps.ts
  vnext/src/Libraries/Components/Keyboard/KeyboardExt.tsx
  vnext/src/Libraries/Components/Keyboard/KeyboardExt.uwp.tsx
  vnext/src/Libraries/Components/Popup/Popup.uwp.tsx
  vnext/src/Libraries/Components/Popup/PopupProps.ts
  vnext/src/Libraries/Components/Touchable/TouchableNativeFeedback.uwp.tsx
  vnext/src/Libraries/Components/View/ViewWindowsProps.ts
  vnext/src/RNTester/AccessibilityExample.tsx
  vnext/src/RNTester/CustomViewExample.uwp.tsx
  vnext/src/RNTester/DatePickerExample.uwp.tsx
  vnext/src/RNTester/FlyoutExample.uwp.tsx
  vnext/src/RNTester/GlyphExample.tsx
  vnext/src/RNTester/KeyboardExample.tsx
  vnext/src/RNTester/KeyboardExtensionExample.uwp.tsx
  vnext/src/RNTester/KeyboardFocusExample.uwp.tsx
  vnext/src/RNTester/PickerUWPExample.tsx
  vnext/src/RNTester/PopupExample.uwp.tsx
  vnext/src/RNTester/RNTesterActions.ts
  vnext/src/RNTester/RNTesterApp.uwp.tsx
  vnext/src/RNTester/RNTesterList.uwp.ts
  vnext/src/RNTester/RNTesterNavigationReducer.ts
  vnext/src/RNTester/TextExample.uwp.tsx
  vnext/src/RNTester/TextInputExample.uwp.tsx
  vnext/src/RNTester/ThemingExample.uwp.tsx
  vnext/src/index.uwp.ts
  vnext/yarn.lock
Labels: vnext

#2724 Update to react-native@0.59.0-microsoft.10
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2726 Update to react-native@0.59.0-microsoft.11
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2725 Fix crash in Transform code
  vnext/.npmignore
  vnext/ReactUWP/Views/ExpressionAnimationStore.cpp
  vnext/ReactUWP/Views/ExpressionAnimationStore.h
Labels: vnext

#2705 [Part 1] Implement windowsbrush
  vnext/ReactUWP/Polyester/IconViewManager.cpp
  vnext/ReactUWP/Utils/PropertyUtils.h
  vnext/ReactUWP/Utils/ValueUtils.cpp
  vnext/ReactUWP/Views/PickerViewManager.cpp
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactUWP/Views/TextViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/include/ReactUWP/Utils/ValueUtils.h
Labels: AutoMerge, vnext

#2706 introduce focus safe habor for new focus/blur implementation
  vnext/IntegrationTests/TestInstance.cpp
  vnext/IntegrationTests/TestInstance.h
  vnext/ReactUWP/ABI/ReactControl_rt.cpp
  vnext/ReactUWP/ABI/ReactControl_rt.h
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Modules/NativeUIManager.h
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
  vnext/ReactUWP/Views/ReactRootView.cpp
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactUWP/Views/TextInputViewManager.h
  vnext/ReactUWP/Views/ViewManagerBase.cpp
  vnext/ReactWindowsCore/INativeUIManager.h
  vnext/ReactWindowsCore/IUIManager.h
  vnext/ReactWindowsCore/Modules/BatchingUIManagerModule.cpp
  vnext/ReactWindowsCore/Modules/BatchingUIManagerModule.h
  vnext/ReactWindowsCore/Modules/UIManagerModule.cpp
  vnext/ReactWindowsCore/Modules/UIManagerModule.h
  vnext/ReactWindowsCore/ShadowNodeRegistry.cpp
  vnext/ReactWindowsCore/ShadowNodeRegistry.h
  vnext/include/ReactUWP/IXamlRootView.h
  vnext/include/ReactUWP/ReactRootView.h
  vnext/include/ReactUWP/Views/FrameworkElementViewManager.h
  vnext/src/Libraries/Components/TextInput/TextInputState.uwp.js
Labels: AutoMerge, vnext

#2733 Workaround for overlapping flyout shadows
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2736 Update to react-native@0.59.0-microsoft.12
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2646 Cleanup various files from the npm package
  .ado/templates/publish-build-artifacts-for-nuget.yml
  vnext/.npmignore
  vnext/ReactWindows-CopyToStaging.bat
  vnext/Scripts/Bootstrap.ps1
  vnext/Scripts/build-windows.js
  vnext/Scripts/react-windows-constants.js
  vnext/Scripts/replaceRNDependency.js
  vnext/Scripts/update-facebook-master.js
  vnext/layoutFilesForNuget.bat
Labels: AutoMerge

#2710 Fix issues with animated module to get section list off the floor.
  vnext/ReactUWP/Modules/Animated/AnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/FrameAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/InterpolationAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/InterpolationAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.cpp
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/ValueAnimatedNode.h
  vnext/ReactUWP/Views/KeyboardEventHandler.cpp
  vnext/package.json
  vnext/src/RNTester/RNTesterList.uwp.ts
Labels: vnext

#2743 Implementing 'list' and 'listitem' accessibilityRoles
  .clang-format-ignore
  vnext/ReactUWP/Views/DynamicAutomationPeer.cpp
  vnext/ReactUWP/Views/DynamicAutomationPeer.h
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/ViewPanel.cpp
  vnext/ReactUWP/Views/ViewPanel.h
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/ReactUWP/Views/cppwinrt/BorderEffect.g.h
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.g.h
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.idl
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationProperties.g.h
  vnext/ReactUWP/Views/cppwinrt/ViewControl.g.h
  vnext/ReactUWP/Views/cppwinrt/ViewPanel.g.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.0.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.1.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.2.h
  vnext/ReactUWP/Views/cppwinrt/winrt/react.uwp.h
  vnext/ReactUWP/Views/module.g.cpp
  vnext/ReactWindows-UWP.sln
  vnext/src/RNTester/AccessibilityExample.tsx
  vnext/src/RNTester/RNTesterApp.uwp.tsx
Labels: AutoMerge, vnext

#2737 improve TouchEventHandler conclude
  vnext/ReactUWP/Views/TouchEventHandler.cpp
Labels: vnext

#2742 Flyout container size fix for full view
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2746 Use auto_revoke in vNext to avoid random crash and remove some winrt namespace and #include headers
  vnext/ReactUWP/Polyester/ButtonViewManager.cpp
  vnext/ReactUWP/Polyester/ButtonViewManager.h
  vnext/ReactUWP/Views/ActivityIndicatorViewManager.cpp
  vnext/ReactUWP/Views/CheckboxViewManager.cpp
  vnext/ReactUWP/Views/ControlViewManager.cpp
  vnext/ReactUWP/Views/DatePickerViewManager.cpp
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/PickerViewManager.cpp
  vnext/ReactUWP/Views/PopupViewManager.cpp
  vnext/ReactUWP/Views/ShadowNodeBase.cpp
  vnext/ReactUWP/Views/SwitchViewManager.cpp
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactUWP/Views/TextViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.h
Labels: AutoMerge, vnext

#2749 Fix for immediate live reload
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Modules/DevSupportManagerUwp.cpp
Labels: vnext

#2750 Conditionalize the flyout shadow rendering fix to existence of property
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: AutoMerge, vnext

#2747 Disable default border on flyouts
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2754 Update to react-native@0.59.0-microsoft.14
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2764 Update to react-native@0.59.0-microsoft.15
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2756 Implementing remaining RN60 accessibilityState values, #2575
  vnext/ReactUWP/Views/DynamicAutomationPeer.cpp
  vnext/ReactUWP/Views/DynamicAutomationPeer.h
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.g.h
  vnext/ReactUWP/Views/cppwinrt/DynamicAutomationPeer.idl
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.0.h
  vnext/ReactUWP/Views/cppwinrt/winrt/impl/react.uwp.2.h
  vnext/ReactUWP/Views/cppwinrt/winrt/react.uwp.h
  vnext/src/RNTester/AccessibilityExample.tsx
Labels: vnext

#2763 update AppTheme stub for non-windows
  vnext/src/Libraries/AppTheme/AppTheme.ts
Labels: vnext

#2766 Animation crash fix
  vnext/ReactUWP/Modules/Animated/ValueAnimatedNode.cpp
Labels: vnext

#2769 Update to react-native@0.59.0-microsoft.16
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2767 clang-format: add rule for pch.h and generated files
  .clang-format
  vnext/Universal.UnitTests/App.xaml.cpp
  vnext/Universal.UnitTests/MainPage.xaml.cpp
  vnext/Universal.UnitTests/Tests/StringConversionTests_Universal.cpp
Labels: AutoMerge

#2772 Updated SampleApp with drop-down of available samples
  vnext/Universal.SampleApp/HostingPane.xaml
  vnext/Universal.SampleApp/HostingPane.xaml.cpp
  vnext/Universal.SampleApp/HostingPane.xaml.h
Labels: AutoMerge, vnext

#2753 TouchableXX invokes from JS
  vnext/ReactUWP/Utils/Helpers.cpp
  vnext/ReactUWP/Utils/Helpers.h
  vnext/ReactUWP/Views/KeyboardEventHandler.cpp
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.h
  vnext/src/Libraries/Components/Touchable/TouchableHighlight.uwp.js
  vnext/src/Libraries/Components/Touchable/TouchableOpacity.uwp.js
Labels: AutoMerge, vnext

#2774 Reduce changes needed for uwp in fork
  vnext/package.json
  vnext/src/Libraries/Components/Button.uwp.js
  vnext/src/Libraries/Components/Button.windesktop.js
  vnext/src/Libraries/Components/ScrollView/ScrollView.windesktop.js
  vnext/src/Libraries/Components/TextInput/TextInput.windesktop.js
  vnext/src/Libraries/YellowBox/UI/YellowBoxList.windesktop.js
  vnext/yarn.lock
Labels: vnext

#2776 StopAnimation fixes
  vnext/ReactUWP/Modules/Animated/AnimationDriver.cpp
Labels: vnext

#2656 ABI-Safety tool chain for react-native-win32.dll
  vnext/Desktop.ABITests/ActivationFactory.cpp
  vnext/Desktop.ABITests/MemoryTrackerTests.cpp
  vnext/Desktop.ABITests/MessageQueueShim.cpp
  vnext/Desktop.ABITests/MessageQueueShim.h
  vnext/Desktop.ABITests/NativeLogEventTests.cpp
  vnext/Desktop.ABITests/NativeTraceEventTests.cpp
  vnext/Desktop.ABITests/PerfTests.cpp
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj.filters
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj.filters
  vnext/Desktop/ABI/MemoryTracker.cpp
  vnext/Desktop/ABI/MemoryTracker.h
  vnext/Desktop/ABI/MemoryTracker.idl
  vnext/Desktop/ABI/MessageQueue.idl
  vnext/Desktop/ABI/MessageQueueShim.cpp
  vnext/Desktop/ABI/MessageQueueShim.h
  vnext/Desktop/ABI/NativeLogEventSource.cpp
  vnext/Desktop/ABI/NativeLogEventSource.h
  vnext/Desktop/ABI/NativeLogging.idl
  vnext/Desktop/ABI/NativeTraceEventSource.cpp
  vnext/Desktop/ABI/NativeTraceEventSource.h
  vnext/Desktop/ABI/NativeTracing.idl
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj.filters
  vnext/Desktop/packages.config
  vnext/IntegrationTests/ControllableMessageQueueThread.cpp
  vnext/IntegrationTests/ControllableMessageQueueThread.h
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj.filters
  vnext/IntegrationTests/TestMessageQueueThread.cpp
  vnext/IntegrationTests/TestMessageQueueThread.h
  vnext/JSI.Desktop.UnitTests/ChakraCoreRuntimeUnitTests.cpp
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/ReactWindows.sln
Labels: vnext

#2785 Fix Focus/Blur events, bring back space/enter handling temporarily
  vnext/ReactUWP/Polyester/ButtonViewManager.cpp
  vnext/ReactUWP/Polyester/ButtonViewManager.h
  vnext/ReactUWP/Polyester/ContentControlViewManager.cpp
  vnext/ReactUWP/Polyester/ContentControlViewManager.h
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.h
Labels: AutoMerge, vnext

#2659 Updates to the latest version of Rx.Net
  current/ReactWindows/Playground.Net46/App.config
  current/ReactWindows/ReactNative.Net46.Tests/ReactNative.Net46.Tests.csproj
  current/ReactWindows/ReactNative.Net46.Tests/app.config
  current/ReactWindows/ReactNative.Net46.Tests/packages.config
  current/ReactWindows/ReactNative.Net46/ReactNative.Net46.csproj
  current/ReactWindows/ReactNative.Net46/app.config
  current/ReactWindows/ReactNative.Net46/packages.config
  current/ReactWindows/ReactNative/ReactNative.csproj
Labels: AutoMerge, rnwcs

#2793 fix(Metro): fixes hasteImpl path for v59
  current/metro.config.js
Labels: rnwcs

#2794 Patch for run-windows command
  current/local-cli/runWindows/runWindows.js
  current/local-cli/runWindows/utils/deploy.js
  current/local-cli/runWpf/runWpf.js
  current/local-cli/runWpf/utils/deploy.js
Labels: rnwcs

#2781 Touch event fix for flyouts/popups.
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/PopupViewManager.cpp
  vnext/include/ReactUWP/Views/ShadowNodeBase.h
Labels: vnext

#2798 Fast path Text from native code
  vnext/ReactUWP/Views/RawTextViewManager.cpp
  vnext/ReactUWP/Views/TextViewManager.cpp
  vnext/src/RNTester/FastTextExample.uwp.tsx
  vnext/src/RNTester/RNTesterList.uwp.ts
Labels: AutoMerge, vnext

#2768 Simplify local test running scripts.
  vnext/Scripts/IntegrationTests.ps1
  vnext/Scripts/TestServers.ps1
  vnext/Scripts/UnitTest.ps1
  vnext/docs/Testing.md
Labels: AutoMerge, vnext

#2778 Fixed Missing Transfer Properties Bug
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/src/RNTester/RNTesterList.uwp.ts
  vnext/src/RNTester/TransferProperties.tsx
Labels: vnext

#2813 Flyout test
  vnext/src/RNTester/FlyoutExample.uwp.tsx
Labels: AutoMerge, vnext

#2818 Use Window::Current to get the window width/height
  vnext/ReactUWP/Modules/DeviceInfoModule.cpp
Labels: vnext

#2820 fix timing crash in ReactImage
  vnext/ReactUWP/Views/Image/ReactImage.cpp
Labels: AutoMerge, vnext

#2816 Updating parity of NetInfo module
  blog/Roadmap2019.md
  vnext/docs/ParityStatus.md
Labels: vnext

#2805 Introduce yarn workspace, and use beachball for publishing
  .ado/evergreen.js
  .ado/publish.yml
  .ado/setVersionEnvVars.js
  .ado/updateVersion.js
  .ado/versionUtils.js
  .ado/windows-vs-pr.yml
  .gitignore
  change/react-native-windows-2019-07-18-12-30-50-beachball.json
  change/react-native-windows-extended-2019-07-18-12-30-50-beachball.json
  current/package.json
  package.json
  packages/react-native-windows-extended/.eslintignore
  packages/react-native-windows-extended/.eslintrc.js
  packages/react-native-windows-extended/.npmignore
  packages/react-native-windows-extended/README.md
  packages/react-native-windows-extended/just-task.js
  packages/react-native-windows-extended/package.json
  packages/react-native-windows-extended/src/SampleComponent/SampleComponent.tsx
  packages/react-native-windows-extended/src/index.ts
  packages/react-native-windows-extended/tsconfig.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/Version.rc
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/Version.rc
  vnext/Scripts/cli.js
  vnext/docs/GettingStarted.md
  vnext/package.json
  vnext/rn-cli.config.js
  yarn.lock
Labels: AutoMerge

#2823 Add validation for change files
  .ado/windows-vs-pr.yml
  change/react-native-windows-extended-2019-07-24-15-44-06-checkchange.json
  packages/react-native-windows-extended/package.json
Labels: AutoMerge

#2822 Further crash fixes to ReactImage lifetime with downloading Images
  vnext/ReactUWP/Views/Image/ReactImage.cpp
Labels: AutoMerge, vnext

#2835 Speed up file write time checks for bytecode caching
  change/react-native-windows-2019-07-25-19-36-19-users-stecrain-fixBrokeredFileAccess.json
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.cpp
  vnext/ReactUWP/Utils/UwpScriptStore.cpp
  vnext/ReactUWP/Utils/UwpScriptStore.h
Labels: vnext

#2817 Fix for flyouts unexpectedly dismissing when opening picker
  change/react-native-windows-2019-07-25-15-30-28-flyout_unexpected_dismissal_fix.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/PickerViewManager.cpp
Labels: vnext

#2819 Adaptive cards compat
  vnext/ReactUWP/Modules/ImageViewManagerModule.cpp
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Views/WebViewManager.cpp
Labels: vnext

#2828 Fast Text crash fix
  change/react-native-windows-2019-07-25-13-35-40-FastTextCrashFix.json
  vnext/ReactUWP/Views/RawTextViewManager.cpp
Labels: AutoMerge, vnext

#2840 Docfix1
  vnext/docs/GettingStarted.md
Labels: vnext

#2775 Added Calculator sample to Universal.SampleApp
  vnext/Universal.SampleApp/HostingPane.xaml.cpp
  vnext/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj
  vnext/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj.filters
  vnext/Universal.SampleApp/calculator.uwp.js
  vnext/docs/GettingStarted.md
Labels: vnext

#2851 Update flyout container background color to transparent
  change/react-native-windows-2019-07-30-22-39-57-flyout_background_fix.json
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2803 Remove win32 exports
  change/react-native-windows-2019-07-31-11-41-01-abi_old_deps.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
Labels: vnext
