Repository microsoft/react-native-windows, pull requests merged in 2019-10, with the labels that each got.

#3292 Users/ngbu/fix webview for chakracore
  change/react-native-windows-2019-09-30-16-11-38-users-ngbu-fix_webview_for_chakracore.json
  change/react-native-windows-extended-2019-09-30-16-11-38-users-ngbu-fix_webview_for_chakracore.json
  vnext/ReactUWP/Views/WebViewManager.cpp
Labels: AutoMerge, vnext

#3293 Users/ngbu/fix webview for chakracore master
  change/react-native-windows-2019-09-30-16-10-31-users-ngbu-fix_webview_for_chakracore_master.json
  vnext/ReactUWP/Views/WebViewManager.cpp
Labels: AutoMerge, vnext

#3240 Various changes required to consume 0.60 in Office
  .ado/publish.yml
  change/react-native-windows-2019-09-25-10-08-01-master.json
  vnext/Chakra/ChakraTracing.cpp
  vnext/CopyHeaders.inc
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop/msoFolly.h
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactWindowsCore/tracing/fbsystrace.h
  vnext/Scripts/ReactUwp.nuspec
  vnext/Scripts/ReactWin32.nuspec
  vnext/Scripts/Tfs/Layout-Headers.ps1
  vnext/local-cli/runWindows/utils/build.js
Labels: AutoMerge, vnext

#3284 Update ParityStatus.md
  vnext/docs/ParityStatus.md
Labels: vnext

#3294 Apply dynamic patch for WebDriverIO in pipeline and print appium.txt when test fail
  .ado/templates/e2e-test-job.yml
Labels: AutoMerge

#3286 Fix borderRadius property updates.
  change/react-native-windows-2019-10-01-13-20-27-BorderRadiusFix-Branch.json
  change/react-native-windows-extended-2019-10-01-13-20-27-BorderRadiusFix-Branch.json
  vnext/ReactUWP/Utils/PropertyUtils.h
  vnext/ReactUWP/Views/ViewViewManager.cpp
Labels: AutoMerge, vnext

#3300 Align rnw-extended version number with rnw
  change/react-native-windows-extended-2019-10-01-16-16-58-rnw-extended-version.json
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
Labels: AutoMerge

#3299 Simplify functions for updating borderRadius properties.
  change/react-native-windows-2019-08-29-11-57-53-master.json
  change/react-native-windows-extended-2019-08-26-16-25-48-ViewParenting.json
  vnext/ReactUWP/Utils/PropertyUtils.h
Labels: AutoMerge, vnext

#3322 Update to react-native@0.60.0-microsoft.3
  change/react-native-windows-2019-10-03-17-04-51-updatern.json
  change/react-native-windows-extended-2019-10-03-17-04-51-updatern.json
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
  yarn.lock
Labels: AutoMerge

#3321 Delay load ChakraCore.Debugger.DLL
  change/react-native-windows-2019-10-03-16-35-26-delayloadcd.json
  package.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
Labels: AutoMerge

#3325 Update ChakraCore to 1.11.13
  change/react-native-windows-2019-10-04-09-38-40-fixci.json
  current/ReactWindows/ReactNative.Net46/ReactNative.Net46.csproj
  current/ReactWindows/ReactNative.Net46/packages.config
  current/ReactWindows/ReactNative/ReactNative.csproj
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/Folly/Folly.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/PropertySheets/ReactPackageDirectories.props
  vnext/Scripts/Tfs/Layout-Headers.ps1
  vnext/layoutFilesForNuget.bat
Labels: AutoMerge

#3323 Updating ChakraCore version
  change/react-native-windows-2019-10-04-11-15-58-khalef1-ChakraUpdate.json
  current/ReactWindows/ReactNative.Net46/ReactNative.Net46.csproj
  current/ReactWindows/ReactNative.Net46/packages.config
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Desktop/packages.config
Labels: AutoMerge

#3337 Update V8JSI package version
  change/react-native-windows-2019-10-04-15-51-01-jsi-v8upgrade.json
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/packages.config
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/packages.config
  vnext/Shared/OInstance.cpp
Labels: AutoMerge, vnext

#3341 Move Chakra JSI into Microsoft::JSI, plus some renaming.
  change/react-native-windows-2019-10-04-18-21-15-jsi-part-2.json
  vnext/Desktop.IntegrationTests/ChakraRuntimeHolder.cpp
  vnext/Desktop.IntegrationTests/ChakraRuntimeHolder.h
  vnext/Desktop.IntegrationTests/DesktopTestRunner.cpp
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj.filters
  vnext/JSI.Desktop.UnitTests/ChakraCoreRuntimeUnitTests.cpp
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.cpp
  vnext/JSI/Desktop/ChakraJsiRuntime_core.cpp
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Desktop/JSI.Desktop.vcxproj.filters
  vnext/JSI/Shared/ChakraJsiRuntime.h
  vnext/JSI/Shared/ChakraJsiRuntimeFactory.h
  vnext/JSI/Shared/ChakraRuntime.cpp
  vnext/JSI/Shared/ChakraRuntime.h
  vnext/JSI/Shared/ChakraRuntimeArgs.h
  vnext/JSI/Shared/ChakraRuntimeFactory.h
  vnext/JSI/Shared/JSI.Shared.vcxitems
  vnext/JSI/Shared/JSI.Shared.vcxitems.filters
  vnext/JSI/Universal/ChakraJsiRuntime_edgemode.cpp
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactWindowsCore/ChakraRuntimeHolder.cpp
  vnext/ReactWindowsCore/ChakraRuntimeHolder.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/Shared/OInstance.cpp
Labels: AutoMerge, vnext

#3342 Include some chakra headers in win32 nuget
  change/react-native-windows-2019-10-06-16-38-36-chakraheaders.json
  vnext/Scripts/Tfs/Layout-Headers.ps1
Labels: vnext

#3343 Bump V8 and Hermes package versions
  change/react-native-windows-2019-10-07-13-38-26-jsi-packagebump.json
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/packages.config
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/packages.config
  vnext/Shared/OInstance.cpp
Labels: AutoMerge, vnext

#3353 Bump Hermes package version in the 0.59 branch
  change/react-native-windows-2019-10-07-15-34-20-0.59-vnext-stable.json
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/packages.config
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/packages.config
Labels: AutoMerge, vnext

#3355 Fix UT script assemblies defaults.
  change/react-native-windows-2019-10-07-19-41-01-fixutassemblies.json
  vnext/Scripts/IntegrationTests.ps1
  vnext/Scripts/UnitTest.ps1
Labels: AutoMerge, vnext

#3329 Update version number in vnext\README.md
  vnext/README.md
Labels: AutoMerge, vnext

#3358 Re-Add config options to optionally use ChakraCore in UWP
  change/react-native-windows-2019-10-08-09-49-20-users-stecrain-chakra-core-uwp.json
  vnext/.npmignore
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactUWP/ReactUWP.vcxproj
Labels: vnext

#3327 Update GettingStarted.md
  vnext/docs/GettingStarted.md
Labels: vnext

#3309 Update ParityStatus.md
  vnext/docs/ParityStatus.md
Labels: vnext

#3359 minor adjustments to enable building react-native-win32.dll with the …
  change/react-native-windows-2019-10-08-16-19-12-prep_officebuild.json
  vnext/Desktop.UnitTests/LayoutAnimationTests.cpp
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj
Labels: vnext

#3366 Reorganize ChakraRuntime functions for better readability.
  change/react-native-windows-2019-10-08-17-01-51-jsi-part-4.json
  vnext/JSI/Desktop/ChakraJsiRuntime_core.cpp
  vnext/JSI/Shared/ByteArrayBuffer.h
  vnext/JSI/Shared/ChakraRuntime.cpp
  vnext/JSI/Shared/ChakraRuntime.h
  vnext/JSI/Shared/JSI.Shared.vcxitems
  vnext/JSI/Shared/JSI.Shared.vcxitems.filters
  vnext/JSI/Universal/ChakraJsiRuntime_edgemode.cpp
Labels: AutoMerge, vnext

#3310 Add support for forever animations.
  change/react-native-windows-2019-10-02-15-46-17-ForeverRepeatingAnimations.json
  vnext/ReactUWP/Modules/Animated/DecayAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/FrameAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/SpringAnimationDriver.cpp
Labels: vnext

#3386 disable auto bump for webdriverio
  packages/E2ETest/package.json
  yarn.lock
Labels: AutoMerge

#3387 [VS Code] Create a "Connecting to remote debugger" page
  change/react-native-windows-2019-10-09-17-44-22-user-savatia-debugger-waiting-page.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/Executors/WebSocketJSExecutorUwp.cpp
  vnext/ReactUWP/Executors/WebSocketJSExecutorUwp.h
  vnext/ReactUWP/Modules/DevSupportManagerUwp.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
  vnext/ReactWindowsCore/DevSettings.h
  vnext/include/ReactUWP/IReactInstance.h
Labels: vnext

#3390 Move Code in Common.vcxproj to namespace Microsoft::Common.
  change/react-native-windows-2019-10-10-16-20-32-ms-common-namespace.json
  packages/playground/windows/playground/HostingPane.xaml.cpp
  vnext/Chakra/ChakraHelpers.cpp
  vnext/Chakra/ChakraUtils.cpp
  vnext/Chakra/Utf8DebugExtensions.cpp
  vnext/Common/Common.vcxproj
  vnext/Common/Common.vcxproj.filters
  vnext/Common/unicode.cpp
  vnext/Common/unicode.h
  vnext/Common/utilities.h
  vnext/Desktop.DLL/react-native-win32.oss.x64.def
  vnext/Desktop.DLL/react-native-win32.oss.x86.def
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.DLL/react-native-win32.x86sdx.def
  vnext/Desktop.UnitTests/MemoryMappedBufferTests.cpp
  vnext/Desktop.UnitTests/UnicodeConversionTest.cpp
  vnext/Desktop/ABI/NativeLogEventSource.cpp
  vnext/Desktop/ABI/NativeTraceEventSource.cpp
  vnext/Desktop/Modules/WebSocketModule.cpp
  vnext/Desktop/Sandbox/NamedPipeEndpoint.cpp
  vnext/Desktop/WebSocket.cpp
  vnext/IntegrationTests/TestRunner.cpp
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.cpp
  vnext/JSI/Desktop/ChakraJsiRuntime_core.cpp
  vnext/JSI/Shared/ChakraRuntime.cpp
  vnext/JSI/Universal/ChakraJsiRuntime_edgemode.cpp
  vnext/ReactUWP/ABI/HStringHelper.cpp
  vnext/ReactUWP/Base/InstanceFactory.cpp
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86sdx.def
  vnext/ReactUWP/Executors/WebSocketJSExecutorUwp.cpp
  vnext/ReactUWP/Modules/Animated/NativeAnimatedModule.cpp
  vnext/ReactUWP/Modules/ClipboardModule.cpp
  vnext/ReactUWP/Modules/DevSupportManagerUwp.cpp
  vnext/ReactUWP/Modules/I18nModule.cpp
  vnext/ReactUWP/Modules/ImageViewManagerModule.cpp
  vnext/ReactUWP/Modules/LinkingManagerModule.cpp
  vnext/ReactUWP/Modules/LocationObserverModule.cpp
  vnext/ReactUWP/Modules/NetworkingModule.cpp
  vnext/ReactUWP/Modules/WebSocketModuleUwp.cpp
  vnext/ReactUWP/Utils/LocalBundleReader.cpp
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.cpp
  vnext/ReactUWP/Utils/UwpScriptStore.cpp
  vnext/ReactUWP/Utils/ValueUtils.cpp
  vnext/ReactUWP/Views/Image/ReactImage.cpp
  vnext/ReactUWP/Views/PickerViewManager.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/Shared/OInstance.cpp
Labels: vnext

#3336 Use v141 for Universal.
  .ado/e2e-test.yml
  .ado/evergreen.yml
  .ado/publish.yml
  .ado/templates/build-rnw.yml
  .ado/templates/e2e-test-job.yml
  .ado/templates/react-native-init.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-10-08-18-13-57-azure-pipes-uwptov141.json
  current/local-cli/runWindows/utils/msbuildtools.js
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp.csproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleApp.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/docs/GettingStarted.md
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.vcxproj
  vnext/local-cli/runWindows/utils/msbuildtools.js
Labels: AutoMerge

#3367 Add support for offline bundles
  change/react-native-windows-2019-10-08-17-27-49-bundles.json
  vnext/PropertySheets/Application/DebugBundle.props
  vnext/PropertySheets/Application/ReleaseBundle.props
  vnext/PropertySheets/DebugBundle.props
  vnext/PropertySheets/DynamicLibrary/DebugBundle.props
  vnext/PropertySheets/DynamicLibrary/ReleaseBundle.props
  vnext/PropertySheets/ReleaseBundle.props
  vnext/PropertySheets/StaticLibrary/DebugBundle.props
  vnext/PropertySheets/StaticLibrary/ReleaseBundle.props
  vnext/docs/ConsumingRNW.md
  vnext/local-cli/generator-windows/index.js
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.vcxproj
  vnext/local-cli/generator-windows/templates/cpp/src/MainPage.cpp
  vnext/local-cli/generator-windows/templates/cs/proj/BundleBuilder.vcxproj
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.csproj
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cs/src/MainPage.xaml.cs
Labels: vnext

#3340 [0.59] Use v141 for Universal builds.
  .ado/e2e-test.yml
  .ado/evergreen.yml
  .ado/publish.yml
  .ado/templates/build-rnw.yml
  .ado/templates/e2e-test-job.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-10-10-19-40-16-azure-pipes-uwptov141-0.59.json
  current/local-cli/runWindows/utils/msbuildtools.js
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp.csproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleApp.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/docs/GettingStarted.md
  vnext/local-cli/runWindows/utils/msbuildtools.js
Labels: AutoMerge

#3394 [0.59] Add missing ; to msbuild arg statement.
  .ado/templates/build-rnw.yml
  .ado/templates/e2e-test-job.yml
  change/react-native-windows-2019-10-11-01-10-39-lintfixmsbuildjs-0.59.json
  current/local-cli/runWindows/utils/msbuildtools.js
  vnext/local-cli/runWindows/utils/msbuildtools.js
Labels: AutoMerge

#3393 Add missing ; to msbuild arg statement.
  .ado/templates/build-rnw.yml
  .ado/templates/e2e-test-job.yml
  .ado/templates/react-native-init.yml
  change/react-native-windows-2019-10-10-21-54-36-lintfixmsbuildjs.json
  current/local-cli/runWindows/utils/msbuildtools.js
  vnext/local-cli/runWindows/utils/msbuildtools.js
Labels: AutoMerge

#3388 (0.59) Extend overlapping Flyout shadow fix to cover Popups
  change/react-native-windows-2019-10-10-15-18-19-popup-shadow-fix.59.json
  vnext/ReactUWP/Utils/Helpers.cpp
  vnext/ReactUWP/Utils/Helpers.h
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/PopupViewManager.cpp
  vnext/src/RNTester/FlyoutExample.windows.tsx
Labels: vnext

#3401 Add Common.vcxproj to CLI solutions
  change/react-native-windows-2019-10-11-13-58-55-commonproj.json
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.sln
Labels: vnext

#3398 Don't new up C++ exceptions
  change/react-native-windows-2019-10-14-15-48-03-adam-newexcep.json
  vnext/Desktop/JSBigStringResourceDll.cpp
  vnext/Desktop/Sandbox/SandboxJSExecutor.cpp
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.cpp
Labels: vnext

#3383 Remove "this" from this.requestAnimationFrame from PasswordBoxWindows
  current/Libraries/Components/PasswordBoxWindows/PasswordBoxWindows.windows.js
Labels: rnwcs

#3425 Added to docs
  vnext/docs/img/revealsurfaceanimation.gif
  vnext/docs/img/rnwacrylicsurface.png
  vnext/docs/windowsbrushandtheme.md
Labels: vnext

#3432 (Forward port) Extend overlapping Flyout shadow fix to Popups
  change/react-native-windows-2019-10-15-17-00-10-popup-shadow-fix.json
  vnext/ReactUWP/Utils/Helpers.cpp
  vnext/ReactUWP/Utils/Helpers.h
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/PopupViewManager.cpp
  vnext/src/RNTester/FlyoutExample.windows.tsx
Labels: vnext

#3442 Add Generated Files to .gitignore
  change/react-native-windows-2019-10-16-14-54-29-gitignore.json
  vnext/local-cli/generator-windows/templates/_gitignore
Labels: vnext

#3423 Support onSubmitEditing event
  change/react-native-windows-2019-10-15-16-04-40-submitediting.json
  packages/E2ETest/app/Consts.ts
  packages/E2ETest/app/TextInputTestPage.tsx
  packages/E2ETest/wdio/pages/TextInputTestPage.ts
  packages/E2ETest/wdio/test/testInput.spec.ts
  vnext/ReactUWP/Views/TextInputViewManager.cpp
Labels: vnext

#3406 Support autoCapitalize Characters
  change/react-native-windows-2019-10-14-11-29-13-autoCapital.json
  packages/E2ETest/app/Consts.ts
  packages/E2ETest/app/TextInputTestPage.tsx
  packages/E2ETest/wdio/pages/TextInputTestPage.ts
  packages/E2ETest/wdio/test/testInput.spec.ts
  packages/playground/Samples/textinput.tsx
  vnext/ReactUWP/Views/TextInputViewManager.cpp
Labels: vnext

#3400 Fix two crashes from NativeAnimatedExamples
  change/react-native-windows-2019-10-11-13-21-33-ChainedAnimationsCrash.json
  change/react-native-windows-extended-2019-10-11-13-21-33-ChainedAnimationsCrash.json
  change/rnpm-plugin-windows-2019-10-11-13-21-33-ChainedAnimationsCrash.json
  change/rnpm-plugin-wpf-2019-10-11-13-21-33-ChainedAnimationsCrash.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Modules/Animated/AdditionAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/DivisionAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/ModulusAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/MultiplicationAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.cpp
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.h
  vnext/ReactUWP/Modules/Animated/SpringAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/SubtractionAnimatedNode.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/SliderViewManager.cpp
  vnext/ReactUWP/Views/SliderViewManager.h
Labels: vnext

#3434 Don't hardcode the path to v141 platform toolset
  .ado/VSComponentList.ps1
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-10-15-18-17-54-v141path.json
  vnext/local-cli/runWindows/utils/build.js
  vnext/local-cli/runWindows/utils/msbuildtools.js
Labels: vnext

#3446 Add API to control Developer Menu
  change/react-native-windows-2019-10-17-19-03-55-developermenu.json
  packages/E2ETest/windows/ReactUWPTestApp/ReactTestPage.xaml.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/MainReactNativeHost.cs
  packages/playground/windows/playground/HostingPane.xaml.cpp
  vnext/Microsoft.ReactNative/ReactInstanceCreator.cpp
  vnext/Microsoft.ReactNative/ReactInstanceSettings.h
  vnext/Microsoft.ReactNative/ReactInstanceSettings.idl
  vnext/ReactUWP/ABI/Instance_rt.cpp
  vnext/ReactUWP/ABI/idl/Instance.idl
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/include/ReactUWP/IReactInstance.h
  vnext/local-cli/generator-windows/templates/cpp/src/MainPage.cpp
  vnext/local-cli/generator-windows/templates/cs/src/MainPage.xaml.cs
Labels: vnext

#3445 Introduce ChakraObjectRef and refactor ChakraRuntime
  change/react-native-windows-2019-10-16-17-50-01-CharkaObjectRef.json
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.cpp
  vnext/JSI/Desktop/ChakraJsiRuntime_core.cpp
  vnext/JSI/Shared/ByteArrayBuffer.h
  vnext/JSI/Shared/ChakraObjectRef.cpp
  vnext/JSI/Shared/ChakraObjectRef.h
  vnext/JSI/Shared/ChakraRuntime.cpp
  vnext/JSI/Shared/ChakraRuntime.h
  vnext/JSI/Shared/JSI.Shared.vcxitems
  vnext/JSI/Shared/JSI.Shared.vcxitems.filters
  vnext/JSI/Universal/ChakraJsiRuntime_edgemode.cpp
Labels: vnext

#3482 CalculatedAnimation
  change/react-native-windows-2019-10-21-18-46-29-calculatedanimation.json
  vnext/ReactUWP/Modules/Animated/CalculatedAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/CalculatedAnimationDriver.h
  vnext/ReactUWP/Modules/Animated/DecayAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/DecayAnimationDriver.h
  vnext/ReactUWP/Modules/Animated/SpringAnimationDriver.cpp
  vnext/ReactUWP/Modules/Animated/SpringAnimationDriver.h
  vnext/ReactUWP/ReactUWP.vcxproj
Labels: vnext

#3492 Add more logs and attempt to fix CI Loop instability: Build and Pack NuGet randomly fails
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-10-22-15-00-16-azure-pipelines.json
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/IntegrationTests/TestRunner.cpp
Labels: AutoMerge

#3509 Register the 2x noop start and stop listener functions in NativeAnimatedModule
  change/react-native-windows-2019-10-23-17-22-31-user-adamgor-fixStartAnimate.json
  vnext/ReactUWP/Modules/Animated/NativeAnimatedModule.cpp
  vnext/ReactUWP/Modules/Animated/NativeAnimatedModule.h
Labels: vnext

#3467 fix assert/missing else when setting alignSelf to null
  change/react-native-windows-2019-10-18-16-28-49-user-adamgor-elseif.json
  vnext/ReactUWP/Modules/NativeUIManager.cpp
Labels: vnext

#3513 [0.59] Upgrade to ChakraCore.Debugger 0.0.0.41
  change/react-native-windows-2019-10-24-11-49-26-ccdbg-0.0.0.41-0.59.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
Labels: AutoMerge, vnext

#3472 Native Module/View Manager Docs
  vnext/docs/NativeModules.md
  vnext/docs/NativeModulesAdvanced.md
  vnext/docs/ViewManagers.md
Labels: Extensions, vnext

#3489 Update VS Code debugging docs
  change/react-native-windows-2019-10-22-10-51-44-user-savatia-wiki-update.json
  vnext/docs/ConsumingRNW.md
Labels: vnext

#3512 Upgrade to ChakraCore.Debugger 0.0.0.41
  change/react-native-windows-2019-10-24-11-39-55-ccdbg-0.0.0.41.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Desktop/packages.config
Labels: AutoMerge, vnext

#3514 Fix remaining JSI unit tests and some code clean up.
  change/react-native-windows-2019-10-24-13-59-20-ImproveHostObjAndFunc.json
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.cpp
  vnext/JSI/Shared/ChakraObjectRef.cpp
  vnext/JSI/Shared/ChakraObjectRef.h
  vnext/JSI/Shared/ChakraRuntime.cpp
  vnext/JSI/Shared/ChakraRuntime.h
Labels: vnext

#3520 Run-windows fails on x86 machines
  change/react-native-windows-2019-10-24-17-13-17-x86runwindows.json
  vnext/local-cli/runWindows/utils/msbuildtools.js
Labels: vnext

#3527 ChakraRuntime swap back to native implementation for getPropertyNames
  change/react-native-windows-2019-10-25-12-57-29-users-stecrain-fixChakraPerf.json
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.cpp
  vnext/JSI/Shared/ChakraRuntime.cpp
Labels: AutoMerge, vnext

#3531 [0.59] Update to ChakraCore.Debugger 0.0.0.42
  change/react-native-windows-2019-10-25-17-34-19-ccdbg-0.0.0.42-0.59.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
Labels: AutoMerge, vnext

#3530 Update to ChakraCore.Debugger 0.0.0.42
  change/react-native-windows-2019-10-25-17-34-32-ccdbg-0.0.0.42.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Desktop/packages.config
Labels: AutoMerge, vnext

#3535 Fix remote debugger for Playground app
  change/react-native-windows-2019-10-25-19-39-55-remoteDbg.json
  packages/playground/windows/playground/HostingPane.xaml.cpp
  packages/playground/windows/playground/MainPage.xaml.cpp
  packages/playground/windows/playground/MainPage.xaml.h
  packages/playground/windows/playground/Package.appxmanifest
  packages/playground/windows/playground/pch.h
  vnext/ReactUWP/ABI/Instance_rt.cpp
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
Labels: vnext

#3532 Update the CLI to consume Microsoft.ReactNative
  .ado/templates/react-native-init.yml
  change/react-native-windows-2019-10-28-16-36-17-mrncli.json
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleApp.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleApp.vcxproj.filters
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/SampleAppCS.csproj
  vnext/local-cli/generator-windows/index.js
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.vcxproj
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.vcxproj.filters
  vnext/local-cli/generator-windows/templates/cpp/src/App.cpp
  vnext/local-cli/generator-windows/templates/cpp/src/App.h
  vnext/local-cli/generator-windows/templates/cpp/src/App.xaml
  vnext/local-cli/generator-windows/templates/cpp/src/MainPage.cpp
  vnext/local-cli/generator-windows/templates/cpp/src/MainPage.h
  vnext/local-cli/generator-windows/templates/cpp/src/MainPage.idl
  vnext/local-cli/generator-windows/templates/cpp/src/MainPage.xaml
  vnext/local-cli/generator-windows/templates/cpp/src/Package.appxmanifest
  vnext/local-cli/generator-windows/templates/cpp/src/ReactPackageProvider.cpp
  vnext/local-cli/generator-windows/templates/cpp/src/ReactPackageProvider.h
  vnext/local-cli/generator-windows/templates/cpp/src/pch.h
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.csproj
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cs/src/App.xaml
  vnext/local-cli/generator-windows/templates/cs/src/App.xaml.cs
  vnext/local-cli/generator-windows/templates/cs/src/MainPage.xaml
  vnext/local-cli/generator-windows/templates/cs/src/MainPage.xaml.cs
  vnext/local-cli/generator-windows/templates/cs/src/Package.appxmanifest
Labels: AutoMerge, vnext

#3541 Keyboard
  change/react-native-windows-2019-10-28-10-44-55-keyboard.json
  packages/playground/Samples/textinput.tsx
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
  vnext/ReactUWP/Views/SIPEventHandler.cpp
  vnext/ReactUWP/Views/SIPEventHandler.h
Labels: vnext

#3550 Fix crash in RS5 due to missing facade property
  change/react-native-windows-2019-10-29-13-55-40-noRS5crash.json
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.cpp
  vnext/ReactUWP/Views/ExpressionAnimationStore.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
Labels: vnext

#3548 Use variable templates
  .ado/publish.yml
  .ado/templates/build-rnw.yml
  .ado/templates/install-SDK.yml
  .ado/templates/publish-build-artifacts-for-nuget.yml
  .ado/templates/react-native-init.yml
  .ado/variables/msbuild.yml
  .ado/variables/vs2017.yml
  .ado/variables/vs2019.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2019-10-28-21-56-35-DevOps-varsfromtemplate.json
  vnext/ReactWindows-Universal.sln
Labels: AutoMerge

#3542 Enable IntegrationTestHarness
  change/react-native-windows-2019-10-28-15-00-40-EnableIntegrationTestHarness.json
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
Labels: vnext

#3422 fix build error
  change/react-native-windows-2019-10-16-08-31-17-fix-build-error.json
  vnext/ReactUWP/Threading/AsyncWorkQueue.cpp
Labels: vnext

#3551 Set a default 3D perspective
  change/react-native-windows-2019-10-28-17-52-55-user-asklar-perspective.json
  vnext/ReactUWP/Views/ReactControl.cpp
Labels: vnext

#3568 Implement ChakraRuntime::getPropertyNames() properly in native.
  change/react-native-windows-2019-10-30-16-44-34-FixGetPropertyNames.json
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.cpp
  vnext/JSI/Shared/ChakraObjectRef.cpp
  vnext/JSI/Shared/ChakraObjectRef.h
  vnext/JSI/Shared/ChakraRuntime.cpp
  vnext/JSI/Shared/ChakraRuntime.h
Labels: vnext
