Repository microsoft/react-native-windows, pull requests merged in 2019-04, with the labels that each got.

#2225 Releases file for rnwcpp versioning
  RNWCPP/docs/releases.md
Labels: AutoMerge

#2234 Fix deadlock when calling detach before attach has finished
  RNWCPP/ReactUWP/Utils/LocalBundleReader.cpp
Labels: rnwcpp

#2236 check isInError before calls to instanceWrapper
  RNWCPP/ReactUWP/Base/UwpReactInstance.cpp
Labels: rnwcpp

#2229 add more accessiblilityRole support on View. add focusIn/Out events to View
  RNWCPP/ReactUWP/Views/ViewControl.cpp
  RNWCPP/ReactUWP/Views/ViewViewManager.cpp
  RNWCPP/ReactUWP/Views/ViewViewManager.h
  RNWCPP/include/ReactUWP/Views/ShadowNodeBase.h
Labels: rnwcpp

#2243 add additional files to nuget package to build reactNativeHost
  RNWCPP/ReactWin32.nuspec
  RNWCPP/ReactWindows-CopyToStaging.bat
Labels: rnwcpp

#2242 Update to RN 58
  RNWCPP/.ado/windows-vs-pr.yml
  RNWCPP/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  RNWCPP/Libraries/YellowBox/UI/YellowBoxInspectorHeader.windesktop.js
  RNWCPP/package.json
Labels: rnwcpp

#2246 Adding multipart FormData functionality to UWP NetworkingModule
  RNWCPP/ReactUWP/Modules/NetworkingModule.cpp
Labels: AutoMerge, rnwcpp

#2248 fix focus event errors being reported.
  RNWCPP/ReactUWP/Views/ViewViewManager.cpp
  RNWCPP/ReactUWP/Views/ViewViewManager.h
Labels: rnwcpp

#2249 Fix problems with padding and sizing for Controls.
  RNWCPP/ReactUWP/Polyester/ContentControlViewManager.h
  RNWCPP/ReactUWP/Views/ControlViewManager.cpp
  RNWCPP/ReactUWP/Views/DatePickerViewManager.cpp
  RNWCPP/ReactUWP/Views/DatePickerViewManager.h
  RNWCPP/ReactUWP/Views/SwitchViewManager.h
  RNWCPP/ReactUWP/Views/TextInputViewManager.cpp
  RNWCPP/ReactUWP/Views/ViewPanel.cpp
  RNWCPP/Universal.SampleApp/control.uwp.js
  RNWCPP/include/ReactUWP/Views/ControlViewManager.h
Labels: rnwcpp

#2252 Add UWP only solution
  RNWCPP/.ado/windows-vs-pr.yml
  RNWCPP/README.md
  RNWCPP/ReactWindows-UWP.sln
Labels: rnwcpp

#2254 Update to react-native@0.58.6-microsoft.17
  RNWCPP/package.json
Labels: rnwcpp

#2251 Reduce and rationalize some header file includes related to ShadowNodeBase & ViewManagerBase. Reduces dependencies for build.
  RNWCPP/ReactUWP/Polyester/ButtonViewManager.cpp
  RNWCPP/ReactUWP/Polyester/HyperlinkViewManager.cpp
  RNWCPP/ReactUWP/Utils/PropertyUtils.h
  RNWCPP/ReactUWP/Views/CheckboxViewManager.cpp
  RNWCPP/ReactUWP/Views/ControlViewManager.cpp
  RNWCPP/ReactUWP/Views/DatePickerViewManager.cpp
  RNWCPP/ReactUWP/Views/ImageViewManager.cpp
  RNWCPP/ReactUWP/Views/ImageViewManager.h
  RNWCPP/ReactUWP/Views/PickerViewManager.cpp
  RNWCPP/ReactUWP/Views/ScrollViewManager.cpp
  RNWCPP/ReactUWP/Views/ShadowNodeBase.cpp
  RNWCPP/ReactUWP/Views/SwitchViewManager.cpp
  RNWCPP/ReactUWP/Views/TextInputViewManager.cpp
  RNWCPP/ReactUWP/Views/ViewManagerBase.cpp
  RNWCPP/ReactUWP/Views/ViewViewManager.cpp
  RNWCPP/ReactUWP/Views/WebViewManager.cpp
  RNWCPP/include/ReactUWP/Views/ControlViewManager.h
  RNWCPP/include/ReactUWP/Views/ShadowNodeBase.h
  RNWCPP/include/ReactUWP/Views/ViewManagerBase.h
Labels: AutoMerge, rnwcpp

#2257 Update to react-native@0.58.6-microsoft.19
  RNWCPP/package.json
Labels: AutoMerge, rnwcpp

#2255 Enqueue outgoing messages in background thread.
  RNWCPP/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  RNWCPP/Desktop/WebSocket.cpp
  RNWCPP/Desktop/WebSocket.h
  RNWCPP/WindowsSampleCSharpApp/WindowsSampleCSharpApp.csproj
Labels: rnwcpp

#2259 Fix running with bundle file in 58 - UIManager.getConstantsForViewManager
  RNWCPP/ReactUWP/Views/ViewPanel.cpp
  RNWCPP/ReactWindowsCore/IUIManager.h
  RNWCPP/ReactWindowsCore/Modules/UIManagerModule.cpp
  RNWCPP/ReactWindowsCore/Modules/UIManagerModule.h
  RNWCPP/package.json
Labels: PR out for review, rnwcpp

#2258 Update to react-native@0.58.6-microsoft.20
  RNWCPP/package.json
Labels: rnwcpp

#2238 CLI for RNWCPP with new c# template
  RNWCPP/ChakraCoreShim/ChakraCoreShim.vcxproj
  RNWCPP/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  RNWCPP/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  RNWCPP/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  RNWCPP/Desktop/React.Windows.Desktop.vcxproj
  RNWCPP/Directory.Build.props
  RNWCPP/Folly/Folly.vcxproj
  RNWCPP/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  RNWCPP/ReactCommon/ReactCommon.vcxproj
  RNWCPP/ReactUWP/ReactUWP.vcxproj
  RNWCPP/ReactWin32SandboxSample/ReactWin32SandboxSample.vcxproj
  RNWCPP/ReactWindowsCore/ReactWindowsCore.vcxproj
  RNWCPP/Scripts/utils.js
  RNWCPP/Universal.IntegrationTests/React.Windows.Universal.IntegrationTests.vcxproj
  RNWCPP/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj
  RNWCPP/Universal.UnitTests/React.Windows.Universal.UnitTests.vcxproj
  RNWCPP/jest/hasteImpl.js
  RNWCPP/local-cli/generate-windows.js
  RNWCPP/local-cli/generator-common/index.js
  RNWCPP/local-cli/generator-windows/index.js
  RNWCPP/local-cli/generator-windows/templates/App.windows.js
  RNWCPP/local-cli/generator-windows/templates/_gitignore
  RNWCPP/local-cli/generator-windows/templates/assets/LockScreenLogo.scale-200.png
  RNWCPP/local-cli/generator-windows/templates/assets/SplashScreen.scale-200.png
  RNWCPP/local-cli/generator-windows/templates/assets/Square150x150Logo.scale-200.png
  RNWCPP/local-cli/generator-windows/templates/assets/Square44x44Logo.scale-200.png
  RNWCPP/local-cli/generator-windows/templates/assets/Square44x44Logo.targetsize-24_altform-unplated.png
  RNWCPP/local-cli/generator-windows/templates/assets/StoreLogo.png
  RNWCPP/local-cli/generator-windows/templates/assets/Wide310x150Logo.scale-200.png
  RNWCPP/local-cli/generator-windows/templates/index.windows.bundle
  RNWCPP/local-cli/generator-windows/templates/proj/MyApp.csproj
  RNWCPP/local-cli/generator-windows/templates/proj/MyApp.sln
  RNWCPP/local-cli/generator-windows/templates/proj/react.overrides.props
  RNWCPP/local-cli/generator-windows/templates/ra_gitignore
  RNWCPP/local-cli/generator-windows/templates/src/App.xaml
  RNWCPP/local-cli/generator-windows/templates/src/App.xaml.cs
  RNWCPP/local-cli/generator-windows/templates/src/MainPage.xaml
  RNWCPP/local-cli/generator-windows/templates/src/MainPage.xaml.cs
  RNWCPP/local-cli/generator-windows/templates/src/Package.appxmanifest
  RNWCPP/local-cli/generator-windows/templates/src/Properties/AssemblyInfo.cs
  RNWCPP/local-cli/generator-windows/templates/src/Properties/Default.rd.xml
  RNWCPP/package.json
  RNWCPP/rn-cli.config.js
  RNWCS/local-cli/rnpm/windows/index.js
  RNWCS/local-cli/rnpm/windows/package.json
  RNWCS/local-cli/rnpm/windows/src/common.js
  RNWCS/local-cli/rnpm/windows/src/windows.js
Labels: rnwcpp

#2265 Update to react-native@0.58.6-microsoft.21
  RNWCPP/package.json
Labels: PR out for review, rnwcpp

#2266 Internal build def update
  RNWCPP/dirs
Labels: PR out for review, rnwcpp

#2267 Attempt to get publish to be more robust
  RNWCPP/.ado/publish.js
  RNWCPP/package.json
Labels: PR out for review, rnwcpp

#2253 [ActivityIndicator] Map color property to Control.Foreground
  RNWCPP/ReactUWP/Views/ActivityIndicatorViewManager.cpp
  RNWCPP/Universal.SampleApp/index.uwp.js
Labels: rnwcpp

#2269 merge TextInput changes from 58 to uwp forked files
  RNWCPP/Libraries/Components/TextInput/TextInput.uwp.js
  RNWCPP/Libraries/Components/TextInput/TextInputState.uwp.js
Labels: PR out for review, rnwcpp

#2278 Disable RNTesterIntegrationTests.WebSocket.
  RNWCPP/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
Labels: PR out for review, rnwcpp

#2275 Update to react-native@0.58.6-microsoft.22
  RNWCPP/Chakra/ChakraValue.h
  RNWCPP/Chakra/Utf8DebugExtensions.cpp
  RNWCPP/Desktop.DLL/react-native-win32.oss.x86.def
  RNWCPP/Desktop.DLL/react-native-win32.x64.def
  RNWCPP/Desktop.DLL/react-native-win32.x86.def
  RNWCPP/Desktop.DLL/react-native-win32.x86sdx.def
  RNWCPP/ReactCommon/ReactCommon.vcxproj
  RNWCPP/ReactCommon/ReactCommon.vcxproj.filters
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.oss.arm.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.oss.x64.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.oss.x86.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  RNWCPP/ReactWindows-CopyToStaging.bat
  RNWCPP/ReactWindows.nuspec
  RNWCPP/ReactWindowsCore/UnicodeConversion.cpp
  RNWCPP/Universal.SampleApp/HostingPane.xaml.cpp
  RNWCPP/package.json
Labels: PR out for review, rnwcpp

#2273 Update ChakraCore version
  RNWCPP/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  RNWCPP/Desktop.DLL/packages.config
  RNWCPP/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  RNWCPP/Desktop.IntegrationTests/packages.config
  RNWCPP/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  RNWCPP/Desktop.UnitTests/packages.config
  RNWCPP/Desktop/React.Windows.Desktop.vcxproj
  RNWCPP/Desktop/packages.config
  RNWCPP/ReactWin32SandboxSample/ReactWin32SandboxSample.vcxproj
  RNWCPP/ReactWin32SandboxSample/packages.config
Labels: AutoMerge, PR out for review, rnwcpp

#2280 Export UnicodeConversion.h
  RNWCPP/CopyHeaders.inc
  RNWCPP/Desktop.DLL/react-native-win32.oss.x64.def
  RNWCPP/Desktop.DLL/react-native-win32.oss.x86.def
  RNWCPP/Desktop.DLL/react-native-win32.x64.def
  RNWCPP/Desktop.DLL/react-native-win32.x86.def
  RNWCPP/Desktop.DLL/react-native-win32.x86sdx.def
  RNWCPP/ReactWin32.nuspec
Labels: rnwcpp

#2272 Changed url to proper repo
  RNWCS/local-cli/rnpm/windows/src/windows.js
Labels: PR out for review, rnwcpp

#2279 Point react-native fork dependency to github tar
  RNWCPP/.ado/evergreen.js
  RNWCPP/.ado/windows-vs-pr.yml
  RNWCPP/.npmrc
  RNWCPP/README.md
  RNWCPP/Scripts/postInstall.js
  RNWCPP/Scripts/preInstall.js
  RNWCPP/Scripts/replaceRNDependency.js
  RNWCPP/package.json
Labels: AutoMerge, PR out for review, rnwcpp

#2282 Update CLI to react-native's fork URL
  RNWCS/local-cli/rnpm/windows/src/windows.js
Labels: AutoMerge, rnwcpp

#2285 Split UWP and win32 builds into seperate jobs
  RNWCPP/.ado/publish.yml
  RNWCPP/.ado/windows-vs-pr.yml
  RNWCPP/Scripts/preInstall.js
  RNWCPP/yarn.lock
Labels: rnwcpp

#2288 Update to react-native@0.58.6-microsoft.23
  RNWCPP/.ado/evergreen.js
  RNWCPP/package.json
  RNWCPP/yarn.lock
Labels: AutoMerge, rnwcpp

#2286 Set filtering metadata for RNTesterIntegrationTests::WebSocket
  RNWCPP/.ado/windows-vs-pr.yml
  RNWCPP/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
Labels: rnwcpp

#2284 Remove projects needed for CLI from .npmignore
  RNWCPP/.npmignore
Labels: rnwcpp

#2290 Sync from internal
  RNWCPP/win32/sources
Labels: rnwcpp

#2289 Update to react-native@0.58.6-microsoft.24
  RNWCPP/.ado/evergreen.js
  RNWCPP/package.json
  RNWCPP/yarn.lock
Labels: AutoMerge, rnwcpp

#2291 Update to react-native@0.58.6-microsoft.25
  RNWCPP/package.json
  RNWCPP/yarn.lock
Labels: AutoMerge, rnwcpp

#2292 Update to react-native@0.58.6-microsoft.26
  RNWCPP/package.json
  RNWCPP/yarn.lock
Labels: AutoMerge, rnwcpp

#2287 Update README.md
  RNWCPP/README.md
Labels: rnwcpp

#2295 Update npmignore and preinstall for CLI
  RNWCPP/.npmignore
  RNWCPP/Scripts/preInstall.js
Labels: AutoMerge, rnwcpp

#2294 Sync from internal
  RNWCPP/Desktop/LegacyWebSocket.cpp
  RNWCPP/ReactWindowsCore/InstanceManager.h
  RNWCPP/ReactWindowsCore/OInstance.h
  RNWCPP/Shared/OInstance.cpp
  RNWCPP/stubs/glog/logging.h
Labels: AutoMerge, rnwcpp

#2244 Commiting the playground app as a simple scaffolding app.
  RNWCPP/.ado/windows-vs-pr.yml
  RNWCPP/Playground/Playground.sln
  RNWCPP/Playground/Playground/App.xaml
  RNWCPP/Playground/Playground/App.xaml.cs
  RNWCPP/Playground/Playground/Assets/LockScreenLogo.scale-200.png
  RNWCPP/Playground/Playground/Assets/SplashScreen.scale-200.png
  RNWCPP/Playground/Playground/Assets/Square150x150Logo.scale-200.png
  RNWCPP/Playground/Playground/Assets/Square44x44Logo.scale-200.png
  RNWCPP/Playground/Playground/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  RNWCPP/Playground/Playground/Assets/StoreLogo.png
  RNWCPP/Playground/Playground/Assets/Wide310x150Logo.scale-200.png
  RNWCPP/Playground/Playground/MainPage.xaml
  RNWCPP/Playground/Playground/MainPage.xaml.cs
  RNWCPP/Playground/Playground/Package.appxmanifest
  RNWCPP/Playground/Playground/Playground.csproj
  RNWCPP/Playground/Playground/Playground_TemporaryKey.pfx
  RNWCPP/Playground/Playground/Properties/AssemblyInfo.cs
  RNWCPP/Playground/Playground/Properties/Default.rd.xml
  RNWCPP/Playground/Playground/index.uwp.js
  RNWCPP/ReactWin32SandboxSample/JSQueueThread.cpp
  RNWCPP/ReactWin32SandboxSample/JSQueueThread.h
  RNWCPP/ReactWin32SandboxSample/NativeQueueThread.cpp
  RNWCPP/ReactWin32SandboxSample/NativeQueueThread.h
  RNWCPP/ReactWin32SandboxSample/ReactWin32SandboxSample.sln
  RNWCPP/ReactWin32SandboxSample/ReactWin32SandboxSample.vcxproj
  RNWCPP/ReactWin32SandboxSample/ReactWin32SandboxSample.vcxproj.filters
  RNWCPP/ReactWin32SandboxSample/main.cpp
  RNWCPP/ReactWin32SandboxSample/packages.config
  RNWCPP/ReactWin32SandboxSample/stdafx.cpp
  RNWCPP/ReactWin32SandboxSample/stdafx.h
  RNWCPP/ReactWin32SandboxSample/targetver.h
  RNWCPP/ReactWindows-UWP.sln
  RNWCPP/ReactWindows.sln
  RNWCPP/WindowsSampleCSharpApp/MainPage.xaml
  RNWCPP/WindowsSampleCSharpApp/MainPage.xaml.cs
  RNWCPP/WindowsSampleCSharpApp/WindowsSampleCSharpApp_TemporaryKey.pfx
Labels: PR out for review, rnwcpp

#2303 Update to react-native@0.58.6-microsoft.27
  RNWCPP/package.json
  RNWCPP/yarn.lock
Labels: AutoMerge, rnwcpp

#2306 Fixes to uwp / windesktop js stub files
  RNWCPP/Libraries/Components/AccessibilityInfo/AccessibilityInfo.windesktop.js
  RNWCPP/Libraries/Components/CheckBox/CheckBox.windesktop.js
  RNWCPP/Libraries/Components/DatePicker/DatePickerIOS.uwp.js
  RNWCPP/Libraries/Components/DatePicker/DatePickerIOS.windesktop.js
  RNWCPP/Libraries/Components/DatePickerAndroid/DatePickerAndroid.uwp.js
  RNWCPP/Libraries/Components/DatePickerAndroid/DatePickerAndroid.windesktop.js
  RNWCPP/Libraries/Components/DatePickerMacOS/DatePickerMacOS.uwp.js
  RNWCPP/Libraries/Components/DatePickerMacOS/DatePickerMacOS.windesktop.js
  RNWCPP/Libraries/Components/DrawerAndroid/DrawerLayoutAndroid.uwp.js
  RNWCPP/Libraries/Components/DrawerAndroid/DrawerLayoutAndroid.windesktop.js
  RNWCPP/Libraries/Components/MaskedView/MaskedViewIOS.uwp.js
  RNWCPP/Libraries/Components/MaskedView/MaskedViewIOS.windesktop.js
  RNWCPP/Libraries/Components/Navigation/NavigatorIOS.uwp.js
  RNWCPP/Libraries/Components/Navigation/NavigatorIOS.windesktop.js
  RNWCPP/Libraries/Components/Picker/PickerAndroid.uwp.js
  RNWCPP/Libraries/Components/Picker/PickerAndroid.windesktop.js
  RNWCPP/Libraries/Components/Picker/PickerIOS.uwp.js
  RNWCPP/Libraries/Components/Picker/PickerIOS.windesktop.js
  RNWCPP/Libraries/Components/ProgressBarAndroid/ProgressBarAndroid.uwp.js
  RNWCPP/Libraries/Components/ProgressBarAndroid/ProgressBarAndroid.windesktop.js
  RNWCPP/Libraries/Components/ProgressViewIOS/ProgressViewIOS.uwp.js
  RNWCPP/Libraries/Components/ProgressViewIOS/ProgressViewIOS.windesktop.js
  RNWCPP/Libraries/Components/SafeAreaView/SafeAreaView.uwp.js
  RNWCPP/Libraries/Components/SafeAreaView/SafeAreaView.windesktop.js
  RNWCPP/Libraries/Components/SegmentedControlIOS/SegmentedControlIOS.uwp.js
  RNWCPP/Libraries/Components/SegmentedControlIOS/SegmentedControlIOS.windesktop.js
  RNWCPP/Libraries/Components/StatusBar/StatusBarIOS.uwp.js
  RNWCPP/Libraries/Components/StatusBar/StatusBarIOS.windesktop.js
  RNWCPP/Libraries/Components/TabBarIOS/TabBarIOS.uwp.js
  RNWCPP/Libraries/Components/TabBarIOS/TabBarIOS.windesktop.js
  RNWCPP/Libraries/Components/TabBarIOS/TabBarItemIOS.uwp.js
  RNWCPP/Libraries/Components/TabBarIOS/TabBarItemIOS.windesktop.js
  RNWCPP/Libraries/Components/TextInput/TextInput.uwp.js
  RNWCPP/Libraries/Components/TextInput/TextInputState.uwp.js
  RNWCPP/Libraries/Components/TimePickerAndroid/TimePickerAndroid.uwp.js
  RNWCPP/Libraries/Components/TimePickerAndroid/TimePickerAndroid.windesktop.js
  RNWCPP/Libraries/Components/ToastAndroid/ToastAndroid.uwp.js
  RNWCPP/Libraries/Components/ToastAndroid/ToastAndroid.windesktop.js
  RNWCPP/Libraries/Components/ToolbarAndroid/ToolbarAndroid.uwp.js
  RNWCPP/Libraries/Components/ToolbarAndroid/ToolbarAndroid.windesktop.js
  RNWCPP/Libraries/Components/Touchable/TouchableNativeFeedback.windesktop.js
  RNWCPP/Libraries/Components/View/PlatformViewPropTypes.uwp.js
  RNWCPP/Libraries/Components/View/PlatformViewPropTypes.windesktop.js
  RNWCPP/Libraries/Components/ViewPager/ViewPagerAndroid.uwp.js
  RNWCPP/Libraries/Components/ViewPager/ViewPagerAndroid.windesktop.js
  RNWCPP/Libraries/Components/WebView/WebView.uwp.js
  RNWCPP/Libraries/Components/WebView/WebView.windesktop.js
  RNWCPP/Libraries/Image/Image.uwp.js
  RNWCPP/Libraries/Vibration/VibrationIOS.uwp.js
  RNWCPP/Libraries/Vibration/VibrationIOS.windesktop.js
  RNWCPP/src/Libraries/Components/DatePicker/DatePicker.tsx
  RNWCPP/src/Libraries/Components/DatePicker/DatePicker.uwp.tsx
  RNWCPP/src/Libraries/Components/DatePicker/DatePickerProps.ts
Labels: rnwcpp

#2305 Fix Git newline handling.
  .gitattributes
  RNWCPP/.editorconfig
  RNWCPP/Directory.Build.targets
  RNWCPP/package.json
Labels: AutoMerge, rnwcpp

#2308 Add vnext to rnpm-plugin-windows version
  RNWCS/local-cli/rnpm/windows/src/windows.js
Labels: rnwcpp

#2309 Update postinstall script to work with CLI
  RNWCPP/Scripts/postInstall.js
Labels: AutoMerge, rnwcpp

#2317 Update CLI template to match file name
  RNWCPP/local-cli/generator-windows/templates/App.windows.js
  RNWCPP/local-cli/generator-windows/templates/app.windows.bundle
Labels: rnwcpp

#2319 Exclude VS 2019 from MSBuild path search
  RNWCPP/local-cli/runWindows/utils/msbuildtools.js
Labels: AutoMerge, rnwcpp

#2322 update ExceptionManagerModule assert for 0.58 compat
  RNWCPP/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
Labels: rnwcpp

#2323 Add npm publish to public feed
  RNWCPP/.ado/publish.yml
Labels: rnwcpp

#2324 Clean up publish tasks
  RNWCPP/.ado/publish.yml
  RNWCPP/.ado/updateVersion.js
Labels: AutoMerge, rnwcpp

#2318 Fix integration test setup script
  .gitattributes
  RNWCPP/Scripts/IntegrationTests.ps1
  RNWCPP/package.json
Labels: rnwcpp

#2329 Commiting updates to docs upon end of Milestone 1
  RNWCPP/README.md
  RNWCPP/docs/GettingStarted.md
Labels: AutoMerge, rnwcpp

#2314 Fix all the OACR errors!
  RNWCPP/Chakra/ChakraExecutor.cpp
  RNWCPP/Chakra/ChakraHelpers.cpp
  RNWCPP/Chakra/ChakraInstanceArgs.h
  RNWCPP/Chakra/ChakraNativeModules.cpp
  RNWCPP/Chakra/ChakraRuntime.cpp
  RNWCPP/Chakra/ChakraUtils.cpp
  RNWCPP/Chakra/ChakraValue.cpp
  RNWCPP/ChakraCoreShim/Redirects.cpp
  RNWCPP/ChakraCoreShim/Redirects.h
  RNWCPP/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  RNWCPP/Desktop.IntegrationTests/WebSocketResourcePerformanceTests.cpp
  RNWCPP/Desktop.UnitTests/BytecodeUnitTests.cpp
  RNWCPP/Desktop.UnitTests/StringConversionTest_Desktop.cpp
  RNWCPP/Desktop/Sandbox/SandboxBridge.cpp
  RNWCPP/PropertySheets/Warnings.props
  RNWCPP/ReactUWP/CxxReactUWP/JSBigString.cpp
  RNWCPP/ReactUWP/Modules/NetworkingModule.cpp
  RNWCPP/ReactUWP/Views/ControlViewManager.cpp
  RNWCPP/ReactUWP/Views/PickerViewManager.cpp
  RNWCPP/ReactUWP/Views/PopupViewManager.cpp
  RNWCPP/ReactUWP/Views/TextInputViewManager.cpp
  RNWCPP/ReactUWP/Views/TouchEventHandler.cpp
  RNWCPP/ReactUWP/Views/TouchEventHandler.h
  RNWCPP/ReactUWP/Views/ViewManagerBase.cpp
  RNWCPP/ReactUWP/Views/ViewPanel.cpp
  RNWCPP/ReactUWP/Views/ViewViewManager.cpp
  RNWCPP/ReactWindowsCore/DevSettings.h
  RNWCPP/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
  RNWCPP/ReactWindowsCore/Modules/UIManagerModule.cpp
  RNWCPP/Shared/AsyncStorage/KeyValueStorage.cpp
  RNWCPP/Shared/AsyncStorage/KeyValueStorage.h
  RNWCPP/Shared/AsyncStorage/StorageFileIO.cpp
  RNWCPP/Shared/AsyncStorage/StorageFileIO.h
  RNWCPP/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj
Labels: AutoMerge, rnwcpp

#2332 Cleaning up ReactUWP's WinRT code
  RNWCPP/ReactUWP/ABI/ABIModuleLoader.h
  RNWCPP/ReactUWP/ABI/Instance_rt.cpp
  RNWCPP/ReactUWP/ABI/Instance_rt.h
  RNWCPP/ReactUWP/ABI/ReactControl_rt.cpp
  RNWCPP/ReactUWP/ABI/ReactControl_rt.h
  RNWCPP/ReactUWP/ABI/idl/Instance.idl
  RNWCPP/ReactUWP/ABI/idl/Module.idl
  RNWCPP/ReactUWP/ABI/idl/ReactControl.g.idl
  RNWCPP/ReactUWP/ABI/idl/ReactControl.idl
  RNWCPP/ReactUWP/ABI/idl/sources
  RNWCPP/ReactUWP/ABI/lib/sources
  RNWCPP/ReactUWP/ABI/sources.inc
  RNWCPP/ReactUWP/CMakeLists.txt
  RNWCPP/ReactUWP/ReactUWP.vcxproj
  RNWCPP/ReactUWP/ReactUWP.vcxproj.filters
Labels: rnwcpp

#2334 Update version of ChakraCore
  RNWCPP/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  RNWCPP/Desktop.DLL/packages.config
  RNWCPP/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  RNWCPP/Desktop.IntegrationTests/packages.config
  RNWCPP/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  RNWCPP/Desktop.UnitTests/packages.config
  RNWCPP/Desktop/React.Windows.Desktop.vcxproj
  RNWCPP/Desktop/packages.config
  RNWCS/ReactWindows/ReactNative.Net46/ReactNative.Net46.csproj
  RNWCS/ReactWindows/ReactNative.Net46/packages.config
  RNWCS/local-cli/generator-wpf/templates/proj/packages.config
Labels: rnwcpp, rnwcs

#2336 Fixes project creation.
  RNWCPP/local-cli/generator-windows/index.js
Labels: AutoMerge, rnwcpp

#2340 Reduce View element count for border clipping scenarios
  RNWCPP/ReactUWP/Views/ViewPanel.cpp
  RNWCPP/ReactUWP/Views/ViewPanel.h
  RNWCPP/ReactUWP/Views/ViewViewManager.cpp
  RNWCPP/ReactUWP/Views/ViewViewManager.h
  RNWCPP/Universal.SampleApp/view.uwp.js
Labels: AutoMerge, rnwcpp

#2354 Remove outdated Tapped event handling from View. Also, clean up a few minor things in the code.
  RNWCPP/ReactUWP/Views/ViewViewManager.cpp
  RNWCPP/ReactUWP/Views/ViewViewManager.h
Labels: AutoMerge, rnwcpp

#2342 Fixing assert in TouchEventHandler
  RNWCPP/ReactUWP/Views/TouchEventHandler.cpp
Labels: AutoMerge, rnwcpp

#2357 Universal.SampleApp can now load local bundles again, issue #2352
  RNWCPP/Universal.SampleApp/Bundle/Universal.SampleApp/index.uwp.bundle
  RNWCPP/Universal.SampleApp/Bundle/index.uwp.bundle
  RNWCPP/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj
  RNWCPP/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj.filters
  RNWCPP/Universal.SampleApp/updatebundle.bat
Labels: rnwcpp

#2359 Implemented missing layout properties, #2143
  RNWCPP/ReactUWP/Modules/NativeUIManager.cpp
  RNWCPP/ReactUWP/Views/FrameworkElementViewManager.cpp
  RNWCPP/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
  RNWCPP/Universal.SampleApp/flexbox.uwp.js
Labels: AutoMerge, rnwcpp

#2362 update ExceptionsManagerModule assert to work with 57
  RNWCPP/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
Labels: rnwcpp

#2341 Update RN version + Folly Update
  RNWCPP/CopyHeaders.inc
  RNWCPP/Desktop.DLL/react-native-win32.oss.x64.def
  RNWCPP/Desktop.DLL/react-native-win32.oss.x86.def
  RNWCPP/Desktop.DLL/react-native-win32.x64.def
  RNWCPP/Desktop.DLL/react-native-win32.x86.def
  RNWCPP/Desktop.DLL/react-native-win32.x86sdx.def
  RNWCPP/Folly/Folly.vcxproj
  RNWCPP/Folly/Folly.vcxproj.filters
  RNWCPP/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.oss.arm.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.oss.x64.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.oss.x86.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.x86sdx.def
  RNWCPP/ReactWindowsCore/ReactWindowsCore.vcxproj
  RNWCPP/ReactWindowsCore/Utils.cpp
  RNWCPP/package.json
  RNWCPP/stubs/double-conversion/double-conversion.h
  RNWCPP/stubs/glog/logging.h
  RNWCPP/yarn.lock
Labels: AutoMerge, rnwcpp

#2360 Add YGUnitToString symbol to def files
  RNWCPP/Desktop.DLL/react-native-win32.oss.x64.def
  RNWCPP/Desktop.DLL/react-native-win32.x64.def
  RNWCPP/Desktop.DLL/react-native-win32.x86sdx.def
Labels: rnwcpp

#2361 Fix releases broken link
  RNWCPP/docs/releases.md
Labels: AutoMerge, rnwcpp

#2369 fixes for new folly consumption
  RNWCPP/Desktop.DLL/react-native-win32.x64.def
  RNWCPP/Desktop.DLL/react-native-win32.x86.def
  RNWCPP/Desktop/msoFolly.h
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  RNWCPP/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  RNWCPP/Universal.SampleApp/HostingPane.xaml.cpp
Labels: rnwcpp

#2371 fix CMake build
  RNWCPP/ReactWindowsCore/CMakeLists.txt
Labels: rnwcpp

#2372 add layoutanimationtests to cmake unit tests
  RNWCPP/Desktop.UnitTests/CMakeLists.txt
Labels: rnwcpp

#2370 Update to react-native@0.58.6-microsoft.31
  RNWCPP/package.json
  RNWCPP/yarn.lock
Labels: AutoMerge, rnwcpp

#2368 Add Flyout Control in rnwcpp
  RNWCPP/ReactUWP/Base/UwpReactInstance.cpp
  RNWCPP/ReactUWP/CMakeLists.txt
  RNWCPP/ReactUWP/ReactUWP.vcxproj
  RNWCPP/ReactUWP/ReactUWP.vcxproj.filters
  RNWCPP/ReactUWP/Views/FlyoutViewManager.cpp
  RNWCPP/ReactUWP/Views/FlyoutViewManager.h
  RNWCPP/ReactUWP/Views/sources
  RNWCPP/src/Libraries/Components/Flyout/Flyout.tsx
  RNWCPP/src/Libraries/Components/Flyout/Flyout.uwp.tsx
  RNWCPP/src/Libraries/Components/Flyout/FlyoutProps.ts
  RNWCPP/src/RNTester/FlyoutExample.uwp.tsx
  RNWCPP/src/RNTester/RNTesterList.uwp.ts
  RNWCPP/src/index.ts
  RNWCPP/src/index.uwp.ts
Labels: rnwcpp
