Repository microsoft/react-native-windows, pull requests merged in 2019-05, with the labels that each got.

#2373 Fix first launch and reload/unload crash
  RNWCPP/ReactUWP/ABI/ReactControl_rt.cpp
  RNWCPP/ReactUWP/ABI/ReactControl_rt.h
  RNWCPP/ReactUWP/Executors/WebSocketJSExecutorUwp.cpp
  RNWCPP/ReactUWP/Executors/WebSocketJSExecutorUwp.h
  RNWCPP/ReactUWP/Views/ReactControl.cpp
  RNWCPP/ReactUWP/Views/ReactControl.h
  RNWCPP/ReactUWP/Views/ReactRootView.cpp
  RNWCPP/include/ReactUWP/ReactRootView.h
Labels: AutoMerge, rnwcpp

#2395 Update to react-native@0.58.6-microsoft.34
  RNWCPP/package.json
  RNWCPP/yarn.lock
Labels: AutoMerge, rnwcpp

#2398 Update version of ChakraCore in sample
  RNWCPP/ChakraCoreShim/ChakraCoreShim.vcxproj
  RNWCS/local-cli/generator-wpf/templates/proj/MyApp.csproj
Labels: AutoMerge

#2415 Enable WebSocket resource unit tests.
  .gitattributes
  vnext/.editorconfig
  vnext/Desktop.DLL/react-native-win32.oss.x64.def
  vnext/Desktop.DLL/react-native-win32.oss.x86.def
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.DLL/react-native-win32.x86sdx.def
  vnext/Desktop.UnitTests/BaseWebSocketTests.cpp
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj.filters
  vnext/Desktop.UnitTests/WebSocketTest.cpp
  vnext/Desktop/LegacyWebSocket.cpp
  vnext/Desktop/LegacyWebSocket.h
  vnext/Desktop/WebSocket.cpp
  vnext/Desktop/WebSocket.h
  vnext/Desktop/WebSocketModule.cpp
  vnext/ReactWindows.sln
  vnext/ReactWindowsCore/IWebSocket.h
  vnext/ReactWindowsCore/Utils.cpp
  vnext/ReactWindowsCore/Utils.h
  vnext/ReactWindowsCore/WebSocketModule.h
Labels: vnext

#2425 Updating Getting Started (vnext)
  vnext/docs/GettingStarted.md
Labels: vnext

#2426 Update to react-native@0.58.6-microsoft.36
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge

#2430 Update to react-native@0.58.6-microsoft.37
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge

#2434 Update to react-native@0.58.6-microsoft.38
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2435 Update to react-native@0.58.6-microsoft.39
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2433 Improve js download error handling
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Modules/DevSupportManagerUwp.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/Shared/OInstance.cpp
Labels: AutoMerge, vnext

#2429 Enabling further C++ strict conformance (/permissive-)
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.UnitTests/WebSocketModuleTest.cpp
  vnext/Desktop/LegacyWebSocket.cpp
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/msoFolly.h
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  vnext/PropertySheets/Warnings.props
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/UnicodeConversion.cpp
  vnext/Universal.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Universal.SampleApp/MainPage.xaml.cpp
  vnext/Universal.SampleApp/React.Windows.Universal.SampleApp.vcxproj
Labels: vnext

#2400 Change min version from rs3 to rs2
  vnext/CHANGELOG.md
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactUWP/Views/TextInputViewManager.cpp
Labels: AutoMerge, vnext

#2441 Update to react-native@0.58.6-microsoft.41
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2440 Internal build fixes
  vnext/CopyHeaders.inc
  vnext/make.inc
Labels: vnext

#2444 updating chakracore debugger
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
Labels: AutoMerge, vnext

#2449 Update to react-native@0.58.6-microsoft.42
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2446 Drop boost package references for NMake.
  vnext/make.inc
  vnext/makewinrt.inc
Labels: vnext

#2450 Be specific about which string_view
  vnext/Desktop/WebSocket.cpp
Labels: AutoMerge, vnext

#2454 Revert "Drop boost package references for NMake. (#2446)"
  vnext/make.inc
  vnext/makewinrt.inc
Labels: vnext

#2453 Check build has happened before running bundler
  vnext/rn-cli.config.js
Labels: vnext

#2445 Unicode conversion
  vnext/Chakra/ChakraHelpers.cpp
  vnext/Chakra/ChakraJsiRuntime.cpp
  vnext/Chakra/ChakraJsiRuntime.h
  vnext/Chakra/ChakraJsiRuntime_core.cpp
  vnext/Chakra/ChakraJsiRuntime_edgemode.cpp
  vnext/Chakra/ChakraUtils.cpp
  vnext/Chakra/Utf8DebugExtensions.cpp
  vnext/CopyHeaders.inc
  vnext/Desktop.DLL/react-native-win32.oss.x64.def
  vnext/Desktop.DLL/react-native-win32.oss.x86.def
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.DLL/react-native-win32.x86sdx.def
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.UnitTests/BytecodeUnitTests.cpp
  vnext/Desktop.UnitTests/UnicodeConversionTest.cpp
  vnext/Desktop/LegacyWebSocket.cpp
  vnext/Desktop/Sandbox/NamedPipeEndpoint.cpp
  vnext/Desktop/WebSocket.cpp
  vnext/Desktop/WebSocketModule.cpp
  vnext/IntegrationTests/TestRunner.cpp
  vnext/ReactUWP/ABI/HStringHelper.cpp
  vnext/ReactUWP/Base/InstanceFactory.cpp
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86sdx.def
  vnext/ReactUWP/Executors/WebSocketJSExecutorUwp.cpp
  vnext/ReactUWP/Modules/ClipboardModule.cpp
  vnext/ReactUWP/Modules/DevSupportManagerUwp.cpp
  vnext/ReactUWP/Modules/I18nModule.cpp
  vnext/ReactUWP/Modules/LinkingManagerModule.cpp
  vnext/ReactUWP/Modules/LocationObserverModule.cpp
  vnext/ReactUWP/Modules/NetworkingModule.cpp
  vnext/ReactUWP/Modules/WebSocketModuleUwp.cpp
  vnext/ReactUWP/Utils/LocalBundleReader.cpp
  vnext/ReactUWP/Utils/ValueUtils.cpp
  vnext/ReactUWP/Views/ImageViewManager.cpp
  vnext/ReactUWP/Views/PickerViewManager.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactWindowsCore/CMakeLists.txt
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/ReactWindowsCore/UnicodeConversion.cpp
  vnext/ReactWindowsCore/sources.inc
  vnext/ReactWindowsCore/unicode.cpp
  vnext/ReactWindowsCore/utilities.h
  vnext/Shared/OInstance.cpp
  vnext/Universal.SampleApp/HostingPane.xaml.cpp
  vnext/include/ReactWindowsCore/UnicodeConversion.h
  vnext/include/ReactWindowsCore/unicode.h
  vnext/package.json
Labels: vnext

#2459 Update to react-native@0.58.6-microsoft.44
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2462 Fix x86 cmake build break caused by commit 2dd1b43860edeba7a321f02eab1f6ee15771711c.
  vnext/Desktop.DLL/react-native-win32.x86sdx.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86sdx.def
Labels: AutoMerge, vnext

#2463 Update to react-native@0.58.6-microsoft.45
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2468 Header should include all its reqs
  vnext/ReactWindowsCore/DevSettings.h
Labels: vnext

#2457 Chakracore debugger console redirection support
  vnext/Chakra/ChakraCoreDebugger.h
  vnext/Chakra/ChakraExecutor.cpp
  vnext/Chakra/ChakraExecutor.h
  vnext/Chakra/ChakraInstanceArgs.h
  vnext/ReactWindowsCore/DevSettings.h
  vnext/Shared/OInstance.cpp
Labels: vnext

#2473 fix nuget packaging
  vnext/ReactWindows-CopyToStaging.bat
Labels: vnext

#2472 Add v8runtime export to the def file
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactCommon/nov8.cpp
Labels: AutoMerge, vnext

#2465 Complete support for HostObject (UWP&Win32) and Weak references (partial for UWP)
  vnext/Chakra/ChakraJsiRuntime.cpp
  vnext/Chakra/ChakraJsiRuntime.h
  vnext/Chakra/ChakraJsiRuntime_core.cpp
  vnext/Chakra/ChakraJsiRuntime_edgemode.cpp
Labels: vnext

#2475 Add IUIManager.h to nuget
  vnext/ReactWin32.nuspec
  vnext/ReactWindows.nuspec
Labels: vnext

#2478 Update to react-native@0.58.6-microsoft.46
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2479 Update to react-native@0.58.6-microsoft.47
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge

#2483 Nuget fix iuimanager.h typo
  vnext/ReactWin32.nuspec
  vnext/ReactWindows.nuspec
Labels: vnext

#2443 ScrollView snap point properties
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/Impl/ScrollViewUWPImplementation.cpp
  vnext/ReactUWP/Views/Impl/ScrollViewUWPImplementation.h
  vnext/ReactUWP/Views/Impl/SnapPointManagingContentControl.cpp
  vnext/ReactUWP/Views/Impl/SnapPointManagingContentControl.h
  vnext/ReactUWP/Views/ScrollViewManager.cpp
  vnext/ReactUWP/Views/ScrollViewManager.h
  vnext/Shared/pch.h
  vnext/include/CppWinRTIncludes.h
Labels: vnext

#2442 Flyout updates
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/src/Libraries/Components/Flyout/FlyoutProps.ts
  vnext/src/RNTester/FlyoutExample.uwp.tsx
Labels: vnext

#2487 Include IWebSocket.h in nuget
  vnext/ReactWin32.nuspec
Labels: vnext

#2485 Switching UWP react native instance to use JSI
  vnext/Chakra/ChakraJsiRuntime.cpp
  vnext/Chakra/ChakraJsiRuntime.h
  vnext/Desktop.IntegrationTests/ChakraJSIRuntimeHolder.cpp
  vnext/Desktop.IntegrationTests/ChakraJSIRuntimeHolder.h
  vnext/Desktop.IntegrationTests/DesktopTestRunner.cpp
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj.filters
  vnext/ReactUWP/Base/ChakraJSIRuntimeHolder.cpp
  vnext/ReactUWP/Base/ChakraJSIRuntimeHolder.h
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Utils/PropertyUtils.h
  vnext/ReactUWP/Utils/ValueUtils.cpp
  vnext/Shared/OInstance.cpp
Labels: vnext

#2490 Fix Unittest build, internal build fixes
  vnext/ReactUWP/CMakeLists.txt
  vnext/Universal.UnitTests/CMakeLists.txt
  vnext/Universal.UnitTests/React.Windows.Universal.UnitTests.vcxproj
  vnext/include/CppWinRTIncludes.h
Labels: vnext

#2491 Update to react-native@0.58.6-microsoft.48
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2496 Fixing cmake build after JSI switch
  vnext/Desktop.IntegrationTests/CMakeLists.txt
  vnext/ReactUWP/CMakeLists.txt
Labels: vnext

#2495 Perf improvements
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Polyester/ButtonViewManager.cpp
  vnext/ReactUWP/Polyester/ButtonViewManager.h
  vnext/ReactUWP/Polyester/HyperlinkViewManager.cpp
  vnext/ReactUWP/Polyester/HyperlinkViewManager.h
  vnext/ReactUWP/Polyester/IconViewManager.cpp
  vnext/ReactUWP/Polyester/IconViewManager.h
  vnext/ReactUWP/Utils/PropertyHandlerUtils.h
  vnext/ReactUWP/Utils/PropertyUtils.h
  vnext/ReactUWP/Views/ActivityIndicatorViewManager.cpp
  vnext/ReactUWP/Views/ActivityIndicatorViewManager.h
  vnext/ReactUWP/Views/CheckboxViewManager.cpp
  vnext/ReactUWP/Views/CheckboxViewManager.h
  vnext/ReactUWP/Views/ControlViewManager.cpp
  vnext/ReactUWP/Views/DatePickerViewManager.cpp
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/ReactUWP/Views/ImageViewManager.cpp
  vnext/ReactUWP/Views/ImageViewManager.h
  vnext/ReactUWP/Views/PickerViewManager.cpp
  vnext/ReactUWP/Views/PopupViewManager.cpp
  vnext/ReactUWP/Views/RawTextViewManager.cpp
  vnext/ReactUWP/Views/RawTextViewManager.h
  vnext/ReactUWP/Views/ScrollViewManager.cpp
  vnext/ReactUWP/Views/SwitchViewManager.cpp
  vnext/ReactUWP/Views/SwitchViewManager.h
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactUWP/Views/TextViewManager.cpp
  vnext/ReactUWP/Views/TextViewManager.h
  vnext/ReactUWP/Views/ViewManagerBase.cpp
  vnext/ReactUWP/Views/ViewViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.h
  vnext/ReactUWP/Views/VirtualTextViewManager.cpp
  vnext/ReactUWP/Views/VirtualTextViewManager.h
  vnext/ReactUWP/Views/WebViewManager.cpp
  vnext/ReactUWP/Views/WebViewManager.h
  vnext/Universal.SampleApp/CustomViewManager.cpp
  vnext/Universal.SampleApp/CustomViewManager.h
  vnext/include/ReactUWP/Views/ControlViewManager.h
  vnext/include/ReactUWP/Views/FrameworkElementViewManager.h
  vnext/include/ReactUWP/Views/ViewManagerBase.h
Labels: vnext

#2493 Fixing sizing issues with Flyout (WI: 3362439)
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: AutoMerge, vnext

#2500 fix for running in web debugging mode
  vnext/Shared/OInstance.cpp
Labels: vnext

#2498 Verify nuget can be packed during PR
  .ado/publish.yml
  .ado/templates/npm-install-and-build.yml
  .ado/templates/prep-and-pack-nuget.yml
  .ado/templates/publish-build-artifacts-for-nuget.yml
  .ado/templates/stop-packagers.yml
  .ado/templates/vs-build.yml
  .ado/windows-vs-pr.yml
Labels: vnext

#2501 JSI compat fixes
  vnext/ReactUWP/Polyester/IconViewManager.cpp
  vnext/ReactUWP/Views/DatePickerViewManager.cpp
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
  vnext/ReactUWP/Views/PopupViewManager.cpp
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactUWP/Views/TextViewManager.cpp
  vnext/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
  vnext/ReactWindowsCore/Modules/UIManagerModule.cpp
Labels: vnext

#2502 fix TextInput
  vnext/ReactUWP/Views/TextInputViewManager.cpp
Labels: vnext

#2503 Removing some MS-internal build files, add UseJsi option
  vnext/Chakra/dirs
  vnext/Chakra/winrt/sources
  vnext/ReactCommon/dirs
  vnext/ReactCommon/winrt/sources
  vnext/ReactUWP/ABI/dirs
  vnext/ReactUWP/ABI/idl/sources
  vnext/ReactUWP/ABI/lib/sources
  vnext/ReactUWP/ABI/sources.inc
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/sources
  vnext/ReactUWP/CxxReactUWP/sources
  vnext/ReactUWP/EndPoints/dirs
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  vnext/ReactUWP/EndPoints/dll/sources
  vnext/ReactUWP/Executors/sources
  vnext/ReactUWP/Modules/sources
  vnext/ReactUWP/Pch/sources
  vnext/ReactUWP/Polyester/sources
  vnext/ReactUWP/Sandbox/sources
  vnext/ReactUWP/Threading/sources
  vnext/ReactUWP/Utils/sources
  vnext/ReactUWP/Views/sources
  vnext/ReactUWP/dirs
  vnext/ReactWindowsCore/Modules/dirs
  vnext/ReactWindowsCore/Modules/winrt/sources
  vnext/ReactWindowsCore/dirs
  vnext/ReactWindowsCore/winrt/sources
  vnext/Shared/AsyncStorage/dirs
  vnext/Shared/AsyncStorage/winrt/sources
  vnext/Shared/dirs
  vnext/Shared/winrt/sources
  vnext/Universal.SampleApp/HostingPane.xaml.cpp
  vnext/dirs
  vnext/include/ReactUWP/IReactInstance.h
  vnext/include/ReactUWP/InstanceFactory.h
Labels: vnext

#2504 add DirectDebugging option for uwp Chakra
  vnext/Chakra/ChakraExecutor.cpp
  vnext/Chakra/ChakraJsiRuntime.cpp
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/include/ReactUWP/IReactInstance.h
Labels: vnext

#2467 Fix to allow authorization header to be added.
  vnext/ReactUWP/Modules/NetworkingModule.cpp
  vnext/ReactUWP/Views/ImageViewManager.cpp
Labels: vnext

#2506 internal build Fix
  vnext/ReactWindowsCore/dirs
Labels: vnext

#2507 Update to react-native@0.58.6-microsoft.49
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2514 Update to react-native@0.58.6-microsoft.51
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2510 Core Parity Status Article
  vnext/docs/ParityStatus.md
Labels: vnext

#2511 Add files needed for win32 nuget
  vnext/ReactWin32.nuspec
  vnext/ReactWindows-CopyToStaging2.bat
Labels: vnext

#2516 Create a separate uwp nuget
  .ado/templates/prep-and-pack-nuget.yml
  vnext/.npmignore
  vnext/ReactUwp.nuspec
  vnext/ReactWindows-CopyToStaging.bat
  vnext/ReactWindows-CopyToStaging2.bat
  vnext/ReactWindows-TestNuspec.bat
  vnext/ReactWindows-UWP.sln
  vnext/ReactWindows.sln
Labels: vnext

#2513 Transform support
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/src/RNTester/RNTesterList.uwp.ts
Labels: vnext

#2474 ChakraCore v1.11.9
  current/ReactWindows/ReactNative.Net46/ReactNative.Net46.csproj
  current/ReactWindows/ReactNative.Net46/packages.config
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/package.json
Labels: AutoMerge, vnext

#2519 Flyout dismissal
  vnext/ReactUWP/Views/FlyoutViewManager.cpp
Labels: vnext

#2523 Update to react-native@0.58.6-microsoft.54
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2521 Avoid infinite updating loop for textinput and allow fast typing
  vnext/Libraries/Components/TextInput/TextInput.uwp.js
  vnext/ReactUWP/Views/TextInputViewManager.cpp
Labels: AutoMerge, vnext

#2520 Self layout elements not always visible after an update
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Views/ViewManagerBase.cpp
Labels: vnext

#2525 Update to react-native@0.58.6-microsoft.55
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2528 Generate full debugging info in the pdbs
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/PropertySheets/DynamicLibrary/Release.props
  vnext/package.json
Labels: vnext

#2526 ChakraJsiRuntime debugger refactoring
  vnext/Chakra/ChakraJsiRuntime.cpp
  vnext/Chakra/ChakraJsiRuntime.h
  vnext/Chakra/ChakraJsiRuntime_core.cpp
  vnext/Chakra/ChakraJsiRuntime_edgemode.cpp
Labels: vnext

#2481 BatchingUIManager for UWP
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Threading/UIMessageQueueThread.cpp
  vnext/ReactWindowsCore/IUIManager.h
  vnext/ReactWindowsCore/Modules/BatchingUIManagerModule.cpp
  vnext/ReactWindowsCore/Modules/BatchingUIManagerModule.h
  vnext/ReactWindowsCore/Modules/UIManagerModule.cpp
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
Labels: AutoMerge, vnext

#2534 Export dynamic::get_ptr
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Folly/Folly.vcxproj
  vnext/FollyWin32/FollyWin32.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  vnext/Universal.SampleApp/HostingPane.xaml.cpp
Labels: vnext

#2536 Turn off debug output for BatchingUIManager.
  vnext/ReactWindowsCore/Modules/BatchingUIManagerModule.cpp
Labels: AutoMerge, vnext

#2396 VS 2019 Fixes
  vnext/PropertySheets/React.Cpp.props
  vnext/Universal.IntegrationTests/React.Windows.Universal.IntegrationTests.vcxproj
Labels: vnext

#2539 Update msbuildtools.js with VS 2019 path
  vnext/local-cli/runWindows/utils/msbuildtools.js
Labels: vnext

#2543 Updating the chakracore debugger to the lastest version
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/package.json
Labels: Needs: Author Feedback, vnext

#2541 Update to react-native@0.58.6-microsoft.58
  vnext/package.json
  vnext/yarn.lock
Labels: AutoMerge, vnext

#2544 PDBs should be created with -minpdbpathlen:256
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
Labels: AutoMerge, vnext

#2542 Remove use of LayoutUpdated event. Set clipping in ArrangeOverride() instead.
  vnext/ReactUWP/Views/ViewPanel.cpp
  vnext/ReactUWP/Views/ViewPanel.h
Labels: AutoMerge, vnext

#2545 ScrollContentView and ScrollView cleanup
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/Impl/ScrollViewUWPImplementation.cpp
  vnext/ReactUWP/Views/Impl/ScrollViewUWPImplementation.h
  vnext/ReactUWP/Views/Impl/SnapPointManagingContentControl.cpp
  vnext/ReactUWP/Views/Impl/SnapPointManagingContentControl.h
  vnext/ReactUWP/Views/ScrollContentViewManager.cpp
  vnext/ReactUWP/Views/ScrollContentViewManager.h
  vnext/ReactUWP/Views/ScrollViewManager.cpp
Labels: vnext

#2547 Image unforking
  vnext/Libraries/Image/Image.uwp.js
  vnext/ReactUWP/Views/ImageViewManager.cpp
Labels: vnext
