Repository microsoft/react-native-windows, pull requests merged in 2020-03, with the labels that each got.

#4212 Prevent react-native-win32 From Blowing Up on Startup
  change/@office-iss-react-native-win32-2020-02-28-17-13-23-fix-win32.json
  packages/react-native-win32/.flowconfig
  packages/react-native-win32/src/Libraries/Utilities/NativePlatformConstantsWin.js
  packages/react-native-win32/src/Libraries/Utilities/Platform.win32.js
  packages/react-native-win32/src/Libraries/core/ReactNativeVersionCheck.win32.js
  packages/react-native-win32/src/overrides.json
Labels: AutoMerge

#4214 Fix a couple of places in run-windows that has incorrect assumptions on install layout
  change/react-native-windows-2020-02-29-10-23-04-runWindowsHoist.json
  vnext/local-cli/runWindows/utils/deploy.js
Labels: AutoMerge, vnext

#4213 Add descriptions to dev menu items
  change/react-native-windows-2020-02-29-07-53-40-nicedevmenu.json
  vnext/Microsoft.ReactNative/Views/ReactRootControl.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
Labels: AutoMerge

#4197 Upgrade just-scripts and add root test script
  .ado/templates/e2e-test-job.yml
  .ado/windows-vs-pr.yml
  change/@office-iss-react-native-win32-2020-02-27-05-10-57-upgrade-just.json
  change/react-native-windows-2020-02-27-05-10-57-upgrade-just.json
  change/react-native-windows-extended-2020-02-27-05-10-57-upgrade-just.json
  docs/e2e-testing.md
  package.json
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/override-tools/package.json
  packages/playground/package.json
  packages/react-native-win32/package.json
  packages/react-native-windows-extended/package.json
  packages/scripts/package.json
  vnext/package.json
  yarn.lock
Labels: AutoMerge

#4218 More Override Manifest Functionality (Unit Tests Coming Next Iteration)
  change/@office-iss-react-native-win32-2020-03-02-11-13-24-add-remove-override.json
  change/react-native-windows-2020-03-02-11-13-24-add-remove-override.json
  package.json
  packages/override-tools/bin.js
  packages/override-tools/package.json
  packages/override-tools/src/Cli.ts
  packages/override-tools/src/FileRepository.ts
  packages/override-tools/src/FileSearch.ts
  packages/override-tools/src/Manifest.ts
  packages/override-tools/src/ManifestData.ts
  packages/override-tools/src/OverridePrompt.ts
  packages/override-tools/src/PackageUtils.ts
  packages/override-tools/src/ReactVersion.ts
  packages/override-tools/src/scripts/generateManifest.ts
  packages/override-tools/src/scripts/hashFile.ts
  packages/override-tools/src/test/Manifest.test.ts
  packages/override-tools/src/test/ManifestData.test.ts
  packages/override-tools/src/test/MockFileRepository.ts
  packages/react-native-win32/package.json
  packages/react-native-win32/src/overrides.json
  vnext/package.json
  yarn.lock
Labels: AutoMerge

#4224 Remove CMakeLists
  change/react-native-windows-2020-03-03-08-46-15-remove-cmake.json
  vnext/CMakeLists.txt
  vnext/Chakra/CMakeLists.txt
  vnext/Desktop.DLL/CMakeLists.txt
  vnext/Desktop.IntegrationTests/CMakeLists.txt
  vnext/Desktop.UnitTests/CMakeLists.txt
  vnext/Desktop/CMakeLists.txt
  vnext/IntegrationTests/CMakeLists.txt
  vnext/ReactUWP/CMakeLists.txt
  vnext/ReactWindowsCore/CMakeLists.txt
  vnext/Shared/CMakeLists.txt
  vnext/Universal.UnitTests/CMakeLists.txt
Labels: AutoMerge, vnext

#4219 Add more manifest unit tests
  packages/override-tools/src/Manifest.ts
  packages/override-tools/src/test/Manifest.test.ts
  packages/override-tools/src/test/MockFileRepository.ts
Labels: AutoMerge

#4230 Moved header files from ReactUWP\Utils to include\ReactUWP\Utils
  change/react-native-windows-2020-03-03-21-47-48-util.includes.cleanup.json
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Utils/Helpers.cpp
  vnext/ReactUWP/Utils/LocalBundleReader.cpp
  vnext/ReactUWP/Utils/ResourceBrushUtils.cpp
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.cpp
  vnext/ReactUWP/Utils/UwpScriptStore.cpp
  vnext/include/Include.vcxitems
  vnext/include/Include.vcxitems.filters
  vnext/include/ReactUWP/Utils/CppWinrtLessExceptions.h
  vnext/include/ReactUWP/Utils/Helpers.h
  vnext/include/ReactUWP/Utils/LocalBundleReader.h
  vnext/include/ReactUWP/Utils/PropertyHandlerUtils.h
  vnext/include/ReactUWP/Utils/PropertyUtils.h
  vnext/include/ReactUWP/Utils/ResourceBrushUtils.h
  vnext/include/ReactUWP/Utils/StandardControlResourceKeyNames.h
  vnext/include/ReactUWP/Utils/UwpPreparedScriptStore.h
  vnext/include/ReactUWP/Utils/UwpScriptStore.h
Labels: vnext

#4233 [Cherry-pick] Moved header files from ReactUWP\\Utils to include\\ReactUWP\\Utils. Updated project references.
  change/react-native-windows-2020-03-03-21-47-48-util.includes.cleanup.json
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Utils/Helpers.cpp
  vnext/ReactUWP/Utils/LocalBundleReader.cpp
  vnext/ReactUWP/Utils/ResourceBrushUtils.cpp
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.cpp
  vnext/ReactUWP/Utils/UwpScriptStore.cpp
  vnext/include/Include.vcxitems
  vnext/include/Include.vcxitems.filters
  vnext/include/ReactUWP/Utils/CppWinrtLessExceptions.h
  vnext/include/ReactUWP/Utils/Helpers.h
  vnext/include/ReactUWP/Utils/LocalBundleReader.h
  vnext/include/ReactUWP/Utils/PropertyHandlerUtils.h
  vnext/include/ReactUWP/Utils/PropertyUtils.h
  vnext/include/ReactUWP/Utils/ResourceBrushUtils.h
  vnext/include/ReactUWP/Utils/StandardControlResourceKeyNames.h
  vnext/include/ReactUWP/Utils/UwpPreparedScriptStore.h
  vnext/include/ReactUWP/Utils/UwpScriptStore.h
Labels: vnext

#4235 Support poject config for RNW when running "react-native config"
  change/react-native-windows-2020-03-04-11-59-23-events.json
  vnext/local-cli/config/projectConfig.js
  vnext/react-native.config.js
Labels: vnext

#4234 Enable V8 JSI support for win32
  change/react-native-windows-2020-03-04-11-07-54-master.json
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.IntegrationTests/ChakraRuntimeHolder.h
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/ChakraCoreRuntimeUnitTests.cpp
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.cpp
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.h
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Shared/ByteArrayBuffer.h
  vnext/JSI/Shared/ChakraObjectRef.cpp
  vnext/JSI/Shared/ChakraObjectRef.h
  vnext/JSI/Shared/ChakraRuntime.h
  vnext/JSI/Shared/ChakraRuntimeArgs.h
  vnext/JSI/Universal/JSI.Universal.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.h
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj.filters
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.cpp
  vnext/ReactWindowsCore/BaseScriptStoreImpl.h
  vnext/ReactWindowsCore/ChakraRuntimeHolder.h
  vnext/ReactWindowsCore/MemoryMappedBuffer.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.h
  vnext/ReactWindowsCore/packages.config
  vnext/Shared/OInstance.cpp
  vnext/include/ReactUWP/IReactInstance.h
  vnext/include/ReactUWP/Utils/UwpPreparedScriptStore.h
  vnext/include/ReactUWP/Utils/UwpScriptStore.h
Labels: AutoMerge, vnext

#4229 Define _WIN32_WINNT instead of WINVER.
  change/react-native-windows-2020-03-03-19-44-38-win32_winnt.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/Test/React.Windows.Test.vcxproj
  vnext/V8Inspector/V8Inspector.vcxproj
Labels: vnext

#4236 Move ViewPanel import from PropertyUtils to FrameworkElementViewManager
  change/react-native-windows-2020-03-04-16-35-45-ViewPanelImportFix.json
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/include/ReactUWP/Utils/PropertyUtils.h
Labels: vnext

#4240 Added TryAddAttributedModule method
  change/react-native-windows-2020-03-05-09-29-39-MS_ModuleRegistration.json
  vnext/Microsoft.ReactNative.Cxx/ModuleRegistration.cpp
  vnext/Microsoft.ReactNative.Cxx/ModuleRegistration.h
  vnext/Microsoft.ReactNative.SharedManaged/ReactModuleInfo.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactPackageBuilderExtensions.cs
  vnext/include/Include.vcxitems.filters
Labels: vnext

#4242 Move ViewPanel import from PropertyUtils to FrameworkElementViewManager (#4236)
  change/react-native-windows-2020-03-04-16-35-45-ViewPanelImportFix.json
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
  vnext/include/ReactUWP/Utils/PropertyUtils.h
Labels: vnext

#4241 Enable V8 JSI support for win32
  change/react-native-windows-2020-03-05-10-04-59-0.60-stable.json
  packages/playground/windows/playground.sln
  packages/playground/windows/playground/HostingPane.xaml
  packages/playground/windows/playground/HostingPane.xaml.cpp
  packages/playground/windows/playground/HostingPane.xaml.h
  packages/playground/windows/playground/Playground.vcxproj
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.IntegrationTests/ChakraRuntimeHolder.h
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/ChakraCoreRuntimeUnitTests.cpp
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.cpp
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.h
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Shared/ByteArrayBuffer.h
  vnext/JSI/Shared/ChakraObjectRef.cpp
  vnext/JSI/Shared/ChakraObjectRef.h
  vnext/JSI/Shared/ChakraRuntime.h
  vnext/JSI/Shared/ChakraRuntimeArgs.h
  vnext/JSI/Shared/ScriptStore.h
  vnext/JSI/Universal/JSI.Universal.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactCommon/ReactCommon.vcxproj.filters
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/Utils/UwpPreparedScriptStore.cpp
  vnext/ReactWindows-Universal.sln
  vnext/ReactWindowsCore/BaseScriptStoreImpl.h
  vnext/ReactWindowsCore/ChakraRuntimeHolder.h
  vnext/ReactWindowsCore/MemoryMappedBuffer.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.h
  vnext/ReactWindowsCore/packages.config
  vnext/Shared/OInstance.cpp
  vnext/include/ReactUWP/IReactInstance.h
  vnext/include/ReactUWP/Utils/UwpPreparedScriptStore.h
  vnext/include/ReactUWP/Utils/UwpScriptStore.h
Labels: vnext

#4253 Clean up vnext/include/Include.vcxitems.filters
  change/react-native-windows-2020-03-06-10-21-43-fixincludefilters.json
  vnext/include/Include.vcxitems.filters
Labels: AutoMerge, vnext

#4251 Support dependency config for RNW when running "react-native config"
  change/react-native-windows-2020-03-06-09-06-45-autolink2.json
  vnext/local-cli/config/dependencyConfig.js
  vnext/local-cli/config/projectConfig.js
  vnext/react-native.config.js
Labels: vnext

#4257 Add JS engine selection to the Playground apps
  change/react-native-windows-2020-03-06-15-06-40-master.json
  packages/playground/windows/playground-win32.sln
  packages/playground/windows/playground-win32/Playground-Win32.cpp
  packages/playground/windows/playground-win32/Playground-Win32.rc
  packages/playground/windows/playground-win32/Playground-win32.vcxproj
  packages/playground/windows/playground-win32/resource.h
  packages/playground/windows/playground.sln
  packages/playground/windows/playground/HostingPane.xaml
  packages/playground/windows/playground/HostingPane.xaml.cpp
  packages/playground/windows/playground/Playground.vcxproj
  vnext/ReactUWP/Base/UwpReactInstance.cpp
Labels: vnext

#4258 Release build fails if you dont have react-native globally installed
  change/react-native-windows-2020-03-06-15-18-23-noglobalrn.json
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleAppCpp.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/SampleAppCS.csproj
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.vcxproj
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.csproj
Labels: AutoMerge, vnext

#4259 Dont show loading bar in release apps
  change/react-native-windows-2020-03-06-15-28-57-noloadingship.json
  vnext/Microsoft.ReactNative/Views/ReactRootControl.cpp
  vnext/Microsoft.ReactNative/Views/ReactRootControl.h
Labels: AutoMerge, vnext

#4260 Deprecate JSValue typed value access functions
  change/react-native-windows-2020-03-06-15-06-46-MS_FixJSValue.json
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/pch.h
  vnext/Microsoft.ReactNative.Cxx.UnitTests/JSValueTest.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/ReactModuleBuilderMock.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValue.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValue.h
  vnext/Microsoft.ReactNative.Cxx/JSValueReader.h
  vnext/Microsoft.ReactNative.Cxx/JSValueTreeReader.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValueWriter.h
  vnext/Microsoft.ReactNative.Managed.UnitTests/NativeModuleTest.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValue.cs
  vnext/local-cli/generator-windows/templates/cpp/src/pch.h
Labels: AutoMerge, vnext

#4263 Add Override Manifest for Native Code
  change/react-native-windows-2020-03-06-17-27-30-native-manifest.json
  packages/override-tools/src/Cli.ts
  packages/override-tools/src/scripts/generateManifest.ts
  vnext/DeforkingPatches/overrides.json
  vnext/package.json
Labels: AutoMerge, vnext

#4262 Add more helpers in XamlHelper
  change/react-native-windows-2020-03-06-17-26-22-add-helpers.json
  vnext/Microsoft.ReactNative.Cxx/JSValueXaml.h
  vnext/Microsoft.ReactNative/XamlHelper.cpp
  vnext/Microsoft.ReactNative/XamlHelper.h
  vnext/Microsoft.ReactNative/XamlHelper.idl
Labels: vnext

#4268 Add redbox as default handler for JS errors
  change/react-native-windows-2020-03-08-17-42-52-redbox.json
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/ReactHost/JSExceptionInfo.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/RedBox.cpp
  vnext/Microsoft.ReactNative/RedBox.h
  vnext/ReactWindowsCore/DevSettings.h
  vnext/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
  vnext/ReactWindowsCore/Modules/ExceptionsManagerModule.h
Labels: AutoMerge, vnext

#4267 Fix Support For SystraceSection
  change/react-native-windows-2020-03-07-06-25-07-fix-etw.json
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactWindowsCore/tracing/fbsystrace.h
Labels: vnext

#4273 [Cherry-Pick] Fix Support For SystraceSection (#4267)
  change/react-native-windows-2020-03-07-06-25-07-fix-etw.json
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactWindowsCore/tracing/fbsystrace.h
Labels: AutoMerge, vnext

#4278 Strip out color code characters from redbox error message
  change/react-native-windows-2020-03-09-16-23-48-stripchalk.json
  vnext/Microsoft.ReactNative/RedBox.cpp
Labels: AutoMerge

#4291 Fix crash in timers during instance shutdown, and in systrace
  change/react-native-windows-2020-03-10-22-14-59-reloadcrashes.json
  vnext/ReactUWP/Modules/TimingModule.cpp
  vnext/ReactUWP/Modules/TimingModule.h
  vnext/ReactWindowsCore/tracing/tracing.cpp
Labels: vnext

#4292 Minor code review feedback updates from timer change
  change/react-native-windows-2020-03-11-09-17-10-reloadcrashes.json
  vnext/ReactWindowsCore/tracing/tracing.cpp
Labels: AutoMerge, vnext

#4290 Flush out more RedBox behavior
  change/react-native-windows-2020-03-10-20-58-42-exceptionsmanager.json
  packages/playground/windows/playground-win32/Playground-Win32.cpp
  packages/playground/windows/playground/HostingPane.xaml.cpp
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Microsoft.ReactNative/ReactHost/JSExceptionCallbackFactory.cpp
  vnext/Microsoft.ReactNative/ReactHost/JSExceptionCallbackFactory.h
  vnext/Microsoft.ReactNative/ReactHost/JSExceptionInfo.h
  vnext/Microsoft.ReactNative/ReactHost/React.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.h
  vnext/Microsoft.ReactNative/RedBox.cpp
  vnext/Microsoft.ReactNative/RedBox.h
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactWindowsCore/DevSettings.h
  vnext/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
  vnext/ReactWindowsCore/Modules/ExceptionsManagerModule.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/ReactWindowsCore/RedBoxHandler.h
  vnext/Scripts/ReactWin32.nuspec
  vnext/Shared/OInstance.cpp
  vnext/include/ReactUWP/IReactInstance.h
Labels: AutoMerge, vnext

#4294 Fixed JSValueObject operator[]
  change/react-native-windows-2020-03-11-12-43-39-FixJSValueIndex.json
  vnext/Microsoft.ReactNative.Cxx.UnitTests/JSValueTest.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValue.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValue.h
Labels: AutoMerge, vnext

#4303 Stop requiring signing certs for test apps
  change/react-native-windows-2020-03-12-07-33-25-fixcerts.json
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp.csproj
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp_TemporaryKey.pfx
  packages/playground/windows/playground-win32/Playground-win32.vcxproj
  packages/playground/windows/playground/Playground.vcxproj
  vnext/Universal.IntegrationTests/React.Windows.Universal.IntegrationTests.vcxproj
  vnext/Universal.UnitTests/React.Windows.Universal.UnitTests.vcxproj
Labels: AutoMerge, vnext

#4297 Use RedBox for native errors
  change/react-native-windows-2020-03-11-16-28-41-nativeredbox.json
  vnext/Microsoft.ReactNative/ReactHost/React.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.h
  vnext/Microsoft.ReactNative/RedBox.cpp
  vnext/Microsoft.ReactNative/Views/ReactRootControl.cpp
  vnext/Microsoft.ReactNative/Views/ReactRootControl.h
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Executors/WebSocketJSExecutorUwp.cpp
  vnext/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
  vnext/ReactWindowsCore/RedBoxHandler.h
  vnext/Scripts/ReactWin32.nuspec
Labels: AutoMerge, vnext

#4275 Update to vnext subfolder README.md file
  vnext/README.md
Labels: Documentation, vnext

#4285 Build unit tests in ReactWindows-Universal solution
  .ado/templates/e2e-test-job.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2020-03-10-16-15-45-enableunittests.json
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp.csproj
  vnext/Microsoft.ReactNative.Cxx.UnitTests/Microsoft.ReactNative.Cxx.UnitTests.vcxproj
  vnext/Mso.UnitTests/Mso.UnitTests.vcxproj
  vnext/ReactWindows-Universal.sln
  vnext/local-cli/runWindows/runWindows.js
  vnext/local-cli/runWindows/utils/build.js
  vnext/local-cli/runWindows/utils/msbuildtools.js
Labels: AutoMerge

#4293 Codegen nativeModules.g.h for autolinking
  change/react-native-windows-2020-03-12-10-23-45-autolink3.json
  change/react-native-windows-2020-03-12-10-24-42-autolink3.json
  vnext/local-cli/config/dependencyConfig.js
  vnext/local-cli/config/projectConfig.js
  vnext/local-cli/generator-windows/templates/cpp/src/App.cpp
  vnext/local-cli/generator-windows/templates/cpp/src/nativeModules.g.h
  vnext/local-cli/generator-windows/templates/cpp/src/pch.h
  vnext/local-cli/runWindows/runWindows.js
  vnext/local-cli/runWindows/utils/autolink.js
  vnext/react-native.config.js
Labels: AutoMerge, vnext

#4304 Add cli.js
  change/react-native-windows-2020-03-12-10-45-38-add-cli.js.json
  vnext/local-cli/cli.js
Labels: vnext

#4298 Fix AsyncStorageModulerWin32
  change/react-native-windows-2020-03-11-17-36-12-fixASM-Win32.json
  packages/playground/windows/playground-win32/Playground-Win32.cpp
  vnext/ReactWindowsCore/Modules/AsyncStorageModuleWin32.cpp
  vnext/src/RNTester/js/examples-win/AsyncStorage/AsyncStorageExampleWindows.tsx
  vnext/src/RNTester/js/utils/RNTesterList.windows.ts
  vnext/src/overrides.json
Labels: vnext

#4325 Remove the temporary cli.js
  change/react-native-windows-2020-03-16-11-59-56-remove-cli.js.json
  vnext/local-cli/cli.js
Labels: AutoMerge, vnext

#4328 Set TabIndex to 0 for ScrollViewers
  change/react-native-windows-2020-03-16-16-20-55-ScrollViewFix.json
  vnext/ReactUWP/Views/ScrollViewManager.cpp
Labels: vnext

#4329 Improve unit test error messages in testCheck.h
  change/react-native-windows-2020-03-16-16-38-42-MS_FixTestCheck.json
  vnext/Mso.UnitTests/Mso.UnitTests.vcxproj
  vnext/Mso.UnitTests/Mso.UnitTests.vcxproj.filters
  vnext/Mso.UnitTests/future/promiseGroupTest.cpp
  vnext/Mso.UnitTests/future/promiseTest.cpp
  vnext/Mso.UnitTests/future/testCheck.h
  vnext/Mso.UnitTests/motifCpp/motifCppTest.cpp
  vnext/Mso/motifCpp/motifCppTest.h
  vnext/Mso/motifCpp/testCheck.h
Labels: vnext

#4340 Hook up Fast Refresh
  change/react-native-windows-2020-03-17-14-11-27-fastrefresh.json
  packages/E2ETest/windows/ReactUWPTestApp/App.xaml.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/App.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/App.xaml.cs
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Microsoft.ReactNative/Modules/DevSettingsModule.cpp
  vnext/Microsoft.ReactNative/Modules/DevSettingsModule.h
  vnext/Microsoft.ReactNative/ReactHost/React.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.h
  vnext/Microsoft.ReactNative/ReactInstanceSettings.h
  vnext/Microsoft.ReactNative/ReactInstanceSettings.idl
  vnext/Microsoft.ReactNative/ReactNativeHost.cpp
  vnext/Microsoft.ReactNative/Views/ReactRootControl.cpp
  vnext/Microsoft.ReactNative/Views/ReactRootControl.h
  vnext/include/ReactUWP/IReactInstance.h
  vnext/local-cli/generator-windows/templates/cpp/src/App.cpp
  vnext/local-cli/generator-windows/templates/cs/src/App.xaml.cs
  vnext/src/Libraries/core/setUpDeveloperTools.windows.js
Labels: AutoMerge, vnext

#4332 Set TabIndex to 0 for ScrollViewers #4328
  change/react-native-windows-2020-03-16-16-20-55-ScrollViewFix.json
  vnext/ReactUWP/Views/ScrollViewManager.cpp
Labels: vnext

#4333 Set TabIndex to 0 for Pickers
  change/react-native-windows-2020-03-17-09-47-45-PickerFix.json
  vnext/ReactUWP/Views/PickerViewManager.cpp
Labels: vnext

#4341 Set TabIndex to 0 for Pickers #4333
  change/react-native-windows-2020-03-17-09-47-45-PickerFix.json
  vnext/ReactUWP/Views/PickerViewManager.cpp
Labels: AutoMerge, vnext

#4337 remove react-native-windows-extended
  change/react-native-windows-2020-03-17-18-30-23-remove_rnw_extended.json
  packages/E2ETest/metro.config.js
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/metro.config.js
  packages/microsoft-reactnative-sampleapps/package.json
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleAppCpp.vcxproj
  packages/playground/Samples/animation.tsx
  packages/playground/Samples/customViewManager.tsx
  packages/playground/Samples/ticTacToe.tsx
  packages/playground/Samples/view.tsx
  packages/playground/metro.config.js
  packages/playground/package.json
  packages/playground/windows/playground-win32.sln
  packages/playground/windows/playground-win32/Playground-Win32.cpp
  packages/playground/windows/playground-win32/Playground-win32.vcxproj
  packages/playground/windows/playground.sln
  packages/playground/windows/playground/HostingPane.xaml.cpp
  packages/playground/windows/playground/Playground.vcxproj
  packages/react-native-windows-extended/.eslintignore
  packages/react-native-windows-extended/.eslintrc.js
  packages/react-native-windows-extended/.gitignore
  packages/react-native-windows-extended/.npmignore
  packages/react-native-windows-extended/.npmrc
  packages/react-native-windows-extended/CHANGELOG.json
  packages/react-native-windows-extended/CHANGELOG.md
  packages/react-native-windows-extended/README.md
  packages/react-native-windows-extended/just-task.js
  packages/react-native-windows-extended/package.json
  packages/react-native-windows-extended/prestart.js
  packages/react-native-windows-extended/src/CustomFrameworkElement/CustomFrameworkElement.tsx
  packages/react-native-windows-extended/src/SampleComponent/SampleComponent.tsx
  packages/react-native-windows-extended/src/index.ts
  packages/react-native-windows-extended/tsconfig.json
  packages/react-native-windows-extended/windows/CustomViewManager.cpp
  packages/react-native-windows-extended/windows/CustomViewManager.h
  packages/react-native-windows-extended/windows/pch.cpp
  packages/react-native-windows-extended/windows/pch.h
  packages/react-native-windows-extended/windows/react-native-windows-extended.cpp
  packages/react-native-windows-extended/windows/react-native-windows-extended.h
  packages/react-native-windows-extended/windows/react-native-windows-extended.sln
  packages/react-native-windows-extended/windows/react-native-windows-extended.vcxproj
  packages/react-native-windows-extended/windows/react-native-windows-extended.vcxproj.filters
  packages/react-native-windows-extended/windows/targetver.h
  vnext/local-cli/runWindows/utils/deploy.js
  vnext/src/Libraries/Components/AccessibilityInfo/AccessibilityInfo.windows.ts
  vnext/src/Libraries/Components/DatePicker/DatePicker.windows.tsx
  vnext/src/Libraries/Components/ScrollView/ScrollView.windows.js
  vnext/src/Libraries/Components/TextInput/TextInput.windows.js
  vnext/src/Libraries/Image/Image.windows.js
  vnext/src/Libraries/Lists/VirtualizedList.windows.js
  yarn.lock
Labels: AutoMerge

#4336 [typings] Update RN types and fix related type usage.
  change/react-native-windows-2020-03-18-11-51-07-fix-event-emitter-typing.json
  vnext/src/Libraries/Components/AccessibilityInfo/AccessibilityInfo.windows.ts
  yarn.lock
Labels: AutoMerge

#4355 Fix ReactInstanceWin::GetBundleRootPath
  change/react-native-windows-2020-03-18-12-05-40-issue4295.json
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
Labels: AutoMerge, vnext

#4353 Update issue template
  .github/ISSUE_TEMPLATE/react-native-windows--current-.md
  .github/ISSUE_TEMPLATE/react-native-windows--vnext--bug-report.md
  .github/ISSUE_TEMPLATE/react-native-windows--vnext--feature-request.md
Labels: AutoMerge

#4358 Changed C# JSValue to match C++ JSValue
  change/react-native-windows-2020-03-18-10-57-47-MS_FixJSValueCS.json
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/SampleModuleCS.cs
  vnext/.editorconfig
  vnext/Microsoft.ReactNative.Cxx.UnitTests/JSValueTest.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValue.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValue.h
  vnext/Microsoft.ReactNative.Cxx/JSValueReader.h
  vnext/Microsoft.ReactNative.Managed.UnitTests/JSValueTest.cs
  vnext/Microsoft.ReactNative.Managed.UnitTests/NativeModuleTest.cs
  vnext/Microsoft.ReactNative.Managed.UnitTests/ReactModuleBuilderMock.cs
  vnext/Microsoft.ReactNative.SharedManaged/AttributedViewManager.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValue.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueGenerator.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueReader.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueTreeReader.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueTreeWriter.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueWriter.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueWriterGenerator.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactConstantProvider.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactModuleInfo.cs
Labels: AutoMerge, vnext

#4356 Remove unused stubs
  change/@office-iss-react-native-win32-2020-03-18-15-13-34-remove_stubs.json
  change/react-native-windows-2020-03-18-14-39-18-remove_stubs.json
  docs/api/react-native-windows.datepicker._constructor_.md
  docs/api/react-native-windows.datepicker.defaultprops.md
  docs/api/react-native-windows.datepicker.md
  docs/api/react-native-windows.datepicker.render.md
  docs/api/react-native-windows.flyout._constructor_.md
  docs/api/react-native-windows.flyout.getderivedstatefromprops.md
  docs/api/react-native-windows.flyout.md
  docs/api/react-native-windows.flyout.render.md
  docs/api/react-native-windows.glyph.md
  docs/api/react-native-windows.glyph.render.md
  docs/api/react-native-windows.iflyouttargetstate.md
  docs/api/react-native-windows.iflyouttargetstate.target.md
  docs/api/react-native-windows.iflyouttargetstate.targetref.md
  docs/api/react-native-windows.ipickeritemdata.label.md
  docs/api/react-native-windows.ipickeritemdata.md
  docs/api/react-native-windows.ipickeritemdata.textcolor.md
  docs/api/react-native-windows.ipickeritemdata.value.md
  docs/api/react-native-windows.ipopuptargetstate.md
  docs/api/react-native-windows.ipopuptargetstate.target.md
  docs/api/react-native-windows.ipopuptargetstate.targetref.md
  docs/api/react-native-windows.md
  docs/api/react-native-windows.picker._constructor_.md
  docs/api/react-native-windows.picker.getderivedstatefromprops.md
  docs/api/react-native-windows.picker.md
  docs/api/react-native-windows.picker.render.md
  docs/api/react-native-windows.popup._constructor_.md
  docs/api/react-native-windows.popup.getderivedstatefromprops.md
  docs/api/react-native-windows.popup.md
  docs/api/react-native-windows.popup.render.md
  docs/api/react-native-windows.supportkeyboard.md
  packages/react-native-win32/docs/api/react-native-win32.cursor.md
  vnext/etc/react-native-windows.api.md
  vnext/src/Libraries/Components/DatePicker/DatePicker.tsx
  vnext/src/Libraries/Components/DatePicker/DatePicker.windows.tsx
  vnext/src/Libraries/Components/Flyout/Flyout.tsx
  vnext/src/Libraries/Components/Flyout/Flyout.windows.tsx
  vnext/src/Libraries/Components/Glyph/Glyph.tsx
  vnext/src/Libraries/Components/Glyph/Glyph.windows.tsx
  vnext/src/Libraries/Components/Keyboard/KeyboardExt.tsx
  vnext/src/Libraries/Components/Keyboard/KeyboardExt.windows.tsx
  vnext/src/Libraries/Components/Picker/PickerWindows.tsx
  vnext/src/Libraries/Components/Picker/PickerWindows.windows.tsx
  vnext/src/Libraries/Components/Popup/Popup.tsx
  vnext/src/Libraries/Components/Popup/Popup.windows.tsx
  vnext/src/overrides.json
Labels: AutoMerge, vnext

#4359 Add stub devStettingModule to react.uwp
  change/react-native-windows-2020-03-18-13-54-49-reactuwpfix.json
  vnext/.flowconfig
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Modules/DevSettingsModule.cpp
  vnext/ReactUWP/Modules/DevSettingsModule.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/src/Libraries/core/setUpDeveloperTools.windows.js
  vnext/src/overrides.json
Labels: AutoMerge

#4370 turn off signing on Playground vcrurrent
  current/ReactWindows/Playground/Playground.csproj
  current/ReactWindows/ReactNative.Tests/ReactNative.Tests.csproj
Labels: .NET, AutoMerge

#4366 Flip ImageView in RTL mode (#4064)
  change/react-native-windows-2020-02-07-19-14-14-image-rtl.json
  packages/E2ETest/app/Consts.ts
  packages/E2ETest/app/ImageTestPage.tsx
  packages/E2ETest/wdio/pages/ImageTestPage.ts
  packages/E2ETest/wdio/test/Image.spec.ts
  packages/E2ETest/windows/ReactUWPTestApp/Assets/TreeDump/ImageRTL.txt
  packages/E2ETest/windows/TreeDumpLibrary/TreeDumpControlViewManager.cs
  packages/E2ETest/windows/TreeDumpLibrary/VisualTreeDumper.cs
  vnext/ReactUWP/Views/Image/ReactImage.cpp
Labels: AutoMerge, vnext

#4361 Remove WebView
  change/react-native-windows-2020-03-18-16-09-14-remove-webview.json
  packages/playground/Samples/index.tsx
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/ReactUWP/Base/CoreUIManagers.cpp
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/Views/WebViewManager.cpp
  vnext/ReactUWP/Views/WebViewManager.h
  vnext/Universal.UnitTests/Tests/CreateViewManagersTests.cpp
  vnext/src/Libraries/Components/WebView/WebView.windesktop.js
  vnext/src/Libraries/Components/WebView/WebView.windows.js
  vnext/src/overrides.json
Labels: vnext

#4372 Use Wildcards for PR and Publish Triggers of Stable Branches
  .ado/publish.yml
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#4384 Update V8 package
  change/react-native-windows-2020-03-20-14-50-01-master.json
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JsiRuntimeUnitTests.cpp
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactWindowsCore/packages.config
Labels: AutoMerge, vnext

#4392 Implemented Linking module protocol activation
  change/react-native-windows-2020-03-21-08-39-47-MS_LinkingModule.json
  packages/microsoft-reactnative-sampleapps/index.windows.js
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/Package.appxmanifest
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/Package.appxmanifest
  vnext/Microsoft.ReactNative/ReactApplication.cpp
  vnext/Microsoft.ReactNative/ReactApplication.h
  vnext/ReactUWP/Modules/LinkingManagerModule.cpp
  vnext/ReactUWP/Modules/LinkingManagerModule.h
Labels: vnext

#4393 [0.60] Implement WinRTWebSocketResource
  change/react-native-windows-2020-03-22-18-29-34-winapi_ws_0.60.json
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj.filters
  vnext/Desktop.ABITests/packages.config
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/WebSocketModuleIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/WebSocketResourcePerformanceTests.cpp
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x64.def
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x86.def
  vnext/Desktop.UnitTests/BaseWebSocketTests.cpp
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/WebSocketTest.cpp
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/BeastWebSocketResource.cpp
  vnext/Desktop/BeastWebSocketResource.h
  vnext/Desktop/Executors/WebSocketJSExecutor.cpp
  vnext/Desktop/Executors/WebSocketJSExecutor.h
  vnext/Desktop/Modules/WebSocketModule.cpp
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj.filters
  vnext/Desktop/WebSocketResourceFactory.cpp
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/ReactWindows-Desktop.sln
  vnext/ReactWindowsCore/IWebSocketResource.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/ReactWindowsCore/Utils.cpp
  vnext/ReactWindowsCore/WebSocketModule.h
  vnext/ReactWindowsCore/WinRTWebSocketResource.cpp
  vnext/ReactWindowsCore/WinRTWebSocketResource.h
  vnext/Scripts/ReactUwp.nuspec
  vnext/Scripts/ReactWin32.nuspec
  vnext/Test/WebSocketServer.cpp
  vnext/Test/WebSocketServer.h
Labels: vnext

#4400 Fixed crash when trying to load invalid image uri
  change/react-native-windows-2020-03-23-11-27-39-playground3738.json
  vnext/ReactUWP/Views/Image/ReactImage.cpp
Labels: Area: Image, AutoMerge, vnext

#4410 Ensure sequential writes in WinRTWebSocketResource
  .gitignore
  change/react-native-windows-2020-03-23-20-55-53-winapi_ws_0.60_changegate.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/WebSocketResourceFactory.cpp
  vnext/Mso/debugAssertApi/debugAssertApi.h
  vnext/Mso/debugAssertApi/debugAssertDetails.h
  vnext/Mso/src/debugAssertApi/debugAssertApi.cpp
  vnext/ReactWindows-Desktop.sln
  vnext/ReactWindowsCore/IWebSocketResource.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/WinRTWebSocketResource.cpp
  vnext/ReactWindowsCore/WinRTWebSocketResource.h
Labels: AutoMerge

#4402 Do not enter loaded state when an error occurs during web bundle loadJSBundles
  change/react-native-windows-2020-03-23-14-20-35-acoates-loadcrash.json
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
Labels: AutoMerge, vnext

#4403 Teach React Native CLI about master and 0.61 versions
  change/rnpm-plugin-windows-2020-03-23-15-44-43-cli-versions.json
  packages/rnpm-plugin-windows/src/common.js
  packages/rnpm-plugin-windows/src/windows.js
  packages/rnpm-plugin-windows/src/wpf.js
Labels: AutoMerge

#4419 Small CLI fix
  change/rnpm-plugin-windows-2020-03-24-23-34-25-fix-cli.json
  packages/rnpm-plugin-windows/src/windows.js
Labels: AutoMerge

#4421 Initial creation of react-native-windows-init package
  change/react-native-windows-init-2020-03-25-12-53-13-rnwinit.json
  packages/react-native-windows-init/.gitignore
  packages/react-native-windows-init/README.md
  packages/react-native-windows-init/bin.js
  packages/react-native-windows-init/just-task.js
  packages/react-native-windows-init/package.json
  packages/react-native-windows-init/src/Cli.ts
  packages/react-native-windows-init/tsconfig.json
  yarn.lock
Labels: AutoMerge

#4424 Enable basic V8 direct debugging
  change/react-native-windows-2020-03-25-16-16-54-HEAD.json
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.cpp
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.h
Labels: AutoMerge, vnext

#4423 Fix hang on react-native-init when run from a non-elevated prompt
  change/react-native-windows-2020-03-25-15-49-46-noadmininit.json
  vnext/.eslintignore
  vnext/local-cli/generator-windows/index.js
  vnext/local-cli/generator-windows/templates/cpp/keys/MyApp_TemporaryKey.pfx
  vnext/local-cli/generator-windows/templates/cs/keys/MyApp_TemporaryKey.pfx
Labels: AutoMerge, vnext

#4428 Enable basic V8 direct debugging (master)
  change/react-native-windows-2020-03-25-16-16-54-HEAD.json
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.cpp
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.h
Labels: AutoMerge, vnext

#4427 Enable basic V8 direct debugging
  change/react-native-windows-2020-03-25-16-16-54-HEAD.json
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.cpp
  vnext/ReactWindowsCore/V8JSIRuntimeHolder.h
Labels: AutoMerge, vnext

#4426 Allow NativeModules event handlers to have 0..n arguments
  change/react-native-windows-2020-03-25-20-43-02-FixReactEvent.json
  vnext/Microsoft.ReactNative.Cxx.UnitTests/NativeModuleTest.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/ReactModuleBuilderMock.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/ReactModuleBuilderMock.h
  vnext/Microsoft.ReactNative.Cxx/JSValueReader.h
  vnext/Microsoft.ReactNative.Cxx/JSValueWriter.h
  vnext/Microsoft.ReactNative.Cxx/NativeModules.h
  vnext/Microsoft.ReactNative.Managed.UnitTests/NativeModuleTest.cs
  vnext/Microsoft.ReactNative.Managed.UnitTests/ReactModuleBuilderMock.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactContextExtensions.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactEventInfo.cs
Labels: AutoMerge, vnext

#4430 Add timeout to certificate generation on project init
  change/react-native-windows-2020-03-26-09-13-41-certtimeout.json
  vnext/local-cli/generator-windows/index.js
Labels: AutoMerge, vnext

#4433 Provide better feedback when RN version has no matching RNW version
  change/react-native-windows-init-2020-03-26-12-07-31-newerrn.json
  packages/react-native-windows-init/src/Cli.ts
Labels: AutoMerge

#4435 Publish Master Using "0.0.0-master.x" Version Scheme
  .ado/templates/react-native-init.yml
  change/@office-iss-react-native-win32-2020-03-23-16-12-52-master-versioning.json
  change/react-native-windows-2020-03-23-16-12-52-master-versioning.json
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-win32/package.json
  vnext/package.json
Labels: AutoMerge

#4437 Use new init package instead of legacy rnpm one in CI
  .ado/templates/react-native-init.yml
  packages/microsoft-reactnative-sampleapps/index.windows.js
  packages/microsoft-reactnative-sampleapps/myComp.js
Labels: AutoMerge

#4440 Some Direct Debugging fixes
  change/react-native-windows-2020-03-27-11-52-38-dd.json
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/Views/ReactRootControl.cpp
  vnext/ReactWindowsCore/DevSettings.h
  vnext/Shared/OInstance.cpp
Labels: Area: Debug Infrastructure, Backport to 0.61

#4441 [0.61] Do Not Override NPM Tag Based on Branch Name (#4434)
  .ado/publish.yml
  .ado/templates/react-native-init.yml
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#4445 Remove extra blank lines in windows generator templates.
  change/react-native-windows-2020-03-27-17-22-39-remove-blank-lines.json
  vnext/local-cli/generator-windows/templates/cpp/src/App.cpp
  vnext/local-cli/generator-windows/templates/cpp/src/App.h
  vnext/local-cli/generator-windows/templates/cpp/src/ReactPackageProvider.cpp
  vnext/local-cli/generator-windows/templates/cpp/src/ReactPackageProvider.h
Labels: AutoMerge

#4448 Update typescript version to 3.8.3
  change/@office-iss-react-native-win32-2020-03-28-15-37-50-tsupd.json
  change/react-native-windows-2020-03-28-15-37-50-tsupd.json
  change/react-native-windows-init-2020-03-28-15-37-50-tsupd.json
  packages/E2ETest/package.json
  packages/override-tools/package.json
  packages/react-native-win32/package.json
  packages/react-native-windows-init/package.json
  vnext/package.json
  vnext/src/Libraries/Components/Keyboard/KeyboardExt.tsx
  yarn.lock
Labels: AutoMerge

#4457 Explicitly disallow prerelease changes in 0.61-stable
  change/@office-iss-react-native-win32-2020-03-30-16-03-07-disallow-pre61.json
  change/react-native-windows-2020-03-30-16-03-07-disallow-pre61.json
  packages/react-native-win32/package.json
  vnext/package.json
Labels: AutoMerge

#4458 [0.60] Fix crash in timers during instance shutdown, and in systrace (#4291)
  change/react-native-windows-2020-03-10-22-14-59-reloadcrashes.json
  vnext/ReactUWP/Modules/TimingModule.cpp
  vnext/ReactUWP/Modules/TimingModule.h
  vnext/ReactWindowsCore/tracing/tracing.cpp
Labels: AutoMerge

#4373 Add DebuggerPort to ReactInstanceSettings.
  change/react-native-windows-2020-03-20-10-18-16-direct_debugging_settings.json
  packages/playground/windows/playground-win32/Playground-Win32.cpp
  packages/playground/windows/playground-win32/Playground-Win32.rc
  packages/playground/windows/playground-win32/resource.h
  packages/playground/windows/playground/HostingPane.xaml
  packages/playground/windows/playground/HostingPane.xaml.cpp
  packages/playground/windows/playground/HostingPane.xaml.h
  vnext/Microsoft.ReactNative/ReactInstanceSettings.h
  vnext/Microsoft.ReactNative/ReactInstanceSettings.idl
  vnext/Microsoft.ReactNative/ReactNativeHost.cpp
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/include/ReactUWP/IReactInstance.h
Labels: AutoMerge

#4442 [0.60] Do Not Override NPM Tag Based on Branch Name (#4434)
  .ado/publish.yml
  .ado/windows-vs-pr.yml
  change/@office-iss-react-native-win32-2020-03-27-15-10-36-no-tag-60.json
  change/react-native-windows-2020-03-27-15-10-36-no-tag-60.json
  packages/react-native-win32/package.json
  vnext/package.json
Labels: AutoMerge

#4462 Update MSBuild ADO Tasks to use MSBuild x64
  .ado/publish.yml
  .ado/templates/build-rnw.yml
  .ado/templates/react-native-init.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2020-03-31-10-16-02-msbuildx64.json
  packages/E2ETest/windows/ReactUWPTestApp/ReactUWPTestApp.csproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/SampleAppCS.csproj
  vnext/Microsoft.ReactNative.Managed.UnitTests/Microsoft.ReactNative.Managed.UnitTests.csproj
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.csproj
Labels: Backport to 0.61
