Repository microsoft/react-native-windows, pull requests merged in 2020-01, with the labels that each got.

#3829 Call StartAnimation on m_scaleCombined for ScaleX / ScaleY animations
  change/react-native-windows-2020-01-03-14-45-45-fix-subchannel-animation-reference.json
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.cpp
Labels: vnext

#3841 Split lint tasks into separate build task to speed general build times
  .ado/windows-vs-pr.yml
  change/@office-iss-react-native-win32-2020-01-07-12-49-02-seperatelint.json
  change/react-native-windows-2020-01-07-12-49-02-seperatelint.json
  change/react-native-windows-extended-2020-01-07-12-49-02-seperatelint.json
  package.json
  packages/E2ETest/just-task.js
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/just-task.js
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/just-task.js
  packages/playground/package.json
  packages/react-native-win32/just-task.js
  packages/react-native-win32/package.json
  packages/react-native-windows-extended/just-task.js
  packages/react-native-windows-extended/package.json
  vnext/.eslintignore
  vnext/just-task.js
  vnext/package.json
Labels: AutoMerge

#3844 Fixing bugs when using .NetNative
  change/react-native-windows-2020-01-07-15-23-05-netnativeissues.json
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCPP/SampleAppCpp.vcxproj
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/Properties/Default.rd.xml
  packages/microsoft-reactnative-sampleapps/windows/SampleAppCS/SampleAppCS.csproj
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CircleViewManagerCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/ReactPackageProvider.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/CustomUserControlViewManagerCS.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/SampleModuleCS.cs
  vnext/Microsoft.ReactNative.SharedManaged/AttributedViewManager.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactPackageBuilderExtensions.cs
  vnext/Microsoft.ReactNative/ABIViewManager.cpp
  vnext/Microsoft.ReactNative/ABIViewManager.h
  vnext/Microsoft.ReactNative/IReactPackageBuilder.idl
  vnext/Microsoft.ReactNative/IViewManager.idl
  vnext/Microsoft.ReactNative/ViewManagersProvider.cpp
  vnext/docs/NativeModulesSetup.md
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cs/src/Properties/Default.rd.xml
Labels: vnext

#3833 Update SampleModuleCpp library to show how to override module name
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleModuleCPP.h
Labels: AutoMerge

#3845 Image - basic svg support
  change/react-native-windows-2020-01-07-16-17-58-image-svg.json
  packages/playground/Samples/Microsoft-Logo.svg
  packages/playground/Samples/image.tsx
  vnext/ReactUWP/Views/Image/ReactImage.cpp
  vnext/ReactUWP/Views/Image/ReactImage.h
Labels: vnext

#3782 Add GetFacebookReactInstance
  change/@office-iss-react-native-win32-2019-12-16-14-17-19-add-tm.json
  change/react-native-windows-2019-12-16-14-17-19-add-tm.json
  change/react-native-windows-extended-2019-12-16-14-17-19-add-tm.json
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj.filters
  vnext/ReactUWP/TurboModule/TurboModuleUtils.cpp
  vnext/include/ReactUWP/TurboModuleUtils.h
Labels: AutoMerge

#3858 Added unit tests for Events with JSValue args
  change/react-native-windows-2020-01-08-15-45-49-nmobjectevents.json
  vnext/Microsoft.ReactNative.Cxx.UnitTests/NativeModuleTest.cpp
  vnext/Microsoft.ReactNative.Managed.UnitTests/NativeModuleTest.cs
Labels: vnext

#3867 Fixes RNTester pages
  change/react-native-windows-2020-01-13-09-59-10-fixrntester.json
  vnext/src/RNTester/js/RNTesterApp.windows.tsx
  vnext/src/RNTester/js/RNTesterList.windows.ts
Labels: AutoMerge, vnext

#3843 Remove remnants of old doc format
  change/@office-iss-react-native-win32-2020-01-07-14-02-44-removewin32doc.json
  packages/react-native-win32/.gitignore
  packages/react-native-win32/demo/DocPagePropsList.d.ts
  packages/react-native-win32/demo/DocPagePropsList.js
  packages/react-native-win32/demo/DocPagePropsList.js.map
  packages/react-native-win32/package.json
  packages/react-native-win32/src/Libraries/Components/Button/docs/ButtonWin32.checklist.ts
  packages/react-native-win32/src/Libraries/Components/Button/docs/ButtonWin32.doc.tsx
  packages/react-native-win32/src/Libraries/Components/Button/docs/ButtonWin32Overview.md
  packages/react-native-win32/src/Libraries/Components/Text/docs/TextWin32.checklist.ts
  packages/react-native-win32/src/Libraries/Components/Text/docs/TextWin32.doc.tsx
  packages/react-native-win32/src/Libraries/Components/Text/docs/TextWin32Overview.md
  packages/react-native-win32/src/Libraries/Components/Touchable/docs/TouchableWin32.checklist.ts
  packages/react-native-win32/src/Libraries/Components/Touchable/docs/TouchableWin32.doc.tsx
  packages/react-native-win32/src/Libraries/Components/Touchable/docs/TouchableWin32Overview.md
  packages/react-native-win32/src/Libraries/Components/View/docs/ViewWin32.checklist.ts
  packages/react-native-win32/src/Libraries/Components/View/docs/ViewWin32.doc.tsx
  packages/react-native-win32/src/Libraries/Components/View/docs/ViewWin32Overview.md
  packages/react-native-win32/src/demo/DocPagePropsList.ts
  packages/react-native-win32/tslint.json
Labels: AutoMerge

#3869 Update rex-win32 to fix boot of RNTester
  change/@office-iss-react-native-win32-2020-01-13-11-32-57-updaterex.json
  packages/react-native-win32/package.json
  yarn.lock
Labels: AutoMerge, Partner: Office, Platform: NetUI

#3871 Add React Native Source Patching Infrastructure
  Directory.Build.props
  change/react-native-windows-2020-01-14-00-16-18-defork.json
  change/react-native-windows-extended-2020-01-14-00-16-18-defork.json
  packages/playground/windows/playground/Playground.vcxproj
  packages/react-native-windows-extended/windows/react-native-windows-extended.vcxproj
  vnext/Common/Common.vcxproj
  vnext/DeforkingPatches/README.md
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Directory.Build.props
  vnext/Folly/Folly.vcxproj
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Universal/JSI.Universal.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/PropertySheets/ReactPackageDirectories.props
  vnext/PropertySheets/ReactPatches.targets
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/Scripts/Tfs/Layout-Headers.ps1
  vnext/Scripts/copyRNLibraries.js
  vnext/Universal.IntegrationTests/React.Windows.Universal.IntegrationTests.vcxproj
  vnext/Universal.UnitTests/React.Windows.Universal.UnitTests.vcxproj
  vnext/V8Inspector/V8Inspector.vcxproj
Labels: AutoMerge

#3880 Update GettingStarted.md
  current/docs/GettingStarted.md
Labels: rnwcs

#3879 Upgrade to OpenSSL 1.1.1d
  change/react-native-windows-2020-01-14-17-58-37-openssl-1.1.1d.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Scripts/OpenSSL.nuspec
  vnext/Scripts/OpenSSL.targets
  vnext/Scripts/Tfs/Layout-Headers.ps1
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/packages.config
Labels: AutoMerge, dependencies, vnext

#3878 [v0.59] Upgrade to OpenSSL 1.1.1d
  change/react-native-windows-2020-01-14-17-58-20-openssl-1.1.1d-v0.59.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Scripts/OpenSSL.nuspec
  vnext/Scripts/OpenSSL.targets
  vnext/Scripts/Tfs/Layout-Headers.ps1
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/packages.config
Labels: AutoMerge, dependencies, vnext

#3881 Add initial set of React Native Patches
  change/react-native-windows-2020-01-15-04-12-13-defork.json
  vnext/Chakra/ChakraExecutor.cpp
  vnext/Chakra/ChakraExecutor.h
  vnext/DeforkingPatches/.clang-format
  vnext/DeforkingPatches/ReactCommon/cxxreact/Instance.cpp
  vnext/DeforkingPatches/ReactCommon/cxxreact/Instance.h
  vnext/DeforkingPatches/ReactCommon/cxxreact/JSExecutor.h
  vnext/DeforkingPatches/ReactCommon/cxxreact/ModuleRegistry.h
  vnext/DeforkingPatches/ReactCommon/cxxreact/NativeToJsBridge.cpp
  vnext/DeforkingPatches/ReactCommon/cxxreact/NativeToJsBridge.h
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.DLL/react-native-win32.oss.x64.def
  vnext/Desktop.DLL/react-native-win32.oss.x86.def
  vnext/Desktop/DevSupportManager.h
  vnext/Desktop/LazyDevSupportManager.cpp
  vnext/Desktop/LazyDevSupportManager.h
  vnext/Desktop/Sandbox/DevSupportManagerSandbox.cpp
  vnext/Desktop/Sandbox/SandboxBridge.cpp
  vnext/Desktop/Sandbox/SandboxBridge.h
  vnext/Desktop/Sandbox/SandboxJSExecutor.cpp
  vnext/Desktop/Sandbox/SandboxJSExecutor.h
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Shared/JSI.Shared.vcxitems
  vnext/JSI/Universal/JSI.Universal.vcxproj
  vnext/PropertySheets/ReactCommunity.cpp.props
  vnext/PropertySheets/ReactPackageDirectories.props
  vnext/PropertySheets/ReactPatches.targets
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.patched.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.patched.x86.def
  vnext/ReactUWP/Modules/DevSupportManagerUwp.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactUWP/Sandbox/DevSupportManagerUwpSandbox.cpp
  vnext/ReactWindowsCore/IDevSupportManager.h
  vnext/ReactWindowsCore/InstanceManager.h
  vnext/ReactWindowsCore/OInstance.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/packages.config
  vnext/Shared/InstanceManager.cpp
  vnext/Shared/OInstance.cpp
  vnext/Shared/Shared.vcxitems
Labels: AutoMerge, vnext

#3887 Fix Layout-Headers on CI machines
  change/react-native-windows-2020-01-15-20-42-29-master.json
  vnext/Scripts/Tfs/Layout-Headers.ps1
Labels: AutoMerge, vnext

#3893 Upgrade to OpenSSL NuGet 1.1.1d.2
  change/react-native-windows-2020-01-16-17-55-30-openssl-1.1.1d_2.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/packages.config
Labels: AutoMerge, vnext

#3894 [v0.59] Upgrade to OpenSSL NuGet 1.1.1d.2
  change/react-native-windows-2020-01-16-17-55-23-openssl-1.1.1d-v0.59_2.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/packages.config
Labels: AutoMerge, vnext

#3888 Fix Layout-Headers for Publish Try 2
  change/react-native-windows-2020-01-15-22-58-18-master.json
  vnext/Scripts/Tfs/Layout-Headers.ps1
Labels: AutoMerge

#3923 Fix CI out of disk space issues, issue #3908
  .ado/templates/e2e-test-job.yml
  .ado/variables/vs2017.yml
  .ado/variables/vs2019.yml
Labels: AutoMerge

#3868 VM: Adding support for JSValue for ViewManager APIs
  change/react-native-windows-2020-01-16-14-44-12-vmjsvalue.json
  packages/E2ETest/windows/TreeDumpLibrary/TreeDumpControlViewManager.cs
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.h
  vnext/Microsoft.ReactNative.Cxx.UnitTests/pch.h
  vnext/Microsoft.ReactNative.Cxx/JSValue.h
  vnext/Microsoft.ReactNative.Cxx/JSValueReader.h
  vnext/Microsoft.ReactNative.SharedManaged/AttributedViewManager.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueReader.cs
  vnext/Microsoft.ReactNative.SharedManaged/Microsoft.ReactNative.SharedManaged.projitems
  vnext/Microsoft.ReactNative.SharedManaged/ReactContextExtensions.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactEventInfo.cs
  vnext/Microsoft.ReactNative/ABIViewManager.cpp
  vnext/Microsoft.ReactNative/DynamicWriter.cpp
  vnext/Microsoft.ReactNative/IReactContext.cpp
  vnext/Microsoft.ReactNative/IReactContext.h
  vnext/Microsoft.ReactNative/IReactContext.idl
  vnext/Microsoft.ReactNative/IViewManager.idl
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Microsoft.ReactNative/NativeModulesProvider.h
  vnext/Microsoft.ReactNative/ReactSupport.cpp
  vnext/Microsoft.ReactNative/ReactSupport.h
  vnext/Microsoft.ReactNative/ViewManagersProvider.h
  vnext/Microsoft.ReactNative/XamlHelper.cpp
  vnext/Microsoft.ReactNative/XamlHelper.h
  vnext/Microsoft.ReactNative/XamlHelper.idl
  vnext/docs/NativeModulesAdvanced.md
  vnext/docs/ViewManagers.md
Labels: AutoMerge, vnext

#3909 ARM64 support for Universal
  .ado/publish.yml
  .ado/windows-vs-pr.yml
  change/react-native-windows-2020-01-17-18-03-33-arm64-uwp.json
  vnext/Common/Common.vcxproj
  vnext/Folly/Folly.vcxproj
  vnext/JSI/Universal/JSI.Universal.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/PropertySheets/ARM64.props
  vnext/PropertySheets/Application/ARM64.props
  vnext/PropertySheets/DynamicLibrary/ARM64.props
  vnext/PropertySheets/StaticLibrary/ARM64.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindows-Universal.sln
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.vcxproj
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.csproj
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.sln
Labels: AutoMerge

#3921 Remove OSS_RN Specialization in unistd.h Stub
  change/react-native-windows-2020-01-21-11-30-55-stubs.json
  vnext/stubs/unistd.h
Labels: vnext

#3920 Remove OSS_RN Specific Warnings
  change/react-native-windows-2020-01-21-11-07-50-warnings.json
  vnext/ReactCommon/ReactCommon.vcxproj
Labels: AutoMerge, vnext

#3912 Apply React Native Patches for All Consumers of React.cpp.props
  change/react-native-windows-2020-01-18-23-31-34-alwayspatch.json
  change/react-native-windows-extended-2020-01-18-23-31-34-alwayspatch.json
  packages/playground/windows/playground/Playground.vcxproj
  packages/react-native-windows-extended/windows/react-native-windows-extended.vcxproj
  vnext/Common/Common.vcxproj
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/IntegrationTests/React.Windows.IntegrationTests.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Universal/JSI.Universal.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/PropertySheets/React.Cpp.props
  vnext/PropertySheets/ReactPackageDirectories.props
  vnext/PropertySheets/ReactPatches.targets
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/Universal.IntegrationTests/React.Windows.Universal.IntegrationTests.vcxproj
  vnext/Universal.UnitTests/React.Windows.Universal.UnitTests.vcxproj
  vnext/V8Inspector/V8Inspector.vcxproj
Labels: vnext

#3935 Don't call NormalizeDirectory on YogaDir and ReactNativeDir
  change/react-native-windows-2020-01-22-14-20-29-fix-reactpackagedirs.json
  vnext/PropertySheets/ReactPackageDirectories.props
Labels: vnext

#3899 Do not use ES6 Default Export Where Upstream Uses CommonJS Import
  change/react-native-windows-2020-01-17-04-22-20-rntester.json
  vnext/src/Libraries/Components/Touchable/TouchableNativeFeedback.windows.tsx
  vnext/src/RNTester/js/RNTesterList.windows.ts
  vnext/src/RNTester/js/TextExample.windows.tsx
Labels: AutoMerge, vnext

#3932 Update Folly Build Logic
  change/react-native-windows-2020-01-22-16-03-11-follywarnings.json
  vnext/Folly/Folly.vcxproj
  vnext/FollyWin32/FollyWin32.vcxproj
Labels: vnext

#3934 Logging and Tracing OSS_RN Removal
  change/react-native-windows-2020-01-22-19-17-54-master.json
  vnext/DeforkingPatches/ReactCommon/cxxreact/NativeToJsBridge.h
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/PropertySheets/React.Cpp.props
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/Shared/OInstance.cpp
  vnext/Universal.IntegrationTests/UniversalTestRunner.cpp
Labels: vnext

#3952 Disable E2E test
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#3942 Update to react-native@0.60.0-microsoft.40
  .ado/templates/e2e-test-job.yml
  .ado/windows-vs-pr.yml
  change/@office-iss-react-native-win32-2020-01-23-12-39-33-updrn.json
  change/react-native-windows-2020-01-23-12-39-33-updrn.json
  change/react-native-windows-extended-2020-01-23-12-39-33-updrn.json
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-win32/package.json
  packages/react-native-windows-extended/package.json
  vnext/IntegrationTests/TestModule.cpp
  vnext/package.json
  yarn.lock
Labels: AutoMerge

#3959 Enable e2e-test-job
  .ado/templates/e2e-test-job.yml
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#3958 Removed pch.h from shared items projects
  change/react-native-windows-2020-01-24-13-55-58-MS_NoSharedItemsPCH.json
  packages/microsoft-reactnative-sampleapps/windows/SampleApps.sln
  vnext/Chakra/Chakra.vcxitems
  vnext/Chakra/Chakra.vcxitems.filters
  vnext/Chakra/ChakraExecutor.cpp
  vnext/Chakra/ChakraHelpers.h
  vnext/Chakra/ChakraValue.cpp
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Microsoft.ReactNative/pch.h
  vnext/Mso/crash/verifyElseCrash.h
  vnext/ReactUWP/Modules/Animated/FacadeType.h
  vnext/ReactUWP/Modules/Animated/NativeAnimatedNodeManager.cpp
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Modules/TimingModule.cpp
  vnext/ReactUWP/Threading/WorkerMessageQueueThread.cpp
  vnext/ReactWindows-Universal.sln
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/ReactWindowsCore/pch.cpp
  vnext/ReactWindowsCore/pch.h
  vnext/Shared/pch.h
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.sln
  vnext/local-cli/generator-windows/templates/cs/proj/MyApp.sln
Labels: AutoMerge, vnext

#3967 Copy IntegrationTests from msft fork
  .ado/templates/react-native-init.yml
  change/react-native-windows-2020-01-27-19-06-20-IntegrationTests.json
  packages/E2ETest/metro.config.js
  packages/microsoft-reactnative-sampleapps/metro.config.js
  packages/playground/metro.config.js
  vnext/.eslintignore
  vnext/.npmignore
  vnext/IntegrationTestsCopy/AccessibilityManagerTest.js
  vnext/IntegrationTestsCopy/AppEventsTest.js
  vnext/IntegrationTestsCopy/AsyncStorageTest.js
  vnext/IntegrationTestsCopy/ImageCachePolicyTest.js
  vnext/IntegrationTestsCopy/ImageSnapshotTest.js
  vnext/IntegrationTestsCopy/IntegrationTestHarnessTest.js
  vnext/IntegrationTestsCopy/IntegrationTestsApp.js
  vnext/IntegrationTestsCopy/Launch-WebSocketServer.ps1
  vnext/IntegrationTestsCopy/LayoutEventsTest.js
  vnext/IntegrationTestsCopy/LoggingTestModule.js
  vnext/IntegrationTestsCopy/PromiseTest.js
  vnext/IntegrationTestsCopy/PropertiesUpdateTest.js
  vnext/IntegrationTestsCopy/RCTRootViewIntegrationTestApp.js
  vnext/IntegrationTestsCopy/ReactContentSizeUpdateTest.js
  vnext/IntegrationTestsCopy/SimpleSnapshotTest.js
  vnext/IntegrationTestsCopy/SizeFlexibilityUpdateTest.js
  vnext/IntegrationTestsCopy/SyncMethodTest.js
  vnext/IntegrationTestsCopy/TimersTest.js
  vnext/IntegrationTestsCopy/WebSocketTest.js
  vnext/IntegrationTestsCopy/blue_square.png
  vnext/IntegrationTestsCopy/launchWebSocketServer.command
  vnext/IntegrationTestsCopy/red_square.png
  vnext/IntegrationTestsCopy/websocket_integration_test_server.js
  vnext/Scripts/copyRNLibraries.js
  vnext/metro.config.js
Labels: vnext

#3943 Add Yoga Patch from microsoft/react-native
  change/react-native-windows-2020-01-23-14-03-08-yoga-patch.json
  vnext/DeforkingPatches/ReactCommon/yoga/yoga/Yoga.cpp
Labels: AutoMerge, vnext

#3948 Make the native build oblivious to Microsoft RN vs patched Facebook RN
  change/react-native-windows-2020-01-24-04-38-15-fork-removal-onlynative.json
  change/react-native-windows-extended-2020-01-24-05-46-12-fork-removal-onlynative.json
  packages/playground/windows/playground/Playground.vcxproj
  packages/react-native-windows-extended/windows/react-native-windows-extended.vcxproj
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/react-native-win32.oss.x64.def
  vnext/Desktop.DLL/react-native-win32.oss.x86.def
  vnext/Desktop.DLL/react-native-win32.x86sdx.def
  vnext/Folly/Folly.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/PropertySheets/React.Cpp.props
  vnext/PropertySheets/ReactCommunity.cpp.props
  vnext/PropertySheets/ReactPackageDirectories.props
  vnext/PropertySheets/ReactPatches.targets
  vnext/ReactCommon/ReactCommon.vcxproj
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.arm.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.oss.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.patched.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.patched.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x64.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86.def
  vnext/ReactUWP/EndPoints/dll/react-native-uwp.x86sdx.def
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
Labels: vnext

#3976 Fix Crash When Running CLI Projects
  change/react-native-windows-2020-01-28-15-57-10-master.json
  vnext/DeforkingPatches/ReactCommon/yoga/yoga/YGStyle.h
  vnext/PropertySheets/React.Cpp.props
Labels: vnext

#3978 Upgrade OpenSSL NuGet to 1.1.1 d.3
  change/react-native-windows-2020-01-28-20-28-04-0.59-vnext-stable.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/packages.config
Labels: AutoMerge, vnext

#3977 Upgrade OpenSSL NuGet to 1.1.1 d.3
  change/react-native-windows-2020-01-28-20-28-10-master.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/packages.config
  yarn.lock
Labels: AutoMerge

#3979 Remove haste imports from react-native-win32
  change/@office-iss-react-native-win32-2020-01-29-11-39-55-relpath.json
  packages/react-native-win32/haul.config.js
  packages/react-native-win32/package.json
  packages/react-native-win32/src/Libraries/Color/normalizeColor.win32.js
  packages/react-native-win32/src/Libraries/Components/DatePicker/DatePickerIOS.win32.js
  packages/react-native-win32/src/Libraries/Components/DatePickerAndroid/DatePickerAndroid.win32.js
  packages/react-native-win32/src/Libraries/Components/MaskedView/MaskedViewIOS.win32.js
  packages/react-native-win32/src/Libraries/Components/ProgressViewIOS/ProgressViewIOS.win32.js
  packages/react-native-win32/src/Libraries/Components/TextInput/TextInputState.win32.js
  packages/react-native-win32/src/Libraries/Components/TimePickerAndroid/TimePickerAndroid.win32.js
  packages/react-native-win32/src/Libraries/Network/Network.ts
  packages/react-native-win32/src/Libraries/StyleSheet/processColorObject.win32.js
  packages/react-native-win32/src/Libraries/Utilities/Platform.win32.js
Labels: AutoMerge

#3986 Trigger new package version for #3978
  change/react-native-windows-2020-01-29-15-06-51-0.59-vnext-stable.json
Labels: AutoMerge

#3985 Add Overrides for AnimatedInterpolation and NativeOrDynamicColor
  change/@office-iss-react-native-win32-2020-01-29-14-19-59-animated-interpolation.json
  change/react-native-windows-2020-01-29-22-33-01-animated-interpolation.json
  packages/react-native-win32/.flowconfig
  packages/react-native-win32/src/Libraries/Animated/src/nodes/AnimatedInterpolation.win32.js
  vnext/.flowconfig
  vnext/src/Libraries/Animated/src/nodes/AnimatedInterpolation.windows.js
  vnext/src/Libraries/Color/NativeOrDynamicColorType.windows.js
Labels: AutoMerge

#3980 Add callstack to the error message when a JS error occurs.
  change/react-native-windows-2020-01-29-12-59-19-kinhln-chakra-error.json
  vnext/Shared/OInstance.cpp
Labels: vnext

#3996 Simple fix to IReactContext.cpp and add a writer helper function for direct event type constant
  change/react-native-windows-2020-01-30-09-32-57-didaReactContext.json
  vnext/Microsoft.ReactNative.Cxx/JSValueWriter.h
  vnext/Microsoft.ReactNative/IReactContext.cpp
  vnext/docs/NativeModulesSetup.md
Labels: vnext

#3999 Allow Any Prerelease Version of 0.60 as Peer Dependency
  change/@office-iss-react-native-win32-2020-01-30-14-09-45-looser-resolution.json
  change/react-native-windows-2020-01-30-14-09-45-looser-resolution.json
  change/react-native-windows-extended-2020-01-30-14-09-45-looser-resolution.json
  packages/react-native-win32/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: vnext

#3997 Added Microsoft.ReactNative dependency on Mso
  .gitignore
  change/react-native-windows-2020-01-30-11-35-24-MS_UseMso.json
  packages/E2ETest/windows/ReactUWPTestApp.sln
  packages/microsoft-reactnative-sampleapps/windows/SampleApps.sln
  vnext/Microsoft.ReactNative/Crash.h
  vnext/Microsoft.ReactNative/DynamicWriter.cpp
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Mso/debugAssertApi/debugAssertApi.h
  vnext/Mso/debugAssertApi/debugAssertDetails.h
  vnext/Mso/src/debugAssertApi/debugAssertApi.cpp
Labels: AutoMerge, vnext

#4001 Enable the PR Pipeline for 0.60-stable
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#3998 rnpm-plugin-windows fails when using npm
  change/rnpm-plugin-windows-2020-01-30-13-37-04-npmcli.json
  current/local-cli/rnpm/windows/package.json
  current/local-cli/rnpm/windows/src/common.js
  current/local-cli/rnpm/windows/src/windows.js
Labels: .NET

#3956 Return physical pixels for Dimension's windowPhysicalPixels
  change/react-native-windows-2020-01-24-13-20-31-appearance.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/Modules/DeviceInfoModule.cpp
  vnext/ReactUWP/Modules/DeviceInfoModule.h
Labels: vnext

#4005 Fix Mso.UnitTest project for Release mode
  change/react-native-windows-2020-01-30-21-53-47-MS_Fix_Mso_UnitTest_Release.json
  vnext/Mso.UnitTests/Mso.UnitTests.vcxproj
Labels: vnext

#4008 Add Flow Check Suppressions
  change/@office-iss-react-native-win32-2020-01-31-02-51-25-flow-suppressions.json
  change/react-native-windows-2020-01-31-02-51-25-flow-suppressions.json
  packages/react-native-win32/.flowconfig
  vnext/.flowconfig
Labels: AutoMerge

#4003 rnpm-plugin-windows fails when using npm
  .ado/publish.yml
  .ado/windows-vs-pr.yml
  change/@office-iss-react-native-win32-2020-01-31-09-33-24-npmcli.json
  change/react-native-windows-2020-01-31-09-33-24-npmcli.json
  change/rnpm-plugin-windows-2020-01-30-13-37-04-npmcli.json
  current/local-cli/rnpm/windows/package.json
  current/local-cli/rnpm/windows/src/common.js
  current/local-cli/rnpm/windows/src/windows.js
  package.json
  packages/react-native-win32/package.json
  vnext/package.json
Labels: .NET, AutoMerge

#4010 Add missing export needed for react-native-win32
  change/react-native-windows-2020-01-31-11-55-07-exportloadscript.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
Labels: AutoMerge, vnext

#4006 Merge IntegrationTests and RNTester with Stock React Native 0.60.6
  change/react-native-windows-2020-01-30-22-38-27-master.json
  vnext/IntegrationTestsCopy/Launch-WebSocketServer.ps1
  vnext/IntegrationTestsCopy/LayoutEventsTest.js
  vnext/IntegrationTestsCopy/launchWebSocketServer.command
  vnext/RNTesterCopy/js/ActionSheetMacOSExample.js
  vnext/RNTesterCopy/js/ActivityIndicatorExample.js
  vnext/RNTesterCopy/js/AlertMacOSExample.js
  vnext/RNTesterCopy/js/AnimatedExampleMacOS.js
  vnext/RNTesterCopy/js/BorderExample.js
  vnext/RNTesterCopy/js/DarkModeExample.js
  vnext/RNTesterCopy/js/DatePickerAndroidExample.js
  vnext/RNTesterCopy/js/DatePickerIOSExample.js
  vnext/RNTesterCopy/js/DatePickerMacOSExample.js
  vnext/RNTesterCopy/js/FocusEventsExample.js
  vnext/RNTesterCopy/js/ImageCapInsetsExample.js
  vnext/RNTesterCopy/js/ImageExample.js
  vnext/RNTesterCopy/js/LayoutEventsExample.js
  vnext/RNTesterCopy/js/LinkingExample.js
  vnext/RNTesterCopy/js/PickerIOSExample.js
  vnext/RNTesterCopy/js/RNTesterApp.android.js
  vnext/RNTesterCopy/js/RNTesterApp.ios.js
  vnext/RNTesterCopy/js/RNTesterApp.macos.js
  vnext/RNTesterCopy/js/RNTesterBlock.js
  vnext/RNTesterCopy/js/RNTesterExampleFilter.js
  vnext/RNTesterCopy/js/RNTesterList.ios.js
  vnext/RNTesterCopy/js/RNTesterList.macos.js
  vnext/RNTesterCopy/js/RNTesterPage.js
  vnext/RNTesterCopy/js/RTLExample.js
  vnext/RNTesterCopy/js/SegmentedControlIOSExample.js
  vnext/RNTesterCopy/js/SliderExample.js
  vnext/RNTesterCopy/js/TextExample.macos.js
  vnext/RNTesterCopy/js/TextInputExample.macos.js
  vnext/RNTesterCopy/js/TimePickerAndroidExample.js
Labels: vnext
