Repository microsoft/react-native-windows, pull requests merged in 2020-02, with the labels that each got.

#4012 cherry-pick DeviceInfo fix
  change/react-native-windows-2020-01-24-13-20-31-appearance.json
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/Modules/DeviceInfoModule.cpp
  vnext/ReactUWP/Modules/DeviceInfoModule.h
Labels: vnext

#4011 Update native module docs
  vnext/docs/NativeModules.md
Labels: vnext

#4013 Export Instance->getModuleRegistry from react-native-win32.dll
  change/react-native-windows-2020-01-31-17-25-09-exportgetmoduleregistry.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
Labels: AutoMerge, vnext

#4017 Use Unforked React Native 0.60.6
  .ado/templates/build-rnw.yml
  .ado/templates/e2e-test-job.yml
  .ado/templates/prepare-env.yml
  .ado/windows-vs-pr.yml
  .github/workflows/pr.yml
  change/@office-iss-react-native-win32-2020-02-03-07-51-55-defork606.json
  change/react-native-windows-2020-02-03-07-51-55-defork606.json
  change/react-native-windows-extended-2020-02-03-07-51-55-defork606.json
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-win32/.flowconfig
  packages/react-native-win32/package.json
  packages/react-native-windows-extended/package.json
  vnext/.flowconfig
  vnext/Scripts/useUnForkedRN.js
  vnext/package.json
  vnext/src/RNTester/js/RNTesterExampleList.windows.js
  yarn.lock
Labels: AutoMerge

#4030 Replaced Catch2 unit tests with GTest based Motif tests
  change/react-native-windows-2020-02-04-15-46-49-CppTest_GTest.json
  packages/microsoft-reactnative-sampleapps/windows/SampleApps.sln
  vnext/.clang-format
  vnext/Desktop.ABITests/NativeLogEventTests.cpp
  vnext/Desktop.ABITests/NativeTraceEventTests.cpp
  vnext/Desktop.ABITests/PerfTests.cpp
  vnext/Desktop.IntegrationTests/HttpResourceIntegrationTests.cpp
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/WebSocketJSExecutorIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/WebSocketModuleIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/WebSocketResourcePerformanceTests.cpp
  vnext/Desktop.UnitTests/AsyncStorageManagerTest.cpp
  vnext/Desktop.UnitTests/AsyncStorageTest.cpp
  vnext/Desktop.UnitTests/BytecodeUnitTests.cpp
  vnext/Desktop.UnitTests/MemoryMappedBufferTests.cpp
  vnext/Desktop.UnitTests/StringConversionTest_Desktop.cpp
  vnext/Desktop.UnitTests/UIManagerModuleTest.cpp
  vnext/Desktop.UnitTests/UnicodeConversionTest.cpp
  vnext/Desktop.UnitTests/WebSocketModuleTest.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/JSValueReaderTest.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/JSValueTest.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/Microsoft.ReactNative.Cxx.UnitTests.vcxproj
  vnext/Microsoft.ReactNative.Cxx.UnitTests/NativeModuleTest.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/catch.hpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/catch.runsettings
  vnext/Microsoft.ReactNative.Cxx.UnitTests/main.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/packages.config
  vnext/Microsoft.ReactNative.Cxx.UnitTests/pch.h
  vnext/Mso.UnitTests/errorCode/errorProviderTest.cpp
  vnext/Mso.UnitTests/errorCode/maybeTest.cpp
  vnext/Mso.UnitTests/functional/functorRefTest.cpp
  vnext/Mso.UnitTests/functional/functorTest.cpp
  vnext/Mso.UnitTests/guid/guidTest.cpp
  vnext/Mso.UnitTests/object/TCntPtrRefTest.cpp
  vnext/Mso.UnitTests/object/TCntPtrTest.cpp
  vnext/Mso.UnitTests/object/objectRefCountTest.cpp
  vnext/Mso.UnitTests/object/objectWithWeakRefTest.cpp
  vnext/Mso.UnitTests/object/queryCastTest.cpp
  vnext/Mso.UnitTests/object/refCountedObjectTest.cpp
  vnext/Mso.UnitTests/object/unknownObjectTest.cpp
  vnext/Mso.UnitTests/object/weakPtrTest.cpp
  vnext/ReactWindows-Universal.sln
  vnext/Universal.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Universal.UnitTests/Tests/AppStateModuleTests.cpp
  vnext/Universal.UnitTests/Tests/CreateModulesTests.cpp
  vnext/Universal.UnitTests/Tests/CreateViewManagersTests.cpp
  vnext/Universal.UnitTests/Tests/StringConversionTests_Universal.cpp
Labels: AutoMerge, vnext

#4040 Enable X64Debug CI configuration
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#4041 Implemented ReactPromise<void>
  change/react-native-windows-2020-02-05-16-07-01-MS_ReactPromise_void.json
  vnext/Microsoft.ReactNative.Cxx.UnitTests/NativeModuleTest.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/ReactModuleBuilderMock.h
  vnext/Microsoft.ReactNative.Cxx/ReactPromise.cpp
  vnext/Microsoft.ReactNative.Cxx/ReactPromise.h
  vnext/Microsoft.ReactNative.Managed.UnitTests/NativeModuleTest.cs
  vnext/Microsoft.ReactNative.SharedManaged/IReactPromise.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValue.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueWriter.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactPromise.cs
Labels: AutoMerge, vnext

#4045 Enable C++/WinRT heap enforcement
  change/react-native-windows-2020-02-06-14-30-19-MS_CppWinRT_HeapEnforcement.json
  vnext/Microsoft.ReactNative/ABICxxModule.cpp
  vnext/Microsoft.ReactNative/IReactModuleBuilder.cpp
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/local-cli/generator-windows/templates/cpp/proj/MyApp.vcxproj
Labels: vnext

#4021 Fix compilation errors with LLVM9.0.1/clang due to missing #includes
  change/react-native-windows-2020-02-06-17-37-00-master.json
  vnext/Chakra/ChakraNativeModules.cpp
  vnext/ReactWindowsCore/Modules/ExceptionsManagerModule.cpp
  vnext/ReactWindowsCore/Modules/UIManagerModule.cpp
  vnext/ReactWindowsCore/ShadowNodeRegistry.cpp
Labels: vnext

#4043 Enable screen reader announcements for accessibilityLiveRegion
  change/react-native-windows-2020-02-06-10-15-05-accessibilityLiveRegionFix.json
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
Labels: AutoMerge, vnext

#4048 Run Universal x64Debug unit tests
  .ado/windows-vs-pr.yml
Labels: AutoMerge

#4074 Update ConsumeRNW.md with 0.61 info
  .ado/shouldSkipPRBuild.ps1
  change/react-native-windows-2020-02-10-18-38-20-docs-61.json
  vnext/docs/ConsumingRNW.md
Labels: AutoMerge, vnext

#4079 Set playground to use Light app theme
  packages/playground/windows/playground/App.xaml
  yarn.lock
Labels: AutoMerge

#4078 Let children onFocus onBlur events in TouchableWithoutFeedback pass through to parent
  change/react-native-windows-2020-02-11-12-03-45-touchable-focus-blur-events.json
  packages/E2ETest/app/Consts.ts
  packages/E2ETest/app/TextInputTestPage.tsx
  packages/E2ETest/wdio/pages/TextInputTestPage.ts
  packages/E2ETest/wdio/test/testInput.spec.ts
  vnext/src/Libraries/Components/Touchable/TouchableWithoutFeedback.windows.js
Labels: vnext

#4061 Fix scroll indicators being shown when not required
  change/react-native-windows-2020-02-07-15-55-25-ScrollIndicatorFix.json
  vnext/ReactUWP/Views/ScrollViewManager.cpp
Labels: vnext

#3992 RNTester - Fix Text page
  change/react-native-windows-2020-01-29-18-32-53-rntester.json
  vnext/src/RNTester/js/RNTesterApp.windows.tsx
  vnext/src/RNTester/js/examples-win/Text/TextExample.windows.tsx
  vnext/src/RNTester/js/utils/RNTesterList.windows.ts
Labels: AutoMerge, vnext

#4082 PersonaCoin is not being exported from react-native-win32
  change/@office-iss-react-native-win32-2020-02-11-16-36-54-exportpersonacoin.json
  packages/react-native-win32/etc/react-native-win32.api.md
  packages/react-native-win32/src/Libraries/react-native/react-native-implementation.win32.ts
  packages/react-native-win32/src/Libraries/react-native/typings-main.ts
Labels: AutoMerge

#4083 Export PersonaCoin from react-native-win32
  change/@office-iss-react-native-win32-2020-02-11-16-44-13-expcoin.json
  packages/react-native-win32/etc/react-native-win32.api.md
  packages/react-native-win32/src/Libraries/react-native/react-native-implementation.win32.ts
  packages/react-native-win32/src/Libraries/react-native/typings-main.ts
  yarn.lock
Labels: AutoMerge

#4089 Do not use default export to export PersonaCoin, and export PersonCoinTypes correctly
  change/@office-iss-react-native-win32-2020-02-11-21-58-23-fixcoin.json
  packages/react-native-win32/etc/react-native-win32.api.md
  packages/react-native-win32/src/Libraries/PersonaCoin/PersonaCoin.tsx
  packages/react-native-win32/src/Libraries/react-native/react-native-implementation.win32.ts
Labels: AutoMerge

#4075 Provide a Minimal PlatformConstants Implementation
  change/@office-iss-react-native-win32-2020-02-10-23-09-16-platform-constants.json
  change/react-native-windows-2020-02-10-23-09-16-platform-constants.json
  packages/react-native-win32/src/Libraries/Utilities/NativePlatformConstantsWin.js
  packages/react-native-win32/src/Libraries/Utilities/Platform.win32.js
  packages/react-native-win32/src/Libraries/core/ReactNativeVersionCheck.win32.js
  vnext/.flowconfig
  vnext/Desktop.IntegrationTests/DesktopTestRunner.cpp
  vnext/Desktop.IntegrationTests/WebSocketModuleIntegrationTest.cpp
  vnext/Desktop.UnitTests/WebSocketModuleTest.cpp
  vnext/Desktop/Modules/WebSocketModule.cpp
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/ReactWindowsCore/Modules/PlatformConstantsModule.cpp
  vnext/ReactWindowsCore/Modules/PlatformConstantsModule.h
  vnext/ReactWindowsCore/Modules/SourceCodeModule.cpp
  vnext/ReactWindowsCore/Modules/SourceCodeModule.h
  vnext/ReactWindowsCore/Modules/WebSocketModule.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/Shared/OInstance.cpp
  vnext/src/Libraries/Utilities/NativePlatformConstantsWin.js
  vnext/src/Libraries/Utilities/Platform.windesktop.js
  vnext/src/Libraries/Utilities/Platform.windows.js
  vnext/src/Libraries/core/ReactNativeVersionCheck.windesktop.js
  vnext/src/Libraries/core/ReactNativeVersionCheck.windows.js
Labels: AutoMerge, vnext

#4036 Implement measureLayout
  change/react-native-windows-2020-02-04-18-42-20-user-kaiguo-add-measurelayout.json
  packages/E2ETest/app/Consts.ts
  packages/E2ETest/app/DirectManipulationPage.tsx
  packages/E2ETest/wdio/pages/DirectManipulationPage.ts
  packages/E2ETest/wdio/test/DirectManipulation.spec.ts
  vnext/IntegrationTests/TestInstance.cpp
  vnext/IntegrationTests/TestInstance.h
  vnext/ReactUWP/Modules/NativeUIManager.cpp
  vnext/ReactUWP/Modules/NativeUIManager.h
  vnext/ReactWindowsCore/INativeUIManager.h
  vnext/ReactWindowsCore/IUIManager.h
  vnext/ReactWindowsCore/Modules/UIManagerModule.cpp
  vnext/ReactWindowsCore/Modules/UIManagerModule.h
Labels: vnext

#4092 Fixed Developer menu and Live Reload
  change/react-native-windows-2020-02-12-11-56-02-MS_FixDevMenu.json
  vnext/Microsoft.ReactNative/ABICxxModule.cpp
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Microsoft.ReactNative/Modules/AppStateData.cpp
  vnext/Microsoft.ReactNative/Modules/AppStateData.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactNativeHost.cpp
  vnext/Microsoft.ReactNative/Threading/BatchingQueueThread.cpp
  vnext/Mso/src/dispatchQueue/looperScheduler.cpp
  vnext/ReactUWP/Base/CoreNativeModules.cpp
  vnext/ReactUWP/Base/CoreNativeModules.h
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactWindowsCore/IUIManager.h
  vnext/ReactWindowsCore/Modules/UIManagerModule.cpp
  vnext/ReactWindowsCore/Modules/UIManagerModule.h
Labels: AutoMerge, vnext

#4095 Set doc generation to output to new path
  change/@office-iss-react-native-win32-2020-02-12-16-21-45-users-aschultz-api.json
  change/react-native-windows-2020-02-12-16-21-45-users-aschultz-api.json
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.brandiconsource.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.color.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.disabled.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.displayname.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.emailaddress.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.initials.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.onerror.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.onload.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.presence.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.size.md
  packages/react-native-win32/docs/api/react-native-win32.ipersonacoinprops.source.md
  packages/react-native-win32/docs/api/react-native-win32.md
  packages/react-native-win32/docs/api/react-native-win32.personacoin.md
  packages/react-native-win32/docs/api/react-native-win32.personacoinpresence.md
  packages/react-native-win32/docs/api/react-native-win32.personacoinsize.md
  vnext/just-task.js
Labels: vnext

#4093 Add module request issue template
  .github/ISSUE_TEMPLATE/react-native-windows--vnext--module-request.md
Labels: AutoMerge

#4100 Force Interpretation of Code as UTF-8 When no BOM Present
  change/react-native-windows-2020-02-13-08-27-44-master.json
  vnext/PropertySheets/React.Cpp.props
Labels: vnext

#4064 Flip ImageView in RTL mode
  change/react-native-windows-2020-02-07-19-14-14-image-rtl.json
  packages/E2ETest/app/Consts.ts
  packages/E2ETest/app/ImageTestPage.tsx
  packages/E2ETest/wdio/pages/ImageTestPage.ts
  packages/E2ETest/wdio/test/Image.spec.ts
  packages/E2ETest/windows/ReactUWPTestApp/Assets/TreeDump/ImageRTL.txt
  packages/E2ETest/windows/TreeDumpLibrary/TreeDumpControlViewManager.cs
  packages/E2ETest/windows/TreeDumpLibrary/VisualTreeDumper.cs
  vnext/ReactUWP/Views/Image/ReactImage.cpp
Labels: vnext

#4105 Downgrade OpenSSL to version 1.0.2p
  change/react-native-windows-2020-02-14-12-49-08-deps-openssl-revertto102p.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/packages.config
Labels: AutoMerge, vnext

#4106 Downgrade OpenSSL to version 1.0.2p (#4105)
  change/react-native-windows-2020-02-14-12-49-08-deps-openssl-revertto102p.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/packages.config
Labels: AutoMerge, vnext

#4107 Update TypeScript type dependencies
  change/@office-iss-react-native-win32-2020-02-14-13-52-37-updateTypes.json
  change/react-native-windows-2020-02-14-13-52-37-updateTypes.json
  change/react-native-windows-extended-2020-02-14-13-52-37-updateTypes.json
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/package.json
  packages/react-native-win32/package.json
  packages/react-native-windows-extended/package.json
  vnext/package.json
Labels: vnext

#4109 Downgrade OpenSSL to version 1.0.2p (#4105)
  change/react-native-windows-2020-02-14-12-49-08-deps-openssl-revertto102p.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.DLL.vcxproj
  vnext/Desktop.Test.DLL/packages.config
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/Test/React.Windows.Test.vcxproj
  vnext/Test/packages.config
Labels: AutoMerge, vnext

#4108 Fix for NormalizePath resolving IntDir based on current working directory
  change/react-native-windows-2020-02-14-16-56-53-users-aschultz-build.json
  vnext/PropertySheets/ReactPackageDirectories.props
  vnext/ReactUWP/ReactUWP.vcxproj
Labels: vnext

#4116 Remove useIncrementalUpdates assert from Networking module
  change/react-native-windows-2020-02-18-17-30-23-networking-assert.json
  vnext/ReactUWP/Modules/NetworkingModule.cpp
Labels: AutoMerge, vnext

#4124 Implemented native module initialization with IReactContext
  change/react-native-windows-2020-02-19-12-15-55-ModuleInitialization.json
  packages/microsoft-reactnative-sampleapps/index.windows.js
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.cpp
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleModuleCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/SampleModuleCS.cs
  vnext/Microsoft.ReactNative.Cxx.UnitTests/NativeModuleTest.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/ReactModuleBuilderMock.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/ReactModuleBuilderMock.h
  vnext/Microsoft.ReactNative.Cxx/JSValue.cpp
  vnext/Microsoft.ReactNative.Cxx/JSValue.h
  vnext/Microsoft.ReactNative.Cxx/JSValueReader.h
  vnext/Microsoft.ReactNative.Cxx/JSValueXaml.h
  vnext/Microsoft.ReactNative.Cxx/Microsoft.ReactNative.Cxx.vcxitems
  vnext/Microsoft.ReactNative.Cxx/ModuleMemberRegistration.h
  vnext/Microsoft.ReactNative.Cxx/ModuleRegistration.h
  vnext/Microsoft.ReactNative.Cxx/NativeModules.h
  vnext/Microsoft.ReactNative.Cxx/StructInfo.h
  vnext/Microsoft.ReactNative.Managed.UnitTests/NativeModuleTest.cs
  vnext/Microsoft.ReactNative.Managed.UnitTests/ReactModuleBuilderMock.cs
  vnext/Microsoft.ReactNative.SharedManaged/AttributedViewManager.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValue.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueGenerator.cs
  vnext/Microsoft.ReactNative.SharedManaged/JSValueTreeWriter.cs
  vnext/Microsoft.ReactNative.SharedManaged/Microsoft.ReactNative.SharedManaged.projitems
  vnext/Microsoft.ReactNative.SharedManaged/ReactAttributes.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactContextExtensions.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactContextGenerator.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactEvent.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactEventInfo.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactFunctionInfo.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactInitializerInfo.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactModuleInfo.cs
  vnext/Microsoft.ReactNative/ABICxxModule.cpp
  vnext/Microsoft.ReactNative/ABICxxModule.h
  vnext/Microsoft.ReactNative/ABIViewManager.cpp
  vnext/Microsoft.ReactNative/ABIViewManager.h
  vnext/Microsoft.ReactNative/IJSValueWriter.idl
  vnext/Microsoft.ReactNative/IReactContext.cpp
  vnext/Microsoft.ReactNative/IReactContext.h
  vnext/Microsoft.ReactNative/IReactContext.idl
  vnext/Microsoft.ReactNative/IReactModuleBuilder.cpp
  vnext/Microsoft.ReactNative/IReactModuleBuilder.h
  vnext/Microsoft.ReactNative/IReactModuleBuilder.idl
  vnext/Microsoft.ReactNative/IViewManager.idl
  vnext/Microsoft.ReactNative/NativeModulesProvider.cpp
  vnext/Microsoft.ReactNative/ReactHost/React.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.h
  vnext/Microsoft.ReactNative/ViewManagersProvider.cpp
  vnext/Microsoft.ReactNative/ViewManagersProvider.h
  vnext/Microsoft.ReactNative/XamlHelper.cpp
  vnext/Microsoft.ReactNative/XamlHelper.h
  vnext/Microsoft.ReactNative/XamlHelper.idl
  vnext/ReactUWP/Base/CoreUIManagers.cpp
Labels: AutoMerge, vnext

#4126 Use verdaccio to validate react native init
  .ado/npmAddUser.js
  .ado/templates/react-native-init.yml
  .ado/verdaccio/config.yaml
  .ado/waitForVerdaccio.js
  .ado/windows-vs-pr.yml
  change/react-native-windows-2020-02-19-16-14-22-verdaccio.json
Labels: AutoMerge

#4128 Avoid having native modules without methods
  change/react-native-windows-2020-02-19-17-21-37-MS_NoEmptyModule.json
  vnext/Shared/OInstance.cpp
Labels: AutoMerge, vnext

#4131 [0.60] Update to ChakraCore.Debugger 0.0.0.43
  change/react-native-windows-2020-02-19-20-09-41-0.60-deps-ccdbg-0.0.0.43.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Desktop/packages.config
Labels: AutoMerge, vnext

#4133 Upgrade minimum supported version to Windows 8.
  change/react-native-windows-2020-02-19-23-13-21-dropwin7.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Directory.Build.targets
  vnext/FollyWin32/FollyWin32.vcxproj
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/PropertySheets/DebugBundle.props
  vnext/PropertySheets/React.Cpp.props
  vnext/PropertySheets/Release.props
  vnext/PropertySheets/ReleaseBundle.props
  vnext/ReactCommon/targetver.h
  vnext/ReactWindowsCore/targetver.h
  vnext/Shared/CMakeLists.txt
  vnext/Test/React.Windows.Test.vcxproj
  vnext/V8Inspector/V8Inspector.vcxproj
Labels: AutoMerge, vnext

#4114 Fix some reliability isssues for current AsyncStorage implementation
  change/react-native-windows-2020-02-19-10-20-40-storagefix.json
  vnext/ReactWindowsCore/AsyncStorage/KeyValueStorage.cpp
  vnext/ReactWindowsCore/AsyncStorage/KeyValueStorage.h
  vnext/Shared/AsyncStorage/StorageFileIO.cpp
  vnext/Shared/AsyncStorage/StorageFileIO.h
Labels: vnext

#4139 Enable screen reader announcements for accessibilityLiveRegion (#4043)
  change/react-native-windows-2020-02-06-10-15-05-accessibilityLiveRegionFix.json
  vnext/ReactUWP/Views/FrameworkElementViewManager.cpp
Labels: vnext

#4129 Update to ChakraCore.Debugger 0.0.0.43
  change/react-native-windows-2020-02-19-20-13-11-deps-ccdbg-0.0.0.43.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
  vnext/JSI/Desktop/JSI.Desktop.vcxproj
  vnext/JSI/Desktop/packages.config
Labels: AutoMerge, vnext

#4130 [0.59] Update to ChakraCore.Debugger 0.0.0.43
  change/react-native-windows-2020-02-19-20-09-07-0.59-deps-ccdbg-0.0.0.43.json
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/packages.config
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.config
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.config
  vnext/JSI.Desktop.UnitTests/JSI.Desktop.UnitTests.vcxproj
  vnext/JSI.Desktop.UnitTests/packages.config
Labels: AutoMerge, vnext

#4143 Fix scroll indicators being shown when not required (#4061)
  change/react-native-windows-2020-02-07-15-55-25-ScrollIndicatorFix.json
  vnext/ReactUWP/Views/ScrollViewManager.cpp
Labels: vnext

#4137 Support node12
  change/@office-iss-react-native-win32-2020-02-20-10-15-56-node12.json
  change/react-native-windows-2020-02-20-10-15-56-node12.json
  change/react-native-windows-extended-2020-02-20-16-38-46-node12.json
  package.json
  packages/E2ETest/just-task.js
  packages/E2ETest/metro.config.js
  packages/E2ETest/package.json
  packages/microsoft-reactnative-sampleapps/just-task.js
  packages/microsoft-reactnative-sampleapps/metro.config.js
  packages/microsoft-reactnative-sampleapps/package.json
  packages/playground/metro.config.js
  packages/playground/package.json
  packages/react-native-win32/just-task.js
  packages/react-native-win32/metro.config.js
  packages/react-native-win32/package.json
  packages/react-native-windows-extended/package.json
  vnext/local-cli/generator-windows/templates/metro.config.js
  vnext/metro.config.js
  vnext/package.json
Labels: AutoMerge

#4150 Let children onFocus onBlur events in TouchableWithoutFeedback pass through to parent (#4078)
  change/react-native-windows-2020-02-11-12-03-45-touchable-focus-blur-events.json
  packages/E2ETest/app/Consts.ts
  packages/E2ETest/app/TextInputTestPage.tsx
  packages/E2ETest/wdio/pages/TextInputTestPage.ts
  packages/E2ETest/wdio/test/testInput.spec.ts
  vnext/src/Libraries/Components/Touchable/TouchableWithoutFeedback.windows.js
Labels: vnext

#4159 Fix ReactNativeHost without package providers
  change/react-native-windows-2020-02-20-17-38-43-FixNoPackageProvider.json
  vnext/Microsoft.ReactNative/ReactNativeHost.cpp
Labels: AutoMerge, vnext

#4161 Fix for NormalizePath resolving IntDir based on current working directory (#4108)
  change/react-native-windows-2020-02-14-16-56-53-users-aschultz-build.json
  vnext/PropertySheets/ReactPackageDirectories.props
  vnext/ReactUWP/ReactUWP.vcxproj
Labels: vnext

#4102 Add a Win32 Playground app
  .ado/windows-vs-pr.yml
  change/react-native-windows-2020-02-14-00-06-00-playground-win32.json
  packages/playground/windows/playground-win32.sln
  packages/playground/windows/playground-win32/Application.manifest
  packages/playground/windows/playground-win32/Playground-Win32.cpp
  packages/playground/windows/playground-win32/Playground-Win32.rc
  packages/playground/windows/playground-win32/Playground-win32.vcxproj
  packages/playground/windows/playground-win32/packages.config
  packages/playground/windows/playground-win32/pch.cpp
  packages/playground/windows/playground-win32/pch.h
  packages/playground/windows/playground-win32/resource.h
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/ReactUWP/Base/CoreNativeModules.cpp
  vnext/ReactUWP/Base/CoreNativeModules.h
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/Modules/AsyncStorageModuleWin32.cpp
  vnext/ReactWindowsCore/Modules/AsyncStorageModuleWin32.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/include/ReactWindowsCore/AsyncStorageModuleWin32Config.h
Labels: vnext

#4168 Force coroutine method parameters pass by value
  change/react-native-windows-2020-02-21-14-55-06-FixReactPromise.json
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleModuleCPP.h
  vnext/Microsoft.ReactNative.Cxx.UnitTests/NativeModuleTest.cpp
  vnext/Microsoft.ReactNative.Cxx/NativeModules.h
Labels: AutoMerge, vnext

#4158 Initial commit of override tooling
  package.json
  packages/override-tools/.eslintignore
  packages/override-tools/.eslintrc.js
  packages/override-tools/.gitignore
  packages/override-tools/.vscode/launch.json
  packages/override-tools/babel.config.js
  packages/override-tools/jest.config.js
  packages/override-tools/just-task.js
  packages/override-tools/package.json
  packages/override-tools/src/FileRepository.ts
  packages/override-tools/src/GitReactFileRepository.ts
  packages/override-tools/src/Manifest.ts
  packages/override-tools/src/OverrideFileRepository.ts
  packages/override-tools/src/fs-promise.ts
  packages/override-tools/src/test/Manifest.test.ts
  packages/override-tools/src/test/MockFileRepository.ts
  packages/override-tools/tsconfig.json
  yarn.lock
Labels: AutoMerge

#4170 CoreParityStatus.md: fixed last row rendering
  current/docs/CoreParityStatus.md
Labels: .NET

#4169 Fix transform center point
  change/react-native-windows-2020-02-24-11-56-09-fix-transform.json
  packages/E2ETest/app/Consts.ts
  packages/E2ETest/app/TestPages.ts
  packages/E2ETest/app/TransformTestPage.tsx
  packages/E2ETest/wdio/pages/HomePage.ts
  packages/E2ETest/wdio/pages/TransformTestPage.ts
  packages/E2ETest/wdio/test/TransformTest.spec.ts
  vnext/ReactUWP/Modules/Animated/PropsAnimatedNode.cpp
  vnext/ReactUWP/Views/ShadowNodeBase.cpp
Labels: AutoMerge, vnext

#4175 Declare MessageQueueThread in header that uses it
  change/react-native-windows-2020-02-24-12-16-25-mqtdec.json
  vnext/ReactWindowsCore/IUIManager.h
Labels: AutoMerge

#4177 Add options for DirectDebugging and BreakOnNextLine
  change/react-native-windows-2020-02-24-15-20-10-dd.json
  packages/playground/windows/playground-win32/Playground-Win32.cpp
  packages/playground/windows/playground-win32/Playground-Win32.rc
  packages/playground/windows/playground-win32/resource.h
  packages/playground/windows/playground/HostingPane.xaml
  packages/playground/windows/playground/HostingPane.xaml.cpp
  packages/playground/windows/playground/HostingPane.xaml.h
  vnext/Microsoft.ReactNative/ReactInstanceSettings.h
  vnext/Microsoft.ReactNative/ReactInstanceSettings.idl
  vnext/Microsoft.ReactNative/ReactNativeHost.cpp
  vnext/Microsoft.ReactNative/Views/ReactRootControl.cpp
  vnext/Microsoft.ReactNative/Views/ReactRootControl.h
  vnext/ReactUWP/ABI/Instance_rt.cpp
  vnext/ReactUWP/ABI/Instance_rt.h
  vnext/ReactUWP/ABI/idl/Instance.idl
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Views/ReactControl.cpp
  vnext/ReactUWP/Views/ReactControl.h
  vnext/Shared/OInstance.cpp
  vnext/Universal.IntegrationTests/UniversalTestInstance.cpp
  vnext/include/ReactUWP/IReactInstance.h
  vnext/include/ReactUWP/InstanceFactory.h
Labels: AutoMerge, vnext

#4184 Remove Node.js project.
  change/react-native-windows-2020-02-25-16-24-02-dropvsnode.json
  vnext/IntegrationTestScripts/IntegrationTests.njsproj
  vnext/ReactWindows-Desktop.sln
  vnext/ReactWindows-Universal.sln
Labels: AutoMerge, vnext

#4186 Minor update for #4169
  change/react-native-windows-2020-02-25-17-28-33-minor-fix.json
  vnext/ReactUWP/Views/ShadowNodeBase.cpp
Labels: AutoMerge, vnext

#4179 Fix concurrency issue in NetworkingModule
  change/react-native-windows-2020-02-25-11-16-19-networkingmodulefix.json
  vnext/ReactUWP/Modules/NetworkingModule.cpp
Labels: vnext

#4188 Porting down NetworkingModule fixes
  change/react-native-windows-2020-02-18-17-30-23-networking-assert.json
  change/react-native-windows-2020-02-25-11-16-19-networkingmodulefix.json
  vnext/ReactUWP/Modules/NetworkingModule.cpp
Labels: AutoMerge, vnext

#4178 Add CLI to verify overrides are accurate and up-to-date
  packages/override-tools/jest.config.js
  packages/override-tools/package.json
  packages/override-tools/src/ActionQueue.ts
  packages/override-tools/src/Cli.ts
  packages/override-tools/src/CrossProcessLock.ts
  packages/override-tools/src/GitReactFileRepository.ts
  packages/override-tools/src/Manifest.ts
  packages/override-tools/src/OverrideFileRepositoryImpl.ts
  packages/override-tools/src/fs-promise.ts
  packages/override-tools/src/scripts/testLocks.ts
  packages/override-tools/src/test/Manifest.test.ts
  packages/override-tools/tsconfig.json
  yarn.lock
Labels: AutoMerge

#4182 Get TurboModule RNTester test page running
  change/react-native-windows-2020-02-25-15-12-10-tm.json
  change/react-native-windows-extended-2020-02-25-22-16-29-tm.json
  packages/override-tools/just-task.js
  packages/override-tools/package.json
  packages/playground/just-task.js
  packages/playground/metro.config.js
  packages/playground/package.json
  packages/react-native-windows-extended/just-task.js
  packages/react-native-windows-extended/package.json
  vnext/DeforkingPatches/ReactCommon/turbomodule/samples/SampleTurboCxxModule.cpp
  vnext/DeforkingPatches/ReactCommon/turbomodule/samples/SampleTurboCxxModule.h
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.IntegrationTests/DesktopTestRunner.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/PropertySheets/ReactCommunity.cpp.props
  vnext/ReactUWP/Base/InstanceFactory.cpp
  vnext/ReactUWP/Base/UwpReactInstance.cpp
  vnext/ReactUWP/Base/UwpReactInstance.h
  vnext/ReactUWP/ReactUWP.vcxproj
  vnext/ReactWindowsCore/InstanceManager.h
  vnext/ReactWindowsCore/OInstance.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/ReactWindowsCore/TurboModuleManager.cpp
  vnext/ReactWindowsCore/TurboModuleManager.h
  vnext/ReactWindowsCore/TurboModuleRegistry.h
  vnext/Shared/InstanceManager.cpp
  vnext/Shared/OInstance.cpp
  vnext/include/ReactUWP/InstanceFactory.h
  vnext/just-task.js
  vnext/package.json
  vnext/src/RNTester/js/utils/RNTesterList.windows.ts
Labels: AutoMerge, vnext

#4185 Fixed call of methods with two callbacks
  change/react-native-windows-2020-02-26-05-09-31-MS_TwoCallbackOrder.json
  packages/microsoft-reactnative-sampleapps/index.windows.js
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/SampleModuleCPP.h
  packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS/SampleModuleCS.cs
  vnext/Microsoft.ReactNative.Cxx.UnitTests/NativeModuleTest.cpp
  vnext/Microsoft.ReactNative.Cxx/NativeModules.h
  vnext/Microsoft.ReactNative.Managed.UnitTests/NativeModuleTest.cs
  vnext/Microsoft.ReactNative.SharedManaged/ReactMethodInfo.cs
Labels: vnext

#4195 Rename IWebSocket to IWebSocketResource
  change/react-native-windows-2020-02-26-18-19-48-renameiws.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/WebSocketResourcePerformanceTests.cpp
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x64.def
  vnext/Desktop.Test.DLL/React.Windows.Desktop.Test.x86.def
  vnext/Desktop.UnitTests/BaseWebSocketTests.cpp
  vnext/Desktop.UnitTests/WebSocketTest.cpp
  vnext/Desktop/BeastWebSocketResource.cpp
  vnext/Desktop/BeastWebSocketResource.h
  vnext/Desktop/CMakeLists.txt
  vnext/Desktop/Executors/WebSocketJSExecutor.cpp
  vnext/Desktop/Executors/WebSocketJSExecutor.h
  vnext/Desktop/Modules/WebSocketModule.cpp
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj.filters
  vnext/ReactWindowsCore/IWebSocketResource.h
  vnext/ReactWindowsCore/Modules/WebSocketModule.h
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj
  vnext/ReactWindowsCore/ReactWindowsCore.vcxproj.filters
  vnext/Scripts/ReactUwp.nuspec
  vnext/Scripts/ReactWin32.nuspec
  vnext/Test/WebSocketServer.cpp
  vnext/Test/WebSocketServer.h
Labels: AutoMerge, vnext

#4198 Add missing license to react-native-win32
  change/@office-iss-react-native-win32-2020-02-27-05-32-05-missing-license.json
  packages/react-native-win32/package.json
Labels: AutoMerge

#4162 Update react-native-windows--vnext--module-request.md
  .github/ISSUE_TEMPLATE/react-native-windows--vnext--module-request.md
Labels: AutoMerge

#4202 Move rnpm-plugin-windows package out of current
  change/rnpm-plugin-windows-2020-02-27-06-38-24-movernpm.json
  packages/rnpm-plugin-windows/CHANGELOG.json
  packages/rnpm-plugin-windows/CHANGELOG.md
  packages/rnpm-plugin-windows/README.md
  packages/rnpm-plugin-windows/index.js
  packages/rnpm-plugin-windows/package.json
  packages/rnpm-plugin-windows/react-native.config.js
  packages/rnpm-plugin-windows/src/common.js
  packages/rnpm-plugin-windows/src/windows.js
  packages/rnpm-plugin-windows/src/wpf.js
  yarn.lock
Labels: AutoMerge

#4204 TextBox should have a default tabIndex of 0
  change/react-native-windows-2020-02-27-11-28-17-textinput.tabindex.json
  vnext/ReactUWP/Views/TextInputViewManager.cpp
Labels: vnext

#4180 Set IsTabStop to false when tabIndex is negative
  change/react-native-windows-2020-02-25-11-32-44-tabindex.json
  vnext/ReactUWP/Views/ControlViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.cpp
Labels: vnext

#4205 Complete Override Manifest for react-native-win32
  change/@office-iss-react-native-win32-2020-02-27-13-12-49-manual-manifests.json
  packages/override-tools/src/scripts/hashFile.ts
  packages/react-native-win32/.flowconfig
  packages/react-native-win32/src/Libraries/Components/CheckBox/CheckBox.win32.tsx
  packages/react-native-win32/src/Libraries/Components/DrawerAndroid/DrawerLayoutAndroid.tsx
  packages/react-native-win32/src/Libraries/Components/Picker/PickerAndroid.tsx
  packages/react-native-win32/src/Libraries/Components/Picker/PickerIOS.tsx
  packages/react-native-win32/src/Libraries/Components/ProgressBarAndroid/ProgressBarAndroid.tsx
  packages/react-native-win32/src/Libraries/Components/SegmentedControlIOS/SegmentedControlIOS.tsx
  packages/react-native-win32/src/Libraries/Components/StatusBar/StatusBar.win32.ts
  packages/react-native-win32/src/Libraries/Components/TimePickerAndroid/TimePickerAndroid.win32.js
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/ActivityIndicatorIOS.tsx
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/IntentAndroid.win32.ts
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/NavigationHeaderBackButton.win32.ts
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/NavigatorBreadcrumbNavigationBarStyles.win32.ts
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/NavigatorIOS.tsx
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/SliderIOS.tsx
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/SnapshotViewIOS.tsx
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/SwitchAndroid.tsx
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/SwitchIOS.tsx
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/TabBarIOS.tsx
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/ToolbarAndroid.tsx
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/UnimplementedViews.tsx
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/VibrationIOS.win32.ts
  packages/react-native-win32/src/Libraries/Components/UnimplementedStubs/ViewPagerAndroid.tsx
  packages/react-native-win32/src/Libraries/Image/ImageTypes.ts
  packages/react-native-win32/src/Libraries/Network/Network.ts
  packages/react-native-win32/src/Libraries/Network/RCTNetworking.win32.ts
  packages/react-native-win32/src/Libraries/Utilities/BackAndroid.win32.ts
  packages/react-native-win32/src/Libraries/Utilities/HMRLoadingView.win32.ts
  packages/react-native-win32/src/overrides.json
Labels: AutoMerge

#4207 Cherry-pick tabIndex fixes from master
  change/react-native-windows-2020-02-25-11-32-44-tabindex.json
  change/react-native-windows-2020-02-27-11-28-17-textinput.tabindex.json
  vnext/ReactUWP/Views/ControlViewManager.cpp
  vnext/ReactUWP/Views/TextInputViewManager.cpp
  vnext/ReactUWP/Views/ViewViewManager.cpp
Labels: AutoMerge, vnext
