Repository microsoft/react-native-windows, pull requests merged in 2023-08, with the labels that each got.

#11945 Deprecate Microsoft.ReactNative.WindowsAppSDK project
  .ado/jobs/cli-init.yml
  .ado/jobs/playground.yml
  .ado/jobs/windowsappsdk.yml
  .ado/publish.yml
  .ado/stages.yml
  .ado/templates/prep-and-pack-nuget.yml
  .ado/templates/react-native-init.yml
  change/@react-native-windows-cli-8c9c9a92-b999-48a7-b8c2-0a72a1f404d6.json
  change/react-native-windows-adb62754-558b-498a-883a-57b568334572.json
  packages/@react-native-windows/cli/src/generator-windows/index.ts
  vnext/ExperimentalFeatures.props
  vnext/Microsoft.ReactNative.WindowsAppSDK.sln
  vnext/Microsoft.ReactNative.WindowsAppSDK/Directory.Build.props
  vnext/Microsoft.ReactNative.WindowsAppSDK/Microsoft.ReactNative.WindowsAppSDK.csproj
  vnext/Microsoft.ReactNative.WindowsAppSDK/nuget/Microsoft.ReactNative.WindowsAppSDK.local.nuspec
  vnext/PropertySheets/External/Microsoft.ReactNative.WinAppSDK.CSharp.PackageReferences.props
  vnext/PropertySheets/External/Microsoft.ReactNative.WinAppSDK.CSharpApp.props
  vnext/PropertySheets/External/Microsoft.ReactNative.WinAppSDK.CSharpApp.targets
  vnext/PropertySheets/External/Microsoft.ReactNative.WinAppSDK.Common.props
  vnext/Scripts/Microsoft.ReactNative.WindowsAppSDK.nuspec
  vnext/template/cs-app-WinAppSDK/MyApp/App.xaml
  vnext/template/cs-app-WinAppSDK/MyApp/App.xaml.cs
  vnext/template/cs-app-WinAppSDK/MyApp/MainWindow.xaml
  vnext/template/cs-app-WinAppSDK/MyApp/MainWindow.xaml.cs
  vnext/template/cs-app-WinAppSDK/MyApp/Package.appxmanifest
  vnext/template/cs-app-WinAppSDK/MyApp/Properties/PublishProfiles/win10-arm64.pubxml
  vnext/template/cs-app-WinAppSDK/MyApp/Properties/PublishProfiles/win10-x64.pubxml
  vnext/template/cs-app-WinAppSDK/MyApp/Properties/PublishProfiles/win10-x86.pubxml
  vnext/template/cs-app-WinAppSDK/MyApp/Properties/launchSettings.json
  vnext/template/cs-app-WinAppSDK/MyApp/app.manifest
  vnext/template/cs-app-WinAppSDK/proj/ExperimentalFeatures.props
  vnext/template/cs-app-WinAppSDK/proj/MyApp.csproj
  vnext/template/cs-app-WinAppSDK/proj/MyApp.sln
  vnext/template/cs-app-WinAppSDK/proj/NuGet_Config
Labels: Area: Infrastructure, Breaking Change, Platform: WinAppSDK

#11978 Properly detect the correct machine architecture in CLI
  change/@react-native-windows-cli-89b5d265-8b1d-40b6-9cda-1449d039d1b2.json
  change/@react-native-windows-telemetry-39db57fb-a779-4bd5-93bd-edfa4aed719b.json
  change/react-native-windows-init-632430bc-c96b-4bf3-b20e-26f62b73e43f.json
  packages/@react-native-windows/cli/src/runWindows/runWindowsOptions.ts
  packages/@react-native-windows/cli/src/runWindows/utils/telemetryHelpers.ts
  packages/@react-native-windows/telemetry/src/index.ts
  packages/@react-native-windows/telemetry/src/telemetry.ts
  packages/@react-native-windows/telemetry/src/test/basePropUtils.test.ts
  packages/@react-native-windows/telemetry/src/utils/basePropUtils.ts
  packages/react-native-windows-init/src/Cli.ts
Labels: Area: CLI, Area: Telemetry, Backport: Requested

#12012 [0.71] Fix Secure Supply Chain compilance issues
  .gitignore
  NuGet.Config
  change/react-native-windows-14a87dda-f285-4cd4-8a0f-b5aa9543cb9f.json
  change/react-native-windows-bfb79e47-04d8-4f4e-a72f-26b1621873d2.json
  packages/e2e-test-app/.npmrc
  packages/e2e-test-app/windows/NuGet.Config
  packages/integration-test-app/windows/NuGet.Config
  packages/sample-apps/.npmrc
  packages/sample-apps/windows/NuGet.Config
  vnext/.npmrc
  vnext/Desktop.ABITests/NuGet.Config
  vnext/Desktop.DLL/NuGet.Config
  vnext/Desktop.IntegrationTests/NuGet.Config
  vnext/Desktop.UnitTests/NuGet.Config
  vnext/Desktop/NuGet.Config
  vnext/Microsoft.ReactNative.Managed.IntegrationTests/packages.lock.json
  vnext/Microsoft.ReactNative.Managed.UnitTests/packages.lock.json
  vnext/Microsoft.ReactNative.Managed/packages.lock.json
  vnext/NuGet.Config
  vnext/ReactCommon.UnitTests/NuGet.Config
Labels: Area: Compliance

#12013 [0.69] Fix Secure Supply Chain compliance issues
  .gitignore
  GuardianCustomConfiguration.json
  NuGet.Config
  change/react-native-windows-14a87dda-f285-4cd4-8a0f-b5aa9543cb9f.json
  change/react-native-windows-bfb79e47-04d8-4f4e-a72f-26b1621873d2.json
  packages/e2e-test-app/.npmrc
  packages/e2e-test-app/windows/NuGet.Config
  packages/integration-test-app/windows/NuGet.Config
  packages/playground/windows/NuGet.Config
  packages/sample-apps/.npmrc
  packages/sample-apps/windows/NuGet.Config
  vnext/.npmrc
  vnext/Microsoft.ReactNative.Managed.UnitTests/packages.lock.json
  vnext/Microsoft.ReactNative.Managed/packages.lock.json
  vnext/NuGet.Config
Labels: Area: Compliance

#12014 [0.69] Update BinSkin desktop task
  .ado/jobs/desktop.yml
Labels: Area: Compliance

#12043 [0.71] Update V8 JSI version to 0.71.8
  change/react-native-windows-3830c060-3a1d-4649-b97e-65f622437cc1.json
  vnext/PropertySheets/JSEngine.props
Labels: AutoMerge

#12050 [0.69] Compliance: Rename template Nuget.config files to stop triggering multi-feed warnings
  change/@react-native-windows-cli-81517eff-3586-4693-8d07-0ff6bd9710b0.json
  change/react-native-windows-74880bf0-e7b0-4668-9148-3c7fbf28d4a9.json
  packages/@react-native-windows/cli/src/generator-windows/index.ts
  vnext/template/cs-app-WinAppSDK/proj/NuGet_Config
  vnext/template/shared-app/proj/NuGet_Config
  vnext/template/shared-lib/proj/NuGet_Config
Labels: Area: Compliance

#12039 Fabric Text components use their text value as the accessibility name by default
  change/react-native-windows-78dd7222-aaf1-4762-984e-be7cb6c503c5.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.h
Labels: Area: Accessibility, Area: Text, Area: Fabric

#12079 Implements backgroundColor for Fabric's TextInput
  change/react-native-windows-32422a54-a587-407d-ad45-00d1b263f1f1.json
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/graphics/Color.cpp
Labels: AutoMerge, Area: TextInput, Area: Fabric

#12059 [Fabric] Fix textinput crashing when app is minimized
  change/react-native-windows-4240d9b5-be72-42a8-8e2a-c71d5a1ff72b.json
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Labels: Area: Text, Area: Fabric
