Repository microsoft/react-native-windows, pull requests merged in 2023-01, with the labels that each got.

#10995 Remove AsyncStorage
  .ado/jobs/desktop.yml
  change/react-native-windows-e8b37876-8892-49a5-aa73-431b72fc5cad.json
  packages/@office-iss/react-native-win32-tester/overrides.json
  packages/@office-iss/react-native-win32-tester/src/js/utils/testerStateUtils.win32.js
  packages/integration-test-app/runner/IntegrationTests.test.ts
  vnext/Desktop.IntegrationTests/DesktopTestRunner.cpp
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.UnitTests/AsyncStorageManagerTest.cpp
  vnext/Desktop.UnitTests/AsyncStorageTest.cpp
  vnext/Desktop.UnitTests/AsyncStorageTestClass.h
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj.filters
  vnext/Microsoft.ReactNative/Base/CoreNativeModules.cpp
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Shared/AsyncStorage/AsyncStorageManager.cpp
  vnext/Shared/AsyncStorage/AsyncStorageManager.h
  vnext/Shared/AsyncStorage/FollyDynamicConverter.cpp
  vnext/Shared/AsyncStorage/FollyDynamicConverter.h
  vnext/Shared/AsyncStorage/KeyValueStorage.cpp
  vnext/Shared/AsyncStorage/KeyValueStorage.h
  vnext/Shared/AsyncStorage/StorageFileIO.cpp
  vnext/Shared/AsyncStorage/StorageFileIO.h
  vnext/Shared/AsyncStorageModule.h
  vnext/Shared/Modules/AsyncStorageModule.cpp
  vnext/Shared/Modules/AsyncStorageModuleWin32.cpp
  vnext/Shared/Modules/AsyncStorageModuleWin32.h
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
  vnext/include/Include.vcxitems
  vnext/include/Include.vcxitems.filters
  vnext/include/Shared/AsyncStorageModuleWin32Config.h
Labels: Platform: Desktop

#11059 Do not conditionally ignore event props
  change/react-native-windows-b23dc862-597b-4f85-a0e1-d8972cd1d250.json
  vnext/src/Libraries/NativeComponent/BaseViewConfig.windows.js
Labels: Backport: Requested

#11071 [0.71] Do not conditionally ignore event props (#11059)
  change/react-native-windows-b23dc862-597b-4f85-a0e1-d8972cd1d250.json
  vnext/src/Libraries/NativeComponent/BaseViewConfig.windows.js
Labels: AutoMerge

#11009 [Image] Fix svg rendering
  change/react-native-windows-b3844007-200d-47cb-aa8b-b0236c722d78.json
  vnext/Microsoft.ReactNative/Views/Image/ReactImage.cpp
  vnext/Microsoft.ReactNative/Views/Image/ReactImage.h
Labels: AutoMerge, Area: Image, Backport: Requested

#11088 Fix search of react-native module code in vscode
  .ignore
  .vscode/settings.json
Labels: AutoMerge

#11085 [Image][0.71] Fix svg rendering
  change/react-native-windows-4ee72dd6-75dd-4374-b814-1f3946a0e6d1.json
  vnext/Microsoft.ReactNative/Views/Image/ReactImage.cpp
  vnext/Microsoft.ReactNative/Views/Image/ReactImage.h
Labels: AutoMerge

#11064 [Fabric][Image] Add tintColor, blurRadius, and resizeMode = repeat
  change/react-native-windows-17404ba8-a05f-44cf-b955-402a2d2aec67.json
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.cpp
Labels: AutoMerge, Area: Image, Area: Fabric

#11129 Add basic UIA provider to Fabric's CompositionRootView
  change/react-native-windows-601c7088-6021-4533-b2b7-82d0ec2a36ba.json
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  vnext/Microsoft.ReactNative/CompositionHwndHost.idl
  vnext/Microsoft.ReactNative/CompositionRootView.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHwndHost.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHwndHost.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.h
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Shared/Shared.vcxitems
Labels: AutoMerge, Area: Fabric
