Repository microsoft/react-native-windows, pull requests merged in 2023-12, with the labels that each got.

#12313 Enable the `/PROFILE` linker flag for all C++ release binaries
  change/react-native-windows-31a36a4a-d57a-4bc4-a0f4-e84d0ec76158.json
  vnext/PropertySheets/Release.props
Labels: Backport: Requested, Area: Compliance

#12450 [Fabric] Add DeviceInfoModule
  change/react-native-windows-7e664452-5ed5-4193-950e-859b8171d325.json
  packages/playground/windows/playground-composition/DeviceInfoModule.cpp
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  packages/playground/windows/playground-composition/Playground-Composition.vcxproj
  vnext/Microsoft.ReactNative/Modules/DeviceInfoModule.cpp
Labels: Area: DeviceInfo, Area: Fabric

#12474 [Fabric] Add support for custom themes and support runtime theme change
  change/react-native-windows-bd63c12c-5336-4f32-a5f0-2f1b5aed9420.json
  packages/e2e-test-app-fabric/test/__snapshots__/HomeUIADump.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  vnext/Microsoft.ReactNative/CompositionRootView.idl
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ActivityIndicatorComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView_emptyimpl.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Theme.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Theme.h
  vnext/Microsoft.ReactNative/Fabric/Composition/Theme_emptyimpl.cpp
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/Microsoft.ReactNative/Modules/AppThemeModuleUwp.cpp
  vnext/Microsoft.ReactNative/Modules/AppearanceModule.cpp
  vnext/Microsoft.ReactNative/Theme.idl
  vnext/Microsoft.ReactNative/Utils/ThemeUtils.cpp
  vnext/Microsoft.ReactNative/Utils/ThemeUtils.h
  vnext/Shared/Shared.vcxitems
Labels: Area: Theming, Area: Fabric

#12498 Desktop fabric build should build against winappsdk
  .ado/templates/enable-fabric-experimental-feature.yml
Labels: Partner: Office, Area: Fabric

#12506 Use HTTP form data as JSArray
  change/react-native-windows-16ae9eea-0f37-40b2-91da-33069ca74dd5.json
  vnext/Shared/Networking/WinRTHttpResource.cpp
Labels: Area: Networking, Backport: Requested

#12522 Fix FileReader Base64 padding
  change/react-native-windows-e48a3cd6-aace-48d4-8b2b-a2b495958ffc.json
  vnext/Desktop.UnitTests/BaseFileReaderResourceUnitTest.cpp
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj.filters
  vnext/Shared/BaseFileReaderResource.cpp
  vnext/Shared/Shared.vcxitems.filters
Labels: Area: Networking
