Repository microsoft/react-native-windows, pull requests merged in 2023-10, with the labels that each got.

#12199 Have RCTNetworking.win32 fork RCTNetworking.ios
  .editorconfig
  change/@office-iss-react-native-win32-f5cabe3a-bd06-4f35-850f-0d35fbb16a5f.json
  change/react-native-windows-e6e27546-7ba7-419d-a4fa-6129939e90ac.json
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/src/Libraries/Network/RCTNetworking.win32.js
  vnext/.editorconfig
  vnext/overrides.json
Labels: Area: Networking

#12190 [Fabric] Add keyboard handlers to ScrollView
  change/react-native-windows-58b41525-866f-4ad8-963c-cfa92497c7ac.json
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
Labels: Area: ScrollView, Area: Fabric

#12211 [0.71] Switch between V8 JSI and V8 Node-API
  change/react-native-windows-521af409-3887-4e28-a380-e8689c109448.json
  vnext/Microsoft.ReactNative/ReactHost/React.h
  vnext/Microsoft.ReactNative/ReactHost/ReactHost.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Shared/OInstance.cpp
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
  vnext/Shared/V8JSIRuntimeHolder.cpp
  vnext/Shared/V8JSIRuntimeHolder.h
Labels: AutoMerge

#12206 [Fabric] Add pointer pressed, released, moved and wheel changed events
  change/react-native-windows-3ddf28c1-6a2e-4a05-82be-34e61421cde5.json
  vnext/Microsoft.ReactNative/Composition.Input.idl
  vnext/Microsoft.ReactNative/CompositionRootView.idl
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHwndHost.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView_emptyimpl.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
  vnext/Microsoft.ReactNative/IReactCompositionViewComponentBuilder.idl
Labels: Area: Fabric

#12218 Conditionally register WebSocket Cxx module
  change/react-native-windows-a292054c-e016-4f31-bb25-3808d092176b.json
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Shared/DevSettings.h
  vnext/Shared/OInstance.cpp
Labels: Area: Networking, Backport: Requested

#12222 [Fabric] Add native PointerEntered+PointerExited events
  change/react-native-windows-0d984d7b-b9bc-4673-859b-ba694d9ba669.json
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/IReactCompositionViewComponentBuilder.idl
Labels: Area: Fabric, Area: Pointer

#12217 Add `@microsoft/eslint-plugin-sdl` to `@rnw-scripts/eslint-config`
  change/@rnw-scripts-eslint-config-219bbb7e-14f5-42cd-bcf2-23f365225f84.json
  change/react-native-windows-6af84fcc-5034-47ad-958a-13a386f5e752.json
  change/react-native-windows-init-9963797e-f8f5-4463-80a3-ad75f9f183a4.json
  packages/@react-native-windows/tester/src/js/examples/HTTP/HTTPExampleMultiPartFormData.js
  packages/@rnw-scripts/eslint-config/eslintrc.js
  packages/@rnw-scripts/eslint-config/package.json
  packages/playground/Samples/image.tsx
  packages/playground/Samples/index.tsx
  packages/react-native-windows-init/src/Cli.ts
  vnext/src/IntegrationTests/WebSocketBinaryTest.js
  vnext/src/IntegrationTests/WebSocketBlobTest.js
  yarn.lock
Labels: security, Area: Compliance

#12214 Implement WebSocketTurboModuleProxy
  change/react-native-windows-c9696c65-0592-42c1-bd7a-8a215b34cd90.json
  vnext/Shared/Modules/WebSocketModule.cpp
  vnext/Shared/Modules/WebSocketTurboModule.h
Labels: Area: Networking, Backport: Requested

#12227 [Fabric] Initial support to host React Native as a ContentIsland
  change/react-native-windows-085557aa-eea4-4220-9665-4c1cb7386536.json
  packages/playground/windows/playground-composition/CustomComponent.cpp
  packages/playground/windows/playground-composition/DeviceInfoModule.cpp
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  packages/playground/windows/playground-composition/Playground-Composition.rc
  packages/playground/windows/playground-composition/Playground-Composition.vcxproj
  packages/playground/windows/playground-composition/resource.h
  vnext/Microsoft.ReactNative/CompositionRootView.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHwndHost.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHwndHost.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView_emptyimpl.cpp
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/Microsoft.ReactNative/Views/ICompositionRootView.h
Labels: Area: Fabric, Area: Islands

#12236 [Fabric] Fix offset for automation provider when running in islands
  change/react-native-windows-62e7496f-cd8d-49bb-8775-c127c760d022.json
  packages/playground/Samples/nativeFabricComponent.tsx
  packages/playground/windows/playground-composition/CustomComponent.cpp
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHelpers.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/IReactCompositionViewComponentBuilder.idl
Labels: Area: Fabric

#10621 Fixes issues with packaged asset resolution
  change/react-native-windows-06a66b00-cc43-451b-9087-1b0c52b44ab4.json
  vnext/.flowconfig
  vnext/Microsoft.ReactNative/Utils/ImageUtils.h
  vnext/Microsoft.ReactNative/Views/Image/ImageViewManager.cpp
  vnext/Shared/OInstance.cpp
  vnext/overrides.json
  vnext/src/Libraries/Image/resolveAssetSource.windows.js
Labels: Needs: Attention :wave:, Area: Image, Area: Fabric, Breaking Change

#12254 [Fabric] Add CharacterReceived event
  .ado/jobs/e2e-test.yml
  change/@react-native-windows-automation-0463e716-dca8-42f8-af1d-e1aff0fac0e9.json
  change/react-native-windows-ad78c8f9-4968-45f7-9c09-49025da29369.json
  packages/@react-native-windows/automation/src/AutomationEnvironment.ts
  packages/e2e-test-app-fabric/jest.config.js
  packages/e2e-test-app-fabric/package.json
  packages/e2e-test-app-fabric/test/RNTesterNavigation.ts
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.vcxproj
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/pch.h
  packages/playground/windows/playground-composition/Playground-Composition.vcxproj
  vnext/Microsoft.ReactNative/Composition.Input.idl
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
  vnext/Microsoft.ReactNative/IReactCompositionViewComponentBuilder.idl
Labels: Area: Fabric

#12264 [Fabric] Add support for loading image files from local files
  change/react-native-windows-8295ceba-97f3-4570-afc5-ffa8b10c51d1.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Utils/ImageUtils.cpp
Labels: Area: Image, Area: Fabric

#12269 Implement BlobCollector
  change/react-native-windows-5d9952b2-0b6d-4246-a1ec-994f54168545.json
  vnext/Shared/Modules/BlobCollector.cpp
  vnext/Shared/Modules/BlobCollector.h
  vnext/Shared/Modules/BlobModule.cpp
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
Labels: Area: Networking

#12279 Update app template's metro config with latest upstream changes
  change/react-native-windows-c4c4d87a-92df-4bee-b696-1445c7e5d6c7.json
  vnext/template/metro.config.js
  vnext/template/metro.devMode.config.js
  vnext/templates/cpp-app/metro.config.js
Labels: Breaking Change, Backport: Requested

#12287 [Fabric] Expand native theming implementation
  .vscode/settings.json
  change/react-native-windows-6eaedc20-852e-4ff2-a6cf-b872852601ac.json
  packages/e2e-test-app-fabric/jest.config.js
  packages/e2e-test-app-fabric/test/RNTesterNavigation.ts
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ActivityIndicatorComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ActivityIndicatorComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ComponentViewRegistry.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/Theme.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Theme.h
  vnext/Microsoft.ReactNative/Fabric/Composition/UnimplementedNativeViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UnimplementedNativeViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/graphics/Color.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/graphics/Color.h
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
Labels: Area: Fabric

#11822 Simplify Flyout and Popup coordinate spaces
  change/react-native-windows-4a09e136-8bbd-4b99-95ab-fdaed43e9292.json
  vnext/Microsoft.ReactNative/Modules/NativeUIManager.cpp
  vnext/Microsoft.ReactNative/Views/FlyoutViewManager.cpp
  vnext/Microsoft.ReactNative/Views/PopupViewManager.cpp
  vnext/Microsoft.ReactNative/Views/ShadowNodeBase.cpp
  vnext/Microsoft.ReactNative/Views/ShadowNodeBase.h
  vnext/Microsoft.ReactNative/Views/TextViewManager.cpp
Labels: Breaking Change

#12302 Convert publish.yml to extend 1ES PT
  .ado/publish.yml
  .ado/templates/msbuild-sln.yml
  .ado/templates/publish-build-artifacts.yml
  .ado/templates/upload-build-logs.yml
Labels: Area: Compliance

#12242 [Fabric] Move E2E fabric app to WinAppSDK and lifted composition
  .ado/jobs/e2e-test.yml
  change/react-native-windows-4bdedc1b-9bf7-435c-9696-424c99b5c2a0.json
  packages/e2e-test-app-fabric/jest.config.js
  packages/e2e-test-app-fabric/test/ButtonComponentTest.test.ts
  packages/e2e-test-app-fabric/test/HomeUIADump.test.ts
  packages/e2e-test-app-fabric/test/PressableComponentTest.test.ts
  packages/e2e-test-app-fabric/test/ScrollViewComponentTest.test.ts
  packages/e2e-test-app-fabric/test/TextComponentTest.test.ts
  packages/e2e-test-app-fabric/test/TextInputComponentTest.test.ts
  packages/e2e-test-app-fabric/test/TouchableComponentTest.test.ts
  packages/e2e-test-app-fabric/test/ViewComponentTest.test.ts
  packages/e2e-test-app-fabric/test/visitAllPages.test.ts
  packages/e2e-test-app-fabric/windows/ExperimentalFeatures.props
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/packages.lock.json
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/pch.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.h
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
Labels: Area: Fabric

#12310 Increase publish build timeout to handle CodeQL overhead
  .ado/publish.yml
Labels: Area: Compliance

#12301 [Fabric] Add animation on Switch's thumb onHover
  change/react-native-windows-c060b99f-d2ee-460d-9ba1-c681a5405039.json
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
Labels: Area: Animation, Area: Switch
