Repository microsoft/react-native-windows, pull requests merged in 2023-06, with the labels that each got.

#11056 Switch ViewPanel base class to Grid
  change/react-native-windows-7e083e93-e46e-45c4-ba37-eb9d79514dc1.json
  packages/e2e-test-app/test/__snapshots__/ButtonComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/DisplayNoneTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/FlyoutComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/LegacyControlStyleTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/LegacyImageTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/PopupComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/PressableComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/ScrollViewComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/SwitchComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/TextComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/ViewComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/XAMLTest.test.ts.snap
  vnext/Microsoft.ReactNative/Views/ViewPanel.cpp
  vnext/Microsoft.ReactNative/Views/ViewPanel.h
  vnext/Microsoft.ReactNative/Views/ViewViewManager.cpp
  vnext/Microsoft.ReactNative/Views/cppwinrt/ViewPanel.idl
Labels: Needs: Attention :wave:, Area: Borders and Brushes, Area: Layout, Breaking Change

#11707 [0.71] [Win32] Export ITouchableWin32State
  change/@office-iss-react-native-win32-200bafc5-42f1-4687-97e7-4bae2324768c.json
  packages/@office-iss/react-native-win32/src/Libraries/platform-types.d.ts
Labels: Platform: NetUI

#11706 [0.72] [Win32] Export ITouchableWin32State
  change/@office-iss-react-native-win32-5622f0ff-223a-4260-b511-1fb075b2bf33.json
  packages/@office-iss/react-native-win32/src/Libraries/platform-types.d.ts
Labels: Platform: NetUI

#11674 Support UIA ::SetFocus and basic property change notifications
  change/react-native-windows-67407575-cd5b-4bf1-b812-6e0d80d943c3.json
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.h
Labels: Area: Fabric

#11710 [Fabric] Add basic PlatformColor support
  change/react-native-windows-9bada428-fb94-4baf-8e6f-c00637c09a13.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/graphics/Color.cpp
Labels: AutoMerge, Area: Fabric, Area: PlatformColor

#11705 [Win32] Export ITouchableWin32State
  change/@office-iss-react-native-win32-5d871315-b856-4ab7-938a-acfff441b310.json
  packages/@office-iss/react-native-win32/src/Libraries/platform-types.d.ts
Labels: Platform: NetUI

#11714 [Win32] [0.71] Add missing eventPhase on INativeKeyboardEvent
  change/@office-iss-react-native-win32-e33cc16a-01b8-485d-b3dc-017ba9f1c528.json
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewPropTypes.win32.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/platform-types.d.ts
Labels: Platform: NetUI

#11716 [Win32] [0.72] Add eventPhase to IHandledKeyboardEvent
  change/@office-iss-react-native-win32-eefb624d-6244-4273-8725-9f03183f4c0d.json
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewPropTypes.win32.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/platform-types.d.ts
Labels: Platform: NetUI

#11722 [0.71] [Win32] Fix various text properties not being forwarded to native
  change/@office-iss-react-native-win32-14bcdf28-5c19-4ff0-b78f-af9fdfa5b1eb.json
  packages/@office-iss/react-native-win32-tester/overrides.json
  packages/@office-iss/react-native-win32-tester/src/js/components/TextWin32Test.tsx
  packages/@office-iss/react-native-win32-tester/src/js/utils/RNTesterList.win32.js
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/package.json
  packages/@office-iss/react-native-win32/src/Libraries/Text/TextNativeComponent.win32.js
Labels: Platform: NetUI

#11724 [Win32] Fix various text properties not being forwarded to native
  change/@office-iss-react-native-win32-79e9528f-5ae2-4fab-8f90-89ee3c25a001.json
  packages/@office-iss/react-native-win32-tester/overrides.json
  packages/@office-iss/react-native-win32-tester/src/js/components/TextWin32Test.tsx
  packages/@office-iss/react-native-win32-tester/src/js/utils/RNTesterList.win32.js
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/package.json
  packages/@office-iss/react-native-win32/src/Libraries/Text/TextNativeComponent.win32.js
Labels: Platform: NetUI

#11723 [0.72] [Win32] Fix various text properties not being forwarded to native
  change/@office-iss-react-native-win32-abd12dab-70d6-4d8b-b7a4-2a7a2941161e.json
  packages/@office-iss/react-native-win32-tester/overrides.json
  packages/@office-iss/react-native-win32-tester/src/js/components/TextWin32Test.tsx
  packages/@office-iss/react-native-win32-tester/src/js/utils/RNTesterList.win32.js
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/package.json
  packages/@office-iss/react-native-win32/src/Libraries/Text/TextNativeComponent.win32.js
Labels: Platform: NetUI

#11720 [Fabric] Add borders to TextInput
  change/react-native-windows-c0c1e5ac-9cf9-4281-9dd3-8e7f939c2bd4.json
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Labels: Area: TextInput, Area: Fabric

#11727 [0.71] [Win32] Type definition files shouldnt use win32 extension
  change/@office-iss-react-native-win32-f2fb089f-5d6e-4d50-b751-508ee873923c.json
  packages/@office-iss/react-native-win32-tester/overrides.json
  packages/@office-iss/react-native-win32-tester/src/js/components/ViewWin32Test.tsx
  packages/@office-iss/react-native-win32-tester/src/js/examples-win32/Accessibility/AccessibilityExampleWin32.tsx
  packages/@office-iss/react-native-win32-tester/src/js/utils/RNTesterList.win32.js
  packages/@office-iss/react-native-win32-tester/tsconfig.json
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/src/Libraries/Components/Button/ButtonWin32.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Components/Text/TextWin32.Props.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/Touchable/Tests/TouchableWin32Test.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Components/Touchable/TouchableNativeFeedback.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/Touchable/TouchableWin32.Props.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Components/Touchable/TouchableWin32.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewAccessibility.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewPropTypes.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewWin32.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/platform-types.d.ts
Labels: Platform: NetUI

#11728 [0.72] [Win32] Type definition files shouldnt use win32 extension
  change/@office-iss-react-native-win32-b868c0a1-e687-4d7d-8665-b2695c826e7f.json
  packages/@office-iss/react-native-win32-tester/overrides.json
  packages/@office-iss/react-native-win32-tester/src/js/components/ViewWin32Test.tsx
  packages/@office-iss/react-native-win32-tester/src/js/examples-win32/Accessibility/AccessibilityExampleWin32.tsx
  packages/@office-iss/react-native-win32-tester/src/js/utils/RNTesterList.win32.js
  packages/@office-iss/react-native-win32-tester/tsconfig.json
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/src/Libraries/Components/Button/ButtonWin32.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Components/Text/TextWin32.Props.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/Touchable/Tests/TouchableWin32Test.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Components/Touchable/TouchableNativeFeedback.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/Touchable/TouchableWin32.Props.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Components/Touchable/TouchableWin32.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewAccessibility.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewPropTypes.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewWin32.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/platform-types.d.ts
Labels: Platform: NetUI

#11725 Upgrade to BinSkim@4
  .ado/jobs/desktop.yml
  .ado/jobs/universal.yml
Labels: Area: Compliance

#11735 [0.72] Upgrade to BinSkim@4
  .ado/jobs/desktop.yml
  .ado/jobs/universal.yml
Labels: Area: Compliance

#11736 [0.71] Upgrade to BinSkim@4
  .ado/jobs/desktop.yml
  .ado/jobs/universal.yml
Labels: Area: Compliance

#11737 [0.70] Upgrade to BinSkim@4
  .ado/jobs/desktop.yml
  .ado/jobs/universal.yml
Labels: Area: Compliance

#11738 [0.69] Upgrade to BinSkim@4
  .ado/jobs/desktop.yml
  .ado/jobs/universal.yml
Labels: Area: Compliance

#11717 [Fabric] Fix y-position of TextInput's caret
  change/react-native-windows-fae51559-4d2b-4ea7-bfa4-81a7a18a3108.json
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
Labels: Area: TextInput, Area: Fabric

#11606 Updated Lage version
  package.json
  yarn.lock
Labels: Area: Build Infrastructure

#11771 [win32] Add support for more aria props
  change/@office-iss-react-native-win32-30310027-6d38-47eb-8a79-91a241429ff5.json
  packages/@office-iss/react-native-win32/.flowconfig
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/View.win32.js
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewAccessibility.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/View/ViewPropTypes.win32.js
  packages/@office-iss/react-native-win32/src/Libraries/Text/Text.win32.js
  packages/@office-iss/react-native-win32/src/Libraries/Text/TextProps.win32.js
Labels: Platform: NetUI

#11812 Fix AV in LinkingManagerModule when resolving promise with nullptr
  change/react-native-windows-c7574db8-26ae-4cd1-b76c-b9c712abc2bb.json
  vnext/Microsoft.ReactNative/Modules/LinkingManagerModule.cpp
Labels: Area: Native Modules, Area: Samples, Backport: Requested

#11816 Fix BinSkim warnings for Desktop
  .ado/jobs/desktop.yml
Labels: Backport: Requested, Area: Compliance

#11807 [Fabric] No need to assert when an unimplemented view has children added to it
  change/react-native-windows-3c713eb8-d78f-4c25-99c0-77f22815766f.json
  vnext/Microsoft.ReactNative/Fabric/Composition/UnimplementedNativeViewComponentView.cpp
Labels: Area: Fabric

#11808 [Fabric] Fix crash in certain unmount scenarios
  change/react-native-windows-54b226a7-3cc1-45be-b3d3-36069d8a3cf6.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
Labels: Area: Fabric

#11805 [Fabric]: Scroll Scrollviews to bring focused items into view
  change/react-native-windows-9f19f41a-f08e-48ba-becf-7867ac8521f5.json
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
Labels: Area: Fabric
