Repository microsoft/react-native-windows, pull requests merged in 2023-09, with the labels that each got.

#12097 [Fabric] Merge ISurfaceBrush and ICompositionDrawingSurface into a single object
  change/react-native-windows-30e6bd83-e157-407d-b8b6-cf66a8bdfc92.json
  vnext/Microsoft.ReactNative/CompositionContext.idl
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper_emptyimpl.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/UnimplementedNativeViewComponentView.cpp
  vnext/Scripts/OfficeReact.Win32.nuspec
  vnext/Shared/Composition/AutoDraw.h
Labels: Area: Fabric

#12115 [Fabric] Enable backfaceVisibility and transform prop for all Fabric Components
  change/react-native-windows-aab669fd-e811-4fa5-82fe-d73ba879b7a5.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Labels: Area: Fabric

#12120 [0.72] [Win32] Webpack assets do not prefix paths with /, which causes a lost char in asset path
  change/@office-iss-react-native-win32-e8c0b2fd-503a-492b-a0e8-9bea3e698b51.json
  packages/@office-iss/react-native-win32/src/Libraries/Image/resolveAssetSource.win32.js
Labels: Platform: NetUI

#12121 [0.71] [Win32] Webpack assets do not prefix paths with /, which causes a lost char in asset path
  change/@office-iss-react-native-win32-e8c0b2fd-503a-492b-a0e8-9bea3e698b51.json
  packages/@office-iss/react-native-win32/src/Libraries/Image/resolveAssetSource.win32.js
Labels: Platform: NetUI

#12139 Update Policheck exclusions and exceptions 9/15
  .ado/config/PoliCheckExclusions.xml
  .ado/config/PoliCheckRules.mdb
Labels: Backport: Requested, Area: Compliance

#12128 [Fabric] Custom native components should have access to the ReactContext
  change/react-native-windows-1a194256-b950-463f-acfa-3fc056fb0276.json
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ComponentViewRegistry.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/IReactCompositionViewComponentBuilder.idl
Labels: Area: Fabric

#12146 [Fabric] Add support for native key event handling
  change/react-native-windows-0a4ff42f-7ea1-4da7-a054-828f7df62e9b.json
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/playground/windows/playground-composition/packages.lock.json
  vnext/Microsoft.ReactNative/Composition.Input.idl
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/KeyEvent.h
  vnext/Microsoft.ReactNative/IReactCompositionViewComponentBuilder.idl
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
  vnext/overrides.json
  vnext/src/Libraries/Components/Switch/Switch.windows.js
Labels: Area: Fabric

#12170 [Fabric] Enable fabric usage against lifted comp, or system comp
  change/react-native-windows-5e8ea709-c53b-4959-9915-6bae7aeecb09.json
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/module.g.cpp
  vnext/Microsoft.ReactNative/CompositionContext.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper_emptyimpl.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHelpers.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHwndHost.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Modules/Animated/NativeAnimatedNodeManager.cpp
  vnext/Microsoft.ReactNative/Modules/Animated/PropsAnimatedNode.cpp
  vnext/Microsoft.ReactNative/Modules/DeviceInfoModule.cpp
  vnext/Mso/src/dispatchQueue/uiScheduler_winrt.cpp
Labels: Area: Fabric

#12157 [Fabric] Fix Textinput's caret on focus lost
  change/react-native-windows-bc016154-a9c1-4dcd-8367-781644093aaa.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Labels: Area: TextInput, Area: Fabric
