Repository microsoft/react-native-windows, pull requests merged in 2023-03, with the labels that each got.

#11321 [0.68] Fix binary versioning and add CommitId to version
  .ado/publish.yml
  .ado/templates/apply-published-version-vars.yml
  change/react-native-windows-01e03b0d-1396-40d6-9728-d26f12db8109.json
  packages/@rnw-scripts/stamp-version/src/renderPropsFile.ts
  packages/@rnw-scripts/stamp-version/src/stampVersion.ts
  packages/@rnw-scripts/stamp-version/src/test/__snapshots__/renderPropsFile.test.ts.snap
  packages/@rnw-scripts/stamp-version/src/test/renderPropsFile.test.ts
  packages/@rnw-scripts/stamp-version/template/PackageVersion.g.props.hbs
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/Version.rc
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Version.rc
  vnext/PropertySheets/Generated/PackageVersion.g.props
  vnext/PropertySheets/PackageVersionDefinitions.props
Labels: AutoMerge

#11320 [0.69] Fix binary versioning and add CommitId to version
  .ado/publish.yml
  .ado/templates/apply-published-version-vars.yml
  change/react-native-windows-6b0f93d8-23ee-48cf-ab66-6a5601c4649d.json
  packages/@rnw-scripts/stamp-version/src/renderPropsFile.ts
  packages/@rnw-scripts/stamp-version/src/stampVersion.ts
  packages/@rnw-scripts/stamp-version/src/test/__snapshots__/renderPropsFile.test.ts.snap
  packages/@rnw-scripts/stamp-version/src/test/renderPropsFile.test.ts
  packages/@rnw-scripts/stamp-version/template/PackageVersion.g.props.hbs
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Desktop.DLL/Version.rc
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Version.rc
  vnext/PropertySheets/Generated/PackageVersion.g.props
  vnext/PropertySheets/PackageVersionDefinitions.props
Labels: AutoMerge

#11242 [Fabric] Conditionally exclude Fabric files from Shared.vcxitem
  change/react-native-windows-ff53da7d-881b-446f-917d-2cca1243aecb.json
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
Labels: AutoMerge, Area: Fabric

#11327 [Fabric] Adds text measure caching. Add support for lineHeight, letterSpacing, maximumNumberOfLines and textTransform
  change/react-native-windows-f98b2d6c-89f0-47c2-8138-147e647c09d8.json
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/textlayoutmanager/TextLayoutManager.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/textlayoutmanager/TextLayoutManager.h
  vnext/Microsoft.ReactNative/Utils/TransformableText.h
Labels: Area: Fabric

#11336 [Fabric] Fix issue where border gap can appear with non-uniform border radius
  change/react-native-windows-cfe0ac37-6514-496b-a201-f4f01324f0b5.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
Labels: AutoMerge, Area: Fabric

#11323 [Fabric] add support for enableFocusRing
  change/react-native-windows-dbb905be-476d-45bd-9f45-1196b92ce512.json
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/ViewProps.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/ViewProps.h
Labels: AutoMerge, Area: Fabric

#11334 [Fabric] Add support for backface visibility
  change/react-native-windows-8930e00f-f3bb-4781-b282-37e9df2b9be7.json
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
Labels: AutoMerge, Area: Fabric

#11335 [Fabric] Add support for backgroundColor on text and text fragments
  change/react-native-windows-7ca5a6b9-f600-42ba-8da0-edd37853ef6a.json
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
Labels: AutoMerge, Area: Fabric

#11349 [Fabric] Move Windows specific properties out of ViewProps into HostPlatformViewProps
  change/react-native-windows-89fafeeb-2f97-4e19-b61a-2b4b290c4b23.json
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/windows/WindowsViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/windows/WindowsViewProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/windows/primitives.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/ViewProps.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/ViewProps.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/ViewShadowNode.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/primitives.h
  vnext/Shared/Shared.vcxitems
Labels: AutoMerge, Area: Fabric

#11350 [Fabric] Clean up a bunch of include redirect files
  change/react-native-windows-1851118b-deb5-40f9-8ac1-2a66517a5930.json
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/image/conversions.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/ConcreteViewShadowNode.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/components/view/ViewEventEmitter.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/core/ConcreteComponentDescriptor.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/core/PropsParserContext.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/core/propsConversions.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/graphics/Color.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/imagemanager/primitives.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/iostextinput/TextInputEventEmitter.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/iostextinput/TextInputProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/iostextinput/TextInputShadowNode.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/iostextinput/TextInputState.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/iostextinput/conversions.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/iostextinput/primitives.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/iostextinput/propsConversions.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/rncore/EventEmitters.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/rncore/Props.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/rncore/States.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/graphics/Color.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/graphics/Float.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/graphics/platform/cxx/react/renderer/graphics/Color.h
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Shared/Shared.vcxitems
Labels: AutoMerge, Area: Fabric

#11348 [Fabric] TextInput shouldn't block the tab loop
  change/react-native-windows-29007162-af49-4bbc-a6d3-0f9efe78b98c.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Labels: AutoMerge, Area: Fabric

#11344 [Fabric] Add implementation of ScrollView.scrollto
  change/react-native-windows-50a9690e-5aa4-43e4-8b77-cadc11ba8fc6.json
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
Labels: AutoMerge, Area: Fabric

#11364 [0.68] Component Governance Updates for 3/13/23
  yarn.lock
Labels: AutoMerge, security, Area: Compliance

#11366 [0.67] Component Governance Updates for 3/13/23
  .ado/jobs/universal.yml
  .ado/templates/build-rnw.yml
  package.json
  yarn.lock
Labels: AutoMerge, security, Area: Build Infrastructure, Area: Compliance

#11363 [0.69] Component Governance Updates for 3/13/23
  yarn.lock
Labels: AutoMerge, security, Area: Compliance

#11362 [0.70] Component Governance Updates for 3/13/23
  yarn.lock
Labels: AutoMerge, security, Area: Compliance

#11361 [0.71] Component Governance Updates for 3/13/23
  yarn.lock
Labels: AutoMerge, security, Area: Compliance

#11375 Bump react-native-xaml to .74
  packages/e2e-test-app/package.json
  yarn.lock
Labels: AutoMerge

#11387 [0.71] Fix RedBox Dismiss
  change/react-native-windows-7f362cee-b1e5-48ae-80f4-893a406c40b3.json
  packages/e2e-test-app/package.json
  vnext/Microsoft.ReactNative/RedBox.cpp
  yarn.lock
Labels: AutoMerge

#11367 Verify JS ViewConfig and ViewManager ViewConfigs align
  change/@rnw-scripts-babel-node-config-866f8129-44a0-4e72-bc34-40df77043980.json
  change/react-native-windows-a9a92421-aae6-4d9a-932f-139a629f6d43.json
  packages/@rnw-scripts/babel-node-config/babel.config.js
  packages/e2e-test-app/app/index.ts
  packages/e2e-test-app/babel.config.js
  packages/e2e-test-app/package.json
  packages/e2e-test-app/test/ButtonComponentTest.test.ts
  packages/e2e-test-app/test/DisplayNoneTest.test.ts
  packages/e2e-test-app/test/FlyoutComponentTest.test.ts
  packages/e2e-test-app/test/Helpers.ts
  packages/e2e-test-app/test/LegacyControlStyleTest.test.ts
  packages/e2e-test-app/test/LegacyImageTest.test.ts
  packages/e2e-test-app/test/LegacyLoginTest.test.ts
  packages/e2e-test-app/test/LegacySelectableTextTest.test.ts
  packages/e2e-test-app/test/LegacyTextHitTestTest.test.ts
  packages/e2e-test-app/test/LegacyTextInputTest.test.ts
  packages/e2e-test-app/test/MouseClickTest.test.ts
  packages/e2e-test-app/test/PopupComponentTest.test.ts
  packages/e2e-test-app/test/PressableComponentTest.test.ts
  packages/e2e-test-app/test/ScrollViewComponentTest.test.ts
  packages/e2e-test-app/test/SwitchComponentTest.test.ts
  packages/e2e-test-app/test/TextComponentTest.test.ts
  packages/e2e-test-app/test/ViewComponentTest.test.ts
  packages/e2e-test-app/test/XAMLTest.test.ts
  packages/e2e-test-app/test/visitAllPages.test.ts
  packages/e2e-test-app/windows/RNTesterApp/App.xaml.cs
  packages/e2e-test-app/windows/RNTesterApp/MainPage.xaml.cs
  packages/playground/Samples/rntester.tsx
  packages/playground/babel.config.js
  packages/playground/package.json
  vnext/Microsoft.ReactNative/Views/ScrollViewManager.cpp
  vnext/Microsoft.ReactNative/Views/ViewManagerBase.cpp
  vnext/Shared/Shared.vcxitems.filters
  vnext/babel-plugin-codegen/GenerateViewConfigJs.js
  vnext/babel-plugin-codegen/index.js
  vnext/overrides.json
  vnext/src/Libraries/Components/ScrollView/ScrollViewNativeComponent.windows.js
  vnext/src/Libraries/NativeComponent/BaseViewConfig.windows.js
  yarn.lock
Labels: AutoMerge, Area: Tests, Area: Test Infrastructure

#11374 CrashManager: handle abort signal
  change/react-native-windows-00d5b8db-bd21-4d37-a622-82dbec4eac24.json
  vnext/Microsoft.ReactNative/ReactHost/CrashManager.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
Labels: AutoMerge

#11404 [0.70] CrashManager: handle abort signal
  change/react-native-windows-00d5b8db-bd21-4d37-a622-82dbec4eac24.json
  vnext/Microsoft.ReactNative/ReactHost/CrashManager.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
Labels: AutoMerge

#11403 [0.71] CrashManager: handle abort signal
  change/react-native-windows-00d5b8db-bd21-4d37-a622-82dbec4eac24.json
  vnext/Microsoft.ReactNative/ReactHost/CrashManager.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
Labels: AutoMerge

#11365 [Fabric] Beginning of custom component interfaces
  change/react-native-windows-dc69b331-e892-4d13-9547-72a1abbb9705.json
  packages/playground/Samples/nativeFabricComponent.tsx
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  vnext/Desktop/ABI/TestController.cpp
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Microsoft.ReactNative/Fabric/AbiViewComponentDescriptor.cpp
  vnext/Microsoft.ReactNative/Fabric/AbiViewComponentDescriptor.h
  vnext/Microsoft.ReactNative/Fabric/AbiViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/AbiViewProps.h
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/AbiCompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ComponentViewRegistry.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHwndHost.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionHwndHost.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/Microsoft.ReactNative/Fabric/WindowsComponentDescriptorRegistry.cpp
  vnext/Microsoft.ReactNative/Fabric/WindowsComponentDescriptorRegistry.h
  vnext/Microsoft.ReactNative/IReactCompositionViewComponentBuilder.idl
  vnext/Microsoft.ReactNative/IReactPackageBuilderFabric.idl
  vnext/Microsoft.ReactNative/IReactViewComponentBuilder.idl
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/ReactNativeHost.cpp
  vnext/Microsoft.ReactNative/ReactPackageBuilder.cpp
  vnext/Microsoft.ReactNative/ReactPackageBuilder.h
  vnext/Microsoft.ReactNative/ViewProps.idl
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
Labels: Area: Fabric

#11428 [0.69] CG Updates 3/27/23
  package.json
  yarn.lock
Labels: AutoMerge, security, Area: Compliance

#11234 [Fabric] Add switch's 'trackColor'
  change/react-native-windows-f6eda291-b285-4958-8a04-c5045b1d6277.json
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
Labels: Area: Switch, Area: Fabric

#11438 Workaround fix for "missing-asset-registry-path" error to unblock PRs
  change/react-native-windows-a5110142-aafe-4bbf-ac8b-1a6c6cdd9405.json
  vnext/template/metro.config.js
Labels: AutoMerge, Area: CLI, Breaking Change, Area: Metro

#11407 Add E2E Test App for Fabric
  .ado/jobs/e2e-test.yml
  .unbroken_exclusions
  lgtm.yml
  packages/e2e-test-app-fabric/.eslintrc.js
  packages/e2e-test-app-fabric/.gitignore
  packages/e2e-test-app-fabric/.npmrc
  packages/e2e-test-app-fabric/README.md
  packages/e2e-test-app-fabric/app.json
  packages/e2e-test-app-fabric/babel.config.js
  packages/e2e-test-app-fabric/custom-transformer.js
  packages/e2e-test-app-fabric/index.js
  packages/e2e-test-app-fabric/jest.config.js
  packages/e2e-test-app-fabric/jest.debug.config.js
  packages/e2e-test-app-fabric/jest.setup.js
  packages/e2e-test-app-fabric/just-task.js
  packages/e2e-test-app-fabric/metro.config.js
  packages/e2e-test-app-fabric/package.json
  packages/e2e-test-app-fabric/react-native.config.js
  packages/e2e-test-app-fabric/tsconfig.json
  packages/e2e-test-app-fabric/windows/ExperimentalFeatures.props
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric.sln
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.h
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.ico
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.rc
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.vcxproj
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.vcxproj.filters
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/pch.cpp
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/pch.h
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/resource.h
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/small.ico
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/targetver.h
Labels: Area: Fabric

#8393 Suppresses auto-focus under certain conditions
  change/react-native-windows-3f1cdae2-0985-46e8-811f-5bf27d5897e3.json
  vnext/Microsoft.ReactNative/Modules/NativeUIManager.cpp
  vnext/Microsoft.ReactNative/QuirkSettings.cpp
  vnext/Microsoft.ReactNative/QuirkSettings.h
  vnext/Microsoft.ReactNative/QuirkSettings.idl
  vnext/Microsoft.ReactNative/Views/FlyoutViewManager.cpp
  vnext/Microsoft.ReactNative/Views/TextInputViewManager.cpp
Labels: Needs: Attention :wave:, Area: Focus, Area: Multiple Windows

#11168 Fixes issue where Alert crashes
  change/react-native-windows-7857ea29-339a-42e2-958b-383fecd2ce0e.json
  vnext/Microsoft.ReactNative/Modules/AlertModule.cpp
Labels: Needs: Attention :wave:
