Repository microsoft/react-native-windows, pull requests merged in 2024-02, with the labels that each got.

#12656 Update to C++20
  change/react-native-windows-d5d76e5c-a66f-4cb5-8f7e-db044ea02c7d.json
  packages/playground/windows/playground-win32/Playground-win32.vcxproj
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Directory.Build.props
  vnext/Folly/Folly.vcxproj.filters
  vnext/Folly/TEMP_UntilFollyUpdate/ConstexprMath.h
  vnext/Folly/TEMP_UntilFollyUpdate/concurrency/CacheLocality.cpp
  vnext/Folly/TEMP_UntilFollyUpdate/hash/Hash.h
  vnext/Folly/cgmanifest.json
  vnext/PropertySheets/React.Cpp.props
  vnext/templates/cpp-lib/windows/MyLib/MyLib.vcxproj
Labels: Area: Build Infrastructure

#12643 Ensure origin in WebSocket headers
  change/react-native-windows-54b5b78f-b3a6-4249-bf9e-563c2fe5211f.json
  vnext/Desktop.UnitTests/WinRTWebSocketResourceUnitTest.cpp
  vnext/Shared/Networking/WinRTWebSocketResource.cpp
Labels: Area: Networking

#12692 [Win32] view.focus sometimes skips setting focus
  change/@office-iss-react-native-win32-0549a4a8-7591-4366-88c0-2c6b2db77f12.json
  packages/@office-iss/react-native-win32/src/Libraries/Components/TextInput/TextInputState.win32.js
Labels: Platform: NetUI

#12689 Fix Base64 duplicate padding
  change/react-native-windows-96da7cfc-23fe-42b3-940e-7fb5e0af1e1f.json
  vnext/Common/Common.vcxproj
  vnext/Common/Common.vcxproj.filters
  vnext/Common/Utilities.cpp
  vnext/Common/packages.lock.json
  vnext/Common/utilities.h
  vnext/Desktop.ABITests/packages.lock.json
  vnext/Desktop.DLL/packages.lock.json
  vnext/Desktop.IntegrationTests/packages.lock.json
  vnext/Desktop.UnitTests/UtilsTest.cpp
  vnext/Desktop.UnitTests/packages.lock.json
  vnext/Desktop/packages.lock.json
  vnext/IntegrationTests/packages.lock.json
  vnext/ReactCommon.UnitTests/packages.lock.json
  vnext/Shared/BaseFileReaderResource.cpp
  vnext/Shared/Modules/FileReaderModule.cpp
  vnext/Shared/Networking/DefaultBlobResource.cpp
Labels: Area: Networking

#12693 [0.72] [Win32] view.focus sometimes skips setting focus
  .ado/compliance.yml
  .ado/continuous.yml
  .ado/image/rnw-img-vs2022-node18.json
  .ado/jobs/cli-init.yml
  .ado/jobs/e2e-test.yml
  .ado/jobs/node-tests.yml
  .ado/jobs/playground.yml
  .ado/publish.yml
  .ado/templates/prepare-js-env.yml
  .ado/windows-vs-pr.yml
  .unbroken_exclusions
  change/@office-iss-react-native-win32-2a5de4b2-a121-42e6-8388-1f71a7c705af.json
  change/react-native-windows-1d2f797d-2e27-460b-acbb-450fe696a40b.json
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/src/Libraries/Components/TextInput/TextInput.win32.js
  packages/@office-iss/react-native-win32/src/Libraries/Components/TextInput/TextInputState.win32.js
  packages/@office-iss/react-native-win32/src/Libraries/Components/TextInput/Win32TextInputNativeComponent.js
  packages/react-native-windows-init/src/Cli.ts
  vnext/Microsoft.ReactNative.Managed.CodeGen/Microsoft.ReactNative.Managed.CodeGen.csproj
Labels: Platform: NetUI

#12694 [0.73] [Win32] view.focus sometimes skips setting focus
  .unbroken_exclusions
  change/@office-iss-react-native-win32-25963317-e0eb-4d0b-8253-3e2490f2a1ab.json
  packages/@office-iss/react-native-win32/src/Libraries/Components/TextInput/TextInputState.win32.js
Labels: Platform: NetUI

#12724 Deprecate web debugging
  change/react-native-windows-4ed5a244-28e4-46c9-bfb6-e5949f7c3af2.json
  packages/e2e-test-app/windows/RNTesterApp/App.xaml.cs
  packages/sample-apps/windows/SampleAppCS/App.xaml.cs
  vnext/Microsoft.ReactNative.Managed.IntegrationTests/TestReactNativeHostHolder.cs
  vnext/Microsoft.ReactNative.Managed.UnitTests/ReactModuleBuilderMock.cs
  vnext/Microsoft.ReactNative.Managed/ReactSettingsSnapshot.cs
  vnext/Microsoft.ReactNative/DevMenuControl.idl
  vnext/Microsoft.ReactNative/DevMenuControl.xaml
  vnext/Microsoft.ReactNative/IReactContext.idl
  vnext/Microsoft.ReactNative/ReactInstanceSettings.idl
  vnext/Microsoft.ReactNative/Views/DevMenu.cpp
  vnext/template/cpp-app/src/App.cpp
  vnext/template/cs-app/src/App.xaml.cs
Labels: Area: Debug Infrastructure

#12726 Add new SecurePullRequest Build Environment in ADO
  .ado/jobs/cli-init-windows.yml
  .ado/jobs/cli-init.yml
  .ado/jobs/desktop.yml
  .ado/jobs/e2e-test.yml
  .ado/jobs/integration-test.yml
  .ado/jobs/linting.yml
  .ado/jobs/node-tests.yml
  .ado/jobs/playground.yml
  .ado/jobs/sample-apps.yml
  .ado/jobs/setup.yml
  .ado/jobs/universal.yml
  .ado/scripts/setVersionEnvVars.js
  .ado/stages.yml
  .ado/templates/react-native-init-windows.yml
  .ado/templates/react-native-init.yml
  .ado/templates/run-windows-with-certificates.yml
  .ado/templates/set-appx-platforms.yml
  .ado/templates/set-version-vars.yml
  .ado/windows-vs-pr-secure.yml
Labels: Area: Test Infrastructure, Area: Fabric

#12730 Deprecate and remove the experimental CoreApp APIs and prototype app
  .ado/jobs/playground.yml
  change/react-native-windows-f4f321ae-d8bc-4039-8445-aaed6b93d610.json
  packages/playground/.gitignore
  packages/playground/CoreApp/App.cpp
  packages/playground/CoreApp/Assets/LockScreenLogo.scale-200.png
  packages/playground/CoreApp/Assets/SplashScreen.scale-200.png
  packages/playground/CoreApp/Assets/Square150x150Logo.scale-200.png
  packages/playground/CoreApp/Assets/Square44x44Logo.scale-200.png
  packages/playground/CoreApp/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  packages/playground/CoreApp/Assets/StoreLogo.png
  packages/playground/CoreApp/Assets/Wide310x150Logo.scale-200.png
  packages/playground/CoreApp/CoreApp.sln
  packages/playground/CoreApp/CoreApp.vcxproj
  packages/playground/CoreApp/CoreApp.vcxproj.filters
  packages/playground/CoreApp/ExperimentalFeatures.props
  packages/playground/CoreApp/Package.appxmanifest
  packages/playground/CoreApp/PropertySheet.props
  packages/playground/CoreApp/app.config.json
  packages/playground/CoreApp/packages.lock.json
  packages/playground/CoreApp/pch.cpp
  packages/playground/CoreApp/pch.h
  vnext/Microsoft.ReactNative.Cxx/CoreApp.h
  vnext/Microsoft.ReactNative.Cxx/Microsoft.ReactNative.Cxx.vcxitems
  vnext/Microsoft.ReactNative.Cxx/Microsoft.ReactNative.Cxx.vcxitems.filters
  vnext/Microsoft.ReactNative/CoreApp.cpp
  vnext/Microsoft.ReactNative/CoreAppPage.cpp
  vnext/Microsoft.ReactNative/CoreAppPage.h
  vnext/Microsoft.ReactNative/CoreAppPage.idl
  vnext/Microsoft.ReactNative/CoreAppPage.xaml
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj.filters
  vnext/Microsoft.ReactNative/microsoft.reactnative.def
  vnext/Scripts/Microsoft.ReactNative.targets
Labels: Area: App Template

#12728 [0.73] [NetUI] Reintroduce experimental yoga flag for use by NetUI
  change/react-native-windows-7af9d231-bec6-4030-bdc9-64594f3f2a99.json
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/yoga/yoga/YGEnums.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/yoga/yoga/algorithm/CalculateLayout.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/yoga/yoga/enums/ExperimentalFeature.h
  vnext/overrides.json
Labels: Platform: NetUI

#12764 Remove forked TurboModuleBinding.cpp
  change/react-native-windows-bfeea3fb-7a7e-4c4f-b4c8-4ec6421d2c2d.json
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/nativemodule/core/ReactCommon/TurboModuleBinding.cpp
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/nativemodule/core/ReactCommon/TurboModuleUtils.h
  vnext/src-win/Libraries/ReactNative/PaperUIManager.windows.js
Labels: Area: Native Modules
