Repository microsoft/react-native-windows, pull requests merged in 2024-12, with the labels that each got.

#14126 [Fabric] Implement onDismiss for Modal and remove titlebar
  change/react-native-windows-31db428a-029b-4735-94f6-2c4368b9bda6.json
  packages/@react-native-windows/tester/src/js/examples/Modal/ModalPresentation.windows.js
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  vnext/Microsoft.ReactNative/Fabric/Composition/Modal/WindowsModalHostViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Modal/WindowsModalHostViewComponentView.h
  vnext/overrides.json
  vnext/src-win/Libraries/Modal/Modal.windows.js
Labels: Area: Fabric, Area: Modal, Area: Component Views, New Architecture

#14147 Re-enable most Desktop integration tests
  .ado/jobs/desktop.yml
  change/react-native-windows-36e1f61c-649e-4cbd-b2c3-022ce931ae9d.json
  vnext/Desktop.IntegrationTests/DesktopTestRunner.cpp
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.lock.json
  vnext/TestWebSite/packages.lock.json
Labels: Area: Tests, Platform: Desktop

#14182 Add ability to override UpdateLayoutMetrics and VisualToMountChildrenInto
  change/@react-native-windows-codegen-fc9a80b3-b16a-458c-b6e9-230a3d4f14f2.json
  change/react-native-windows-2e9f4c25-c40a-4434-9c2c-0d6672969f47.json
  packages/@react-native-windows/codegen/src/generators/GenerateComponentWindows.ts
  packages/sample-custom-component/windows/SampleCustomComponent/codegen/react/components/SampleCustomComponent/DrawingIsland.g.h
  packages/sample-custom-component/windows/SampleCustomComponent/codegen/react/components/SampleCustomComponent/MovingLight.g.h
  vnext/Microsoft.ReactNative/Fabric/ComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ContentIslandComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ContentIslandComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactCompositionViewComponentBuilder.h
  vnext/Microsoft.ReactNative/IReactCompositionViewComponentBuilder.idl
Labels: Area: Component Views, New Architecture

#14134 Add windows folder to file list
  change/react-native-windows-f0eb987d-a032-4293-95d4-4c9ac913211a.json
  vnext/templates/cpp-lib/template.config.js
  vnext/templates/templateUtils.js
Labels: Area: Turbo Modules, New Architecture, Area: Library Template

#14191 [Telemetry] Bug fix in `codedError.data` from `trackException()`
  change/@react-native-windows-telemetry-990667a5-918a-4348-8861-ce4ad8fc7a47.json
  packages/@react-native-windows/telemetry/src/e2etest/telemetry.test.ts
  packages/@react-native-windows/telemetry/src/telemetry.ts
Labels: Area: Telemetry

#14019 Implement ISelectionProvider and ISelectionItemProvider
  change/react-native-windows-a7e4e9a7-38af-4609-a0a4-152046e6e53b.json
  packages/@react-native-windows/tester/src/js/examples-win/Accessibility/AccessibilityExampleWindows.tsx
  packages/e2e-test-app-fabric/test/AccessibilityTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/AccessibilityTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/AccessibilityPrimitives.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/accessibilityPropsConversions.h
  vnext/overrides.json
  vnext/src-win/Libraries/Components/Button.windows.js
  vnext/src-win/Libraries/Components/Pressable/Pressable.windows.js
  vnext/src-win/Libraries/Components/TextInput/TextInput.windows.js
  vnext/src-win/Libraries/Components/Touchable/TouchableBounce.windows.js
  vnext/src-win/Libraries/Components/Touchable/TouchableNativeFeedback.windows.js
  vnext/src-win/Libraries/Components/Touchable/TouchableOpacity.windows.js
  vnext/src-win/Libraries/Components/Touchable/TouchableWithoutFeedback.windows.js
  vnext/src-win/Libraries/Components/View/View.windows.js
  vnext/src-win/Libraries/Components/View/ViewAccessibility.d.ts
  vnext/src-win/Libraries/Components/View/ViewAccessibility.windows.js
  vnext/src-win/Libraries/Components/View/ViewPropTypes.windows.js
  vnext/src-win/Libraries/Image/Image.windows.js
  vnext/src-win/Libraries/Text/Text.windows.js
  vnext/src-win/Libraries/Text/TextProps.windows.js
Labels: Area: Image, Area: Accessibility, Area: ScrollView, Area: TextInput, Area: Text, Area: Switch, Area: Fabric, Area: Slider, Area: Modal, Area: ActivityIndicator, Area: RefreshControl, Area: Component Views, New Architecture, Parity: Fabric vs. Paper, Area: View, Area: View Props

#14208 [Telemetry] Add `RnwNewArch` to MSBuildProperties
  change/react-native-windows-87a27036-cad7-4e7e-a5e1-9f1a77329392.json
  vnext/PropertySheets/OutputMSBuildProperties.targets
Labels: Area: Telemetry

#14212 [Fabric] Implement IRangeValueProvider and Adjust IValueProvider Implementation
  change/react-native-windows-b6be67a1-15ea-4cca-9226-b7c33cd7f710.json
  packages/@react-native-windows/tester/src/js/examples-win/Accessibility/AccessibilityExampleWindows.tsx
  packages/e2e-test-app-fabric/test/AccessibilityTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/AccessibilityTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/HomeUIADump.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/playground/Samples/simple.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/AccessibilityPrimitives.h
  vnext/ReactCommon/TEMP_UntilReactCommonUpdate/react/renderer/components/view/accessibilityPropsConversions.h
  vnext/src-win/Libraries/Components/Button.windows.js
  vnext/src-win/Libraries/Components/Pressable/Pressable.windows.js
  vnext/src-win/Libraries/Components/TextInput/TextInput.windows.js
  vnext/src-win/Libraries/Components/Touchable/TouchableBounce.windows.js
  vnext/src-win/Libraries/Components/Touchable/TouchableNativeFeedback.windows.js
  vnext/src-win/Libraries/Components/Touchable/TouchableOpacity.windows.js
  vnext/src-win/Libraries/Components/Touchable/TouchableWithoutFeedback.windows.js
  vnext/src-win/Libraries/Components/View/View.windows.js
  vnext/src-win/Libraries/Components/View/ViewAccessibility.d.ts
  vnext/src-win/Libraries/Components/View/ViewAccessibility.windows.js
  vnext/src-win/Libraries/Components/View/ViewPropTypes.windows.js
  vnext/src-win/Libraries/Image/Image.windows.js
  vnext/src-win/Libraries/Text/Text.windows.js
  vnext/src-win/Libraries/Text/TextProps.windows.js
Labels: Area: Accessibility, Area: TextInput, Area: Fabric, Area: Slider, New Architecture
