Repository microsoft/react-native-windows, pull requests merged in 2024-06, with the labels that each got.

#13285 [Fabric] Support blob: images, and provide better image.onError callbacks
  change/@react-native-windows-automation-commands-51d3f25f-211e-4fab-baef-8331fe81a6b2.json
  change/react-native-windows-c33514c0-2412-40ff-b4ad-4739c95260e7.json
  packages/@react-native-windows/automation-commands/src/dumpVisualTree.ts
  packages/@react-native-windows/tester/src/js/examples/Image/ImageExample.windows.js
  packages/e2e-test-app-fabric/test/ImageComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/ImageComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  packages/playground/windows/playground-win32/Playground-Win32.cpp
  packages/playground/windows/playground/MainPage.cpp
  vnext/Desktop.IntegrationTests/HttpResourceIntegrationTests.cpp
  vnext/Desktop.UnitTests/RedirectHttpFilterUnitTest.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UriImageManager.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UriImageManager.h
  vnext/Microsoft.ReactNative/Fabric/WindowsImageManager.cpp
  vnext/Microsoft.ReactNative/Fabric/WindowsImageManager.h
  vnext/Microsoft.ReactNative/HttpSettings.idl
  vnext/Microsoft.ReactNative/Modules/ImageViewManagerModule.cpp
  vnext/Microsoft.ReactNative/UriImageManager.idl
  vnext/Microsoft.ReactNative/Utils/ImageUtils.cpp
  vnext/Microsoft.ReactNative/Utils/ImageUtils.h
  vnext/Microsoft.ReactNative/Views/Image/ImageViewManager.cpp
  vnext/Microsoft.ReactNative/Views/Image/ReactImage.cpp
  vnext/Microsoft.ReactNative/Views/Image/ReactImage.h
  vnext/Shared/Modules/FileReaderModule.cpp
  vnext/Shared/Modules/WebSocketModule.cpp
  vnext/Shared/Networking/DefaultBlobResource.cpp
  vnext/Shared/Networking/NetworkPropertyIds.cpp
  vnext/Shared/Networking/NetworkPropertyIds.h
  vnext/Shared/Networking/RedirectHttpFilter.cpp
  vnext/Shared/Networking/RedirectHttpFilter.h
  vnext/Shared/Networking/WinRTHttpResource.cpp
  vnext/Shared/Networking/WinRTHttpResource.h
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
Labels: Area: Fabric, New Architecture

#12601 Sorts imports and fixes modernizes types for Flyout component
  change/react-native-windows-36c9419a-aa12-47f1-b6ef-bb6a452acd84.json
  vnext/src-win/Libraries/Components/Flyout/Flyout.js
  vnext/src-win/Libraries/Components/Flyout/FlyoutNativeComponent.js
Labels: Needs: Author Feedback

#12599 Use prettier-plugin-hermes-parser to match upstream settings
  .prettierrc
  change/@office-iss-react-native-win32-926a1906-1404-4bed-9508-756ffbd6225b.json
  change/@rnw-scripts-just-task-813e48ac-3914-4a83-95d1-87ad4c257b1e.json
  change/react-native-windows-e8248a91-a848-4e06-a61b-4a05692cd300.json
  package.json
  packages/@office-iss/react-native-win32/src-win/Libraries/LogBox/UI/LogBoxInspectorHeader.win32.js
  packages/@rnw-scripts/just-task/flow-tasks.js
  vnext/src-win/Libraries/LogBox/UI/LogBoxInspectorHeader.windows.js
Labels: Needs: Author Feedback

#13245 Add Community Module Specification to Issue Template
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: Area: Issue Management

#13362 Enable devMode with react-native init-windows old/* templates
  change/@react-native-windows-cli-71dd315f-09df-4544-b24b-bbd0176c4069.json
  change/react-native-windows-a6820d65-30e4-4680-9f68-0647449a79ba.json
  packages/@react-native-windows/cli/src/generator-windows/index.ts
  vnext/template/metro.config.js
  vnext/template/metro.devMode.config.js
  vnext/templates/old/generateWrapper.js
Labels: Area: CLI, Developer First Experience, Only Affects Internal Development, Old Architecture

#13367 SFI: Component Governance fixes 6/19/24
  change/@react-native-windows-codegen-1f9c7692-6656-4302-87c2-33734127b271.json
  change/react-native-platform-override-77ef9896-f6ff-43b2-a7ba-be92a933e696.json
  package.json
  packages/@react-native-windows/codegen/package.json
  packages/react-native-platform-override/package.json
  packages/react-native-platform-override/src/test/MockFileRepository.ts
  yarn.lock
Labels: security, Area: Compliance

#13341 Make the Switch Component Accessible By Default
  change/react-native-windows-43ab94dd-5e0c-43d7-ba2f-735930dca0c6.json
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  vnext/Microsoft.ReactNative/packages.lock.json
  vnext/src-win/Libraries/Components/Switch/Switch.windows.js
Labels: Area: Accessibility, Area: Switch

#13379 [0.74] SFI: Component Governance fixes 6/19/24
  change/@react-native-windows-codegen-1f9c7692-6656-4302-87c2-33734127b271.json
  change/react-native-platform-override-77ef9896-f6ff-43b2-a7ba-be92a933e696.json
  package.json
  packages/@react-native-windows/codegen/package.json
  packages/react-native-platform-override/package.json
  packages/react-native-platform-override/src/test/MockFileRepository.ts
  yarn.lock
Labels: security

#13386 Fixed typos and improved uniformity of RNW CLI command help text
  change/@react-native-windows-cli-c8cf5aba-fcbc-427e-ab3c-29511f9ab8e9.json
  packages/@react-native-windows/cli/README.md
  packages/@react-native-windows/cli/src/commands/autolinkWindows/autolinkWindows.ts
  packages/@react-native-windows/cli/src/commands/autolinkWindows/autolinkWindowsOptions.ts
  packages/@react-native-windows/cli/src/commands/codegenWindows/codegenWindows.ts
  packages/@react-native-windows/cli/src/commands/initWindows/initWindows.ts
  packages/@react-native-windows/cli/src/commands/initWindows/initWindowsOptions.ts
  packages/@react-native-windows/cli/src/commands/runWindows/runWindows.ts
  packages/@react-native-windows/cli/src/commands/runWindows/runWindowsOptions.ts
Labels: Area: CLI
