Repository microsoft/react-native-windows, pull requests merged in 2024-08, with the labels that each got.

#13520 [0.73] [Win32] export YGConfigSetErrata
  change/react-native-windows-9920cf20-f4ad-458b-a47a-32626d6087c5.json
  vnext/Desktop.DLL/react-native-win32.x86.def
Labels: Platform: NetUI

#13518 Add support for accessibilityPosInSet and accessibilitySetSize to Fabric
  change/react-native-windows-0aaea0d3-da44-4492-a0e8-fe75cfbeb247.json
  packages/@react-native-windows/tester/overrides.json
  packages/@react-native-windows/tester/src/js/examples-win/Button/ButtonExample.windows.js
  packages/@react-native-windows/tester/src/js/examples-win/Switch/SwitchExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/ActivityIndicator/ActivityIndicatorExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Image/ImageExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Pressable/PressableExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Text/TextExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/TextInput/TextInputExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Touchable/TouchableExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/View/ViewExample.windows.js
  packages/e2e-test-app-fabric/test/ImageComponentTest.test.ts
  packages/e2e-test-app-fabric/test/PressableComponentTest.test.ts
  packages/e2e-test-app-fabric/test/TextInputComponentTest.test.ts
  packages/e2e-test-app-fabric/test/TouchableComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/ActivityIndicatorComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/ImageComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/PressableComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/SwitchComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/TouchableComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/e2e-test-app/test/__snapshots__/SwitchComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/TextComponentTest.test.ts.snap
  packages/e2e-test-app/test/__snapshots__/ViewComponentTest.test.ts.snap
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
Labels: Area: Image, Area: Accessibility, Area: ScrollView, Area: TextInput, Area: Text, Area: Switch, Area: Fabric, Area: ActivityIndicator, Area: Component Views, New Architecture, Parity: Fabric vs. Paper, Area: View, Area: View Props

#13541 Implement the SampleTurboModule module
  change/react-native-windows-6a82bdc7-fdc0-4d57-bd42-cb297ef7a7ea.json
  vnext/Microsoft.ReactNative/Modules/SampleTurboModule.cpp
  vnext/Microsoft.ReactNative/Modules/SampleTurboModule.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
  vnext/Shared/TurboModuleManager.cpp
Labels: Area: Turbo Modules, New Architecture

#13555 Add support for turbomodule eventemitters, and codegen
  change/@react-native-windows-codegen-ae4b2a67-9881-42db-ab82-02d7d2374e43.json
  change/react-native-windows-69671805-a682-4e35-8999-c68f20b14b74.json
  packages/@react-native-windows/codegen/src/generators/GenerateNM2.ts
  packages/@react-native-windows/codegen/src/generators/ParamTypes.ts
  packages/@react-native-windows/codegen/src/generators/ValidateMethods.ts
  packages/@react-native-windows/tester/src/js/examples/TurboModule/SampleTurboModuleExample.windows.js
  vnext/Microsoft.ReactNative.Cxx.UnitTests/ReactModuleBuilderMock.cpp
  vnext/Microsoft.ReactNative.Cxx.UnitTests/ReactModuleBuilderMock.h
  vnext/Microsoft.ReactNative.Cxx/ModuleRegistration.cpp
  vnext/Microsoft.ReactNative.Cxx/ModuleRegistration.h
  vnext/Microsoft.ReactNative.Cxx/NativeModules.h
  vnext/Microsoft.ReactNative.Managed.UnitTests/ReactModuleBuilderMock.cs
  vnext/Microsoft.ReactNative/IReactModuleBuilder.cpp
  vnext/Microsoft.ReactNative/IReactModuleBuilder.h
  vnext/Microsoft.ReactNative/IReactModuleBuilder.idl
  vnext/Microsoft.ReactNative/Modules/SampleTurboModule.cpp
  vnext/Microsoft.ReactNative/Modules/SampleTurboModule.h
  vnext/Microsoft.ReactNative/TurboModulesProvider.cpp
  vnext/codegen/NativeSampleTurboModuleSpec.g.h
Labels: Area: Turbo Modules, New Architecture, Parity: React Native

#13556 Enforce StatusBarManger module aligns with Spec
  change/react-native-windows-bc48bd5b-3e22-40db-8384-1b2da3d2d09f.json
  vnext/Microsoft.ReactNative/Modules/StatusBarManager.h
Labels: Area: Debug Infrastructure, Area: Paper, Old Architecture

#13455 Bump minimum VS version to 17.11.0
  .ado/image/rnw-img-vs2022-node18.json
  .ado/image/rnw-img-vs2022.json
  .ado/templates/react-native-init-windows.yml
  change/@react-native-windows-cli-43e4c71b-04c9-455c-a70d-68bf8968074c.json
  change/react-native-windows-5db66c4d-8de8-4f82-8f09-7feba85c9359.json
  packages/@react-native-windows/cli/src/commands/healthCheck/healthCheckList.ts
  packages/@react-native-windows/cli/src/utils/msbuildtools.ts
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Microsoft.ReactNative.ComponentTests/Microsoft.ReactNative.ComponentTests.vcxproj
  vnext/Microsoft.ReactNative.Cxx.UnitTests/Microsoft.ReactNative.Cxx.UnitTests.vcxproj
  vnext/Microsoft.ReactNative.IntegrationTests/Microsoft.ReactNative.IntegrationTests.vcxproj
  vnext/Mso.UnitTests/Mso.UnitTests.vcxproj
  vnext/ReactCommon.UnitTests/ReactCommon.UnitTests.vcxproj
  vnext/Scripts/rnw-dependencies.ps1
Labels: Developer First Experience, Area: Developer Experience, Scenario: Visual Studio, New Architecture

#13544 Add Testing for accessibilityValue and Implement IValueProvider conditionally
  change/react-native-windows-5fe16ce6-e8a9-4b9f-a0a4-1a5a06287bcc.json
  packages/@react-native-windows/tester/src/js/examples-win/Button/ButtonExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Pressable/PressableExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/TextInput/TextInputExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Touchable/TouchableExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/View/ViewExample.windows.js
  packages/e2e-test-app-fabric/test/TextInputComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/HomeUIADump.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/PressableComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/TouchableComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/e2e-test-app/test/__snapshots__/ViewComponentTest.test.ts.snap
  vnext/Microsoft.ReactNative/Fabric/ComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.h
Labels: Area: Accessibility, Area: Fabric, New Architecture

#13566 Improve new project name(space) validation and cleaning
  change/@react-native-windows-cli-db04fef2-0cc5-477b-ac9a-1aa9f4e4c2ee.json
  change/@react-native-windows-telemetry-ca4bf582-eec5-4ee4-8830-19a6d937a87b.json
  packages/@react-native-windows/cli/src/commands/initWindows/initWindows.ts
  packages/@react-native-windows/cli/src/e2etest/initWindows.test.ts
  packages/@react-native-windows/cli/src/generator-windows/index.ts
  packages/@react-native-windows/cli/src/utils/nameHelpers.ts
  packages/@react-native-windows/telemetry/src/utils/errorUtils.ts
Labels: Area: CLI, Area: Developer Experience

#13338 Switch New Architecture templates to use prebuilt NuGets
  .ado/jobs/cli-init-windows.yml
  .ado/jobs/universal.yml
  .ado/stages.yml
  .ado/templates/react-native-init-windows.yml
  change/@react-native-windows-cli-bd214a76-535b-4214-aa8d-8e67b0d17c96.json
  change/react-native-windows-ce719e54-ce74-4c70-a78a-f3c5a9576d73.json
  packages/@react-native-windows/cli/src/utils/msbuildtools.ts
  vnext/PropertySheets/External/Microsoft.ReactNative.Composition.Package.props
  vnext/PropertySheets/External/Microsoft.ReactNative.Composition.Package.targets
  vnext/PropertySheets/External/Microsoft.ReactNative.Cpp.PackageReferences.props
  vnext/Scripts/Microsoft.ReactNative.VersionCheck.targets
  vnext/templates/cpp-app/NuGet_Config
  vnext/templates/cpp-app/template.config.js
  vnext/templates/cpp-app/windows/ExperimentalFeatures.props
  vnext/templates/cpp-app/windows/MyApp.sln
  vnext/templates/cpp-lib/NuGet_Config
  vnext/templates/cpp-lib/example/NuGet_Config
  vnext/templates/cpp-lib/template.config.js
  vnext/templates/cpp-lib/windows/ExperimentalFeatures.props
  vnext/templates/cpp-lib/windows/MyLib.sln
  vnext/templates/templateUtils.js
Labels: Area: Fabric, Area: App Template, New Architecture

#13596 Add Support for `accessibilityLiveRegion` Prop
  change/@react-native-windows-automation-channel-e3e061a4-0e5e-4c70-9158-8b61d0eebe2a.json
  change/react-native-windows-2f3ac2ef-b7c1-4ca2-b10d-ec0d29508646.json
  packages/@react-native-windows/automation-channel/windows/AutomationChannel/packages.lock.json
  packages/@react-native-windows/tester/src/js/examples-win/Button/ButtonExample.windows.js
  packages/@react-native-windows/tester/src/js/examples-win/Switch/SwitchExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/ActivityIndicator/ActivityIndicatorExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Image/ImageExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Pressable/PressableExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Text/TextExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/TextInput/TextInputExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Touchable/TouchableExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/View/ViewExample.windows.js
  packages/e2e-test-app-fabric/test/__snapshots__/ActivityIndicatorComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/ImageComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/PressableComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/SwitchComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/TouchableComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
  vnext/Microsoft.ReactNative/packages.lock.json
Labels: Area: Image, Area: Accessibility, Area: ScrollView, Area: TextInput, Area: Switch, Area: Fabric, Area: Modal, Area: ActivityIndicator, Area: RefreshControl, Area: Component Views, New Architecture, Parity: Fabric vs. Paper, Area: View, Area: View Props
