Repository microsoft/react-native-windows, pull requests merged in 2024-09, with the labels that each got.

#13622 [Fabric] Add Support for the IToggleProvider
  change/react-native-windows-a5988a0a-5c91-4849-8751-5264d7e94249.json
  packages/e2e-test-app-fabric/test/__snapshots__/SwitchComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  vnext/Microsoft.ReactNative/Fabric/ComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.h
Labels: Area: Accessibility, Area: Fabric, New Architecture

#13665 Fix parsing of empty build props in run-windows
  change/@react-native-windows-cli-81405bf2-50e6-426f-8c7a-81c622d5fa43.json
  packages/@react-native-windows/cli/src/commands/runWindows/runWindows.ts
  packages/@react-native-windows/cli/src/utils/build.ts
Labels: Area: CLI, Backport: Requested

#13669 Fix msbuild-sln.yml detection of changed packages.lock.json files after build
  .ado/templates/msbuild-sln.yml
Labels: Area: Build Infrastructure, Scenario: NuGet

#13666 Automatically set EnableSourceLink for in-repo builds only
  .ado/templates/msbuild-sln.yml
  change/@react-native-windows-automation-channel-cdf3494b-8b7b-408b-99bb-5475878c5315.json
  change/react-native-windows-7e8daf8e-8d48-4d74-82ae-ad9be130a75b.json
  packages/@react-native-windows/automation-channel/windows/AutomationChannel/packages.lock.json
  packages/e2e-test-app-fabric/windows/ExperimentalFeatures.props
  packages/e2e-test-app/windows/ExperimentalFeatures.props
  packages/e2e-test-app/windows/RNTesterApp/packages.lock.json
  packages/integration-test-app/windows/ExperimentalFeatures.props
  packages/integration-test-app/windows/InteropTestModuleCS/packages.lock.json
  packages/playground/windows/ExperimentalFeatures.props
  packages/playground/windows/playground-composition.Package/packages.lock.json
  packages/playground/windows/playground-composition/packages.lock.json
  packages/playground/windows/playground/packages.lock.json
  packages/sample-app-fabric/windows/SampleAppFabric.Package/packages.lock.json
  packages/sample-app-fabric/windows/SampleAppFabric/packages.lock.json
  packages/sample-apps/windows/ExperimentalFeatures.props
  packages/sample-custom-component/windows/SampleCustomComponent/packages.lock.json
  vnext/Desktop.ABITests/packages.lock.json
  vnext/Directory.Build.props
  vnext/ExperimentalFeatures.props
  vnext/Microsoft.ReactNative.ComponentTests/packages.lock.json
  vnext/Microsoft.ReactNative.Cxx.UnitTests/packages.lock.json
  vnext/Microsoft.ReactNative.IntegrationTests/packages.lock.json
  vnext/Microsoft.ReactNative.Managed.IntegrationTests/packages.lock.json
  vnext/Microsoft.ReactNative.Managed.UnitTests/packages.lock.json
  vnext/Microsoft.ReactNative/packages.lock.json
  vnext/Mso.UnitTests/packages.lock.json
  vnext/ReactCommon.UnitTests/packages.lock.json
Labels: Area: Build Infrastructure, Scenario: NuGet

#13664 [Fabric] Enable ScrollView touch scrolling
  change/react-native-windows-61e991a4-b01f-44ee-a7a3-43a6d7f79eb1.json
  vnext/Microsoft.ReactNative/Composition.Input.idl
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Composition.Input.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
Labels: Area: ScrollView, Area: Fabric, New Architecture, Parity: Fabric vs. Paper

#13859 [0.75] Bump serve-static to resolve Component Governance alerts
  yarn.lock
Labels: security, Area: Compliance

#13857 [Fabric] Add FocusNavigationDirection and allow overriding of default command handling
  change/@react-native-windows-codegen-8d6e2cd0-f94e-4aea-93b7-ac7b5edb0529.json
  change/react-native-windows-53895955-fc85-4bdd-bf07-423af7773f83.json
  packages/@react-native-windows/codegen/src/generators/GenerateComponentWindows.ts
  packages/sample-custom-component/codegen/react/components/SampleCustomComponent/MovingLight.g.h
  vnext/Microsoft.ReactNative/ComponentView.idl
  vnext/Microsoft.ReactNative/Fabric/ComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/DebuggingOverlayComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/DebuggingOverlayComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/FocusManager.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/FocusManager.h
  vnext/Microsoft.ReactNative/Fabric/Composition/Modal/WindowsModalHostViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Modal/WindowsModalHostViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UnimplementedNativeViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UnimplementedNativeViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/Microsoft.ReactNative/IReactViewComponentBuilder.idl
Labels: Area: Fabric, Area: Focus, New Architecture

#13856 Bump serve-static to resolve Component Governance alerts
  yarn.lock
Labels: security, Area: Compliance

#13891 Add invoke support for 'link' accessibilityRole
  change/react-native-windows-9126fadc-f129-4191-92d1-bbfd77422aea.json
  vnext/Microsoft.ReactNative/Views/DynamicAutomationPeer.cpp
Labels: Area: Accessibility, Area: Paper, Old Architecture

#13875 Update cpp-app template to use ReactNativeAppBuilder
  change/react-native-windows-89274b41-baed-45ab-af4c-007248f50238.json
  packages/sample-app-fabric/windows/SampleAppFabric/SampleAppFabric.cpp
  vnext/Microsoft.ReactNative/ReactInstanceSettingsBuilder.cpp
  vnext/templates/cpp-app/windows/MyApp/MyApp.cpp
Labels: Area: Fabric, Area: Islands, Area: App Template, New Architecture
