Repository microsoft/react-native-windows, pull requests merged in 2024-10, with the labels that each got.

#13918 Fix escaping arguments for PowerShell tasks
  .ado/jobs/playground.yml
  .ado/templates/prepare-build-env.yml
Labels: Area: Compliance

#13916 Exclude NuGet package lock files from NPM packages
  change/@react-native-windows-automation-channel-618f52b6-bbe6-4449-9165-d6a447f0da53.json
  change/react-native-windows-73248300-7bfa-4031-8b40-14125d248e4f.json
  packages/@react-native-windows/automation-channel/package.json
  vnext/package.json
Labels: Backport: Requested

#13892 [Fabric] Implement IExpandCollapseProvider
  change/react-native-windows-9696c96d-9a44-4ffc-84ea-dd5451818206.json
  packages/@react-native-windows/tester/src/js/examples/View/ViewExample.windows.js
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/e2e-test-app/test/__snapshots__/ViewComponentTest.test.ts.snap
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.h
Labels: Area: Image, Area: Accessibility, Area: ScrollView, Area: TextInput, Area: Text, Area: Switch, Area: Fabric, Area: Modal, Area: ActivityIndicator, Area: RefreshControl, Area: Component Views, New Architecture, Parity: Fabric vs. Paper, Area: View, Area: View Props

#13945 Update the `cpp-lib` template project to support importing either paper Uwp or fabric Composition prop/targets
  change/@react-native-windows-cli-e586f288-c915-4e23-905d-df2ae20d6777.json
  change/react-native-windows-10791c91-ee8b-489d-a0d2-a8047ec1cd70.json
  packages/@react-native-windows/cli/src/commands/config/configUtils.ts
  packages/sample-custom-component/windows/SampleCustomComponent/SampleCustomComponent.vcxproj
  vnext/PropertySheets/External/Microsoft.ReactNative.CppLib.props
  vnext/PropertySheets/External/Microsoft.ReactNative.CppLib.targets
  vnext/templates/cpp-lib/windows/MyLib/MyLib.vcxproj
Labels: Backport: Requested, New Architecture, Area: Library Template

#13951 Update to @react-native-community/cli@15.0.0-alpha.2
  change/@office-iss-react-native-win32-04103371-5032-4d05-a85d-7bba5fc4aa74.json
  change/@react-native-windows-cli-4f0387bb-aa2d-4bf0-806a-0289b589f4a8.json
  change/react-native-windows-6d126775-edc3-4974-b15c-be0a1182faf6.json
  packages/@office-iss/react-native-win32/package.json
  packages/@react-native-windows/cli/package.json
  packages/e2e-test-app-fabric/package.json
  packages/e2e-test-app/package.json
  packages/integration-test-app/package.json
  packages/playground/package.json
  packages/sample-app-fabric/package.json
  packages/sample-apps/package.json
  packages/sample-custom-component/package.json
  vnext/package.json
  yarn.lock
Labels: Area: CLI, Backport: Requested

#13941 [Fabric] implement tooltip property
  change/react-native-windows-4cf47ab7-542b-4ccb-bc2e-46c79be1bb02.json
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  vnext/Desktop.DLL/React.Windows.Desktop.DLL.vcxproj
  vnext/Microsoft.ReactNative/Fabric/ComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/ComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactNativeIsland.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ReactNativeIsland.h
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/RootComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextDrawing.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextDrawing.h
  vnext/Microsoft.ReactNative/Fabric/Composition/Theme.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TooltipService.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TooltipService.h
  vnext/Microsoft.ReactNative/Fabric/ReactTaggedView.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewTraitsInitializer.h
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/ReactCoreInjection.h
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
Labels: Area: Image, Area: ScrollView, Area: TextInput, Area: Switch, Area: Fabric, Area: ActivityIndicator, Area: Component Views, New Architecture, Parity: Fabric vs. Paper, Area: View, Area: View Props

#13493 [Telemetry] Migration from AppInsights to 1DS
  change/@react-native-windows-telemetry-a0c4007f-0fe6-4b25-8083-7476b6d51cae.json
  packages/@react-native-windows/telemetry/package.json
  packages/@react-native-windows/telemetry/src/e2etest/telemetry.test.ts
  packages/@react-native-windows/telemetry/src/telemetry.ts
  packages/@react-native-windows/telemetry/src/test/basePropUtils.test.ts
  packages/@react-native-windows/telemetry/src/test/errorUtils.test.ts
  packages/@react-native-windows/telemetry/src/utils/basePropUtils.ts
  packages/@react-native-windows/telemetry/src/utils/errorUtils.ts
  packages/@react-native-windows/telemetry/src/utils/sanitizeUtils.ts
  yarn.lock
Labels: Area: CLI, Area: Infrastructure, Area: Telemetry, Area: Compliance

#13952 Add Support for AccessibilityState:Busy
  change/react-native-windows-0d909f6f-4b48-46c7-97ec-c61c5f2b8087.json
  packages/@react-native-windows/tester/src/js/examples/View/ViewExample.windows.js
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/e2e-test-app/test/__snapshots__/ViewComponentTest.test.ts.snap
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
Labels: Area: Image, Area: Accessibility, Area: ScrollView, Area: TextInput, Area: Text, Area: Switch, Area: Fabric, Area: Modal, Area: ActivityIndicator, Area: RefreshControl, Area: Component Views, New Architecture, Parity: Fabric vs. Paper, Area: View, Area: View Props

#13986 Introducing `--list` option to `init-windows`
  change/@react-native-windows-cli-20847412-8db7-478f-97c3-d42fd0a860a7.json
  packages/@react-native-windows/cli/src/commands/initWindows/initWindows.ts
  packages/@react-native-windows/cli/src/commands/initWindows/initWindowsOptions.ts
  packages/@react-native-windows/cli/src/e2etest/initWindows.test.ts
Labels: Area: CLI, Area: App Template, Area: Library Template

#13977 Update WinAppSDK from 1.5 to 1.6 (1.6.240923002)
  change/react-native-windows-90ff0c84-8bc7-43c2-b951-b0325fded218.json
  packages/playground/windows/playground-composition.Package/packages.lock.json
  packages/playground/windows/playground-composition/packages.lock.json
  packages/sample-custom-component/windows/SampleCustomComponent/packages.lock.json
  vnext/Desktop.ABITests/React.Windows.Desktop.ABITests.vcxproj
  vnext/Desktop.ABITests/packages.lock.json
  vnext/Desktop.DLL/packages.lock.json
  vnext/Desktop.IntegrationTests/React.Windows.Desktop.IntegrationTests.vcxproj
  vnext/Desktop.IntegrationTests/packages.lock.json
  vnext/Desktop.UnitTests/React.Windows.Desktop.UnitTests.vcxproj
  vnext/Desktop.UnitTests/packages.lock.json
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Desktop/packages.lock.json
  vnext/Microsoft.ReactNative.Managed.IntegrationTests/packages.lock.json
  vnext/Microsoft.ReactNative.Managed.UnitTests/packages.lock.json
  vnext/Microsoft.ReactNative.Managed/packages.lock.json
  vnext/Microsoft.ReactNative/packages.fabric.lock.json
  vnext/PropertySheets/WebView2.props
  vnext/PropertySheets/WinUI.props
  vnext/ReactCommon.UnitTests/packages.lock.json
Labels: Area: Infrastructure, New Architecture

#13343 [Fabric] Introducing autocapitalize prop in TextInput - Take 2
  change/react-native-windows-aa22348e-c6b1-4cfc-9a85-c8b2bc2df484.json
  packages/e2e-test-app-fabric/test/TextInputComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
Labels: Area: TextInput, Area: Fabric, Area: Component Views, New Architecture, Parity: Fabric vs. Paper

#13983 Cleanup ReactNativeAppBuilder and ReactNativeWin32App
  change/react-native-windows-2b4a6ca8-3a50-4be5-8b1d-559946fa0be1.json
  packages/sample-app-fabric/windows/SampleAppFabric/SampleAppFabric.cpp
  vnext/Microsoft.ReactNative/ReactInstanceSettingsBuilder.cpp
  vnext/Microsoft.ReactNative/ReactInstanceSettingsBuilder.h
  vnext/Microsoft.ReactNative/ReactNativeAppBuilder.cpp
  vnext/Microsoft.ReactNative/ReactNativeAppBuilder.h
  vnext/Microsoft.ReactNative/ReactNativeAppBuilder.idl
  vnext/Microsoft.ReactNative/ReactNativeWin32App.cpp
  vnext/Microsoft.ReactNative/ReactNativeWin32App.h
  vnext/Shared/Shared.vcxitems
  vnext/templates/cpp-app/windows/MyApp/MyApp.cpp
Labels: Area: App Template, New Architecture

#13961 Update Guardrails on Provider Instantiation
  change/react-native-windows-0f3d0823-4941-4a2d-95bd-ffa2a401aa53.json
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
Labels: Area: Accessibility, New Architecture

#14041 Fix Text running flattenStyle multiple times
  change/react-native-windows-76c400e4-4a62-4fcd-95c9-25a19cf51138.json
  vnext/src-win/Libraries/Text/Text.windows.js
Labels: Area: Text, Area: Paper, Old Architecture, Area: Text Style Props

#13988 Update RNW CLI to preserve and re-use `init-windows` arguments
  change/@react-native-windows-cli-81be9160-074e-40a4-b881-d7d49297c141.json
  change/react-native-windows-d5e4537f-e62d-4609-9e85-235f3a819701.json
  packages/@react-native-windows/cli/src/commands/autolinkWindows/autolinkWindows.ts
  packages/@react-native-windows/cli/src/commands/config/configUtils.ts
  packages/@react-native-windows/cli/src/commands/config/dependencyConfig.ts
  packages/@react-native-windows/cli/src/commands/config/projectConfig.ts
  packages/@react-native-windows/cli/src/commands/initWindows/initWindows.ts
  packages/@react-native-windows/cli/src/generator-windows/index.ts
  vnext/templates/cpp-app/template.config.js
  vnext/templates/cpp-app/windows/MyApp/AutolinkedNativeModules.g.props
  vnext/templates/cpp-app/windows/MyApp/AutolinkedNativeModules.g.targets
  vnext/templates/old/generateWrapper.js
  vnext/templates/templateUtils.js
Labels: Area: CLI, Area: Developer Experience, Area: Autolinking, Area: App Template, Backport: Requested, New Architecture
