Repository microsoft/react-native-windows, pull requests merged in 2024-07, with the labels that each got.

#13428 [Fabric] [Win32] Add image response APIs to win32 exports
  change/react-native-windows-759b1fea-b751-4ff5-8448-61302a4756e5.json
  vnext/Desktop/module.g.cpp
Labels: Partner: Office

#13427 Use scrollEnabled flag to enable/disable the ScrollView
  change/react-native-windows-addbcde3-c802-4b1b-b6e6-970118e11819.json
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/packages.lock.json
Labels: Area: ScrollView, Area: Fabric, New Architecture, Parity: React Native

#13400 SFI: Upgrade to EsrpCodeSigning@5
  .ado/templates/prep-and-pack-single.yml
Labels: security, Area: Build Infrastructure

#13443 [Fabric] call reportMount to implement UIManagerMountHook support
  change/react-native-windows-24c5a09a-7492-4f70-9a80-a82c358fb058.json
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.h
Labels: Area: Fabric, New Architecture

#13450 Resolve Transform Matrix before Animation
  change/react-native-windows-b3194f0e-3be5-42d3-a9d7-418966736ad0.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.h
Labels: Area: Fabric, Area: ActivityIndicator, New Architecture

#13490 Don't override Hermes platform for ARM64EC
  change/react-native-windows-04d234ac-4d36-4621-aa06-dbc4b67a5e0a.json
  vnext/Desktop.DLL/packages.lock.json
  vnext/Desktop/packages.lock.json
  vnext/PropertySheets/JSEngine.props
Labels: Platform: Desktop, Scenario: ARM64

#13499 Make appearanceChanged event consistent with Android/iOS
  change/react-native-windows-bdd93326-988c-4313-b50d-26ae62117088.json
  vnext/Microsoft.ReactNative/Modules/AppearanceModule.cpp
  vnext/Microsoft.ReactNative/Modules/AppearanceModule.h
Labels: Breaking Change, Area: Appearance
