Repository microsoft/react-native-windows, pull requests merged in 2024-11, with the labels that each got.

#13962 Support accessibilityState 'checked'
  change/@react-native-windows-codegen-132ed636-192e-42e3-808f-a259a253bb75.json
  change/react-native-windows-18d4918c-6f73-4fe4-a6e4-42f5ac6ac39e.json
  packages/@react-native-windows/tester/src/js/examples/View/ViewExample.windows.js
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app/test/__snapshots__/ViewComponentTest.test.ts.snap
  packages/playground/windows/playground-composition.Package/packages.lock.json
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.h
Labels: Area: Image, Area: Accessibility, Area: ScrollView, Area: TextInput, Area: Text, Area: Switch, Area: Fabric, Area: Modal, Area: ActivityIndicator, Area: RefreshControl, Area: Component Views, New Architecture, Parity: Fabric vs. Paper, Area: View, Area: View Props

#14084 Update to Microsoft.NETCore.UniversalWindowsPlatform 6.2.14
  change/react-native-windows-2171471a-2833-423e-bd15-88fb7b6b8adc.json
  packages/e2e-test-app/windows/RNTesterApp/packages.lock.json
  packages/integration-test-app/windows/InteropTestModuleCS/packages.lock.json
  packages/integration-test-app/windows/integrationtest/packages.lock.json
  packages/playground/windows/playground-composition.Package/packages.lock.json
  packages/sample-apps/windows/SampleAppCPP/packages.lock.json
  packages/sample-apps/windows/SampleAppCS/packages.lock.json
  packages/sample-apps/windows/SampleLibraryCS/packages.lock.json
  vnext/Microsoft.ReactNative.Managed.IntegrationTests/packages.lock.json
  vnext/Microsoft.ReactNative.Managed.UnitTests/packages.lock.json
  vnext/Microsoft.ReactNative.Managed/packages.lock.json
  vnext/PropertySheets/CppAppConsumeCSharpModule.props
  vnext/PropertySheets/External/Microsoft.ReactNative.CSharp.Dependencies.props
Labels: Area: Infrastructure, Area: Developer Experience, Area: Build Infrastructure, Area: C#/C++ interop, Old Architecture

#14039 [Telemetry] Enable data uploading
  change/@react-native-windows-telemetry-4abe7bcd-e858-4ab9-bc9c-3e2fd948acf2.json
  packages/@react-native-windows/telemetry/src/telemetry.ts
Labels: Area: Telemetry

#14109 [Fabric] Fix Modal position, disable input to parent hwnd, and add onShow event
  change/react-native-windows-e6508963-e86e-45b4-86e5-3f82b548e2f7.json
  vnext/Microsoft.ReactNative/Fabric/Composition/Modal/WindowsModalHostViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Modal/WindowsModalHostViewComponentView.h
Labels: Area: Fabric, Area: Modal, Area: Component Views, New Architecture, Parity: React Native
