Repository microsoft/react-native-windows, pull requests merged in 2024-03, with the labels that each got.

#12788 [0.73] [NetUI] Export getRuntimeExecutor for internal usage
  change/react-native-windows-99c99c3c-c277-47d4-8b96-f85ec2fa4a8a.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
Labels: Platform: NetUI

#12781 [Fabric] Add experimental bridgeless mode
  change/react-native-windows-3a15c5af-3167-4208-ac12-b3fab39471f0.json
  packages/e2e-test-app-fabric/index.js
  packages/playground/Samples/rntester.tsx
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Microsoft.ReactNative/Fabric/Composition/SwitchComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/FabricUIManagerModule.cpp
  vnext/Microsoft.ReactNative/Fabric/ReactNativeConfigProperties.cpp
  vnext/Microsoft.ReactNative/Fabric/ReactNativeConfigProperties.h
  vnext/Microsoft.ReactNative/Fabric/WindowsComponentDescriptorRegistry.cpp
  vnext/Microsoft.ReactNative/Fabric/WindowsComponentDescriptorRegistry.h
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Modules/AccessibilityInfoModule.h
  vnext/Microsoft.ReactNative/Modules/AlertModule.h
  vnext/Microsoft.ReactNative/Modules/AppStateModule.h
  vnext/Microsoft.ReactNative/Modules/AppThemeModuleUwp.h
  vnext/Microsoft.ReactNative/Modules/ClipboardModule.h
  vnext/Microsoft.ReactNative/Modules/DeviceInfoModule.h
  vnext/Microsoft.ReactNative/Modules/ExceptionsManager.cpp
  vnext/Microsoft.ReactNative/Modules/ExceptionsManager.h
  vnext/Microsoft.ReactNative/Modules/ImageViewManagerModule.h
  vnext/Microsoft.ReactNative/Modules/LinkingManagerModule.h
  vnext/Microsoft.ReactNative/Modules/LogBoxModule.h
  vnext/Microsoft.ReactNative/Modules/PlatformConstantsWinModule.cpp
  vnext/Microsoft.ReactNative/Modules/PlatformConstantsWinModule.h
  vnext/Microsoft.ReactNative/Modules/SourceCode.cpp
  vnext/Microsoft.ReactNative/Modules/SourceCode.h
  vnext/Microsoft.ReactNative/Modules/StatusBarManager.h
  vnext/Microsoft.ReactNative/Modules/Timing.cpp
  vnext/Microsoft.ReactNative/Modules/Timing.h
  vnext/Microsoft.ReactNative/Modules/TimingModule.h
  vnext/Microsoft.ReactNative/QuirkSettings.cpp
  vnext/Microsoft.ReactNative/QuirkSettings.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.h
  vnext/Microsoft.ReactNative/Utils/ValueUtils.cpp
  vnext/Microsoft.ReactNative/Utils/ValueUtils.h
  vnext/Microsoft.ReactNative/Views/TextInputViewManager.cpp
  vnext/Shared/HermesRuntimeHolder.cpp
  vnext/Shared/HermesRuntimeHolder.h
  vnext/Shared/InstanceManager.cpp
  vnext/Shared/InstanceManager.h
  vnext/Shared/OInstance.cpp
  vnext/Shared/OInstance.h
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
  vnext/codegen/NativePlatformConstantsWinSpec.g.h
  vnext/codegen/rnwcoreJSI.h
  vnext/overrides.json
  vnext/src-win/Libraries/Components/TextInput/TextInput.windows.js
  vnext/src-win/Libraries/Components/TextInput/WindowsTextInputNativeComponent.js
  vnext/src-win/Libraries/Utilities/Platform.flow.windows.js
  vnext/src-win/Libraries/Utilities/Platform.windows.js
  vnext/src-win/src/private/specs/modules/NativePlatformConstantsWin.js
Labels: Area: Fabric

#12710 [Fabric] Modal opens a new window on visible
  change/react-native-windows-a2827b9b-c897-4b58-89e9-6bbb230ed98c.json
  vnext/Microsoft.ReactNative/Fabric/Composition/Modal/WindowsModalHostViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/Modal/WindowsModalHostViewComponentView.h
  vnext/Microsoft.ReactNative/Views/UnimplementedViewManager.cpp
Labels: Area: Modal

#12791 Omit trailing slash in Origin header
  change/react-native-windows-d32f2db0-c67b-4072-8101-c20adb49f267.json
  vnext/Desktop.UnitTests/OriginPolicyHttpFilterTest.cpp
  vnext/Shared/Networking/OriginPolicyHttpFilter.cpp
  vnext/Shared/Networking/OriginPolicyHttpFilter.h
  vnext/Shared/Shared.vcxitems.filters
Labels: Area: Networking, Area: Outlook

#12793 [0.73] Omit trailing slash in Origin header
  change/react-native-windows-4cae17d6-1f2a-4ce2-b5e5-a68eb7e7f00d.json
  vnext/Desktop.UnitTests/OriginPolicyHttpFilterTest.cpp
  vnext/Shared/Networking/OriginPolicyHttpFilter.cpp
  vnext/Shared/Networking/OriginPolicyHttpFilter.h
Labels: Backport: Requested

#12794 [0.72] Omit trailing slash in Origin header
  change/react-native-windows-90589a96-220b-4960-b974-b71ccff43cac.json
  vnext/Desktop.UnitTests/OriginPolicyHttpFilterTest.cpp
  vnext/Shared/Networking/OriginPolicyHttpFilter.cpp
  vnext/Shared/Networking/OriginPolicyHttpFilter.h
Labels: Backport: Requested

#12789 [NetUI] Export getRuntimeExecutor for internal usage
  change/react-native-windows-0570ab61-c735-445a-96bc-807b0ac5f69d.json
  vnext/Desktop.DLL/react-native-win32.x64.def
  vnext/Desktop.DLL/react-native-win32.x86.def
Labels: Platform: NetUI

#12799 Add disabled property to props being passed into Pressable component
  change/react-native-windows-ab0cc492-2a8f-47fe-ac58-d039f0a629c7.json
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  vnext/src-win/Libraries/Components/Pressable/Pressable.windows.js
  vnext/src-win/Libraries/Pressability/Pressability.windows.js
Labels: Area: Accessibility

#12812 Add UIBatchingQueue to bridgeless mode
  change/react-native-windows-d9b2af2c-5b3c-4c5a-ba6c-147f72845e47.json
  packages/e2e-test-app-fabric/test/__snapshots__/ViewComponentTest.test.ts.snap
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionRootView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionUIService.cpp
  vnext/Microsoft.ReactNative/Modules/Timing.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.h
Labels: Area: UIManager

#12792 Adds ARIA role support to Paper UIManager
  change/react-native-windows-b20ce41b-73cf-4c53-b96a-5bf1118b6135.json
  vnext/Microsoft.ReactNative/Views/DynamicAutomationPeer.cpp
  vnext/Microsoft.ReactNative/Views/DynamicAutomationPeer.h
  vnext/Microsoft.ReactNative/Views/DynamicAutomationProperties.cpp
  vnext/Microsoft.ReactNative/Views/DynamicAutomationProperties.h
  vnext/Microsoft.ReactNative/Views/FrameworkElementViewManager.cpp
  vnext/Microsoft.ReactNative/Views/cppwinrt/DynamicAutomationPeer.idl
Labels: Area: Accessibility, Area: Paper, Old Architecture

#12820 Minor clean up of headers for Office consumption
  change/react-native-windows-8ec5fa94-501b-40f4-a05c-c7a591e9583f.json
  vnext/Scripts/OfficeReact.Win32.nuspec
  vnext/Shared/DevServerHelper.h
  vnext/Shared/IDevSupportManager.h
  vnext/Shared/WebSocketJSExecutorFactory.h
Labels: Platform: NetUI

#12821 Make HTTP origin value an instance member
  change/react-native-windows-bc10ca83-c1a9-4f4a-ac53-6d54378c3aca.json
  vnext/Desktop.UnitTests/OriginPolicyHttpFilterTest.cpp
  vnext/Shared/Networking/OriginPolicyHttpFilter.cpp
  vnext/Shared/Networking/OriginPolicyHttpFilter.h
  vnext/Shared/Networking/WinRTHttpResource.cpp
Labels: Area: Networking

#12836 [0.73] [Win32] TextProps from rn-win32 should include win32 properties
  change/@office-iss-react-native-win32-a0faf496-c505-442c-a26f-312be1b9ae7e.json
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/src/Libraries/Text/Text.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/platform-types.d.ts
Labels: Platform: NetUI

#12837 [0.72] [NetUI] TextProps from rn-win32 should include win32 properties
  change/@office-iss-react-native-win32-49420b53-bab1-4f31-bbc1-887844df48cf.json
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/src/Libraries/Components/Button/ButtonWin32.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Components/Text/TextWin32.Props.ts
  packages/@office-iss/react-native-win32/src/Libraries/Components/Text/TextWin32.tsx
  packages/@office-iss/react-native-win32/src/Libraries/Text/Text.d.ts
  packages/@office-iss/react-native-win32/src/Libraries/platform-types.d.ts
Labels: Platform: NetUI

#12846 [0.72] [NetUI] Missed property when adding win32 specific text type info
  change/@office-iss-react-native-win32-8d81cf2e-bf87-4fdc-940e-e3a1bdada473.json
  packages/@office-iss/react-native-win32/src/Libraries/Text/Text.d.ts
Labels: Platform: NetUI

#12849 Fix `run-windows` to use 64-bit MSBuild (like VS 2022)
  change/@react-native-windows-cli-91d05574-6a9e-4835-951a-28821d7838b7.json
  packages/@react-native-windows/cli/src/utils/msbuildtools.ts
Labels: Area: CLI, Area: Tooling, Breaking Change

#12835 [Win32] TextProps from rn-win32 should export win32 specific properties
  change/@office-iss-react-native-win32-77fbace5-850a-4837-8b41-13cb49e58f69.json
  packages/@office-iss/react-native-win32-tester/src/js/components/TextWin32Test.tsx
  packages/@office-iss/react-native-win32-tester/src/js/examples-win32/Accessibility/AccessibilityExampleWin32.tsx
  packages/@office-iss/react-native-win32/overrides.json
  packages/@office-iss/react-native-win32/src-win/Libraries/Components/Button/ButtonWin32.tsx
  packages/@office-iss/react-native-win32/src-win/Libraries/Components/Text/TextWin32.Props.ts
  packages/@office-iss/react-native-win32/src-win/Libraries/Components/Text/TextWin32.tsx
  packages/@office-iss/react-native-win32/src-win/Libraries/Components/Touchable/Tests/TouchableWin32Test.tsx
  packages/@office-iss/react-native-win32/src-win/Libraries/Text/Text.d.ts
  packages/@office-iss/react-native-win32/src-win/Libraries/platform-types.d.ts
  packages/@office-iss/react-native-win32/src-win/index.win32.js
Labels: Platform: NetUI

#12798 Bump Microsoft.Windows.CppWinRT to 2.0.230706.1
  change/@react-native-windows-automation-channel-8f011ec7-cf21-47be-933a-c1dd45210c5e.json
  change/react-native-windows-7e64c523-6ee3-4250-bba3-bdfb02ff04cb.json
  packages/@react-native-windows/automation-channel/windows/AutomationChannel/packages.config
  packages/@react-native-windows/automation-channel/windows/AutomationChannel/packages.lock.json
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/packages.lock.json
  packages/e2e-test-app/windows/RNTesterApp/packages.config
  packages/e2e-test-app/windows/RNTesterApp/packages.lock.json
  packages/integration-test-app/windows/InteropTestModuleCS/packages.lock.json
  packages/integration-test-app/windows/integrationtest/TestHostHarness.cpp
  packages/integration-test-app/windows/integrationtest/packages.lock.json
  packages/playground/windows/PlaygroundNativeModules/PlaygroundNativeModules.vcxproj
  packages/playground/windows/PlaygroundNativeModules/packages.config
  packages/playground/windows/PlaygroundNativeModules/packages.lock.json
  packages/playground/windows/playground-win32/packages.config
  packages/playground/windows/playground-win32/packages.lock.json
  packages/playground/windows/playground/packages.config
  packages/playground/windows/playground/packages.lock.json
  packages/sample-apps/windows/SampleAppCPP/packages.lock.json
  packages/sample-apps/windows/SampleLibraryCPP/packages.lock.json
  vnext/Common/packages.lock.json
  vnext/Desktop.ABITests/packages.lock.json
  vnext/Desktop.IntegrationTests/packages.lock.json
  vnext/Desktop.UnitTests/packages.lock.json
  vnext/Desktop/packages.lock.json
  vnext/Microsoft.ReactNative.ComponentTests/packages.lock.json
  vnext/Microsoft.ReactNative.Cxx.UnitTests/packages.lock.json
  vnext/Microsoft.ReactNative.Cxx/CppWinRTIncludes.h
  vnext/Microsoft.ReactNative.Cxx/DesktopWindowBridge.h
  vnext/Microsoft.ReactNative.IntegrationTests/packages.lock.json
  vnext/Microsoft.ReactNative/packages.lock.json
  vnext/Mso.UnitTests/packages.lock.json
  vnext/PropertySheets/External/Microsoft.ReactNative.Cpp.Dependencies.props
  vnext/PropertySheets/React.Cpp.props
Labels: Area: Developer Experience, Area: Build Infrastructure, Area: Dependencies, New Architecture

#12714 Enable integration test web application
  .ado/jobs/desktop.yml
  .gitignore
  Directory.Build.targets
  change/react-native-windows-c497c367-4324-410a-a242-98e473ea48f3.json
  vnext/Desktop.IntegrationTests/HttpOriginPolicyIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/WebSocketResourcePerformanceTests.cpp
  vnext/Directory.Build.props
  vnext/ReactWindows-Desktop.sln
  vnext/Scripts/IntegrationTests.ps1
  vnext/Scripts/TestServers.ps1
  vnext/Scripts/Tfs/Start-TestServers.ps1
  vnext/Scripts/Tfs/Stop-TestServers.ps1
  vnext/TestWebSite/Directory.Build.props
  vnext/TestWebSite/Facebook/React/Test/RNTesterIntegrationTests.cs
  vnext/TestWebSite/Microsoft.ReactNative.Test.Website.csproj
  vnext/TestWebSite/Microsoft/Office/OfficeJsTests.cs
  vnext/TestWebSite/Microsoft/React/WebSocketTests.cs
  vnext/TestWebSite/Program.cs
  vnext/TestWebSite/Properties/launchSettings.json
  vnext/TestWebSite/README.md
  vnext/TestWebSite/Solution/TestWebsite.sln
  vnext/TestWebSite/appsettings.Development.json
  vnext/TestWebSite/appsettings.json
  vnext/TestWebSite/packages.lock.json
  vnext/TestWebSite/wwwroot/static/react.png
  vnext/TestWebSite/wwwroot/static/sample.txt
  vnext/src-win/IntegrationTests/BlobTest.js
  vnext/src-win/IntegrationTests/WebSocketBlobTest.js
Labels: Area: Tests, Area: Networking

#12856 Enable custom timer factory to be provided
  change/react-native-windows-286662e9-d377-48ce-8d82-95e92de04270.json
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Modules/Timing.cpp
  vnext/Microsoft.ReactNative/Modules/Timing.h
  vnext/Microsoft.ReactNative/ReactCoreInjection.cpp
  vnext/Microsoft.ReactNative/ReactCoreInjection.h
  vnext/Microsoft.ReactNative/ReactCoreInjection.idl
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/Timer.cpp
  vnext/Microsoft.ReactNative/Timer.h
  vnext/Microsoft.ReactNative/Timer.idl
  vnext/Shared/Shared.vcxitems
Labels: New Architecture
