Repository microsoft/react-native-windows, pull requests merged in 2025-05, with the labels that each got.

#14641 [Fabric] Implement selectTextOnFocus prop in TextInput
  change/react-native-windows-01615f82-6942-4a39-8608-3e010f4b9009.json
  packages/@react-native-windows/tester/src/js/examples/TextInput/TextInputExample.windows.js
  packages/e2e-test-app-fabric/test/TextInputComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/playground/Samples/textinput.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Labels: AutoMerge, API: Completion, Area: TextInput, Area: Fabric, New Architecture

#14626 [Fabric] Implementation of accessibiltyAnnotation and adding support for IAnnotationProvider
  change/react-native-windows-a703b417-fd1e-4499-ae0b-a4ce670db2bb.json
  packages/@react-native-windows/tester/src/js/examples-win/Accessibility/AccessibilityExampleWindows.tsx
  packages/e2e-test-app-fabric/test/__snapshots__/AccessibilityTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/playground/Samples/text.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionAnnotationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionAnnotationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/UiaHelpers.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/CompositionAccessibilityProps.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
  vnext/src-win/Libraries/Components/View/ViewAccessibility.d.ts
  vnext/src-win/Libraries/NativeComponent/BaseViewConfig.windows.js
Labels: enhancement, Area: Accessibility, Partner: Office, Area: Fabric, New Architecture, Workstream: Accessibility

#14678 Fixing unreferenced parameter warnings as errors in Playground-Composition and elsewhere
  change/react-native-windows-a685d11b-c3de-4d07-bb62-c1f2cffa0f25.json
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  vnext/fmt/packages.lock.json
Labels: Backport: Requested

#14622 [Fabric] Implement maxFontSizeMultiplier in Text
  change/react-native-windows-a3208812-ffca-4397-8e79-b659eb6380fe.json
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/textlayoutmanager/TextLayoutManager.cpp
Labels: AutoMerge, API: Completion, Area: Text, Area: Fabric, New Architecture, Workstream: Component Parity

#14704 Update native module doc links in cpp-lib template
  change/react-native-windows-d485bfde-7e07-409b-949c-3c79e2e9c4ed.json
  vnext/templates/cpp-lib/windows/MyLib/MyLib.cpp
  vnext/templates/cpp-lib/windows/MyLib/MyLib.h
Labels: New Architecture

#14675 Automate Release Notes Creation
  .github/scripts/generate_release_notes.py
  .github/workflows/generate-release-notes.yml
Labels: Needs: Attention :wave:, Area: Release Process, Workstream: Releases and Integrations
