Repository microsoft/react-native-windows, pull requests merged in 2025-04, with the labels that each got.

#14460 [Fabric] Implement letterSpacing for TextInput
  change/react-native-windows-9ee8d633-698c-476d-9334-170be2c5dc25.json
  packages/playground/Samples/textinput.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
Labels: Area: TextInput, Parity: Fabric vs. Paper

#14491 Update creaternw scripts to use RNW devDependencies
  change/react-native-windows-a6d5e620-66e7-4d2a-8c90-de8920f57845.json
  vnext/Scripts/creaternwapp.cmd
  vnext/Scripts/creaternwlib.cmd
Labels: Workstream: Developer Experience

#14495 [Fabric] Add Custom Font Family in Text Input
  change/react-native-windows-54a72170-7490-4502-8483-62b58bbe76fd.json
  packages/@react-native-windows/tester/src/js/examples/TextInput/TextInputExample.windows.js
  packages/e2e-test-app-fabric/test/TextInputComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/playground/Samples/textinput.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
Labels: Area: TextInput, Area: Fabric, New Architecture

#14492 Use creaternwapp.cmd and creaternwlib.cmd scripts to create new projects in CI
  .ado/templates/react-native-init-windows.yml
  .ado/templates/verdaccio-start.yml
  .ado/templates/verdaccio-stop.yml
  change/react-native-windows-75d0a98d-9db5-4a73-a321-0d0a42767855.json
  vnext/Scripts/creaternwapp.cmd
  vnext/Scripts/creaternwlib.cmd
Labels: Area: Build Infrastructure, Workstream: Developer Experience

#14494 [Fabric] Add ImageRequestParams for Image Component
  change/react-native-windows-17b0a7f2-3a73-40cf-9fb1-2a99ef16d226.json
  vnext/Microsoft.ReactNative/Fabric/ImageManager.cpp
  vnext/Microsoft.ReactNative/Fabric/ImageRequestParams.cpp
  vnext/Microsoft.ReactNative/Fabric/WindowsImageManager.cpp
  vnext/Microsoft.ReactNative/Fabric/WindowsImageManager.h
  vnext/Shared/Shared.vcxitems
  vnext/Shared/Shared.vcxitems.filters
Labels: enhancement, Area: Image, API: Completion, Area: Fabric, New Architecture

#14493 [Fabric] Implement onProgress for Image
  change/react-native-windows-eed51fa4-43c0-4164-8892-4c3fa0571940.json
  packages/playground/Samples/image.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.h
  vnext/Microsoft.ReactNative/Fabric/WindowsImageManager.cpp
  vnext/Microsoft.ReactNative/Fabric/WindowsImageManager.h
Labels: enhancement, Area: Image, API: Completion, Area: Fabric, New Architecture

#14509 [Fabric] Implement SpellCheck and AutoCorrect for TextInput
  change/react-native-windows-99f88013-45df-4134-99df-b0fb86dc5e88.json
  packages/@react-native-windows/tester/src/js/examples-win/LegacyTests/TextInputTestPage.tsx
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/playground/Samples/textinput.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputProps.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputProps.h
Labels: Area: TextInput, Area: Fabric, New Architecture

#14520 [Fabric] Add remaining E2E Tests for Image
  packages/@react-native-windows/tester/src/js/examples/Image/ImageExample.windows.js
  packages/e2e-test-app-fabric/test/ImageComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/ImageComponentTest.test.ts.snap
Labels: Area: Image, Area: Tests, Area: Fabric, New Architecture

#14568 [Fabric] Implement Image body in Image Source RequestImage API
  change/react-native-windows-eed821fc-4d11-4ca3-a820-682d1aba1977.json
  packages/playground/Samples/image.tsx
  vnext/Microsoft.ReactNative/Fabric/WindowsImageManager.cpp
  vnext/Microsoft.ReactNative/Utils/ImageUtils.h
Labels: Area: Image, Workstream: Component Parity

#14562 [Fabric] Implement zoomScale, maximumZoomScale and minimumZoomScale in ScrollView
  change/react-native-windows-7291aa87-457c-43d8-8f82-b2fedf913592.json
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
Labels: Area: ScrollView, Workstream: Component Parity

#14519 Implement adjustsFontSizeToFit property for Text in Fabric
  change/react-native-windows-262555bf-8b8f-4511-b814-9ed70a0cb8b4.json
  packages/@react-native-windows/tester/src/js/examples/Text/TextExample.windows.js
  packages/e2e-test-app-fabric/test/TextComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/TextComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/playground/Samples/text.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/textlayoutmanager/TextLayoutManager.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/textlayoutmanager/TextLayoutManager.h
Labels: enhancement, API: Completion, Area: Text, Area: Fabric, New Architecture

#14555 [Fabric] Implement scrollEventThrottle for ScrollView
  change/react-native-windows-38ddfc46-37fc-42ff-90d8-d3f72a15f8a2.json
  packages/playground/Samples/scrollViewSnapSample.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
Labels: Area: ScrollView, Workstream: Component Parity

#14593 Implement accessibilityLevel for Fabric
  change/react-native-windows-5aa167ea-3ec8-4b11-87ed-14f728f2eec6.json
  packages/@react-native-windows/tester/src/js/examples-win/Accessibility/AccessibilityExampleWindows.tsx
  packages/e2e-test-app-fabric/test/AccessibilityTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/AccessibilityTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewProps.h
Labels: enhancement, Area: Accessibility, Area: Fabric, New Architecture, Workstream: Accessibility

#14615 [Fabric] Implement hidesWhenStopped in ActivityIndicator
  change/react-native-windows-cf845cf7-d1f3-4312-b6bf-bfbc99c7eaf6.json
  packages/playground/Samples/index.tsx
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/ActivityIndicatorComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ActivityIndicatorComponentView.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
Labels: API: Completion, Area: ActivityIndicator, New Architecture, Workstream: Component Parity

#14617 [Fabric] Implement minimumFontScale in Text
  change/react-native-windows-16b2c3a5-029f-4454-a2bc-d6a1861a5aab.json
  packages/playground/Samples/text.tsx
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/textlayoutmanager/TextLayoutManager.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/textlayoutmanager/TextLayoutManager.h
Labels: API: Completion, Area: Text, New Architecture, Workstream: Component Parity

#14480 [Fabric] Implement the onPressIn property for the fabric implementation of TextInput
  change/react-native-windows-6bbce0ea-1b8a-439f-bd03-af9dd2fbea35.json
  packages/@react-native-windows/tester/src/js/examples/TextInput/TextInputExample.windows.js
  packages/e2e-test-app-fabric/test/TextInputComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/snapshotPages.test.js.snap
  packages/playground/Samples/textinput.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputEventEmitter.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputEventEmitter.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/components/view/HostPlatformViewEventEmitter.h
Labels: enhancement, API: Completion, Area: TextInput, New Architecture, Parity: Fabric vs. Paper
