Repository microsoft/react-native-windows, pull requests merged in 2025-03, with the labels that each got.

#14403 [0.74] Refactor WebSocket resource class
  .ado/jobs/desktop.yml
  change/@office-iss-react-native-win32-d8f7986f-bff3-4af5-81f9-59712d9f8e71.json
  change/react-native-windows-aedac532-1f7f-4c29-ac14-4fcf1ddac369.json
  packages/@office-iss/react-native-win32/package.json
  vnext/Desktop.ABITests/packages.lock.json
  vnext/Desktop.DLL/packages.lock.json
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/packages.lock.json
  vnext/Desktop.UnitTests/WinRTNetworkingMocks.cpp
  vnext/Desktop.UnitTests/WinRTWebSocketResourceUnitTest.cpp
  vnext/Desktop.UnitTests/packages.lock.json
  vnext/Desktop/WebSocketResourceFactory.cpp
  vnext/Desktop/packages.lock.json
  vnext/Mso.UnitTests/packages.fabric.experimentalwinui3.lock.json
  vnext/ReactCommon.UnitTests/packages.lock.json
  vnext/Shared/Networking/WinRTWebSocketResource.cpp
  vnext/Shared/Networking/WinRTWebSocketResource.h
  vnext/TestWebSite/Facebook/React/Test/RNTesterIntegrationTests.cs
  vnext/TestWebSite/Microsoft.ReactNative.Test.Website.csproj
  vnext/TestWebSite/Microsoft/React/WebSocketTests.cs
  vnext/TestWebSite/Microsoft/React/WebSocketUtils.cs
  vnext/TestWebSite/Program.cs
  vnext/overrides.json
  vnext/src-win/IntegrationTests/WebSocketMultipleSendTest.js
Labels: Area: Networking, Backport: Requested

#14402 [0.75] Refactor WebSocket resource class
  .ado/jobs/desktop.yml
  change/@office-iss-react-native-win32-eaa3a679-1aa4-4379-be0f-acaf940438f2.json
  change/react-native-windows-67104420-1c4d-49e0-9c7a-90bd9c617d0d.json
  packages/@office-iss/react-native-win32/package.json
  vnext/Desktop.ABITests/packages.lock.json
  vnext/Desktop.DLL/packages.lock.json
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/packages.lock.json
  vnext/Desktop.UnitTests/WinRTNetworkingMocks.cpp
  vnext/Desktop.UnitTests/WinRTWebSocketResourceUnitTest.cpp
  vnext/Desktop.UnitTests/packages.lock.json
  vnext/Desktop/WebSocketResourceFactory.cpp
  vnext/Desktop/packages.lock.json
  vnext/Mso.UnitTests/packages.fabric.experimentalwinui3.lock.json
  vnext/ReactCommon.UnitTests/packages.lock.json
  vnext/Shared/Networking/WinRTWebSocketResource.cpp
  vnext/Shared/Networking/WinRTWebSocketResource.h
  vnext/TestWebSite/Facebook/React/Test/RNTesterIntegrationTests.cs
  vnext/TestWebSite/Microsoft.ReactNative.Test.Website.csproj
  vnext/TestWebSite/Microsoft/React/WebSocketTests.cs
  vnext/TestWebSite/Microsoft/React/WebSocketUtils.cs
  vnext/TestWebSite/Program.cs
  vnext/overrides.json
  vnext/src-win/IntegrationTests/WebSocketMultipleSendTest.js
Labels: Area: Networking, Backport: Requested

#14401 [0.76] Refactor WebSocket resource class
  .ado/jobs/desktop.yml
  change/@office-iss-react-native-win32-078eec51-449b-430a-ae08-f0e34b8e418d.json
  change/react-native-windows-f6e35b31-cc4b-4e12-a1e6-1ea862eb94ff.json
  packages/@office-iss/react-native-win32/package.json
  vnext/Desktop.ABITests/packages.lock.json
  vnext/Desktop.DLL/packages.lock.json
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/packages.lock.json
  vnext/Desktop.UnitTests/WinRTNetworkingMocks.cpp
  vnext/Desktop.UnitTests/WinRTWebSocketResourceUnitTest.cpp
  vnext/Desktop.UnitTests/packages.lock.json
  vnext/Desktop/WebSocketResourceFactory.cpp
  vnext/Desktop/packages.lock.json
  vnext/Mso.UnitTests/packages.fabric.experimentalwinui3.lock.json
  vnext/ReactCommon.UnitTests/packages.lock.json
  vnext/Shared/Networking/WinRTWebSocketResource.cpp
  vnext/Shared/Networking/WinRTWebSocketResource.h
  vnext/TestWebSite/Facebook/React/Test/RNTesterIntegrationTests.cs
  vnext/TestWebSite/Microsoft.ReactNative.Test.Website.csproj
  vnext/TestWebSite/Microsoft/React/WebSocketTests.cs
  vnext/TestWebSite/Microsoft/React/WebSocketUtils.cs
  vnext/TestWebSite/Program.cs
  vnext/overrides.json
  vnext/src-win/IntegrationTests/WebSocketMultipleSendTest.js
Labels: Area: Networking, Backport: Requested

#14400 [0.77] Refactor WebSocket resource class
  .ado/jobs/desktop.yml
  change/@office-iss-react-native-win32-6b06b8cb-a55e-4069-ac7f-509e978e3d31.json
  change/react-native-windows-d3a373fc-5a70-4bb7-819a-c3306b82779c.json
  packages/@office-iss/react-native-win32/package.json
  vnext/Desktop.ABITests/packages.lock.json
  vnext/Desktop.DLL/packages.lock.json
  vnext/Desktop.IntegrationTests/RNTesterIntegrationTests.cpp
  vnext/Desktop.IntegrationTests/WebSocketIntegrationTest.cpp
  vnext/Desktop.IntegrationTests/packages.lock.json
  vnext/Desktop.UnitTests/WinRTNetworkingMocks.cpp
  vnext/Desktop.UnitTests/WinRTWebSocketResourceUnitTest.cpp
  vnext/Desktop.UnitTests/packages.lock.json
  vnext/Desktop/WebSocketResourceFactory.cpp
  vnext/Desktop/packages.lock.json
  vnext/Mso.UnitTests/packages.fabric.experimentalwinui3.lock.json
  vnext/ReactCommon.UnitTests/packages.lock.json
  vnext/Shared/Networking/WinRTWebSocketResource.cpp
  vnext/Shared/Networking/WinRTWebSocketResource.h
  vnext/TestWebSite/Facebook/React/Test/RNTesterIntegrationTests.cs
  vnext/TestWebSite/Microsoft.ReactNative.Test.Website.csproj
  vnext/TestWebSite/Microsoft/React/WebSocketTests.cs
  vnext/TestWebSite/Microsoft/React/WebSocketUtils.cs
  vnext/TestWebSite/Program.cs
  vnext/overrides.json
  vnext/src-win/IntegrationTests/WebSocketMultipleSendTest.js
Labels: Area: Networking, Backport: Requested

#14411 [Fabric] Add Support for ScrollProvider
  change/react-native-windows-7d072016-5414-4327-b40c-a149c1dc34b9.json
  packages/e2e-test-app-fabric/test/ScrollViewComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/AccessibilityTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/FlatListComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/test/__snapshots__/ScrollViewComponentTest.test.ts.snap
  packages/e2e-test-app-fabric/windows/RNTesterApp-Fabric/RNTesterApp-Fabric.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionDynamicAutomationProvider.h
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
  vnext/overrides.json
  vnext/src-win/Libraries/Components/ScrollView/ScrollView.windows.js
Labels: Area: Accessibility, Area: ScrollView, Area: Fabric, New Architecture

#13913 Add new .NET projection for Microsoft.ReactNative
  .ado/jobs/cli-init-windows.yml
  .ado/jobs/universal.yml
  .ado/publish.yml
  .ado/templates/react-native-init-windows.yml
  change/react-native-windows-cdfa09d5-ff63-4c45-85fa-b6ede9ab1816.json
  packages/playground/windows/playground-composition.Package/packages.lock.json
  packages/playground/windows/playground/packages.lock.json
  vnext/ExperimentalFeatures.props
  vnext/Microsoft.ReactNative.CsWinRT/Microsoft.ReactNative.CsWinRT.csproj
  vnext/Microsoft.ReactNative.CsWinRT/packages.lock.json
  vnext/Microsoft.ReactNative.NewArch.sln
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Mso.UnitTests/packages.fabric.lock.json
  vnext/PropertySheets/External/Microsoft.ReactNative.WindowsSdk.Default.props
  vnext/Scripts/Microsoft.ReactNative.nuspec
  vnext/Scripts/Microsoft.ReactNative.targets
  vnext/Scripts/NuGetRestoreForceEvaluateAllSolutions.ps1
Labels: Area: C#/C++ interop, New Architecture, Parity: Fabric vs. Paper

#14407 [Fabric] Implement textAlign prop in TextInput
  change/react-native-windows-b25b85e4-b99c-4ba7-92db-ac45afed3cc9.json
  packages/playground/Samples/textinput.tsx
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputProps.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputProps.h
Labels: Area: TextInput, Area: Fabric, Area: Component Views, New Architecture, Parity: Fabric vs. Paper, Area: Text Style Props, Workstream: Component Parity

#14433 Add creaternwapp.cmd and creaternwlib.cmd scripts
  change/react-native-windows-0e5cf153-c8f1-4d45-ab5e-2ae0a2581797.json
  vnext/Scripts/creaternwapp.cmd
  vnext/Scripts/creaternwlib.cmd
Labels: Workstream: Developer Experience

#14434 Replace use of `execSync` with `spawnSync` in `@react-native-windows/automation`
  change/@react-native-windows-automation-c0a9ebab-d210-4090-b544-5ac4c6651079.json
  packages/@react-native-windows/automation/src/AutomationEnvironment.ts
Labels: security, Area: Compliance, Workstream: ES Compliance SFI

#14441 Fix use of ExperimentalWinUI3 in CI / Secure PR
  .ado/jobs/cli-init-windows.yml
  .ado/jobs/desktop.yml
  .ado/jobs/e2e-test.yml
  .ado/jobs/integration-test.yml
  .ado/jobs/playground.yml
  .ado/jobs/universal.yml
  .ado/templates/enable-experimental-winui3.yml
  .ado/templates/enable-fabric-experimental-feature.yml
  .ado/templates/react-native-init-windows.yml
  .ado/templates/set-experimental-feature.yml
  change/react-native-windows-8c3b9cef-da7b-4f02-9a80-4b1a912d7231.json
  vnext/ExperimentalFeatures.props
  vnext/PropertySheets/WebView2.props
  vnext/PropertySheets/WinUI.props
Labels: Area: Developer Experience, Area: WinUI, Platform: WinAppSDK, New Architecture, Workstream: Developer Experience

#14438 [Fabric] Allow text components to have children
  change/react-native-windows-02413c33-df01-48d8-beb1-092c80f1f706.json
  packages/@react-native-windows/tester/overrides.json
  packages/@react-native-windows/tester/src/js/components/TextInlineView.windows.js
  packages/@react-native-windows/tester/src/js/examples/Text/TextExample.windows.js
  packages/@react-native-windows/tester/src/js/examples/Text/TextInlineViewsExample.windows.js
  packages/e2e-test-app-fabric/test/TextComponentTest.test.ts
  packages/e2e-test-app-fabric/test/__snapshots__/TextComponentTest.test.ts.snap
  vnext/Microsoft.ReactNative/Fabric/Composition/ImageComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ParagraphComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputShadowNode.h
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/textlayoutmanager/TextLayoutManager.cpp
  vnext/Microsoft.ReactNative/Fabric/platform/react/renderer/textlayoutmanager/TextLayoutManager.h
  vnext/src-win/Libraries/Components/View/View.windows.js
  vnext/src-win/Libraries/Image/Image.windows.js
Labels: Area: Layout, Area: Text, Area: Fabric, New Architecture, Parity: React Native

#14448 Allow TextInput to scroll
  change/react-native-windows-b86e11e6-8cbc-4602-b53a-e199ce0f6b2e.json
  packages/e2e-test-app-fabric/test/__snapshots__/TextInputComponentTest.test.ts.snap
  packages/playground/windows/playground-composition/Playground-Composition.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputEventEmitter.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputEventEmitter.h
  vnext/Microsoft.ReactNative/Fabric/Composition/TextInput/WindowsTextInputShadowNode.cpp
  vnext/Microsoft.ReactNative/Modules/Animated/AnimationDriver.cpp
Labels: Area: TextInput, Area: Fabric, New Architecture, Parity: Fabric vs. Paper

#14458 [0.78] Update packages for component governance
  yarn.lock
Labels: security, Area: Compliance, Workstream: ES Compliance SFI

#14446 Implement onScrollBeginDrag property for ScrollView for fabric
  change/react-native-windows-b165413e-a3de-4ba5-8511-cc1f22727002.json
  packages/playground/Samples/scrollViewSnapSample.tsx
  vnext/Microsoft.ReactNative/CompositionSwitcher.idl
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionContextHelper.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.cpp
  vnext/Microsoft.ReactNative/Fabric/Composition/ScrollViewComponentView.h
Labels: Area: ScrollView, Area: Fabric, Area: Component Views, New Architecture, Parity: Fabric vs. Paper
