Repository microsoft/react-native-windows, pull requests merged in 2025-01, with the labels that each got.

#14161 [Telemetry] Expand field sanitization to codedError.data
  change/@react-native-windows-telemetry-d7dc63f1-c900-4229-bcb4-8d7cd683293c.json
  packages/@react-native-windows/telemetry/src/e2etest/telemetry.test.ts
  packages/@react-native-windows/telemetry/src/telemetry.ts
Labels: Area: Telemetry

#14244 Create RNW NuGet Release yml from classic pipeline
  .ado/release.yml
Labels: Area: Compliance

#14259 [Telemetry] Address package name limitations - Take 2
  change/@react-native-windows-telemetry-f67eede7-8e2c-46b7-9ce9-5d664dfcd76e.json
  packages/@react-native-windows/telemetry/src/telemetry.ts
  packages/@react-native-windows/telemetry/src/test/nameUtils.test.ts
  packages/@react-native-windows/telemetry/src/utils/nameUtils.ts
Labels: Area: Telemetry

#14289 Remove Paper-only code from Fabric builds of Microsoft.ReactNative
  change/react-native-windows-73433f3d-c91f-4ae8-9618-75adc965a722.json
  vnext/Desktop/React.Windows.Desktop.vcxproj
  vnext/Microsoft.ReactNative.Cxx/ReactContext.h
  vnext/Microsoft.ReactNative/Fabric/Composition/CompositionEventHandler.cpp
  vnext/Microsoft.ReactNative/IReactContext.cpp
  vnext/Microsoft.ReactNative/IReactContext.h
  vnext/Microsoft.ReactNative/IReactContext.idl
  vnext/Microsoft.ReactNative/IReactPackageBuilder.idl
  vnext/Microsoft.ReactNative/Microsoft.ReactNative.vcxproj
  vnext/Microsoft.ReactNative/Modules/AccessibilityInfoModule.cpp
  vnext/Microsoft.ReactNative/Modules/AlertModule.cpp
  vnext/Microsoft.ReactNative/Modules/Animated/NativeAnimatedNodeManager.cpp
  vnext/Microsoft.ReactNative/Modules/Animated/PropsAnimatedNode.cpp
  vnext/Microsoft.ReactNative/Modules/Animated/PropsAnimatedNode.h
  vnext/Microsoft.ReactNative/Modules/LogBoxModule.cpp
  vnext/Microsoft.ReactNative/Modules/LogBoxModule.h
  vnext/Microsoft.ReactNative/ReactHost/IReactInstance.h
  vnext/Microsoft.ReactNative/ReactHost/React.h
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.cpp
  vnext/Microsoft.ReactNative/ReactHost/ReactInstanceWin.h
  vnext/Microsoft.ReactNative/ReactNativeHost.cpp
  vnext/Microsoft.ReactNative/ReactPackageBuilder.cpp
  vnext/Microsoft.ReactNative/ReactPackageBuilder.h
  vnext/Microsoft.ReactNative/Utils/Helpers.cpp
  vnext/Microsoft.ReactNative/Views/DevMenu.cpp
  vnext/Microsoft.ReactNative/Views/DevMenu.h
  vnext/Microsoft.ReactNative/XamlUIService.cpp
  vnext/Microsoft.ReactNative/XamlUIService.h
  vnext/Microsoft.ReactNative/XamlUIService.idl
  vnext/PropertySheets/React.Cpp.props
  vnext/Shared/Shared.vcxitems.filters
Labels: Area: Performance, Area: Fabric, New Architecture

#14311 Merge New and Old Arch Microsoft.ReactNative Nuget packages
  .ado/jobs/cli-init-windows.yml
  .ado/jobs/universal.yml
  .ado/publish.yml
  .ado/templates/prep-and-pack-nuget.yml
  .ado/templates/prep-and-pack-single.yml
  .ado/templates/react-native-init-windows.yml
  change/react-native-windows-e2a858e1-d434-4940-89a0-2468df697134.json
  vnext/PropertySheets/External/Microsoft.ReactNative.Cpp.PackageReferences.props
  vnext/Scripts/Microsoft.ReactNative.Managed.CodeGen.nuspec
  vnext/Scripts/Microsoft.ReactNative.Managed.nuspec
  vnext/Scripts/Microsoft.ReactNative.VersionCheck.targets
  vnext/Scripts/Microsoft.ReactNative.nuspec
  vnext/Scripts/Microsoft.ReactNative.targets
  vnext/Scripts/OfficeReact.Win32.nuspec
Labels: Area: Developer Experience

#14320 Fix react devtools hitting an assert on launch
  change/react-native-windows-fb01ddc4-cef6-477e-b91d-7583eeb458b1.json
  vnext/Microsoft.ReactNative/Views/DebuggingOverlayViewManager.cpp
Labels: Area: Debug Infrastructure, Area: Paper, Old Architecture
